Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

docs: update social links in zensical.toml
  zensical.toml
Due: check-openssl, toml-format

feat(config): add `--describe` flag to `pixi config list`
  crates/pixi_cli/src/config.rs
  crates/pixi_config/src/lib.rs
  docs/reference/cli/pixi/config/list.md
  docs/reference/cli/pixi/config/list_extender
  docs/reference/pixi_configuration.md
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

test: add unit tests for DependencyMap in pixi_spec_containers
  crates/pixi_spec_containers/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(manifest): add description field for environments
  crates/pixi_cli/src/info.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/toml/environment.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_environment.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_solve_group.snap
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: cargo-fmt, cargo-clippy

chore: support `PIXI_WORKSPACE_` env vars, make `PIXI_PROJECT_` env vars legacy
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/utils/env_var.rs
  crates/pixi_manifest/src/utils/mod.rs
  docs/integration/third_party/direnv.md
  docs/reference/environment_variables.md
  docs/workspace/advanced_tasks.md
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

docs: update social links in zensical.toml (#7159)
  zensical.toml
Due: check-openssl, toml-format

docs: document check dry-run implication in CLI help
  crates/pixi_cli/src/lock.rs
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/lock_extender
Due: cargo-fmt, cargo-clippy

Apply batched suggestions from code review
  crates/pixi_cli/src/lock.rs
Due: cargo-fmt, cargo-clippy

regenerate cli docs
  docs/reference/cli/pixi/lock.md
Due: none

fix(init): append newline to .gitignore if missing
  crates/pixi_api/src/workspace/init/mod.rs
  tests/integration_python/test_init.py
Due: cargo-fmt, cargo-clippy

fix: fingerprint packages without SHA-256 checksums (#7143)
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_utils/src/environment_fingerprint.rs
Due: cargo-fmt, cargo-clippy

add extra unit test
  crates/pixi_api/src/workspace/init/mod.rs
Due: cargo-fmt, cargo-clippy

chore(lock): make `--check` read-only (#7085)
  crates/pixi/tests/integration_rust/lock_tests.rs
  crates/pixi_cli/src/lock.rs
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/lock_extender
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: harden install/self-update ping
  .github/workflows/ci.yml
  crates/pixi_cli/src/self_update.rs
  docs/reference/environment_variables.md
  docs/reference/telemetry.md
  install/install.ps1
  install/install.sh
Due: check-yaml, actionlint, yaml-format, cargo-fmt, cargo-clippy

fix: distinguish Git archive installs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/cache_scoped_build_context.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/cache.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  crates/pixi_install_pypi/src/utils.rs
  crates/pixi_uv_context/src/lib.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

feat: show a one-time telemetry notice before the first self-update ping
  crates/pixi_cli/src/self_update.rs
  crates/pixi_consts/src/consts.rs
  docs/reference/telemetry.md
Due: cargo-fmt, cargo-clippy

refactor: send the install ping from a hidden `pixi __install-ping` command
  crates/pixi_cli/src/install_ping.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/self_update.rs
  crates/pixi_consts/src/consts.rs
  docs/reference/telemetry.md
  install/install.ps1
  install/install.sh
Due: cargo-fmt, cargo-clippy

fix(install.ps1): don't leak the install ping's exit code
  install/install.ps1
Due: none

Update crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/discovery.rs
Due: cargo-fmt, cargo-clippy

chore: address uv migration review feedback
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

fix(init): append newline to `.gitignore` if missing (#7122)
  crates/pixi_api/src/workspace/init/mod.rs
  tests/integration_python/test_init.py
Due: cargo-fmt, cargo-clippy

chore: support `PIXI_WORKSPACE_` env vars, make `PIXI_PROJECT_` env vars legacy (#7155)
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/utils/env_var.rs
  crates/pixi_manifest/src/utils/mod.rs
  docs/integration/third_party/direnv.md
  docs/reference/environment_variables.md
  docs/workspace/advanced_tasks.md
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

chore: add anonymous installation ping to install scripts (#6220)
  .github/workflows/ci.yml
  crates/pixi_cli/src/install_ping.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/self_update.rs
  crates/pixi_consts/src/consts.rs
  docs/installation.md
  docs/reference/environment_variables.md
  docs/reference/telemetry.md
  install/install.ps1
  install/install.sh
  zensical.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: Apply cache-read limits and clarify Git archive errors
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_uv_context/src/lib.rs
  docs/reference/pixi_configuration.md
  docs/reference/pixi_manifest.md
Due: cargo-fmt, cargo-clippy

Adapt the rust version
  rust-toolchain
Due: none

chore: consolidate rust versions to 1.98.1
  .github/workflows/release.yml
  Cargo.toml
  rust-toolchain
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

chore: bump Rust toolchain to 1.98
  Cargo.toml
  rust-toolchain
Due: check-openssl, toml-format

fix(exec): key cached environments on spec strings
  crates/pixi_utils/src/cache.rs
Due: cargo-fmt, cargo-clippy

chore: consolidate rust versions to 1.98.1 (#7166)
  .github/workflows/release.yml
  Cargo.toml
  rust-toolchain
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

chore: update uv to 0.12.10 (#6499)
  Cargo.lock
  Cargo.toml
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lock_file/package_identifier.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/resolve/resolver_provider.rs
  crates/pixi_core/src/lock_file/satisfiability/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/cache_scoped_build_context.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/hash_verification.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/cache.rs
  crates/pixi_install_pypi/src/plan/planner.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  crates/pixi_install_pypi/src/utils.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_uv_context/src/lib.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  deny.toml
  docs/reference/pixi_configuration.md
  docs/reference/pixi_manifest.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

replace `uv-configuration` with `uv-threads`
  Cargo.lock
  Cargo.toml
  crates/pixi/Cargo.toml
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/exec.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/tests.rs
  crates/pixi_core/src/rayon_primer.rs
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/lib.rs
  crates/pixi_reporters/src/sync_reporter.rs
  crates/pixi_task/Cargo.toml
  crates/pixi_task/src/file_hashes.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/prefix.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

adapt to `HashDigest` becoming an enum of typed digests
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_install_pypi/src/hash_verification.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

adapt to `HashPolicy` being split into `ArchiveHashPolicy` and `MetadataHashPolicy`
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_install_pypi/src/hash_verification.rs
  crates/pixi_install_pypi/src/plan/cache.rs
Due: cargo-fmt, cargo-clippy

adapt to `File` field changes (`dist_info_metadata`, removed `zstd`)
  crates/pixi_core/src/lock_file/resolve/resolver_provider.rs
  crates/pixi_install_pypi/src/conversions.rs
Due: cargo-fmt, cargo-clippy

replace removed `PrioritizedDist::from_source` with `insert_source`
  crates/pixi_core/src/lock_file/resolve/resolver_provider.rs
Due: cargo-fmt, cargo-clippy

set the new `Requirement::scope` field
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
Due: cargo-fmt, cargo-clippy

use `FlatIndex::load` now that `FlatIndex::from_entries` is private
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

adapt to `LookaheadResolver` and `DefaultResolverProvider` signature changes
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

implement `uv_errors::Hinted` and `is_user_failure` for `LazyBuildDispatchError`
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
Due: cargo-fmt, cargo-clippy

pass a `Path` to `RequirementsTxt::parse`
  crates/pixi_cli/src/import.rs
Due: cargo-fmt, cargo-clippy
