Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

pixi_manifest tests succeed
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/has_manifest_ref.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__add_channels.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__add_dependency.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__add_pep508_dependency.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__add_task.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__remove_pypi_dependency.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_bar.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_baz.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_fooz.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_pypi_feature_dep.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_pypi_feature_target_dep.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_pypi_jax.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_pypi_requests.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__test_remove_pypi_xpackage.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/package_target.rs
  crates/pixi_manifest/src/toml/target.rs
  crates/pixi_manifest/src/utils/mod.rs
  crates/pixi_manifest/src/utils/package_map.rs
  crates/pixi_manifest/src/utils/with_source_code.rs
  crates/pixi_manifest/src/validation.rs
  src/cli/upgrade.rs
  src/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

add short comment for merge=binary
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

feat: prevent line-based 3-way merge on pixi.lock (#3019)
  .gitattributes
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

remove glibc requirement to specifically test wheel tags
  tests/data/lockfiles/pypi-numpy.lock
Due: none

fix: empty lockfile should not fail
  src/lock_file/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

misc: add more tracing to help future debugging
  src/lock_file/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

docs: Add pixi-diff documentation
  docs/advanced/lockfile_diffs.md
  mkdocs.yml
Due: check-yaml

misc: improve logging
  src/lock_file/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

fix: wheel test on windows
  src/lock_file/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

special type for modification of workspace
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/utils/package_map.rs
Due: cargo-fmt, cargo-clippy

Update docs/advanced/lockfile_diffs.md
  docs/advanced/lockfile_diffs.md
Due: none

feat: adds validation logic and satifiability checking for no-build
  crates/pixi_manifest/src/validation.rs
  src/lock_file/outdated.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@non-binary-no-build.snap
  tests/data/non-satisfiability/non-binary-no-build/.gitattributes
  tests/data/non-satisfiability/non-binary-no-build/.gitignore
  tests/data/non-satisfiability/non-binary-no-build/pixi.lock
  tests/data/non-satisfiability/non-binary-no-build/pixi.toml
  tests/data/satisfiability/no-build-editable/.gitattributes
  tests/data/satisfiability/no-build-editable/.gitignore
  tests/data/satisfiability/no-build-editable/pixi.lock
  tests/data/satisfiability/no-build-editable/pyproject.toml
  tests/data/satisfiability/no-build-editable/src/no_build_editable/__init__.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: Add pixi-diff documentation (#3025)
  docs/advanced/lockfile_diffs.md
  mkdocs.yml
Due: check-yaml

fix: parse package and workspace
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/.workspace.rs.pending-snap
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/pyproject.rs
  crates/pixi_manifest/src/utils/test_utils.rs
  crates/pixi_toml/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: remove warnings
  docs/source_files/pyproject_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
Due: check-openssl, toml-format

tiny nitpick
  src/lock_file/satisfiability.rs
Due: cargo-fmt, cargo-clippy

feat: Add `no-build` to `pypi-options` (#2997)
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_packages.snap
  crates/pixi_manifest/src/validation.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  crates/pixi_uv_conversions/src/types.rs
  docs/reference/pixi_manifest.md
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/environment.rs
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@non-binary-no-build.snap
  src/lock_file/update.rs
  tests/data/non-satisfiability/non-binary-no-build/.gitattributes
  tests/data/non-satisfiability/non-binary-no-build/.gitignore
  tests/data/non-satisfiability/non-binary-no-build/pixi.lock
  tests/data/non-satisfiability/non-binary-no-build/pixi.toml
  tests/data/pixi_tomls/no_build.toml
  tests/data/satisfiability/no-build-editable/.gitattributes
  tests/data/satisfiability/no-build-editable/.gitignore
  tests/data/satisfiability/no-build-editable/pixi.lock
  tests/data/satisfiability/no-build-editable/pyproject.toml
  tests/data/satisfiability/no-build-editable/src/no_build_editable/__init__.py
  tests/integration_python/test_pypi_options.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: lockfile not invalidated when we remove platforms
  src/lock_file/outdated.rs
Due: cargo-fmt, cargo-clippy

Update implementation and add test
  src/lock_file/outdated.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@too-many-platforms.snap
  tests/data/non-satisfiability/too-many-platforms/pixi.lock
  tests/data/non-satisfiability/too-many-platforms/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add first implementation of lazy dispatching
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/lock_file/build_dispatch.rs
  src/lock_file/mod.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

update rattler
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/src/tool/installer.rs
  crates/pixi_spec/src/detailed.rs
  src/build/mod.rs
  src/cli/exec.rs
  src/global/project/mod.rs
  src/lock_file/resolve/conda.rs
  tests/integration_rust/common/package_database.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix tests
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.cockpit.yml.snap
Due: none

fix
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.conda.yml.snap
Due: none

fix
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.crnnft.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.let-plot.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.test_env.yml.snap
Due: none

fix: will also update prefix if there are pypi path dependencies
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

docs: fix python tutorial
  docs/tutorials/python.md
Due: none

Adapt behavior
  src/lock_file/outdated.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@too-many-platforms.snap
Due: cargo-fmt, cargo-clippy

misc: remove stuff
  Cargo.toml
  src/lib.rs
  src/lock_file/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove stuff
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

docs: don't collapse tip
  docs/tutorials/python.md
Due: none

docs: fix python tutorial (#3035)
  docs/tutorials/python.md
Due: none

fix: lockfile not invalidated when we remove platforms (#3027)
  src/lock_file/outdated.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@too-many-platforms.snap
  tests/data/non-satisfiability/too-many-platforms/pixi.lock
  tests/data/non-satisfiability/too-many-platforms/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: will also update prefix if there are pypi path dependencies (#3034)
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Omit info message in install.sh
  install/install.sh
Due: none

Omit info message in install.ps1
  install/install.ps1
Due: none

misc: remove unwraps
  src/lock_file/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
