Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: deprecate `[project]`
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

fix: change logging directive
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: deprecate `[project]` (#4771)
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

fix: change logging directive (#4773)
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: always regenerate metadata on override
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

Add variants and system requirements
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

Use which to locate bash on windows
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/shell.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

wip: support outputs for develop feature
  crates/pixi/tests/integration_rust/common/package_database.rs
  crates/pixi/tests/integration_rust/develop_dependencies_tests.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/expand_dev_sources/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/output_dependencies/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

wip: resolve dev sources
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_spec/src/lib.rs
Due: cargo-fmt, cargo-clippy

wip: add dev-source-metadata
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/output_dependencies/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/dev_source_record.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_spec/src/dev_source.rs
  crates/pixi_spec/src/lib.rs
  tests/data/workspaces/dev-sources/README.md
  tests/data/workspaces/dev-sources/package-a/pixi.toml
  tests/data/workspaces/dev-sources/package-b/pixi.toml
  tests/data/workspaces/dev-sources/pixi.toml
  tests/data/workspaces/dev-sources/test-package/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

wip: also works with variants
  Cargo.lock
  crates/pixi/tests/integration_rust/develop_dependencies_tests.rs
  crates/pixi_build_backend_passthrough/Cargo.toml
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  tests/data/workspaces/dev-sources/variant-package/pixi.toml
  tests/data/workspaces/dev-sources/variant-python-package/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Move package to main manifest
  crates/pixi/pixi.toml
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

feat: show backend in message
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

fix: deprecate `[build-dependencies]` and `[host-dependencies]` (#4767)
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

fix: add missing variant_files field in dev source metadata test
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

fix: add missing variant_files field in variant test
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

fix: resolve pre-existing clippy warnings
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  crates/pixi_cli/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: `-v/--quiet` should take precedence over `RUST_LOG` (#4779)
  crates/pixi_cli/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

add pixi package to pixi itself
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

chore!: remove build-api v0 (#4754)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/src/backend/in_memory/mod.rs
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_types/src/capabilities.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/procedures/conda_build_v0.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
  crates/pixi_build_types/src/procedures/mod.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_2_satisfiability_ignore_lock.snap
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/recursive-run-dependencies/pixi.lock
  examples/pixi-build/recursive-run-dependencies/src/depend/pyproject.toml
  examples/pixi-build/recursive-run-dependencies/src/root/pyproject.toml
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-1-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/recipes/backend_channel_1/backend-with-compatible-api-version.yaml
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
  tests/data/cpp_simple/pixi.toml
  tests/data/installation-order/foobar/pyproject.toml
  tests/data/non-satisfiability/source-dependency-changed-project-model/child-package/pixi.toml
  tests/data/satisfiability/source-dependency/child-package/pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

feat: use new rattler_upload to unify upload code to prefix, anaconda, quetz, artifactory
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/upload.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: use mutable instead
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_spec/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: always regenerate metadata on override (#4774)
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_spec/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: use which to locate bash on windows (#4776)
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/shell.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: canocalize source path
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

feat: canonicalize source path in build-backend intialization (#4781)
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

fix: propagate target-platform flags for pixi build (#4703)
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

feat: automatic detection of ros backend for package.xml files
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/discovery.rs
  crates/pixi_build_discovery/tests/snapshots/discovery__direct_package_xml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@ros-package.snap
  tests/data/discovery/ros-package/TEST-CASE
  tests/data/discovery/ros-package/package.xml
  tests/integration_python/test_upgrade.py
Due: cargo-fmt, cargo-clippy

Add support for Fish on Windows
  crates/pixi_cli/src/shell.rs
Due: cargo-fmt, cargo-clippy

docs: fix links in github actions docs
  docs/integration/ci/github_actions.md
Due: none

chore: version to 0.57.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: improve release script
  scripts/release.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: fix links in github actions docs (#4790)
  docs/integration/ci/github_actions.md
Due: none

chore: version to 0.57.0 (#4791)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix link to boost package
  docs/index.md
Due: none

remove rust names
  crates/pixi_build_discovery/src/discovery.rs
Due: cargo-fmt, cargo-clippy

feat: add some more debug-logging if rebuilds are werid
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

chore(ci): fix testsuite tests configuration
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format
