Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

fix: specifically set mtime of METADATA, to fix test
  src/install_pypi/plan/test/harness.rs
Due: fmt, clippy, test

feat: add matchspec caching
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_build_frontend/src/tool/installer.rs
  examples/boltons/pixi.toml
  src/cli/clean.rs
Due: taplo, fmt, clippy, test

Fix windows build
  src/global/install.rs
Due: fmt, clippy, test

fix: snapshot
  src/cli/project/export/snapshots/pixi__cli__project__export__conda_environment__tests__test_export_conda_env_yaml_with_source_editable.snap
Due: none

Update schema/model.py
  schema/model.py
Due: none

feat: add example using `rich` and `pixi-build-python`
  examples/rich_example/.gitattributes
  examples/rich_example/.gitignore
  examples/rich_example/pixi.lock
  examples/rich_example/pyproject.toml
  examples/rich_example/src/rich_example/__init__.py
Due: taplo

fix: attempt to fix test flakiness
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/test/mod.rs
Due: fmt, clippy, test

fix: clippy lints
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/test/mod.rs
Due: fmt, clippy, test

Add description
  examples/rich_example/pyproject.toml
Due: taplo

improve
  crates/pixi_build_frontend/src/build_frontend.rs
  schema/model.py
  schema/schema.json
  src/build/mod.rs
Due: fmt, clippy, test

feat: parsing of build backend configuration (#2624)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_build_frontend/src/protocols/builders/rattler_build.rs
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_build_frontend/tests/snapshots/diagnostics__backend_configuration.snap
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_backend.snap
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/procedures/initialize.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_build_backend_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_incorrectly_named_build_backend_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_named_build_backend_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__multiple_backend_config.snap
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
Due: taplo, fmt, clippy, test

fix: use fs_err
  src/install_pypi/plan/test/harness.rs
Due: fmt, clippy, test

fix: attempt to fix flaky test by setting it into the futre
  src/install_pypi/plan/test/mod.rs
Due: fmt, clippy, test

Remove flask and move the comments to rich
  examples/flask-hello-world-pyproject/.gitattributes
  examples/flask-hello-world-pyproject/.gitignore
  examples/flask-hello-world-pyproject/README.md
  examples/flask-hello-world-pyproject/flask_hello_world_pyproject/__init__.py
  examples/flask-hello-world-pyproject/flask_hello_world_pyproject/app.py
  examples/flask-hello-world-pyproject/pixi.lock
  examples/flask-hello-world-pyproject/pyproject.toml
  examples/flask-hello-world-pyproject/tests/test.py
  examples/flask-hello-world/README.md
  examples/flask-hello-world/app.py
  examples/flask-hello-world/pixi.lock
  examples/flask-hello-world/pixi.toml
  examples/rich_example/pixi.lock
  examples/rich_example/pyproject.toml
Due: taplo

feat: add variant config to `[workspace.build-variants]` (#2634)
  crates/pixi_build_types/src/procedures/conda_build.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  schema/model.py
  schema/schema.json
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

Use rich instead of flask in the tests
  tests/integration_python/pixi_build/test_build.py
Due: none

Adapt test_build_conda_package
  examples/rich_example/pixi.lock
  examples/rich_example/pyproject.toml
  tests/integration_python/pixi_build/test_build.py
Due: taplo

test: reorganize `pixi build` tests
  tests/data/pixi_build/rattler-build-backend/pixi/pixi.toml
  tests/data/pixi_build/rattler-build-backend/recipes/boltons/recipe.yaml
  tests/data/pixi_build/rattler-build-backend/recipes/smokey/recipe.yaml
  tests/data/pixi_build/rattler-build-backend/smokey/pixi.toml
  tests/integration_python/conftest.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: check-yaml, taplo

Adapt test-examples script
  examples/rich_example/pyproject.toml
  tests/scripts/test-examples.sh
Due: taplo

feat: add proper unit testing for PyPI installation (#2617)
  examples/pypi-source-deps/pixi.lock
  examples/pypi-source-deps/pixi.toml
  src/cli/project/export/snapshots/pixi__cli__project__export__conda_environment__tests__test_export_conda_env_yaml_with_source_editable.snap
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/mod.rs
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/test/mod.rs
Due: taplo, fmt, clippy, test

test: reorganize `pixi build` tests (#2639)
  tests/data/pixi_build/rattler-build-backend/pixi/pixi.toml
  tests/data/pixi_build/rattler-build-backend/recipes/boltons/recipe.yaml
  tests/data/pixi_build/rattler-build-backend/recipes/smokey/recipe.yaml
  tests/data/pixi_build/rattler-build-backend/smokey/pixi.toml
  tests/integration_python/conftest.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: check-yaml, taplo

add test for allow-insecure-host
  tests/integration_rust/pypi_tests.rs
Due: fmt, clippy, test

fix clippy
  tests/integration_rust/pypi_tests.rs
Due: fmt, clippy, test

feat: expose some public API
  crates/pixi_manifest/src/manifests/source.rs
Due: fmt, clippy, test

feat: expose some public API (#2643)
  crates/pixi_manifest/src/manifests/source.rs
Due: fmt, clippy, test

fix: `test_sync_migrate`
  tests/integration_python/pixi_global/test_global.py
Due: none

fix: `test_sync_migrate` (#2646)
  tests/integration_python/pixi_global/test_global.py
Due: none

fix: remove explicit closure
  src/cli/task.rs
Due: fmt, clippy, test

feat: add get and set name commands to project
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/source.rs
  src/cli/project/mod.rs
  src/cli/project/name/get.rs
  src/cli/project/name/mod.rs
  src/cli/project/name/set.rs
Due: fmt, clippy, test

fix formatting
  src/cli/project/mod.rs
Due: fmt, clippy, test

docs: update contributing guide
  CONTRIBUTING.md
Due: none

docs: update contributing guide (#2650)
  CONTRIBUTING.md
Due: none

feat: add example using `rich` and `pixi-build-python` and remove flask (#2638)
  examples/flask-hello-world-pyproject/.gitattributes
  examples/flask-hello-world-pyproject/README.md
  examples/flask-hello-world-pyproject/flask_hello_world_pyproject/__init__.py
  examples/flask-hello-world-pyproject/flask_hello_world_pyproject/app.py
  examples/flask-hello-world-pyproject/pixi.lock
  examples/flask-hello-world-pyproject/pyproject.toml
  examples/flask-hello-world-pyproject/tests/test.py
  examples/flask-hello-world/README.md
  examples/flask-hello-world/app.py
  examples/flask-hello-world/pixi.lock
  examples/flask-hello-world/pixi.toml
  examples/rich_example/.gitattributes
  examples/rich_example/.gitignore
  examples/rich_example/pixi.lock
  examples/rich_example/pyproject.toml
  examples/rich_example/src/rich_example/__init__.py
  tests/integration_python/pixi_build/test_build.py
  tests/scripts/test-examples.sh
Due: taplo

fix: forgot to configure `allow_insecure_host` when resolve_pypi (#2622)
  src/lock_file/resolve/pypi.rs
  tests/integration_rust/pypi_tests.rs
Due: fmt, clippy, test

First version of the test that works as expected
  tests/data/pixi_build/simple-pyproject/.gitignore
  tests/integration_python/pixi_build/test_build.py
Due: none

fix: pixi build trigger rebuild
  tests/data/pixi_build/simple-pyproject/pixi.lock
  tests/data/pixi_build/simple-pyproject/pyproject.toml
  tests/data/pixi_build/simple-pyproject/src/simple_pyproject/__init__.py
  tests/integration_python/pixi_build/test_build.py
Due: taplo

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
