Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: pixi-build-mojo source directory builds (#6055)
  crates/pixi_build_mojo/src/build_script.j2
  crates/pixi_build_mojo/src/build_script.rs
  crates/pixi_build_mojo/src/main.rs
  crates/pixi_build_mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi_build_mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
Due: cargo-fmt, cargo-clippy

fix: normalise git URL ref separator in requires_dist comparison
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
Due: cargo-fmt, cargo-clippy

fix(ci): isolate windows signing per-archive to preserve target binaries
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

fix(lock): satisfy lock-file when feature-level index-url is set (#6060)
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-index-removed.snap
  tests/data/satisfiability/pypi-feature-level-index-url/pixi.lock
  tests/data/satisfiability/pypi-feature-level-index-url/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

ci(release): skip azure signing on dry-run
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

fix(tree): traverse PyPI extras when walking lockfile dependencies
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/global/tree.rs
  crates/pixi_cli/src/shared/tree.rs
  crates/pixi_cli/src/snapshots/pixi_cli__tree__tests__pypi_extras_tree_snapshots@editable-with-extras__pixi.toml.snap
  crates/pixi_cli/src/snapshots/pixi_cli__tree__tests__pypi_extras_tree_snapshots@pypi__pixi.toml.snap
  crates/pixi_cli/src/tree.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: v0.68.0 `pixi-aarch64-pc-windows-msvc.zip` contains an x86_64 binary (#6064)
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

fix: normalize self-ref extras on both sides of compare (#6049) (#6052)
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
Due: cargo-fmt, cargo-clippy

fix: satisfy lock-file when feature-level index-url is set (#6065)
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-index-removed.snap
  tests/data/satisfiability/pypi-feature-level-index-url/pixi.lock
  tests/data/satisfiability/pypi-feature-level-index-url/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(clean): report size of removed files (#6053)
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/clean.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: to alias on target_channel
  crates/pixi_cli/src/publish.rs
  docs/reference/cli/pixi/publish.md
Due: cargo-fmt, cargo-clippy

fix: evaluate PyPI extras when walking lockfile dependencies (#6068)
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/global/tree.rs
  crates/pixi_cli/src/shared/tree.rs
  crates/pixi_cli/src/snapshots/pixi_cli__tree__tests__pypi_extras_tree_snapshots@editable-with-extras__pixi.toml.snap
  crates/pixi_cli/src/snapshots/pixi_cli__tree__tests__pypi_extras_tree_snapshots@pypi__pixi.toml.snap
  crates/pixi_cli/src/tree.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: to alias on target_channel (#6070)
  crates/pixi_cli/src/publish.rs
  docs/reference/cli/pixi/publish.md
Due: cargo-fmt, cargo-clippy

test: drop hardcoded pytest --basetemp so parallel `pixi run test` invocations don't race
  pyproject.toml
  tests/integration_python/conftest.py
Due: check-openssl, toml-format

chore: simplify file:// prefix check
  crates/pixi_pypi_spec/src/pep508.rs
Due: cargo-fmt, cargo-clippy

fix(pypi_spec): serialize PEP 508 deps as filesystem paths
  crates/pixi_pypi_spec/src/lib.rs
  crates/pixi_pypi_spec/src/pep508.rs
Due: cargo-fmt, cargo-clippy

fix: serialize PEP 508 deps as filesystem paths (#6072)
  crates/pixi_pypi_spec/src/lib.rs
  crates/pixi_pypi_spec/src/pep508.rs
Due: cargo-fmt, cargo-clippy

test: drop hardcoded pytest --basetemp in pytests (#6008)
  pyproject.toml
  tests/integration_python/conftest.py
Due: check-openssl, toml-format

fix: fallback behaviour added to atomic writes (#5748)
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

feat: add pixi_compute_env_vars and pixi_compute_cache_dirs
  Cargo.lock
  Cargo.toml
  crates/pixi_compute_cache_dirs/Cargo.toml
  crates/pixi_compute_cache_dirs/src/cache_dirs.rs
  crates/pixi_compute_cache_dirs/src/lib.rs
  crates/pixi_compute_cache_dirs/src/location.rs
  crates/pixi_compute_env_vars/Cargo.toml
  crates/pixi_compute_env_vars/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: route cache-dir and env-var lookup through the engine
  Cargo.lock
  crates/pixi_cli/src/clean.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/dirs.rs
  crates/pixi_command_dispatcher/src/cache/markers.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/ephemeral_env/mod.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_checkout/git.rs
  crates/pixi_command_dispatcher/src/source_checkout/url.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_compute_cache_dirs/src/location.rs
  crates/pixi_core/src/lock_file/satisfiability/legacy/key.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: support PyPI index exclude-newer
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_cli/src/import.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_utils/src/reqwest.rs
  crates/pixi_uv_context/Cargo.toml
  crates/pixi_uv_context/src/lib.rs
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/git_url.rs
  crates/pixi_uv_conversions/src/requirements.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/reference/pixi_manifest.md
  docs/switching_from/uv.md
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.68.1
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
Due: check-openssl, toml-format

Apply suggestion from @ruben-arts
  CHANGELOG.md
Due: none

chore: bump backend versions (#6085)
  Cargo.lock
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
Due: check-openssl, toml-format

chore: version to 0.68.1 (#6083)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: route cache-dir and env-var lookup through the compute engine (#6041)
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/src/clean.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/dirs.rs
  crates/pixi_command_dispatcher/src/cache/markers.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/ephemeral_env/mod.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_checkout/git.rs
  crates/pixi_command_dispatcher/src/source_checkout/url.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_compute_cache_dirs/Cargo.toml
  crates/pixi_compute_cache_dirs/src/cache_dirs.rs
  crates/pixi_compute_cache_dirs/src/lib.rs
  crates/pixi_compute_cache_dirs/src/location.rs
  crates/pixi_compute_env_vars/Cargo.toml
  crates/pixi_compute_env_vars/src/lib.rs
  crates/pixi_core/src/lock_file/satisfiability/legacy/key.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add pixi_compute_network crate with HasDownloadClient
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/install_binary.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/source_checkout/git.rs
  crates/pixi_command_dispatcher/src/source_checkout/url.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_compute_network/Cargo.toml
  crates/pixi_compute_network/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: extract pixi_compute_sources from the dispatcher
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/markers.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_package.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/keys/source_metadata.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/src/source_checkout/mod.rs
  crates/pixi_command_dispatcher/src/util/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_compute_sources/Cargo.toml
  crates/pixi_compute_sources/src/checkout.rs
  crates/pixi_compute_sources/src/data.rs
  crates/pixi_compute_sources/src/ext.rs
  crates/pixi_compute_sources/src/git.rs
  crates/pixi_compute_sources/src/lib.rs
  crates/pixi_compute_sources/src/path.rs
  crates/pixi_compute_sources/src/url.rs
  crates/pixi_compute_sources/tests/common/mod.rs
  crates/pixi_compute_sources/tests/git_checkout.rs
  crates/pixi_compute_sources/tests/url_checkout.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_global/src/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: move reporter_lifecycle into pixi_compute_reporters
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_package.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_record.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/reporter_lifecycle.rs
  crates/pixi_command_dispatcher/src/solve_binary.rs
  crates/pixi_command_dispatcher/src/source_checkout/git.rs
  crates/pixi_command_dispatcher/src/source_checkout/url.rs
  crates/pixi_compute_reporters/src/lib.rs
  crates/pixi_compute_reporters/src/lifecycle.rs
  crates/pixi_compute_reporters/src/operation_id.rs
Due: cargo-fmt, cargo-clippy

fix: preserve `version = "*"` when combined with build constraint
  crates/pixi_build_backend/src/specs_conversion.rs
Due: cargo-fmt, cargo-clippy

chore(deps): bump uv from 0.9.5 to 0.9.9 (#6037)
  Cargo.lock
  Cargo.toml
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/resolve/resolver_provider.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/git_url.rs
  crates/pixi_uv_conversions/src/requirements.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_python/Cargo.toml
Due: check-openssl, toml-format

chore(deps): bump uv to 0.9.10 and align middleware on astral fork
  Cargo.lock
  Cargo.toml
  crates/pixi_build_backend/src/intermediate_backend.rs
  crates/pixi_build_backend/src/rattler_build_integration.rs
  crates/pixi_build_backend/src/specs_conversion.rs
  crates/pixi_build_backend/src/tools.rs
  crates/pixi_build_rattler_build/src/protocol.rs
  crates/pixi_command_dispatcher/src/installed_source_hints.rs
  crates/pixi_core/src/lock_file/satisfiability/source_record.rs
  crates/pixi_record/src/source_record.rs
  docs/reference/cli/pixi/auth/login.md
  patches/reqwest_middleware_shim/Cargo.toml
  patches/reqwest_middleware_shim/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump backend versions (#6086)
  Cargo.lock
  crates/pixi_build_python/Cargo.toml
Due: check-openssl, toml-format

feat: support `build-string-prefix` and `build-number` in `[package-build]` (#6051)
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__config_parsing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: cargo-fmt, cargo-clippy

refactor: use pattern match for variant-detection constraint check
  crates/pixi_build_backend/src/specs_conversion.rs
Due: cargo-fmt, cargo-clippy

fix: uv is default updates lockfile
  examples/pixi-build/polyglot-particles/particle_kit/pyproject.toml
  examples/pixi-build/polyglot-particles/particle_rs/pyproject.toml
  examples/pixi-build/polyglot-particles/pixi.lock
Due: check-openssl, toml-format
