Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

更新 override.md
  docs/overrides/override.md
Due: none

Update .github/workflows/setup-dev-drive.ps1
  .github/workflows/setup-dev-drive.ps1
Due: none

wip
  Cargo.lock
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_build_types/src/procedures/mod.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build/unresolved_source_record.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/source_metadata_cache.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/lazy_source_checkout.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add type for pixi build api
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
Due: cargo-fmt, cargo-clippy

fix: only trigger rebuild when relevant parts of the package manifest has been changed
  Cargo.lock
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_glob/Cargo.toml
  crates/pixi_glob/src/glob_hash.rs
  crates/pixi_glob/src/glob_hash_cache.rs
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_2_satisfiability_ignore_lock.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_3_non_glob.snap
  src/lock_file/satisfiability/mod.rs
  src/lock_file/satisfiability/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  src/lock_file/satisfiability/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@source-dependency.snap
  tests/data/non-satisfiability/source-dependency-changed-project-model/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.lock
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.toml
  tests/data/satisfiability/source-dependency/child-package/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Use hash directly
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_glob/src/glob_hash.rs
  crates/pixi_glob/src/glob_hash_cache.rs
  src/lock_file/satisfiability/mod.rs
  src/lock_file/satisfiability/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
Due: cargo-fmt, cargo-clippy

Remove unused dependencies
  Cargo.lock
  crates/pixi_glob/Cargo.toml
Due: check-openssl, toml-format

Update lock file
  tests/data/satisfiability/source-dependency/pixi.lock
Due: none

Update hash
  crates/pixi_glob/src/glob_hash.rs
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  src/lock_file/satisfiability/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.lock
  tests/data/satisfiability/source-dependency/pixi.lock
Due: cargo-fmt, cargo-clippy

Remove unneeded dependency
  Cargo.lock
  crates/pixi_glob/Cargo.toml
Due: check-openssl, toml-format

docs: refactor getting started and python tutorial (#3977)
  docs/first_project.md
  docs/getting_started.md
  docs/installation.md
  docs/python/tutorial.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: check-yaml, yaml-format

feat: add tb4 sim (#3988)
  examples/ros2-nav2/pixi.lock
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

wip: split fetching backend metadata from source metadata
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_build_types/src/procedures/mod.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build/source_metadata_cache.rs
  crates/pixi_command_dispatcher/src/build/unresolved_source_record.rs
  crates/pixi_command_dispatcher/src/build/work_dir_key.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/lazy_source_checkout.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_record/src/pinned_source.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

assert clippy
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

style: improve nav header size
  docs/stylesheets/extra.css
Due: none

docs: reshuffle to make the content list smaller
  docs/partials/conda-style-activation.md
  mkdocs.yml
Due: check-yaml, yaml-format

docs: improve content
  docs/advanced/pixi_shell.md
  docs/first_project.md
  docs/global_tools/examples.md
  docs/global_tools/introduction.md
  docs/global_tools/manifest.md
  docs/global_tools/trampolines.md
  docs/installation.md
  docs/workspace/environment.md
  docs/workspace/lockfile.md
Due: none

fix: build
  docs/global_tools/manifest.md
  docs/workspace/environment.md
  mkdocs.yml
Due: check-yaml, yaml-format

fix: test
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

fix: check for the environments not the environments dir
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

misc: use bat extension
  tests/integration_python/test_external_commands.py
Due: none

feat: extract run dependencies from outputs
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_spec/src/source_anchor.rs
Due: cargo-fmt, cargo-clippy

misc: modify how we test pixi extensions
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-g-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/pixi-foobar-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-g-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/pixi-foobar-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-g-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/pixi-foobar-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-g-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/pixi-foobar-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_external_commands.py
Due: check-yaml, yaml-format

wip
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

fix: recipe advanced cpp for windows
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/recipe.yaml
Due: check-yaml, yaml-format

fix: check for the environments not the environments dir (#4005)
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: remove env variable setting
  src/cli/command_info.rs
Due: cargo-fmt, cargo-clippy

add no-binary pypi-option
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_binary_packages.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_isolation_boolean.snap
  crates/pixi_uv_conversions/src/conversions.rs
  src/environment/pypi_prefix.rs
  src/install_pypi/mod.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

lazy raise error of pypi building environment
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
  tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

update with update_prefix_conda api
  src/cli/deploy.rs
Due: cargo-fmt, cargo-clippy

docs: add links to backend docs
  docs/build/advanced_cpp.md
  docs/build/cpp.md
  docs/build/python.md
Due: none

docs: add links to backend docs (#4010)
  docs/build/advanced_cpp.md
  docs/build/cpp.md
  docs/build/python.md
Due: none

Update docs/global_tools/manifest.md
  docs/global_tools/manifest.md
Due: none

Update docs/partials/conda-style-activation.md
  docs/partials/conda-style-activation.md
Due: none

docs: improve content and layout (#4003)
  docs/advanced/pixi_shell.md
  docs/first_project.md
  docs/global_tools/examples.md
  docs/global_tools/introduction.md
  docs/global_tools/manifest.md
  docs/global_tools/trampolines.md
  docs/installation.md
  docs/partials/conda-style-activation.md
  docs/stylesheets/extra.css
  docs/workspace/environment.md
  docs/workspace/lockfile.md
  mkdocs.yml
Due: check-yaml, yaml-format

misc: style the error messages
  src/cli/command_info.rs
Due: cargo-fmt, cargo-clippy

feat(exec): add --with option
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

docs(contributing): include scope in conventional commit example
  CONTRIBUTING.md
Due: none

docs(exec): generate cli docs
  docs/reference/cli/pixi/exec.md
Due: none
