Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: tests and snapshots
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
Due: cargo-fmt, cargo-clippy

chore: replace pre-commit with lefthook (#4069)
  .dprint.jsonc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  examples/jupyterlab/LorenzDifferentialEquations.ipynb
  examples/lightgbm/README.md
  lefthook.yaml
  pixi.lock
  pixi.toml
  tests/data/discovery/nested_recipe_yml/recipe/recipe.yml
  tests/data/discovery/recipe_yaml/recipe.yaml
  tests/data/discovery/recipe_yml/recipe.yml
  typos.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

Fix documentation
  docs/integration/third_party/conda_deny.md
Due: none

Move heading
  docs/integration/third_party/conda_deny.md
Due: none

fix: rust-doc issue
  crates/pixi_command_dispatcher/src/build/dependencies.rs
Due: cargo-fmt, cargo-clippy

fix: build editable
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
Due: cargo-fmt, cargo-clippy

docs: fix conda_deny documenation (#4124)
  docs/integration/third_party/conda_deny.md
Due: none

feat: use command progress
  Cargo.lock
  Cargo.toml
  src/global/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: upgrade to uv 0.7.20 (#4115)
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

fix: error
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: use correct virtual packages for host platform
  crates/pixi_config/src/lib.rs
  crates/pixi_progress/src/lib.rs
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
  src/cli/run.rs
  src/environment/conda_prefix.rs
  src/lock_file/update.rs
  src/workspace/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: remove unecessary windows code
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix linting error
  tests/integration_python/test_run_cli.py
Due: none

fix: build issue
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  src/environment/conda_prefix.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix: tests
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: use different solve and installation method
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

chore(doc): fix wrongfull comment
  crates/pixi_manifest/src/pypi/pypi_options.rs
Due: cargo-fmt, cargo-clippy

doc(override): update how override interact with other
  docs/overrides/override.md
Due: none

feat: move to command dispatcher instead
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: clippy
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

docs: Update setup-pixi docs for pixi-url-bearer-token
  docs/integration/ci/github_actions.md
Due: none

docs: Update setup-pixi docs for pixi-url-bearer-token (#4127)
  docs/integration/ci/github_actions.md
Due: none

refactor: simplifying test
  tests/integration_python/test_main_cli.py
Due: none

Update the python tutorial to use the workspace command instead of project
  docs/python/tutorial.md
Due: none

docs: Update the python tutorial to use the workspace command (#4128)
  docs/python/tutorial.md
Due: none

refactor: simplifying implementation
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/toml/document.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

chore: git should not ignore local `.pixi/config.toml` (#4108)
  src/cli/init.rs
  src/environment/mod.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

feat: add custom interpreter support for pixi tasks
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__additional_task_keys.snap
  crates/pixi_manifest/src/toml/task.rs
  docs/reference/cli/pixi/task/add.md
  schema/model.py
  schema/schema.json
  src/cli/run.rs
  src/cli/task.rs
  src/task/executable_task.rs
  tests/integration_python/__snapshots__/test_main_cli.ambr
  tests/integration_python/test_run_cli.py
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

feat: allow stdin in pixi task
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/schema.json
  src/cli/run.rs
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: simplify impl
  src/cli/run.rs
  src/task/executable_task.rs
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

feat: add man page support to pixi global
  src/cli/global/install.rs
  src/cli/global/sync.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/man_pages.rs
  src/global/mod.rs
  src/global/project/mod.rs
  tests/integration_python/pixi_global/test_man_pages.py
Due: cargo-fmt, cargo-clippy

fix: add conditional compilation for Windows compatibility
  src/cli/global/install.rs
  src/cli/global/update.rs
  src/global/project/mod.rs
  tests/integration_python/pixi_global/test_man_pages.py
Due: cargo-fmt, cargo-clippy

`init --import enviornment.yml --format pyproject` now runs without error
  .gitignore
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

feat: use command dispatcher for global installs. (#4126)
  Cargo.lock
  Cargo.toml
  src/global/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: refactor in global as well
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

feat: notify which conda packages may have influenced the conflict
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

error kinds
  crates/pixi_utils/src/errors.rs
  crates/pixi_utils/src/hash.rs
  crates/pixi_utils/src/lib.rs
  src/install_pypi/conversions.rs
Due: cargo-fmt, cargo-clippy

fix merge
  src/install_pypi/conversions.rs
Due: cargo-fmt, cargo-clippy

fix
  src/install_pypi/conversions.rs
Due: cargo-fmt, cargo-clippy
