Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

Finish up first version of the tutorial
  docs/build/variants.md
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace_variants/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace_variants/pixi.toml
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

Add scary warning
  docs/build/cpp.md
  docs/build/python.md
  docs/build/variants.md
  docs/build/workspace.md
Due: none

fix
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_target_specific.snap
Due: none

feat: split into 'source' and 'binary' build types
  Cargo.lock
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_build_frontend/src/protocols/builders/rattler_build.rs
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_build_type_conversions/Cargo.toml
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/project_model.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: modify snapshots
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_python.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@boltons.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@cpp-sdl.snap
Due: none

fix: snapshots
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_python.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_workspace_variants.snap
Due: none

fix: task commands
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/task.rs
  src/lock_file/virtual_packages.rs
  src/project/virtual_packages.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: tests
  src/task/task_environment.rs
  src/task/task_graph.rs
Due: cargo-fmt, cargo-clippy

misc: use correct name for file
  Cargo.lock
  crates/pixi_build_frontend/src/tool/installer.rs
  crates/pixi_git/src/resolver.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/lib.rs
  crates/pixi_utils/src/prefix_guard.rs
  examples/pixi-build/cpp-sdl/pixi.toml
  src/build/mod.rs
  src/build/reporters.rs
  src/cli/exec.rs
  src/environment.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: add public docs for our struct
  crates/pixi_git/src/resolver.rs
  src/build/reporters.rs
Due: cargo-fmt, cargo-clippy

misc: use correct name for operations
  src/environment.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: camelCaseProtocol
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_python.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@boltons.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@cpp-sdl.snap
  crates/pixi_build_types/src/project_model.rs
Due: cargo-fmt, cargo-clippy

fix: rewrite prefix guard into async
  Cargo.lock
  crates/pixi_build_frontend/src/tool/installer.rs
  crates/pixi_git/src/resolver.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/lib.rs
  crates/pixi_utils/src/prefix_guard.rs
  src/cli/exec.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: camelCase project protocol types (#2907)
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_python.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@boltons.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@cpp-sdl.snap
  crates/pixi_build_types/src/project_model.rs
Due: cargo-fmt, cargo-clippy

refactor: Improve AuthenticationStorage
  Cargo.lock
  Cargo.toml
  crates/pixi_config/src/lib.rs
  crates/pixi_utils/src/reqwest.rs
  docs/advanced/authentication.md
  src/cli/info.rs
  src/cli/upload.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fmt
  crates/pixi_utils/src/reqwest.rs
  src/cli/info.rs
Due: cargo-fmt, cargo-clippy

insert backend
  Cargo.lock
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

.
  docs/advanced/authentication.md
Due: none

fix
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

.
  Cargo.toml
Due: check-openssl, toml-format

fix
  src/cli/info.rs
Due: cargo-fmt, cargo-clippy

fix test
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_target_specific.snap
Due: none

fix
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: add parallel test for pixi exec
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_exec.py
Due: check-yaml

misc: use processpoll executor for tests
  tests/integration_python/test_exec.py
Due: none

test: fix channels
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
Due: none

test: fix channels
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
Due: none

test: fix channels
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
Due: none

misc: use only 1 worker
  tests/integration_python/test_exec.py
Due: none

Update snapshots
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@pixi_build_workspace_variants.snap
Due: none

misc: add back second future
  tests/integration_python/test_exec.py
Due: none

add shebangs
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
Due: check-yaml

Finish up
  docs/build/variants.md
Due: none

misc: skip test exec on windows
  tests/integration_python/test_exec.py
Due: none

fix: rewrite prefix guard into async (#2908)
  Cargo.lock
  crates/pixi_build_frontend/src/tool/installer.rs
  crates/pixi_git/src/resolver.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/lib.rs
  crates/pixi_utils/src/prefix_guard.rs
  src/cli/exec.rs
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_exec.py
Due: check-yaml, check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: double_lines in copy of docs
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

misc: add the main progress bar
  examples/pixi-build/cpp-sdl/pixi.lock
  src/build/reporters.rs
  src/environment.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Update pixi.toml
  pixi.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
