Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

misc: remove skipped packages commented code
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
Due: cargo-fmt, cargo-clippy

feat: removing input hash from the lockfile
  crates/pixi/tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap.new
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisiability@source-dependency.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_record/src/source_record.rs
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/cpp-sdl/src/main.cc
  tests/data/non-satisfiability/binary-spec-source-record/pixi.lock
  tests/data/non-satisfiability/source-dependency-changed-project-model/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.lock
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.toml
  tests/data/non-satisfiability/source-dependency/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency/pixi.lock
  tests/data/non-satisfiability/source-dependency/pixi.toml
  tests/data/satisfiability/out-of-tree-source/pixi.lock
  tests/data/satisfiability/source-dependency/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove some unecessary checks
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_record/src/source_record.rs
Due: cargo-fmt, cargo-clippy

misc: remove snapshot
  crates/pixi/tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap.new
Due: none

misc: update comment
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

misc: update lockfile
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  examples/pixi-build/cpp-sdl/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: implement global lock file management
  Cargo.lock
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/expose.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_cli/src/global/shortcut.rs
  crates/pixi_cli/src/global/sync.rs
  crates/pixi_cli/src/global/update.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/mod.rs
  docs/global_tools/manifest.md
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_lock_file.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update path variable for 'pixi' command
  install/install.sh
Due: none

fix: correct PIXI_BIN_DIR variable reference in installation script error message (#4981)
  install/install.sh
Due: none

fix: add 'install/*' to workflow file paths
  .github/workflows/docs.yml
Due: check-yaml, actionlint, yaml-format

misc: remove unused methods
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

Update tests
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.cockpit.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.conda.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.crnnft.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.let-plot.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.test_env.yml.snap
Due: none

Drop ununsed interface argument from functions
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_api/src/workspace/remove/mod.rs
  crates/pixi_api/src/workspace/search/mod.rs
  crates/pixi_api/src/workspace/task/mod.rs
Due: cargo-fmt, cargo-clippy

Move futures to heap with Box::pin to avoid stack overflow
  crates/pixi_api/src/context.rs
Due: cargo-fmt, cargo-clippy

Update rattler_conda_types to 0.42.0
  Cargo.lock
  Cargo.toml
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_spec/src/detailed.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Make Environment serializable / deserializable
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/solve_group.rs
Due: cargo-fmt, cargo-clippy

feat: implement pypi pre-release support
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_binary_packages.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_isolation_boolean.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_packages.snap
  crates/pixi_uv_conversions/src/conversions.rs
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/schema.json
Due: cargo-fmt, cargo-clippy

chore: linting
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__error_on_multiple_prerelease_modes.snap
Due: cargo-fmt, cargo-clippy

misc: modify lockfile
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisiability@source-dependency.snap
  tests/data/non-satisfiability/binary-spec-source-record/pixi.lock
  tests/data/non-satisfiability/source-dependency-changed-project-model/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.lock
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.toml
  tests/data/non-satisfiability/source-dependency/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency/pixi.lock
  tests/data/non-satisfiability/source-dependency/pixi.toml
  tests/data/satisfiability/out-of-tree-source/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove wrong text
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/cpp-sdl/src/main.cc
Due: check-openssl, toml-format

fix: always run tests
  crates/pixi/tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

Add --channel argument to specify channel.
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

misc: rewrite test using in-memory backend
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/global_tests.rs
  crates/pixi/tests/integration_rust/main.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_global/src/project/mod.rs
  examples/pixi-build/cpp-sdl/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: make a observbalbe backend
  Cargo.lock
  crates/pixi/tests/integration_rust/global_tests.rs
  crates/pixi_build_backend_passthrough/Cargo.toml
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove tracing
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_glob/src/glob_set/walk.rs
Due: cargo-fmt, cargo-clippy

misc: add BackendObserver
  crates/pixi/tests/integration_rust/global_tests.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
Due: cargo-fmt, cargo-clippy

misc: remove tracing::debug
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

misc: make test faster by using right package
  crates/pixi/tests/integration_rust/global_tests.rs
Due: cargo-fmt, cargo-clippy

misc: add the package
  tests/data/workspaces/source-backends/source-package/pixi.toml
  tests/data/workspaces/source-backends/source-package/recipe.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format

fix: use rattler release
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.cockpit.yml.snap.new
  tests/data/workspace-discovery/nested-pyproject-workspace/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove build variants from the hash and add packagename in the folder name
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

addresing test failure
  crates/pixi/tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

small fixes
  crates/pixi_build_types/src/variant.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

misc: remove commented code
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
Due: cargo-fmt, cargo-clippy

misc: force add the conda package
  tests/data/workspaces/source-backends/source-package/package-e-0.1.0-h4616a5c_0.conda
Due: none

fix: snapshots
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.cockpit.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.conda.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.crnnft.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.let-plot.yml.snap
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.test_env.yml.snap
Due: none

misc: restore pixi lock
  examples/pixi-build/cpp-sdl/pixi.lock
Due: none

fix: input globs normalisation and force reinstall (#4931)
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/global_tests.rs
  crates/pixi/tests/integration_rust/main.rs
  crates/pixi_build_backend_passthrough/Cargo.toml
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_glob/src/glob_set/walk_root.rs
  crates/pixi_global/src/project/mod.rs
  tests/data/workspaces/source-backends/source-package/package-e-0.1.0-h4616a5c_0.conda
  tests/data/workspaces/source-backends/source-package/pixi.toml
  tests/data/workspaces/source-backends/source-package/recipe.yaml
  tests/integration_python/pixi_global/test_global.py
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: apply dependency overrides when checking conda package satisfiability
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

test: add test for dependency overrides with conda-provided pypi packages
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.lock
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.toml
  tests/data/satisfiability/conda-pypi-dependency-override/projects/consumer/consumer/__init__.py
  tests/data/satisfiability/conda-pypi-dependency-override/projects/consumer/pyproject.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
