Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

ci: add aarch64 linker config
  .cargo/config.toml
Due: taplo

fmt
  src/cli/cli_config.rs
Due: fmt, clippy, test

misc: update comment
  crates/pixi_build_frontend/src/tool/cache.rs
Due: fmt, clippy, test

refactor: split install pypi into module and files
  src/install_pypi.rs
  src/install_pypi/conda_pypi_clobber.rs
  src/install_pypi/conversions.rs
  src/install_pypi/install_wheel.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan.rs
  src/install_pypi/utils.rs
  src/lib.rs
Due: fmt, clippy, test

feat: remove xmark
  tests/integration_python/pixi_build/test_build.py
Due: none

Add method `pypi_dependency_location`
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/toml/document.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

remove dir creation
  src/build/mod.rs
Due: fmt, clippy, test

Add print statement
  tests/integration_python/global/test_global.py
Due: none

feat: add `concurreny` configuration (#2569)
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge.snap
  crates/pixi_config/tests/config/config_1.toml
  docs/reference/cli.md
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/detached_environments_path_config.toml
  docs/source_files/pixi_config_tomls/main_config.toml
  docs/source_files/pixi_config_tomls/mirror_prefix_config.toml
  docs/source_files/pixi_config_tomls/oci_config.toml
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/list.rs
  src/cli/project/channel/mod.rs
  src/cli/project/channel/remove.rs
  src/cli/project/export/conda_environment.rs
  src/cli/project/export/conda_explicit_spec.rs
  src/cli/project/export/mod.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/environment.rs
  src/global/project/mod.rs
  src/lock_file/update.rs
  src/project/repodata.rs
  src/repodata.rs
  tests/integration_python/test_main_cli.py
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/project_tests.rs
Due: taplo, fmt, clippy, test

Remove the build statement again
  tests/integration_python/global/test_global.py
Due: none

Add print statement (without conflicts this time)
  tests/integration_python/pixi_global/test_global.py
Due: none

feat: remove xmark, and extra `fs::create_dirs_all` (#2591)
  src/build/mod.rs
  tests/integration_python/pixi_build/test_build.py
Due: fmt, clippy, test

fix
  crates/pixi_config/src/lib.rs
Due: fmt, clippy, test

fix test
  crates/pixi_config/src/lib.rs
Due: fmt, clippy, test

Verbose
  tests/integration_python/pixi_global/test_global.py
Due: none

Small improvement
  tests/integration_python/common.py
Due: none

Be slightly less verbose
  tests/integration_python/pixi_global/test_global.py
Due: none

Try without dev drive
  .github/workflows/setup-dev-drive.ps1
  tests/integration_python/pixi_global/test_global.py
Due: none

Actually remove variables instead of commenting out
  .github/workflows/setup-dev-drive.ps1
Due: none

Add comment
  .github/workflows/setup-dev-drive.ps1
Due: none

Add pixi home again
  .github/workflows/setup-dev-drive.ps1
Due: none

fix: get rid of un-used installs
  src/install_pypi/mod.rs
Due: fmt, clippy, test

fix: `pixi global` report formatting
  src/global/common.rs
  tests/integration_python/pixi_global/test_global.py
Due: fmt, clippy, test

refactor: split install pypi into module and files (#2590)
  src/install_pypi.rs
  src/install_pypi/conda_pypi_clobber.rs
  src/install_pypi/conversions.rs
  src/install_pypi/install_wheel.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan.rs
  src/install_pypi/utils.rs
  src/lib.rs
Due: fmt, clippy, test

Remove verbose flag
  tests/integration_python/pixi_global/test_global.py
Due: none

fix: `pixi global` report formatting (#2595)
  src/global/common.rs
  tests/integration_python/pixi_global/test_global.py
Due: fmt, clippy, test

docs: improve pixi manifest
  docs/advanced/explain_info_command.md
  docs/advanced/pyproject_toml.md
  docs/features/advanced_tasks.md
  docs/features/lockfile.md
  docs/reference/cli.md
  docs/reference/pixi_configuration.md
  docs/reference/pixi_manifest.md
  docs/switching_from/conda.md
  docs/tutorials/python.md
  docs/tutorials/ros2.md
  mkdocs.yml
Due: check-yaml

feat: creates providers for installed traits and cache provisions
  src/install_pypi/mod.rs
  src/install_pypi/plan.rs
Due: fmt, clippy, test

fix: improve test speed and support win-arm64
  crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_utils/src/cache.rs
  src/activation.rs
  src/build/mod.rs
  src/cli/exec.rs
  src/environment.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

feat: struct order was incorrect
  src/install_pypi/plan.rs
Due: fmt, clippy, test

fix: clippy lints
  src/install_pypi/plan.rs
Due: fmt, clippy, test

Actually use `pypi_dependency_location`
  crates/pixi_manifest/src/manifests/source.rs
  src/cli/add.rs
  src/cli/upgrade.rs
  src/project/mod.rs
Due: fmt, clippy, test

Rename to `manifest_mut`
  crates/pixi_manifest/src/manifests/source.rs
Due: fmt, clippy, test

Rename to `get_or_insert_toml_array_mut`
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/toml/document.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

Extract function and types
  src/cli/upgrade.rs
  src/project/mod.rs
Due: fmt, clippy, test

refactor: PyPI installation traits + deduplication (#2599)
  src/install_pypi/mod.rs
  src/install_pypi/plan.rs
Due: fmt, clippy, test

Add TMP and TEMP back again
  .github/workflows/setup-dev-drive.ps1
Due: none

make the build go faster for debugging
  Cargo.toml
Due: taplo

Set rattler cache dir
  .github/workflows/setup-dev-drive.ps1
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
