Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

Add `pixi script lock`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/script/lock.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_core/src/workspace/mod.rs
  docs/reference/cli/pixi/script.md
  docs/reference/cli/pixi/script/lock.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Add `pixi script add`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/script/add.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/script.rs
  crates/pixi_manifest/src/toml/document.rs
  docs/reference/cli/pixi/script.md
  docs/reference/cli/pixi/script/add.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Document `pixi script`
  docs/python/scripts.md
  mkdocs.yml
Due: check-yaml, yaml-format

Add `pixi script remove`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_cli/src/script/remove.rs
  crates/pixi_manifest/src/script.rs
  docs/reference/cli/pixi/script.md
  docs/reference/cli/pixi/script/remove.md
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

feat: add progress spinner to pixi global sync
  crates/pixi_cli/src/global/sync.rs
Due: cargo-fmt, cargo-clippy

fix: name the package when solving build environments fails
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_record.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  tests/data/workspaces/unsolvable-backend/README.md
  tests/data/workspaces/unsolvable-backend/package_a/pixi.toml
  tests/data/workspaces/unsolvable-backend/pixi.toml
  tests/data/workspaces/unsolvable-build-env/README.md
  tests/data/workspaces/unsolvable-build-env/package_a/pixi.toml
  tests/data/workspaces/unsolvable-build-env/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(config): top-level 'concurrency' key incorrectly overwrote pypi-config
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

style: fix lint formatting in regression test
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: only source declarations decide inline package suppression (#6662)
  crates/pixi_core/src/workspace/grouped_environment.rs
Due: cargo-fmt, cargo-clippy

fix: name the package when solving build environments fails (#6667)
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_record.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  tests/data/workspaces/unsolvable-backend/README.md
  tests/data/workspaces/unsolvable-backend/package_a/pixi.toml
  tests/data/workspaces/unsolvable-backend/pixi.toml
  tests/data/workspaces/unsolvable-build-env/README.md
  tests/data/workspaces/unsolvable-build-env/package_a/pixi.toml
  tests/data/workspaces/unsolvable-build-env/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: restrict offline solves to locally available packages
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/offline_tests.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/offline.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/ephemeral_env/mod.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/keys/solve_conda.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/offline.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_compute_network/src/lib.rs
  crates/pixi_consts/src/consts.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_utils/src/cache.rs
  docs/reference/cli/pixi/upload.md
  docs/reference/cli/pixi/upload/artifactory.md
  docs/reference/pixi_configuration.md
  tests/integration_python/test_offline_commands.py
  tests/integration_python/test_offline_conda_forge.py
  tests/integration_python/test_offline_solving.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: opt offline solves into empty cold shards
  Cargo.lock
  crates/pixi_cli/src/offline.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: stop constructing `VirtualPackageOverrides` with a literal
  crates/pixi_core/src/lock_file/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

feat(global): fix build variant information for building (#6660)
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/stdlib_variants.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

debug(build): trace variant configuration for source builds (#6670)
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_api): add run_exports to Package
  crates/pixi_api/src/workspace/list/package.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_api): add run_exports to Package (#6676)
  crates/pixi_api/src/workspace/list/package.rs
Due: cargo-fmt, cargo-clippy

feat: add progress spinner to pixi global sync (#6664)
  crates/pixi_cli/src/global/sync.rs
Due: cargo-fmt, cargo-clippy

Apply suggestion from @ruben-arts
  crates/pixi_cli/src/self_update.rs
Due: cargo-fmt, cargo-clippy

Apply suggestion from @ruben-arts
  docs/reference/cli/pixi/self-update.md
Due: none

fix: give inline packages a name and a helpful error for Cargo workspaces (#6659)
  crates/pixi_build_rust/src/metadata.rs
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/toml/manifest.rs
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add --from-url option for self-update (#6641)
  crates/pixi_cli/src/self_update.rs
  docs/reference/cli/pixi/self-update.md
Due: cargo-fmt, cargo-clippy

fix: use the platform name and subdir to generate single or multiple exports
  crates/pixi_cli/src/workspace/export/conda_explicit_spec.rs
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_osx-arm64-cuda.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_osx-arm64-macos-14-0.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_win-64.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_x86-cuda13.snap
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  tests/data/mock-projects/test-project-export/pixi-rich-platforms.lock
Due: cargo-fmt, cargo-clippy

fix: resolve rich platforms in `workspace export conda-explicit-spec` (#6551)
  crates/pixi_cli/src/workspace/export/conda_explicit_spec.rs
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_linux-64.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_osx-arm64-cuda.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_osx-arm64-macos-14-0.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_win-64.snap
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_rich_default_x86-cuda13.snap
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  tests/data/mock-projects/test-project-export/pixi-rich-platforms.lock
Due: cargo-fmt, cargo-clippy

chore: update rattler and rattler-build
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/offline_tests.rs
  crates/pixi_cli/src/offline.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update CLI docs
  docs/reference/cli/pixi/auth.md
  docs/reference/cli/pixi/auth/token.md
  docs/reference/cli/pixi/upload.md
  docs/reference/cli/pixi/upload/artifactory.md
Due: none

chore: update rattler and rattler-build (#6678)
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/offline_tests.rs
  crates/pixi_cli/src/offline.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  docs/reference/cli/pixi/auth.md
  docs/reference/cli/pixi/auth/token.md
  docs/reference/cli/pixi/upload.md
  docs/reference/cli/pixi/upload/artifactory.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Check `pypi-index` correctness from `pixi.toml` rather than relying solely on `pixi.lock`.
  crates/pixi_core/src/lock_file/satisfiability/environment.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-target-specific-index-url-mismatch.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  docs/reference/pixi_manifest.md
  tests/data/non-satisfiability/pypi-target-specific-index-url-mismatch/pixi.lock
  tests/data/non-satisfiability/pypi-target-specific-index-url-mismatch/pixi.toml
  tests/data/satisfiability/pypi-target-specific-index-url/pixi.lock
  tests/data/satisfiability/pypi-target-specific-index-url/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(audit): add pixi_audit crate with OSV protocol types
  Cargo.lock
  Cargo.toml
  crates/pixi_audit/Cargo.toml
  crates/pixi_audit/src/lib.rs
  crates/pixi_audit/src/types.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: alphabetize cvss workspace dependency
  Cargo.toml
Due: check-openssl, toml-format

feat(audit): audit orchestration with severity bands, ignores, and report
  crates/pixi_audit/src/lib.rs
  crates/pixi_audit/src/report.rs
Due: cargo-fmt, cargo-clippy

feat(audit): add BasiliskClient with batched queries and pagination
  crates/pixi_audit/Cargo.toml
  crates/pixi_audit/src/client.rs
  crates/pixi_audit/src/lib.rs
  crates/pixi_audit/src/types.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(audit): cap pagination rounds in query_batch
  crates/pixi_audit/src/client.rs
Due: cargo-fmt, cargo-clippy

refactor(audit): extract osv_protocol crate for shared OSV wire types
  Cargo.lock
  Cargo.toml
  crates/osv_protocol/Cargo.toml
  crates/osv_protocol/src/lib.rs
  crates/pixi_audit/Cargo.toml
  crates/pixi_audit/src/lib.rs
  crates/pixi_audit/src/types.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump version to v0.74.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: bump version to v0.74.0 (#6680)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(build): reuse workspace member builds as host and build dependencies
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

feat(manifest): add the package publish flag
  crates/pixi_manifest/src/package.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__package__test__invalid_extra_key.snap
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: cargo-fmt, cargo-clippy

feat(publish): add a dry-run flag
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/publish/mod.rs
  docs/build/workspace.md
  docs/reference/cli/pixi/publish.md
  docs/reference/cli/pixi/publish_extender
  tests/integration_python/pixi_build/test_publish.py
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
