Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

[fix] solve false positive `ChannelPriorityCombinationError`
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_manifest/src/features_ext.rs
Due: cargo-fmt, cargo-clippy

Update install.sh
  install/install.sh
Due: none

feat: allow relative path parsing for matchspecs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/match_spec_or_path.rs
  tests/integration_python/test_exec.py
Due: cargo-fmt, cargo-clippy

feat: construct matchspec directly
  crates/pixi_cli/src/match_spec_or_path.rs
Due: cargo-fmt, cargo-clippy

fix(pixi_core): Fix logging panic by converting itertools::Format to string before passing to tracing (#4938)
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

tmp
  Cargo.lock
  crates/pixi_build_frontend/src/backend/logs.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_frontend/src/backend/stderr.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/tests/otlp_sample.json
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/sync_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: special handling for backends tracing output
  crates/pixi_build_frontend/src/backend/logs.rs
  crates/pixi_build_frontend/src/backend/stderr.rs
  crates/pixi_build_frontend/tests/tracing_sample.json
  crates/pixi_cli/src/lib.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_reporters/src/sync_reporter.rs
Due: cargo-fmt, cargo-clippy

fix: fix name extraction correctly
  crates/pixi_cli/src/match_spec_or_path.rs
  tests/integration_python/test_exec.py
Due: cargo-fmt, cargo-clippy

fix: clippy
  crates/pixi_cli/src/match_spec_or_path.rs
Due: cargo-fmt, cargo-clippy

fix: unused var
  tests/integration_python/test_exec.py
Due: none

refactor: use TaskRenderContext struct for platform variable
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/task_graph.rs
  crates/pixi_task/src/task_hash.rs
  docs/workspace/advanced_tasks.md
Due: cargo-fmt, cargo-clippy

refactor: use pixi namespace for task variables
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/task_graph.rs
  crates/pixi_task/src/task_hash.rs
Due: cargo-fmt, cargo-clippy

docs: add `PIXI_DOWNLOAD_URL` to the script options table
  docs/installation.md
Due: none

feat(installer): Add PIXI_DOWNLOAD_URL to use install scripts in private network (#4942)
  docs/installation.md
  install/install.ps1
  install/install.sh
Due: none

qa: Implement review suggestion
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

qa: fix wrong comment
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

feat: add cache for source metadata
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/clean.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_consts/src/consts.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/url.rs
  examples/develop/cpp-sdl/pixi.lock
Due: cargo-fmt, cargo-clippy

feat: add cache for source metadata
  pixi.lock
Due: none

feat: add cache for source metadata
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: use TaskRenderContext in Dependency::render_args
  crates/pixi_manifest/src/task.rs
  crates/pixi_task/src/task_graph.rs
Due: cargo-fmt, cargo-clippy

refactor: add to_jinja_context method to TaskRenderContext
  crates/pixi_manifest/src/task.rs
Due: cargo-fmt, cargo-clippy

fix(install): Enhance authentication handling for curl and wget with .netrc support
  install/install.sh
Due: none

feat(install): Add credential masking for download URLs in install scripts
  install/install.ps1
  install/install.sh
Due: none

feat(docs): Add support for .netrc authentication in installation instructions
  docs/installation.md
Due: none

docs(install): Improve documentation for mask_credentials function in install script
  install/install.sh
Due: none

fix: update test call sites to use TaskRenderContext
  crates/pixi/tests/integration_rust/task_tests.rs
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

misc: add sats for dev deps
  Cargo.lock
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/grouped_environment.rs
  crates/pixi_manifest/src/dependencies.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/toml/target.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/dev_source_record.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: Only use mapping fallback when conda-forge is not specifically overriden
  crates/pixi/tests/integration_rust/solve_group_tests.rs
  crates/pypi_mapping/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: add the disable logic to the docs
  docs/reference/pixi_manifest.md
Due: none

misc: solve them upfront
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

fix: replace backslash
  crates/pixi/tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

fix: bump rattler
  Cargo.lock
  Cargo.toml
  crates/pixi_api/src/workspace/search/mod.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/global/global_specs.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_cli/src/has_specs.rs
  crates/pixi_cli/src/upgrade.rs
  crates/pixi_cli/src/workspace/export/conda_environment.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/install_pixi/reporter.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/install_subset.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_global/src/project/global_spec.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_reporters/src/sync_reporter.rs
  crates/pixi_spec_containers/src/lib.rs
  crates/pypi_modifiers/src/pypi_tags.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: cleanup the code
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_manifest/src/target.rs
  pixi.lock
Due: cargo-fmt, cargo-clippy

misc: cleanup the code
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

misc: remove some comments
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

misc: construcing command
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

feat: add additional pixi template variables
  crates/pixi_manifest/src/task.rs
Due: cargo-fmt, cargo-clippy

misc: create command dispatcher
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix tests
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
