Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix(build): forward verbosity to build backends
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/tool.rs
  crates/pixi_build_python/src/build_script.j2
  crates/pixi_build_python/src/build_script.rs
  crates/pixi_build_python/src/main.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/injected_config.rs
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(build): align backend and pixi log levels
  crates/pixi_build_frontend/src/tool.rs
Due: cargo-fmt, cargo-clippy

chore: update rattler (#6878)
  Cargo.lock
  Cargo.toml
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_spec/src/toml.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(platform): fit an auto-detected name inside the limit
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/platform/host.rs
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

fix(platform): give pixi one definition of the host machine
  Cargo.lock
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/install.rs
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/grouped_environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_manifest/src/toml/platform.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_richer_platform_bugs.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor(platform): name the `CONDA_OVERRIDE_*` outcomes
  crates/pixi_manifest/src/platform/host.rs
Due: cargo-fmt, cargo-clippy

refactor(platform): call `candidate_subdirs` directly
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/workspace.rs
  tests/integration_python/test_richer_platform_bugs.py
Due: cargo-fmt, cargo-clippy

refactor(platform): tighten the host API
  crates/pixi_cli/src/install.rs
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/src/platform/host.rs
Due: cargo-fmt, cargo-clippy

docs(platform): keep `detect_host` from linking a private item
  crates/pixi_manifest/src/platform/host.rs
Due: cargo-fmt, cargo-clippy

refactor(platform): rename `is_machine_subdir` to `machine_runs`
  crates/pixi_manifest/src/platform/host.rs
Due: cargo-fmt, cargo-clippy

feat(platform): give a platform name more room
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/platform/host.rs
Due: cargo-fmt, cargo-clippy

refactor(platform): drop the synthesized-name shortening
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_manifest/src/toml/platform.rs
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

feat: add one consistent API for detecting host machine (#6864)
  Cargo.lock
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/install.rs
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/grouped_environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_richer_platform_bugs.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: add a social card for link previews (#6876)
  docs/assets/social-card.png
  docs/overrides/home.html
  docs/overrides/main.html
  docs/overrides/partials/social-card.html
Due: none

chore: bump version to v0.77.1
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump version to v0.77.1 (#6880)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(global): rework the terminal output
  Cargo.lock
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/expose.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/list.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_cli/src/global/shortcut.rs
  crates/pixi_cli/src/global/sync.rs
  crates/pixi_cli/src/global/uninstall.rs
  crates/pixi_cli/src/global/update.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_core/src/environment/list.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/common.rs
  crates/pixi_global/src/install.rs
  crates/pixi_global/src/lib.rs
  crates/pixi_global/src/list.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/report.rs
  docs/reference/cli/pixi/global/list.md
  docs/reference/cli/pixi/global/list_extender
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_trampoline.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor(pixi-build-ros): replace the distro index fetch with a static mapping
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_ros/src/distro.rs
  crates/pixi_build_ros/src/main.rs
  crates/pixi_build_ros/src/package_map.rs
  crates/pixi_build_types/src/procedures/initialize.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: resolve script environments from lock files or cache
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/script_environment.rs
Due: cargo-fmt, cargo-clippy

feat: commit script dependency changes before installation
  Cargo.lock
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/script_environment.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_utils/src/atomic_write.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: centralize script environment changes
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/remove/mod.rs
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/list.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/run_script.rs
  crates/pixi_cli/src/tree.rs
  crates/pixi_cli/src/workspace/export/conda_explicit_spec.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/script_environment.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

feat(lock-file): write manifest platform names instead of pN aliases
  crates/pixi_core/src/lock_file/platform_rename.rs
  crates/pixi_core/src/lock_file/satisfiability/tests.rs
  crates/pixi_core/src/lock_file/update.rs
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

chore: allow 'pn' as a word for the legacy platform aliases
  typos.toml
Due: check-openssl, toml-format

fix: group legacy purl fallback traces
  crates/pixi_core/src/lock_file/package_identifier.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

fix: reuse immutable Git build artifacts without checkout
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: write manifest platform names instead of pN aliases (#6885)
  crates/pixi_core/src/lock_file/platform_rename.rs
  crates/pixi_core/src/lock_file/satisfiability/tests.rs
  crates/pixi_core/src/lock_file/update.rs
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_workspace_platform.py
  typos.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: group legacy purl fallback traces (#6886)
  crates/pixi_core/src/lock_file/package_identifier.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

fix: deserialize backend dependency maps
  crates/pixi_spec_containers/Cargo.toml
  crates/pixi_spec_containers/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(script): solve scripts against the host's virtual packages
  crates/pixi_api/src/workspace/workspace/platform.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/script.rs
  docs/python/scripts.md
  tests/integration_python/test_richer_platform_bugs.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

test: move script platform cases into fast Rust tests
  crates/pixi_core/src/workspace/mod.rs
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

docs: trim the comments around implicit script platforms
  crates/pixi_api/src/workspace/workspace/platform.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/script.rs
  tests/integration_python/test_richer_platform_bugs.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

fix(script): reject `system-requirements` in PEP 723 metadata
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/script.rs
  docs/python/scripts.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

fix: close artifact cache sidecar check
  crates/pixi_command_dispatcher/src/cache/artifact.rs
Due: cargo-fmt, cargo-clippy

fix: deserialize binary dependency constraints
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec_containers/Cargo.toml
  crates/pixi_spec_containers/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: cache constraint-free backend specs
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec_containers/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: satisfy immutable cache clippy checks
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

fix(script): solve scripts against the host's virtual packages (#6865)
  crates/pixi_api/src/workspace/workspace/platform.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/script.rs
  docs/python/scripts.md
  tests/integration_python/test_richer_platform_bugs.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

fix: solve lockless scripts in `pixi workspace platform`
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/workspace/mod.rs
  tests/data/channels/channels/dummy_python_channel/linux-64/python-3.13.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_python_channel/linux-64/repodata.json
  tests/data/channels/channels/dummy_python_channel/noarch/repodata.json
  tests/data/channels/channels/dummy_python_channel/osx-64/python-3.13.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_python_channel/osx-64/repodata.json
  tests/data/channels/channels/dummy_python_channel/osx-arm64/python-3.13.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_python_channel/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_python_channel/win-64/python-3.13.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_python_channel/win-64/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/dummy_python_channel.yaml
  tests/integration_python/conftest.py
  tests/integration_python/test_script.py
  tests/integration_python/test_workspace_platform.py
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: solve lockless scripts in `pixi workspace platform` (#6882)
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/workspace/mod.rs
  tests/data/channels/channels/dummy_python_channel/linux-64/python-3.13.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_python_channel/linux-64/repodata.json
  tests/data/channels/channels/dummy_python_channel/noarch/repodata.json
  tests/data/channels/channels/dummy_python_channel/osx-64/python-3.13.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_python_channel/osx-64/repodata.json
  tests/data/channels/channels/dummy_python_channel/osx-arm64/python-3.13.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_python_channel/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_python_channel/win-64/python-3.13.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_python_channel/win-64/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/dummy_python_channel.yaml
  tests/integration_python/conftest.py
  tests/integration_python/test_script.py
  tests/integration_python/test_workspace_platform.py
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

refactor(pixi-build-ros): replace the distro index fetch with a static mapping (#6881)
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_ros/src/distro.rs
  crates/pixi_build_ros/src/main.rs
  crates/pixi_build_ros/src/package_map.rs
  crates/pixi_build_types/src/procedures/initialize.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
