Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: If task.env() and command_env don't have duplicated keys, simply export task.env().
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues in 'test_task_with_env'
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: update unit tests
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: in windows, child shell should inherit the parent's environemnt variable setting
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: update test 'test_task_with_env'
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: Platform-specific export format with proper escaping
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix powershell compatible issues
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: add test for activation.script > activation scripts from dependencies
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format

doc: add 'test' section to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: print err for test_task_with_env
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix linting error
  tests/integration_python/test_run_cli.py
Due: none

fix: use '. bat' for windows
  tests/integration_python/test_run_cli.py
Due: none

chore: update test order
  tests/integration_python/test_run_cli.py
Due: none

chore: print echo_cmd
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: specify 'target.win-64.activation' in pixi.toml
  tests/integration_python/test_run_cli.py
Due: none

chore: remove unecessary echo
  tests/integration_python/test_run_cli.py
Due: none

fix: Only the keys that are in TASK_SPECIFIC_ENVS map would be exported.
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: remove unecessary windows code
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

chore: add println for 'expected_prefix'
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

chore: print env set in windows
  tests/integration_python/test_run_cli.py
Due: none

fix: Use PowerShell environment variable syntax
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: add tests for 'activation scripts from dependencies > outside environment variable'
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-g-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/pixi-foobar-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-g-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/pixi-foobar-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-g-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/pixi-foobar-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-g-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/pixi-foobar-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format

fix: replace .bat with ps1
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix dist crate name
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

chore: install zig on build ci
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

chore: add cargo-xwin
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

chore: use ubuntu image for aarch64 windows
  .github/workflows/release.yml
  dist-workspace.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

cli docs
  docs/reference/cli/pixi.md
  docs/reference/cli/pixi/import.md
Due: none

switch to Workspace::environment
  src/cli/import.rs
Due: cargo-fmt, cargo-clippy

chore: add clan to windows aarch64 target
  dist-workspace.toml
Due: check-openssl, toml-format

factor out an `add_specs` function
  src/cli/import.rs
  src/cli/init.rs
  src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

fixture
  tests/integration_python/conftest.py
  tests/integration_python/test_import.py
Due: none

check no install
  tests/integration_python/test_import.py
Due: none

chore: try windows cross compilation without zig
  .github/workflows/release.yml
  dist-workspace.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

fix: feature environment variable should override default
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

snapshot tests
  pixi.lock
  pixi.toml
  tests/integration_python/common.py
  tests/integration_python/test_import.py
Due: check-openssl, toml-format

more minimal env
  tests/data/import_files/simple_environment.yml
  tests/integration_python/test_import.py
Due: check-yaml, yaml-format

docs: add geovista to community
  docs/misc/Community.md
Due: none

docs: add geovista to community (#4183)
  docs/misc/Community.md
Due: none

dirty-equals
  pixi.lock
  pixi.toml
  tests/integration_python/common.py
  tests/integration_python/test_import.py
Due: check-openssl, toml-format
