Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

clippy
  tests/integration_rust/search_tests.rs
Due: fmt, clippy, test

fix: pixi project version doesn't reset minor and patch version
  src/cli/project/version/bump.rs
Due: fmt, clippy, test

docs: update project structure in Python tutorial
  docs/tutorials/python.md
Due: none

add back removed line
  docs/tutorials/python.md
Due: none

docs: update project structure in Python tutorial (#2506)
  docs/tutorials/python.md
Due: none

chore: update to latest rattler/feat/pixi-build (#2500)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/parsed_manifest.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__build_invalid_matchspec.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__build_section_deserialization.snap
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_spec/src/snapshots/pixi_spec__test__into_nameless_match_spec.snap
  crates/pypi_mapping/src/custom_pypi_mapping.rs
  crates/pypi_mapping/src/lib.rs
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/build/mod.rs
  src/cli/build.rs
  src/cli/list.rs
  src/cli/project/export/conda_explicit_spec.rs
  src/cli/search.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/diff.rs
  src/environment.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability-2.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability.snap
  src/lock_file/update.rs
  src/lock_file/utils.rs
  src/project/mod.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/solve_group_tests.rs
Due: taplo, fmt, clippy, test

refactor: rename project to workspace in manifest
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/has_environment_dependencies.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/validation.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pixi_manifest/src/workspace_manifest.rs
  src/cli/project/description/set.rs
  src/lock_file/update.rs
  src/project/environment.rs
  src/project/mod.rs
  src/project/solve_group.rs
Due: fmt, clippy, test

fix: moved types around into seperate modules
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/project.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_remove_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_remove_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__build_invalid_matchspec.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__build_section_deserialization.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_target_specific.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__python_dependencies.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__target_specific_tasks.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/manifests/toml.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__python_dependencies.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__target_specific_tasks.snap
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/utils/mod.rs
  crates/pixi_manifest/src/utils/package_map.rs
  src/global/project/manifest.rs
  src/global/project/parsed_manifest.rs
  src/global/snapshots/pixi__global__expose__tests__expose_add_when_binary_exist.snap
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  tests/data/non-satisfiability/binary-spec-source-record/pixi.lock
  tests/data/non-satisfiability/binary-spec-source-record/pixi.toml
  tests/data/non-satisfiability/source-dependency/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency/pixi.lock
  tests/data/non-satisfiability/source-dependency/pixi.toml
  tests/data/satisfiability/source-dependency/child-package/pixi.toml
  tests/data/satisfiability/source-dependency/pixi.lock
  tests/data/satisfiability/source-dependency/pixi.toml
Due: taplo, fmt, clippy, test

fix: remove unused file
  crates/pixi_manifest/src/consts.rs
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

fix: always print a warning when config is invalid
  crates/pixi_config/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: fmt, clippy, test

test: make pixi tests work with local config
  src/global/project/manifest.rs
  tests/integration_rust/init_tests.rs
Due: fmt, clippy, test

fix: always print a warning when config is invalid (#2508)
  crates/pixi_config/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: fmt, clippy, test

fix: tests after moving files
  crates/pixi_glob/src/glob_hash.rs
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_2_satisfiability_ignore_lock.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_3_non_glob.snap
  crates/pixi_manifest/src/manifests/manifest.rs
Due: fmt, clippy, test

fix: add integration test for --find-links explicitly
  tests/integration_rust/pypi_tests.rs
Due: fmt, clippy, test

Move search test assertions into snap file
  tests/integration_rust/search_tests.rs
  tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap
Due: fmt, clippy, test

Filter ansi escape codes
  tests/integration_rust/search_tests.rs
  tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap
Due: fmt, clippy, test

fix: attempt to fix for windows
  tests/integration_rust/pypi_tests.rs
Due: fmt, clippy, test

test: make pixi tests work with local config (#2509)
  src/global/project/manifest.rs
  tests/integration_rust/init_tests.rs
Due: fmt, clippy, test

feat: Add versions/build list to `pixi search` output (#2440)
  src/cli/search.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/search_tests.rs
  tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap
Due: fmt, clippy, test

refactor: rename [build] to [build-system]
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  crates/pixi_build_frontend/tests/basic/pixi.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/has_environment_dependencies.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key.snap
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/validation.rs
  examples/cpp-sdl/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/project/mod.rs
Due: taplo, fmt, clippy, test

Update src/activation.rs
  src/activation.rs
Due: fmt, clippy, test

fix: make a distinction between unset and empty variables.
  src/activation.rs
  src/task/task_hash.rs
Due: fmt, clippy, test

refactor: put ownership of cache validation request higher in the tree of function calls, depending on existence of lock-file
  src/activation.rs
Due: fmt, clippy, test

feat: add pixi-build behind preview feature
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/validation.rs
Due: fmt, clippy, test

feat: add preview feature ot the example
  crates/pixi_build_frontend/tests/basic/pixi.toml
  examples/cpp-sdl/pixi.toml
Due: taplo

feat: fix clippy
  crates/pixi_manifest/src/validation.rs
Due: fmt, clippy, test

test: add alias for `pixi run test-all-fast`
  pixi.toml
Due: taplo

refactor: seperate toml representation
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/document.rs
  crates/pixi_manifest/src/toml/environment.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/workspace.rs
  src/cli/init.rs
  src/global/project/manifest.rs
  src/global/project/parsed_manifest.rs
  src/project/mod.rs
Due: fmt, clippy, test

refactor: fix git merge and make test more readable
  tests/integration/test_run_cli.py
  tests/integration_python/test_run_cli.py
Due: none

fix: example cpp sdl satisfiability
  examples/cpp-sdl/pixi.lock
Due: none

test: add alias for `pixi run test-all-fast` (#2515)
  pixi.toml
Due: taplo

feat: allow configuring insecure host
  Cargo.lock
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/lib.rs
  src/install_pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
Due: taplo, fmt, clippy, test

update doc
  docs/reference/pixi_configuration.md
Due: none

fix lint
  crates/pixi_config/src/lib.rs
Due: fmt, clippy, test

start working on `pixi conda` subcommand
  src/cli/conda.rs
  src/cli/mod.rs
Due: fmt, clippy, test

fix test
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge.snap
Due: none

Clean up serialization
  tests/integration_python/test_run_cli.py
Due: none

perf: Experimental environment activation cache (#2367)
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge.snap
  crates/pixi_consts/src/consts.rs
  docs/reference/cli.md
  docs/reference/pixi_configuration.md
  src/activation.rs
  src/cli/clean.rs
  src/cli/cli_config.rs
  src/cli/config.rs
  src/cli/install.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/environment.rs
  src/lock_file/update.rs
  src/project/environment.rs
  src/project/mod.rs
  src/task/executable_task.rs
  src/task/mod.rs
  src/task/task_hash.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/test_activation.rs
Due: fmt, clippy, test

Update crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_build_frontend/src/tool/cache.rs
Due: fmt, clippy, test
