Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

update
  Cargo.lock
  pixi_docs/Cargo.toml
Due: check-openssl, toml-format

fix
  crates/pixi_build_frontend/src/tool/installer.rs
  src/global/project/environment.rs
Due: cargo-fmt, cargo-clippy

misc: intended
  crates/pixi_git/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: hashing for same package-name
  crates/pixi_pypi_spec/src/name.rs
Due: cargo-fmt, cargo-clippy

misc: add warning progressbar for multiple checkouts
  crates/pixi_git/src/lib.rs
  src/uv_reporter.rs
Due: cargo-fmt, cargo-clippy

Add test again but skip it
  tests/integration_python/pixi_build/test_build.py
Due: none

test: adapt for backend update (#3767)
  tests/data/mock-projects/test-rebuild/pixi.toml
  tests/data/mock-projects/test-rebuild/pixi_build_package/pixi.toml
  tests/data/mock-projects/test-rebuild/pixi_build_package/pyproject.toml
  tests/data/mock-projects/test-rebuild/pixi_build_package/recipe.yaml
  tests/data/mock-projects/test-rebuild/pixi_build_package/src/pixi_build_package/__init__.py
  tests/data/mock-projects/test-rebuild/pixi_build_package_dev/pixi.toml
  tests/data/mock-projects/test-rebuild/pixi_build_package_dev/pyproject.toml
  tests/data/mock-projects/test-rebuild/pixi_build_package_dev/recipe.yaml
  tests/data/mock-projects/test-rebuild/pixi_build_package_dev/src/pixi_build_package_dev/__init__.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/test_reinstall.py
Due: check-yaml, check-openssl, toml-format, yaml-format

fix: take into account tasks arguments when caching
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  examples/jupyterlab/LorenzDifferentialEquations.ipynb
  src/cli/run.rs
  src/task/executable_task.rs
  src/task/file_hashes.rs
  src/task/task_hash.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

misc: remove some comments
  crates/pixi_manifest/src/toml/task.rs
  src/cli/run.rs
  src/task/executable_task.rs
  src/task/file_hashes.rs
  src/task/task_hash.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

misc: change comment and remove trace
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: add `XDG_CONFIG_HOME` as configuration location. (#3759)
  crates/pixi_config/src/lib.rs
  docs/reference/pixi_configuration.md
Due: cargo-fmt, cargo-clippy

fix: keep index on pypi dependency upgrade
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_pypi_spec/src/pep508.rs
  src/cli/add.rs
  src/cli/init.rs
  src/cli/upgrade.rs
  src/workspace/mod.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/main.rs
  tests/integration_rust/snapshots/integration_rust__upgrade_tests__pypi_dependency_index_preserved_on_upgrade.snap
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

fix: hashing for same package-name (#3775)
  crates/pixi_pypi_spec/src/name.rs
Due: cargo-fmt, cargo-clippy

misc: add link to run dependencies
  docs/build/workspace.md
Due: none

misc: update snapshots
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@workspace_variants.snap
Due: none

misc: try to use win syntax for build script
  tests/data/pixi_build/recursive_source_run_dep/package_b/recipe.yaml
Due: check-yaml, yaml-format

misc: try gemini suggestion
  tests/data/pixi_build/recursive_source_run_dep/package_b/recipe.yaml
Due: check-yaml, yaml-format

misc: remove comments fo recipe
  tests/data/pixi_build/recursive_source_run_dep/package_b/recipe.yaml
Due: check-yaml, yaml-format

test: recursive source run deps (#3712)
  tests/data/pixi_build/recursive_source_run_dep/.gitattributes
  tests/data/pixi_build/recursive_source_run_dep/.gitignore
  tests/data/pixi_build/recursive_source_run_dep/package_a/pixi.toml
  tests/data/pixi_build/recursive_source_run_dep/package_a/pyproject.toml
  tests/data/pixi_build/recursive_source_run_dep/package_a/src/package_a/__init__.py
  tests/data/pixi_build/recursive_source_run_dep/package_b/pixi.toml
  tests/data/pixi_build/recursive_source_run_dep/package_b/recipe.yaml
  tests/data/pixi_build/recursive_source_run_dep/pixi.lock
  tests/data/pixi_build/recursive_source_run_dep/pixi.toml
  tests/integration_python/pixi_build/test_build.py
Due: check-yaml, check-openssl, toml-format, yaml-format

docs: start using recursive source run dependencies (#3768)
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@workspace_variants.snap
  docs/build/workspace.md
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

fix: workspace version and name inheritance
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@split_package_bad_package.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@split_package_good_package.snap
  crates/pixi_manifest/src/toml/manifest.rs
  tests/data/workspace-discovery/split_package/bad/package/pixi.toml
  tests/data/workspace-discovery/split_package/bad/pixi.toml
  tests/data/workspace-discovery/split_package/good/package/pixi.toml
  tests/data/workspace-discovery/split_package/good/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: futurize the tests a little more
  tests/integration_python/test_run_cli.py
Due: none

add test
  crates/pixi_manifest/src/exclude_newer.rs
Due: cargo-fmt, cargo-clippy

fix: trim start of line for toml
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

fix: workspace version and name inheritance (#3786)
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@split_package_bad_package.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@split_package_good_package.snap
  crates/pixi_manifest/src/toml/manifest.rs
  tests/data/workspace-discovery/split_package/bad/package/pixi.toml
  tests/data/workspace-discovery/split_package/bad/pixi.toml
  tests/data/workspace-discovery/split_package/good/package/pixi.toml
  tests/data/workspace-discovery/split_package/good/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: update lock files
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
Due: none

test: run `test_no_change_should_be_fully_cached` again
  tests/integration_python/pixi_build/test_build.py
Due: none

fix: update lock files (#3788)
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
Due: none

reporter in pixi and cleanup
  Cargo.lock
  crates/pixi_build_frontend/src/backend_spec.rs
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/limits.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/src/snapshots/pixi_command_queue__test__simple_test.snap.new
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_progress/src/lib.rs
  crates/pixi_progress/src/placement.rs
  crates/pixi_spec/src/git.rs
  src/build/mod.rs
  src/build/reporters.rs
  src/build/source_metadata_collector.rs
  src/cli/build.rs
  src/environment/conda_prefix.rs
  src/environment/reporters.rs
  src/lib.rs
  src/lock_file/reporter/progress_bar.rs
  src/lock_file/update.rs
  src/reporters/git.rs
  src/reporters/mod.rs
  src/workspace/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: woopsie
  crates/pixi_build_frontend/src/backend_override.rs
  pixi_docs/Cargo.lock
  src/reporters/git.rs
Due: cargo-fmt, cargo-clippy

fix tests
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix tests
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: none

misc: add styling for progress bar
  crates/pixi_progress/src/lib.rs
  src/build/reporters.rs
  src/uv_reporter.rs
Due: cargo-fmt, cargo-clippy

fix: keep index on pypi dependency upgrade
  tests/integration_rust/snapshots/integration_rust__upgrade_tests__pypi_dependency_index_preserved_on_upgrade.snap
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

fix: examples in self-update_extender
  docs/reference/cli/pixi/self-update_extender
Due: none

fix: examples in self-update_extender (#3793)
  docs/reference/cli/pixi/self-update_extender
Due: none

test: run `test_no_change_should_be_fully_cached` again (#3790)
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: none

Update crates/pixi_git/src/lib.rs
  crates/pixi_git/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: fix contains exclude logic
  tests/integration_python/test_run_cli.py
Due: none

Update lib.rs
  crates/pixi_git/src/lib.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
