Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  entry: cargo test
  pass_filenames: false

Actually fail on invalid environment names
  src/global/project/environment.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
Due: fmt, clippy, test

test: Add test for invalid environment names
  crates/pixi_manifest/src/parsed_manifest.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__invalid_key.snap
Due: fmt, clippy, test

docs: stop using invalid environment name in pixi global proposal
  docs/design_proposals/pixi_global_manifest.md
Due: none

Stop using invalid environment
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

Allow unused for now
  src/global/mod.rs
Due: fmt, clippy, test

Attempt to fix macOS and Windows tests by canonicalizing them
  src/global/project/mod.rs
Due: fmt, clippy, test

Fix `test_project_from_path`
  src/global/project/mod.rs
Due: fmt, clippy, test

Use nichita's suggestion
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: apply code review changes
  Cargo.lock
  Cargo.toml
  src/cli/search.rs
Due: taplo, fmt, clippy, test

test: Add test for invalid environment names (#1825)
  crates/pixi_manifest/src/parsed_manifest.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__invalid_key.snap
Due: fmt, clippy, test

docs: stop using invalid environment name in pixi global proposal (#1826)
  docs/design_proposals/pixi_global_manifest.md
Due: none

fix: show global config in info command (#1807)
  docs/reference/pixi_configuration.md
  src/cli/info.rs
Due: fmt, clippy, test

Test that `snake_case` is rejected for environment names
  src/global/project/environment.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
Due: fmt, clippy, test

Adapt docstring
  src/global/project/manifest.rs
Due: fmt, clippy, test

Remove borrow
  src/global/project/environment.rs
Due: fmt, clippy, test

feat: upgrade to new uv version
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  examples/docker/pixi.lock
  examples/python-library-gcp-keyring/pixi.lock
  pixi.lock
  pixi.toml
  rust-toolchain
  src/activation.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/cli/tree.rs
  src/conda_pypi_clobber.rs
  src/install_pypi.rs
  src/install_wheel.rs
  src/lock_file/package_identifier.rs
  src/lock_file/records_by_name.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/satisfiability.rs
  src/rlimit.rs
  tests/install_tests.rs
Due: taplo, fmt, clippy, test

perf: Cache activation environment variables
  crates/pixi_consts/src/consts.rs
  src/activation.rs
  src/cli/clean.rs
  src/cli/init.rs
  src/cli/install.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/environment.rs
  src/lock_file/update.rs
  src/project/environment.rs
  src/project/mod.rs
  src/task/mod.rs
  src/task/task_hash.rs
  tests/test_activation.rs
Due: fmt, clippy, test

Fix ci
  src/project/mod.rs
  tests/test_activation.rs
Due: fmt, clippy, test

feat: pixi global manifest (#1802)
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/src/lib.rs
  src/global/mod.rs
  src/global/project/document.rs
  src/global/project/environment.rs
  src/global/project/errors.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
  src/lib.rs
Due: taplo, fmt, clippy, test

feat: add `global sync`
  src/cli/global/mod.rs
  src/cli/global/sync.rs
Due: fmt, clippy, test

misc: change how we build channels
  crates/pypi_mapping/src/custom_pypi_mapping.rs
  src/project/mod.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

misc: rename to channel_to_location_map
  src/project/mod.rs
Due: fmt, clippy, test

misc: remove eprintln
  crates/pypi_mapping/src/custom_pypi_mapping.rs
  src/project/mod.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

misc: ignore a test
  tests/solve_group_tests.rs
Due: fmt, clippy, test

misc: do not ignore
  tests/solve_group_tests.rs
Due: fmt, clippy, test

fix:windows build
  src/rlimit.rs
Due: fmt, clippy, test

refactor: Rename `get_up_to_date_prefix` to `update_prefix`
  src/cli/init.rs
  src/cli/install.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/environment.rs
Due: fmt, clippy, test

fix: clippy warnings
  src/project/mod.rs
Due: fmt, clippy, test

Continue
  src/cli/global/sync.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

Fix documentation of PIXI_ENVIRONMENT_PLATFORMS
  docs/features/environment.md
Due: none

fix: Correct documentation of PIXI_ENVIRONMENT_PLATFORMS (#1842)
  docs/features/environment.md
Due: none

fix: error on missing channel in map
  src/lock_file/update.rs
  src/project/mod.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

Refactor
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/mod.rs
  src/cli/global/remove.rs
  src/cli/global/sync.rs
  src/cli/global/upgrade.rs
  src/global/common.rs
  src/global/mod.rs
Due: fmt, clippy, test

fix: tests
  src/project/mod.rs
Due: fmt, clippy, test

fix: only throw warning on cwd io-error.
  src/task/executable_task.rs
Due: fmt, clippy, test

Fix format in docs/features/environment.md
  docs/features/environment.md
Due: none

feat: add `INIT_CWD` to activation env (#1798)
  docs/features/environment.md
  docs/reference/project_configuration.md
  src/cli/run.rs
  src/project/mod.rs
  src/task/executable_task.rs
  src/task/mod.rs
  tests/common/mod.rs
Due: fmt, clippy, test

fix: format in docs/features/environment.md (#1846)
  docs/features/environment.md
Due: none

fix: make proper use of NamedChannelOrUrl (#1820)
  crates/pypi_mapping/src/lib.rs
  src/lock_file/update.rs
  src/project/mod.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

feat: use rattler released versions
  Cargo.lock
  Cargo.toml
Due: taplo

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
