Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

feat: adapt `pixi run install`
  pixi.toml
  scripts/install.py
Due: taplo

Make name parameter required
  pixi.toml
  scripts/install.py
Due: taplo

feat: add `pixi run install-as` (#2153)
  pixi.toml
  scripts/install.py
Due: taplo

fix: check if files are same in `self-update` (#2132)
  Cargo.lock
  Cargo.toml
  src/cli/self_update.rs
Due: taplo, fmt, clippy, test

remove: commented code
  src/global/project/environment.rs
Due: fmt, clippy, test

refactor: remove `tokio-stream` dependency
  Cargo.lock
  Cargo.toml
Due: taplo

refactor: remove `tokio-stream` dependency (#2154)
  Cargo.lock
  Cargo.toml
Due: taplo

fix: `pixi global install` needs to adapt the manifest
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: install multiple packages at once
  src/cli/global/install.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

refactor: split code to more easily check status of an environment installation vs manifest
  src/global/common.rs
  src/global/install.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/test_data/conda-meta/_r-mutex-1.0.1-anacondar_1.json
Due: fmt, clippy, test

misc: print no results
  src/cli/global/list.rs
Due: fmt, clippy, test

test: properly test pixi list
  tests/integration/test_global.py
Due: none

fix: test and fix the exposed bin checking logic
  src/cli/global/list.rs
  src/global/install.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: test removed binaries
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: test find conda meta
  src/global/common.rs
Due: fmt, clippy, test

test: split code to conftest.py
  tests/integration/conftest.py
  tests/integration/test_global.py
Due: none

misc: use collect_vec()
  src/global/project/environment.rs
Due: fmt, clippy, test

misc: make sort_by non public and update comment and requires
  src/cli/global/list.rs
Due: fmt, clippy, test

misc: no double .to_string()
  src/cli/global/list.rs
Due: fmt, clippy, test

refactor: from_package_record to new
  src/cli/global/list.rs
Due: fmt, clippy, test

refactor: sort global environments list
  src/cli/global/list.rs
Due: fmt, clippy, test

misc: Improve expose printing and show as nothing if there is non.
  src/cli/global/list.rs
Due: fmt, clippy, test

wip: use sync_environment
  src/cli/global/expose.rs
Due: fmt, clippy, test

fix: help formatting
  src/cli/global/list.rs
Due: fmt, clippy, test

misc: use dimmed red
  src/cli/global/list.rs
Due: fmt, clippy, test

test: use tokio fs in test
  src/global/project/environment.rs
Due: fmt, clippy, test

feat: pixi global list (#2138)
  src/cli/global/list.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/test_data/conda-meta/_r-mutex-1.0.1-anacondar_1.json
  tests/integration/conftest.py
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: sync_environment instead of full sync on expose
  src/cli/global/mod.rs
  src/global/install.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fmt
  src/global/install.rs
Due: fmt, clippy, test

feat: add inline tables for pixi global
  crates/pixi_manifest/src/manifests/mod.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

Add description for `pixi update --json`
  src/cli/update.rs
Due: fmt, clippy, test

docs: Add description for `pixi update --json` (#2160)
  src/cli/update.rs
Due: fmt, clippy, test

perf: update resolvo
  Cargo.lock
  Cargo.toml
Due: taplo

fix: global ensure manifest dir exists
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: global ensure manifest dir exists (#2163)
  src/global/project/mod.rs
Due: fmt, clippy, test

perf: significantly speed up conda resolution (#2162)
  Cargo.lock
  Cargo.toml
Due: taplo

test: add manifest test
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

fix: tests
  src/global/install.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test
