Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false

chore: remove unused dependency `dashmap`
  Cargo.toml
Due: check-openssl, toml-format

chore: update cargo lockfile in pixi_docs
  pixi_docs/Cargo.lock
Due: none

fix: tests
  src/cli/watch.rs
  tests/integration_python/test_auto_reload.py
Due: cargo-fmt, cargo-clippy

chore: add annotations to the python test file
  tests/integration_python/test_auto_reload.py
Due: none

chore: update cli docs
  docs/reference/cli/pixi.md
  docs/reference/cli/pixi/watch.md
  src/cli/watch.rs
  tests/integration_python/test_auto_reload.py
Due: cargo-fmt, cargo-clippy

fix: update test for process behavior with empty inputs
  tests/integration_python/test_auto_reload.py
Due: none

fix: precommit
  tests/integration_python/test_auto_reload.py
Due: none

fix: the input reading in tests
  tests/integration_python/test_auto_reload.py
Due: none

fix: the tests framework
  pixi.toml
  src/task/watcher.rs
  tests/integration_python/test_auto_reload.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: add python test annotation
  tests/integration_python/test_auto_reload.py
Due: none

chore: add support for windows in tests
  tests/integration_python/test_auto_reload.py
Due: none

fix: use the task root instead of cwd for findings globs
  src/cli/watch.rs
  src/task/watcher.rs
Due: cargo-fmt, cargo-clippy

chore: remove unrequired functions
  src/task/task_graph.rs
  tests/integration_python/common.py
  tests/integration_python/test_auto_reload.py
Due: cargo-fmt, cargo-clippy

chore: update Cargo.lock with new dependencies and clean up unused ones
  pixi_docs/Cargo.lock
  src/task/executable_task.rs
  src/task/task_graph.rs
  tests/integration_python/test_auto_reload.py
Due: cargo-fmt, cargo-clippy

docs: fix redirect
  mkdocs.yml
Due: check-yaml

chore: refactor task caching logic in watch
  Cargo.toml
  src/cli/mod.rs
  src/cli/watch.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Print release notes when using `self-update` to switch to a different version
  crates/pixi_consts/src/consts.rs
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

Remove leading "v" in version arguments to self-update
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

inject mirror middle via uv_client::extra_middleware
  crates/pixi_utils/src/reqwest.rs
  src/environment/pypi_prefix.rs
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/planner.rs
  src/install_pypi/plan/test/mod.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

remove unused macro
  src/install_pypi/plan/planner.rs
Due: cargo-fmt, cargo-clippy

update cli doc
  docs/reference/cli/pixi/self-update.md
Due: none

unify reqwest Client for self_update when downloading archives
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

remove unused as_ref()
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

clean code
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

avoid Option::check()
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

add option to force update to the latest release
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

add reqwest_client_builder in pixi_utils crate
  crates/pixi_utils/src/reqwest.rs
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

add option to locator to only parse requires-pixi field
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  src/cli/workspace/requires_pixi/mod.rs
  src/cli/workspace/requires_pixi/set.rs
  src/cli/workspace/requires_pixi/unset.rs
  src/workspace/discovery.rs
Due: cargo-fmt, cargo-clippy

add 'pixi-minimum' manifest key and subcommands to control the eldest pixi for building a project
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  src/cli/add.rs
  src/cli/build.rs
  src/cli/clean.rs
  src/cli/info.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/lock.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/search.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/task.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/cli/upgrade.rs
  src/cli/workspace/mod.rs
  src/cli/workspace/pixi_minimum/get.rs
  src/cli/workspace/pixi_minimum/mod.rs
  src/cli/workspace/pixi_minimum/set.rs
  src/cli/workspace/pixi_minimum/unset.rs
  src/cli/workspace/pixi_minimum/verify.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

generate docs for cli
  docs/reference/cli/pixi/workspace.md
  docs/reference/cli/pixi/workspace/pixi-minimum.md
  docs/reference/cli/pixi/workspace/pixi-minimum/get.md
  docs/reference/cli/pixi/workspace/pixi-minimum/set.md
  docs/reference/cli/pixi/workspace/pixi-minimum/unset.md
  docs/reference/cli/pixi/workspace/pixi-minimum/verify.md
Due: none

change exit code to 4 if verify pixi fail
  src/cli/workspace/requires_pixi/verify.rs
Due: cargo-fmt, cargo-clippy

fix typo
  src/cli/workspace/pixi_minimum/mod.rs
Due: cargo-fmt, cargo-clippy

Fix CI
  docs/reference/cli/pixi/self-update.md
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

init
  src/cli/global/update.rs
  src/global/common.rs
Due: cargo-fmt, cargo-clippy

remove old version
  src/global/common.rs
Due: cargo-fmt, cargo-clippy

remove tempory code
  src/global/common.rs
Due: cargo-fmt, cargo-clippy

modify comment
  src/global/common.rs
Due: cargo-fmt, cargo-clippy

fix spell
  src/global/common.rs
Due: cargo-fmt, cargo-clippy

only throw error when in --locked mode
  src/cli/add.rs
  src/cli/config.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/lock.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/cli/upgrade.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/list.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/description/mod.rs
  src/cli/workspace/environment/mod.rs
  src/cli/workspace/export/conda_environment.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  src/cli/workspace/name/mod.rs
  src/cli/workspace/platform/mod.rs
  src/cli/workspace/requires_pixi/mod.rs
  src/cli/workspace/system_requirements/mod.rs
  src/cli/workspace/version/mod.rs
  src/lib.rs
  src/workspace/discovery.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy
