Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

style: remove trailing blank line (rustfmt)
  crates/pixi_task/src/executable_task.rs
Due: cargo-fmt, cargo-clippy

lint
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_record): add LockFileResolver for single-pass lockfile traversal
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/lock_file_resolver.rs
Due: cargo-fmt, cargo-clippy

refactor(pixi_core): share one lock-file resolver per update
  Cargo.lock
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_record): persist build/host packages on lockfile write
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_record/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(tasks): support multi-line tasks (#5957)
  crates/pixi_task/src/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix!: implement feature activation environment precedence (#5956)
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

test(pixi_record): round-trip build/host handles through the lockfile
  crates/pixi_record/src/lock_file_resolver.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_record/src/test_fixtures/nested_source_build_dep.lock
  crates/pixi_record/src/test_fixtures/source_with_build_host_packages.lock
Due: cargo-fmt, cargo-clippy

test: replace viser-based setuptools override repro with minimal fixture
  crates/pixi/tests/integration_rust/install_tests.rs
  tests/data/setuptools-override-repro/.gitignore
  tests/data/setuptools-override-repro/pyproject.toml
  tests/data/setuptools-override-repro/src/setuptools_override_repro/__init__.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Round-trip build- and host-packages of conda source packages (#5958)
  Cargo.lock
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/lock_file_resolver.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_record/src/test_fixtures/nested_source_build_dep.lock
  crates/pixi_record/src/test_fixtures/source_with_build_host_packages.lock
Due: cargo-fmt, cargo-clippy

test: replace viser-based setuptools override repro with minimal fixture (#5954)
  crates/pixi/tests/integration_rust/install_tests.rs
  tests/data/setuptools-override-repro/.gitignore
  tests/data/setuptools-override-repro/pyproject.toml
  tests/data/setuptools-override-repro/src/setuptools_override_repro/__init__.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(install_pixi_environment): Box::pin the inline with_ctx pipeline
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
Due: cargo-fmt, cargo-clippy

feat(lockfile): round-trip build/host packages of source records
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/environment/env_ref.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_package.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/src/resolved_backend_command.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/lock_file_resolver.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_record/src/test_fixtures/nested_source_build_dep.lock
  crates/pixi_record/src/test_fixtures/source_with_build_host_packages.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: fix rustdoc redundant-explicit-links and unresolved-link errors
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/self_update.rs
  crates/pixi_command_dispatcher/src/executor.rs
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/reporter_context.rs
  crates/pixi_command_dispatcher/src/solve_binary.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_compute_engine/src/any_key.rs
  crates/pixi_compute_engine/src/cycle/active_edges.rs
  crates/pixi_compute_engine/src/engine.rs
  crates/pixi_compute_engine/src/error.rs
  crates/pixi_compute_engine/src/injected.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/mod.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/plan/mod.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_reporters/src/git.rs
Due: cargo-fmt, cargo-clippy

feat(command-dispatcher): installed source-record hints
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_command_dispatcher/src/installed_source_hints.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_package.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_record.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/ptr_arc.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

feat(command-dispatcher): hoist workspace caches and unify backend work dirs
  Cargo.toml
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/clean.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/cache/source_record.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/keys/source_build/cache.rs
  crates/pixi_command_dispatcher/src/keys/source_build/workspace.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_consts/src/consts.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update docs/integration/third_party/git_hooks.md
  docs/integration/third_party/git_hooks.md
Due: none

Requested changes (by pavelzw)
  docs/integration/third_party/git_hooks.md
Due: none

add platform override
  crates/pixi_consts/src/consts.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

removed unused variable
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

lint again
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

warning instead of panicking
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

fix(pixi-build-cmake): track CMakeLists.txt for cache invalidation
  crates/pixi_build_cmake/src/main.rs
  crates/pixi_build_cmake/src/snapshots/pixi_build_cmake__tests__input_globs_includes_extra_globs.snap
Due: cargo-fmt, cargo-clippy

docs(pixi-build-cmake): mention CMakeLists.txt input glob
  docs/build/backends/pixi-build-cmake.md
Due: none

style: apply cargo fmt
  crates/pixi_manifest/src/task.rs
Due: cargo-fmt, cargo-clippy

fix(pixi-build-cmake): remove mistaken CMakeFiles.txt input glob
  crates/pixi_build_cmake/src/main.rs
  crates/pixi_build_cmake/src/snapshots/pixi_build_cmake__tests__input_globs_includes_extra_globs.snap
  docs/build/backends/pixi-build-cmake.md
Due: cargo-fmt, cargo-clippy

fix(pixi-build-rust): prefer conda toolchain in PATH
  crates/pixi_build_rust/src/build_script.j2
Due: none

feat: add configuration for each kind of cache
  crates/pixi_cli/src/clean.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_uv_context/src/lib.rs
  crates/pypi_mapping/src/lib.rs
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: accept relative paths in the config
  crates/pixi_config/src/lib.rs
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test(pixi-build-rust): update build script snapshots
  crates/pixi_build_rust/src/snapshots/pixi_build_rust__build_script__test__build_script@bash.snap
  crates/pixi_build_rust/src/snapshots/pixi_build_rust__build_script__test__build_script@cmdexe.snap
  crates/pixi_build_rust/src/snapshots/pixi_build_rust__build_script__test__openssl@bash.snap
  crates/pixi_build_rust/src/snapshots/pixi_build_rust__build_script__test__openssl@cmdexe.snap
  crates/pixi_build_rust/src/snapshots/pixi_build_rust__build_script__test__sccache@bash.snap
  crates/pixi_build_rust/src/snapshots/pixi_build_rust__build_script__test__sccache@cmdexe.snap
Due: none

misc: adjust tests
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(pixi-build-rust): call conda cargo explicitly
  crates/pixi_build_rust/src/build_script.j2
Due: none

fix(pixi-build-rust): resolve conda cargo on Windows
  crates/pixi_build_rust/src/build_script.j2
Due: none
