Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

docs: add toml example of the preview
  docs/reference/pixi_manifest.md
Due: none

docs: update documentation and related manifests (#4279)
  docs/build/backends.md
  docs/build/workspace.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/LICENSE
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

feat: upgrade to 0.8.20 and get rid of non-async build dispatch calls
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: linting
  src/install_pypi/mod.rs
  src/lock_file/resolve/pypi.rs
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

docs: Mention glow for viewing markdown in the terminal
  docs/integration/extensions/pixi_diff.md
Due: none

Apply suggestions from code review
  src/cli/clean.rs
Due: cargo-fmt, cargo-clippy

fix `--activation_cache --build` logic
  src/cli/clean.rs
Due: cargo-fmt, cargo-clippy

cli docs
  docs/reference/cli/pixi/clean/cache.md
Due: none

chore: sync cargo.lock
  Cargo.lock
Due: none

fix: update auth_store type
  Cargo.lock
  src/cli/upload.rs
Due: cargo-fmt, cargo-clippy

fix: start using some uv fields, and sharing these, where we were recreating them too often
  src/install_pypi/mod.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

3950-pycharm-alt-approach
  docs/integration/editor/jetbrains.md
Due: none

feat: add custom interpreter support for pixi tasks
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__additional_task_keys.snap
  crates/pixi_manifest/src/toml/task.rs
  docs/reference/cli/pixi/task/add.md
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/schema.json
  src/cli/run.rs
  src/cli/task.rs
  src/task/executable_task.rs
  src/workspace/environment.rs
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_run_cli.py
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: clippy
  src/install_pypi/mod.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

misc: expose always for CI test failure
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

fix: first prune old mappings before exposing
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

feat(clean): add `--build`, rename `--tool` to `--build_backends` (#4281)
  crates/pixi_consts/src/consts.rs
  docs/reference/cli/pixi/clean.md
  docs/reference/cli/pixi/clean/cache.md
  src/cli/clean.rs
Due: cargo-fmt, cargo-clippy

last comment refining
  docs/reference/cli/pixi/exec.md
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

feat: upgrade to uv 0.8.20 and get rid of non-async build dispatch calls (#4289)
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
  src/workspace/environment.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: Fix 404 link
  docs/deployment/pixi_pack.md
Due: none

fix: remove unecessary exports reporter
  crates/pixi_reporters/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: Fix 404 link (#4295)
  docs/deployment/pixi_pack.md
Due: none

docs: Mention glow for viewing markdown in the terminal (#4288)
  docs/integration/extensions/pixi_diff.md
Due: none

iter [skip ci]
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  src/workspace/environment.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

docs: update with --dry-run and --json
  docs/reference/cli/pixi/global/update.md
Due: none

feat: pixi build --build-platform
  docs/reference/cli/pixi/build.md
  src/cli/build.rs
Due: cargo-fmt, cargo-clippy

misc: disable JLAP by default
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor: Move prefix into pixi_utils crate
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/lib.rs
  crates/pixi_utils/src/prefix.rs
  src/cli/exec.rs
  src/cli/shell.rs
  src/environment/conda_prefix.rs
  src/environment/mod.rs
  src/environment/pypi_prefix.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/install_pypi/mod.rs
  src/lib.rs
  src/lock_file/update.rs
  src/workspace/grouped_environment.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Move python_status, pypi_prefix into pixi_environment crate
  Cargo.lock
  Cargo.toml
  crates/pixi_environment/Cargo.toml
  crates/pixi_environment/src/lib.rs
  crates/pixi_environment/src/pypi_prefix.rs
  crates/pixi_environment/src/python_status.rs
  src/environment/conda_prefix.rs
  src/environment/mod.rs
  src/install_pypi/mod.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Move UvResolutionContext into pixi_lockfile crate
  Cargo.lock
  Cargo.toml
  crates/pixi_lockfile/Cargo.toml
  crates/pixi_lockfile/src/lib.rs
  crates/pixi_lockfile/src/resolve/mod.rs
  crates/pixi_lockfile/src/resolve/uv_resolution_context.rs
  src/cli/list.rs
  src/install_pypi/mod.rs
  src/lock_file/mod.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Move install_pypi into pixi_install_pypi crate
  crates/pixi_install_pypi/src/conda_pypi_clobber.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/install_wheel.rs
  crates/pixi_install_pypi/src/mod.rs
  crates/pixi_install_pypi/src/plan/cache.rs
  crates/pixi_install_pypi/src/plan/installation_source.rs
  crates/pixi_install_pypi/src/plan/installed_dists.rs
  crates/pixi_install_pypi/src/plan/mod.rs
  crates/pixi_install_pypi/src/plan/models.rs
  crates/pixi_install_pypi/src/plan/planner.rs
  crates/pixi_install_pypi/src/plan/reasons.rs
  crates/pixi_install_pypi/src/plan/required_dists.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  crates/pixi_install_pypi/src/utils.rs
Due: cargo-fmt, cargo-clippy

fix: Set correct target_family for pixi_utils::Prefix
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

refactor: Adapt code to point to new pixi_install_pypi crate
  Cargo.lock
  Cargo.toml
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/planner.rs
  crates/pixi_install_pypi/src/plan/required_dists.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  src/lib.rs
  src/lock_file/update.rs
  tests/integration_rust/install_tests.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

iter
  examples/pixi-build/cpp-with-path-to-source/pixi.toml
Due: check-openssl, toml-format

wip: first initial push of work
  crates/pixi_manifest/src/utils/package_map.rs
  src/cli/global/install.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  tests/integration_python/conftest.py
  tests/integration_python/pixi_global/test_global_source.py
  tests/integration_python/test_utils/__init__.py
  tests/integration_python/test_utils/git_utils.py
Due: cargo-fmt, cargo-clippy

feat: added some more methods to add to struct
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

feat: checked for env sync
  src/global/install.rs
  src/global/project/environment.rs
Due: cargo-fmt, cargo-clippy

fmt
  src/cli/global/add.rs
  src/cli/global/install.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

feat: simplify git testing setup
  tests/integration_python/pixi_global/test_global_source.py
  tests/integration_python/test_utils/git_utils.py
Due: none

wip: integrating into tests
  src/global/common.rs
  src/global/install.rs
  tests/integration_python/conftest.py
  tests/integration_python/pixi_global/test_global_source.py
  tests/integration_python/test_utils/git_utils.py
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
