Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

fmt:
  name: fmt
  language: system
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  entry: cargo test
  pass_filenames: false

fix: get pixi metadata
  .github/workflows/rust.yml
Due: check-yaml

fix: try better
  .github/workflows/rust.yml
Due: check-yaml

fix: add a file guard to indicate if an environment is being installed (#1593)
  Cargo.lock
  Cargo.toml
  src/cli/exec.rs
  src/utils/mod.rs
  src/utils/prefix_guard.rs
Due: fmt, clippy, test

feat: make satisfiability compile again
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

fix: more compiler warnings
  src/install_pypi.rs
  src/lock_file/package_identifier.rs
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

misc: fix manifest.python
  src/install_pypi.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/project/manifest/python.rs
Due: fmt, clippy, test

feat: more satisfiability fixes
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

fix: the warnings
  src/install_pypi.rs
  src/lock_file/package_identifier.rs
  src/lock_file/satisfiability.rs
  src/project/manifest/python.rs
Due: fmt, clippy, test

fix: satisfiability warnings
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

fix: merge issue
  Cargo.toml
Due: none

fix: git marker
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

misc: fix clipppy
  src/install_pypi.rs
  src/lock_file/satisfiability.rs
  src/project/manifest/python.rs
Due: fmt, clippy, test

fix: fixing tests
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@expected-editable-multiple__pixi.toml.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@expected-editable__pixi.toml.snap
  tests/install_tests.rs
Due: fmt, clippy, test

feat: Add nushell completion
  Cargo.lock
  Cargo.toml
  README.md
  docs/index.md
  src/cli/completion.rs
Due: fmt, clippy, test

Add more comments
  README.md
  docs/index.md
Due: none

Restructure docs
  README.md
  docs/index.md
Due: none

docs: Update conflict docs for `cargo add`
  src/cli/add.rs
Due: fmt, clippy, test

docs: Update conflict docs for `cargo add` (#1600)
  src/cli/add.rs
Due: fmt, clippy, test

misc: fix some failing tests
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@expected-editable-multiple__pixi.toml.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@expected-editable__pixi.toml.snap
Due: fmt, clippy, test

misc: fix failing tests for windows and one for git references
  src/lock_file/resolve/pypi.rs
  src/lock_file/satisfiability.rs
  src/project/manifest/python.rs
  tests/add_tests.rs
Due: fmt, clippy, test

Revert "docs: Update conflict docs for `cargo add` (#1600)"
  src/cli/add.rs
Due: fmt, clippy, test

docs: `Shell`
  src/cli/completion.rs
Due: fmt, clippy, test

Rename `PowerShell` to `Powershell` otherwise the command line flag changes
  src/cli/completion.rs
Due: fmt, clippy, test

misc: add subdirectory for url
  src/install_pypi.rs
  src/lock_file/satisfiability.rs
  src/project/manifest/python.rs
  src/util.rs
Due: fmt, clippy, test

misc: update lockfile
  Cargo.lock
Due: none

Revert "misc: update lockfile"
  Cargo.lock
Due: none

misc: run without slow_integration_tests
  .github/workflows/rust.yml
Due: check-yaml

misc: run tests again
  .github/workflows/rust.yml
Due: check-yaml

docs: Revert "Update conflict docs for `cargo add` (#1600)" (#1605)
  src/cli/add.rs
Due: fmt, clippy, test

misc: add comment for cargo-nexttest
  .github/workflows/rust.yml
Due: check-yaml

misc: make url check false
  src/lock_file/package_identifier.rs
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

Update docs/reference/cli.md
  docs/reference/cli.md
Due: none

fix: better use of unreachable, and added some comments
  src/lock_file/package_identifier.rs
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

refactor: refactored conversion into pypi requirement to be fallible
  src/project/manifest/document.rs
  src/project/manifest/error.rs
  src/project/manifest/pypi/pypi_requirement.rs
  src/project/manifest/pypi/pypi_requirement_types.rs
  src/project/manifest/target.rs
Due: fmt, clippy, test

fix(docs): where to find the environments
  docs/reference/cli.md
Due: none

fix: pre-commit
  docs/reference/cli.md
Due: none

feat: bump to 0.2.18
  Cargo.lock
  Cargo.toml
  src/install_pypi.rs
  src/lock_file/package_identifier.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/satisfiability.rs
  src/project/manifest/pypi/pypi_requirement.rs
  src/uv_reporter.rs
  tests/install_tests.rs
Due: fmt, clippy, test

feat: install editables correctly
  src/install_pypi.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
