Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

docs(exec): add examples for `--with` option
  docs/reference/cli/pixi/exec_extender
Due: none

test(exec): add tests for `--with` option
  tests/integration_python/test_exec.py
Due: none

test(exec): add `stderr` check to `test_exec_with`
  tests/integration_python/test_exec.py
Due: none

Fix up test
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-g-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-g-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-g-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-g-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_exec.py
Due: check-yaml, yaml-format

Add shebang
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-g-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-g-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-g-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-g-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
Due: check-yaml, yaml-format

lint
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_uv_conversions/src/conversions.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

feat: add docs and ctrl-c handling
  docs/integration/extensions/index.md
  docs/integration/extensions/pixi_diff.md
  docs/integration/extensions/pixi_install_to_prefix.md
  mkdocs.yml
  src/cli/command_info.rs
  tests/integration_python/test_external_commands.py
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

misc: move nav items
  mkdocs.yml
Due: check-yaml, yaml-format

misc: fix redirect
  mkdocs.yml
Due: check-yaml, yaml-format

misc: change assertion error
  tests/integration_python/test_external_commands.py
Due: none

Adapt docs
  docs/integration/extensions/index.md
  docs/integration/extensions/introduction.md
  mkdocs.yml
Due: check-yaml, yaml-format

Use new syntax in docs
  docs/integration/ci/updates_github_actions.md
  docs/integration/extensions/pixi_diff.md
Due: none

ci: Limit GitHub actions permissions to least possible
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/enforce-sha.yaml
  .github/workflows/lint-pr.yml
  .github/workflows/post_release.yml
  .github/workflows/release.yml
  .github/workflows/schema.yml
  .github/workflows/test_common_wheels.yml
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

Address comments
  Cargo.lock
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

ci: don't use rust feature in trampoline env
  pixi.lock
  pixi.toml
  trampoline/Cargo.lock
Due: check-openssl, toml-format

Continue
  docs/reference/cli/pixi/exec_extender
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-g-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/pixi-foobar-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-g-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/pixi-foobar-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-g-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/pixi-foobar-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-g-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/pixi-foobar-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
Due: none

Address comments
  Cargo.lock
  Cargo.toml
  crates/pixi_build_type_conversions/Cargo.toml
  crates/pixi_build_type_conversions/src/lib.rs
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  src/lock_file/satisfiability/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Remove unused imports
  crates/pixi_build_types/src/project_model.rs
Due: cargo-fmt, cargo-clippy

style: fix lint issues
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: remove unnecessary binding
  src/activation.rs
Due: cargo-fmt, cargo-clippy

test: add integration test for environment variable priority'
  tests/integration_python/test_run_cli.py
Due: none

feat: override environment variables based on priority and export all of them
  src/cli/run.rs
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: update unit tests
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

feat: [activation.env] should override activation scripts
  src/activation.rs
Due: cargo-fmt, cargo-clippy

chore: remove unecessary blank line
  src/activation.rs
Due: cargo-fmt, cargo-clippy

draft: override environment varibales of run_activation function in rattler_shell crate
  src/activation.rs
Due: cargo-fmt, cargo-clippy

fix: exclude certain keys
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: update test for 'get_export_specific_task_env' and 'as_script'
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: compare priority of activation.env and activation.script
  tests/integration_python/test_run_cli.py
Due: none

docs: Update pixi-pack documentation for parallel downloads
  docs/deployment/pixi_pack.md
Due: none

fix: only trigger rebuild when relevant parts of the package manifest changed (#3966)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_type_conversions/Cargo.toml
  crates/pixi_build_type_conversions/src/lib.rs
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_glob/src/glob_hash.rs
  crates/pixi_glob/src/glob_hash_cache.rs
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_2_satisfiability_ignore_lock.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_3_non_glob.snap
  src/lock_file/satisfiability/mod.rs
  src/lock_file/satisfiability/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  src/lock_file/satisfiability/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@source-dependency.snap
  tests/data/non-satisfiability/source-dependency-changed-project-model/child-package/pixi.toml
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.lock
  tests/data/non-satisfiability/source-dependency-changed-project-model/pixi.toml
  tests/data/satisfiability/source-dependency/child-package/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: Update pixi-pack documentation for parallel downloads (#4018)
  docs/deployment/pixi_pack.md
Due: none

docs: explain conda and pypi mix
  docs/concepts/conda_pypi.md
  docs/misc/vision.md
  mkdocs.yml
Due: check-yaml, yaml-format

docs: add pixi pack to our extensions
  mkdocs.yml
Due: check-yaml, yaml-format

ci: don't use rust feature in trampoline env (#4016)
  pixi.lock
  pixi.toml
  trampoline/Cargo.lock
Due: check-openssl, toml-format

docs: fix lock files
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
Due: none

feat: finish
  Cargo.lock
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/path.rs
  crates/pixi_spec/src/url.rs
  crates/pixi_spec_containers/Cargo.toml
  crates/pixi_spec_containers/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: make grid clickable
  docs/index.md
  docs/stylesheets/extra.css
Due: none
