Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: rebuild if input changes
  Cargo.lock
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_stable_hash/Cargo.toml
  crates/pixi_stable_hash/src/json.rs
  crates/pixi_stable_hash/src/lib.rs
  crates/pixi_stable_hash/src/map.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: test lints
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

Update crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
Due: cargo-fmt, cargo-clippy

fix: clear progress bar after install (#4509)
  crates/pixi_cli/src/install.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

Include version information in `self-update --dry-run`
  crates/pixi_cli/src/self_update.rs
Due: cargo-fmt, cargo-clippy

chore: simplify clap handling of `--locked` and `--frozen`
  crates/pixi_cli/src/lib.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
Due: cargo-fmt, cargo-clippy

feat: refactor PyPI merge logic so that its more easy to extend
  crates/pixi_manifest/src/pypi/merge.rs
  crates/pixi_manifest/src/pypi/mod.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

Remove test
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: rebuild if dependencies changed (#4511)
  Cargo.lock
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_stable_hash/Cargo.toml
  crates/pixi_stable_hash/src/json.rs
  crates/pixi_stable_hash/src/lib.rs
  crates/pixi_stable_hash/src/map.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: pixi build stop generating empty directories
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

docs: fix task arg example
  docs/source_files/pixi_tomls/task_arguments.toml
  tests/integration_python/test_docs_examples.py
Due: check-openssl, toml-format

chore: simplify clap handling of `--locked` and `--frozen` (#4515)
  crates/pixi_cli/src/lib.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
Due: cargo-fmt, cargo-clippy

fix(build): `pixi build` stop generating empty directories (#4520)
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

docs: fix task arg example (#4521)
  docs/source_files/pixi_tomls/task_arguments.toml
  tests/integration_python/test_docs_examples.py
Due: check-openssl, toml-format

fix: move instead of copy output of `pixi build`
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

refactor: PyPI merge logic so that its more easy to extend (#4516)
  crates/pixi_manifest/src/pypi/merge.rs
  crates/pixi_manifest/src/pypi/mod.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

fix: clear filesystem cache
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/discover_backend_cache.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_glob/src/glob_hash_cache.rs
Due: cargo-fmt, cargo-clippy

Update docs/build/package_source.md
  docs/build/package_source.md
Due: none

Update docs/build/ros.md
  docs/build/ros.md
Due: none

chore: Update rattler (#4476)
  Cargo.lock
  Cargo.toml
  crates/pixi_record/src/source_record.rs
  docs/reference/cli/pixi/auth/login.md
  pixi.toml
  tests/integration_python/test_main_cli.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: derive from package name
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

docs: improve sentences
  docs/build/ros.md
Due: none

docs: add link to manifest
  docs/build/ros.md
Due: none

fix: move instead of copy output of `pixi build` (#4522)
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

fix: clear filesystem cache
  crates/pixi_cli/src/run.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
Due: cargo-fmt, cargo-clippy

fix: remove unused comment
  crates/pixi_command_dispatcher/src/discover_backend_cache.rs
Due: cargo-fmt, cargo-clippy

fix: merge issue
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

test: remove testing ros workspaces start task in ci
  tests/integration_python/test_docs_examples.py
Due: none

test: remove coverage test as that will is already covered by the other tests
  tests/integration_python/test_docs_examples.py
Due: none

perf: early out on installer file not containing the pixi uv installer
  Cargo.lock
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/environment/pypi_prefix.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf: early out on installer file not containing the pixi uv installer (#4525)
  Cargo.lock
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/environment/pypi_prefix.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Add switchable tabs between pixi.toml and pyproject.toml where applicable
  docs/workspace/advanced_tasks.md
  docs/workspace/multi_environment.md
Due: none

fix: fix docs link and improve the error.
  crates/pixi_cli/src/init.rs
  mkdocs.yml
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

support win32 emulation on win64
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

feat(self-update): include version information in `self-update --dry-run` (#4513)
  crates/pixi_cli/src/self_update.rs
Due: cargo-fmt, cargo-clippy
