Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix(install): don't block install on an unused system requirement
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

feat(errors): point unsupported-platform error at pixi install --platform
  crates/pixi_core/src/workspace/errors.rs
Due: cargo-fmt, cargo-clippy

test: drop xfail now that the cuda system-requirement install bug is fixed
  tests/integration_python/test_richer_platform_bugs.py
Due: none

test: add failing test for task blocked in empty environment by unsatisfiable requirement
  tests/integration_python/test_richer_platform_bugs.py
Due: none

fix: run tasks in empty environments under an unsatisfiable requirement
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

test: cover task run with a kernel-agnostic dependency
  tests/integration_python/test_richer_platform_bugs.py
Due: none

test: refuse install below a package's cuda floor
  tests/integration_python/test_richer_platform_bugs.py
Due: none

test: drop xfail now that the empty-environment task bug is fixed
  tests/integration_python/test_richer_platform_bugs.py
Due: none

Remove now-unused hex dependency from pixi_install_pypi
  Cargo.lock
  crates/pixi_install_pypi/Cargo.toml
Due: check-openssl, toml-format

Fix test-target build for rattler 0.45 hash type and clippy lint
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi/tests/integration_rust/common/pypi_index.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_cli/src/publish.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update snapshots and CLI docs for rattler 0.45
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@requires-newer-pixi-malformed-pyproject.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@requires-newer-pixi-malformed.snap
  crates/pixi_spec/src/snapshots/pixi_spec__toml__test__round_trip.snap
  docs/reference/cli/pixi/auth/logout.md
  docs/reference/cli/pixi/auth/status.md
Due: none

feat: add `--no-pypi` flag to conda-environment export (#6380)
  crates/pixi_cli/src/workspace/export/conda_environment.rs
  docs/reference/cli/pixi/workspace/export/conda-environment.md
Due: cargo-fmt, cargo-clippy

Replace the batch/bash scripts with a more inteligent python script that can manually do the magic setup.py was doing.
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_ros/src/ament_python.rs
  crates/pixi_build_ros/src/build_script.rs
  crates/pixi_build_ros/src/main.rs
  crates/pixi_build_ros/templates/bld_ament_python.bat
  crates/pixi_build_ros/templates/bld_ament_python_pyproject.bat
  crates/pixi_build_ros/templates/build_ament_python.py
  crates/pixi_build_ros/templates/build_ament_python.sh
  crates/pixi_build_ros/templates/build_ament_python_pyproject.sh
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

lock cargo
  Cargo.lock
Due: none

fix(platforms): Do not fail when asked to install an environment with an unused requirement not used (#6389)
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/errors.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  tests/integration_python/test_richer_platform_bugs.py
Due: cargo-fmt, cargo-clippy

refactor: process-scoped stderr pump owns span map and dyn callsite key
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/stderr.rs
Due: cargo-fmt, cargo-clippy

feat(publish): show resolved anaconda.org owner/label and warn on non-main labels
  crates/pixi_cli/src/publish.rs
Due: cargo-fmt, cargo-clippy

refactor: move structured logs to a dedicated socket/named-pipe channel
  crates/pixi_build_backend/Cargo.toml
  crates/pixi_build_backend/src/cli.rs
  crates/pixi_build_backend/src/json_log_layer.rs
  crates/pixi_build_backend/src/lib.rs
  crates/pixi_build_backend/src/log_channel.rs
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/log_channel.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_frontend/src/backend/stderr.rs
  crates/pixi_build_types/src/log.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(lock-file): resolve pre-v7 lockfiles for migrated platforms
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_cli/src/tree.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

fix: remove exclude-newer
  pixi.toml
Due: check-openssl, toml-format

unbound the backend versions to work with latest version of pixi
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/array-api-extra/pixi.toml
  examples/pixi-build/conditional-dependencies/pixi.lock
  examples/pixi-build/conditional-dependencies/pixi.toml
  examples/pixi-build/cpp-git-source/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/dev/pixi.lock
  examples/pixi-build/dev/pixi.toml
  examples/pixi-build/polyglot-particles/particle_rs/pyproject.toml
  examples/pixi-build/polyglot-particles/pixi.lock
  examples/pixi-build/polyglot-particles/pixi.toml
  examples/pixi-build/recursive-run-dependencies/pixi.lock
  examples/pixi-build/recursive-run-dependencies/src/depend/pyproject.toml
  examples/pixi-build/recursive-run-dependencies/src/root/pyproject.toml
  examples/pixi-build/v3/pixi.lock
Due: check-openssl, toml-format

fix: set exclude-newer for `pixi-build-rust` to `0d` (#6394)
  pixi.toml
Due: check-openssl, toml-format

Apply suggestion from @ruben-arts
  examples/pixi-build/polyglot-particles/pixi.toml
Due: check-openssl, toml-format

fix rust test checking similar requirements in monorepo package discovery
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

feat: Derive `c_stdlib` build variants from system requirements (#6320)
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/stdlib_variants.rs
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/dev/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  examples/develop/cpp-sdl/pixi.lock
  examples/pixi-build/conditional-dependencies/pixi.lock
  examples/pixi-build/cpp-git-source/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/dev/pixi.lock
  examples/pixi-build/polyglot-particles/pixi.lock
  examples/pixi-build/v3/pixi.lock
  pixi.lock
Due: cargo-fmt, cargo-clippy

fix: set MACOSX_DEPLOYMENT_TARGET for PyPI sdist builds to the resolved macOS target
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pypi_modifiers/src/pypi_tags.rs
Due: cargo-fmt, cargo-clippy

Use rust integration tests.
  crates/pixi/tests/integration_rust/lock_v6_platform_tests.rs
  crates/pixi/tests/integration_rust/main.rs
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

fix: scope PyPI sdist cache by macOS deployment target
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pypi_modifiers/src/pypi_tags.rs
Due: cargo-fmt, cargo-clippy

fix: set macOS deployment target for PyPI source builds (#6396)
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pypi_modifiers/src/pypi_tags.rs
Due: cargo-fmt, cargo-clippy

Switch from basedpyright to ty
  lefthook.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  schema/model.py
  schema/test_manifest.py
  scripts/release_backends.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_conditional_dependencies.py
  tests/integration_python/test_workspace_platform.py
  tests/wheel_tests/conftest.py
Due: check-yaml, check-openssl, toml-format, yaml-format

Clarify invalid manifest path error
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@empty.snap
  tests/integration_python/test_manifest_path.py
Due: cargo-fmt, cargo-clippy

fix(test): make test_pixi_auth hermetic with isolated auth file
  tests/integration_python/test_main_cli.py
Due: none

remove pyright hints
  crates/pixi_core/Cargo.toml
  examples/opencv/calibrate.py
  examples/opencv/webcam_capture.py
  examples/rerun_example/force_driven_lock_file_graph.py
  examples/solve-groups/test_imports.py
  examples/turtlesim/turtle_marker_viz_ROS2.py
  pixi.toml
  pyproject.toml
  tests/data/run_signals/test.py
Due: check-openssl, toml-format

chore: switch from basedpyright to ty (#6398)
  crates/pixi_core/Cargo.toml
  examples/opencv/calibrate.py
  examples/opencv/webcam_capture.py
  examples/rerun_example/force_driven_lock_file_graph.py
  examples/solve-groups/test_imports.py
  examples/turtlesim/turtle_marker_viz_ROS2.py
  lefthook.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  schema/model.py
  schema/test_manifest.py
  scripts/release_backends.py
  tests/data/run_signals/test.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_conditional_dependencies.py
  tests/integration_python/test_workspace_platform.py
  tests/wheel_tests/conftest.py
Due: check-yaml, check-openssl, toml-format, yaml-format

test: install environment for PyPI git add test
  crates/pixi/tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

fix(test): use file-based auth storage in test_pixi_auth
  tests/integration_python/test_main_cli.py
Due: none

docs: remove discontinued pytorch-from-pytorch-channel example
  docs/python/pytorch.md
  docs/source_files/pixi_tomls/pytorch-from-pytorch-channel.toml
  docs/source_files/pyproject_tomls/pytorch-from-pytorch-channel.toml
Due: check-openssl, toml-format

ci: drop Intel macOS test and binary jobs
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format
