Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: command substituion and variable expansion
  src/activation.rs
  src/task/executable_task.rs
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

test: add integration test
  tests/integration_python/test_environment_variables.py
Due: none

lint
  tests/integration_python/test_environment_variables.py
Due: none

add unit tests
  Cargo.lock
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/workspace/environment.rs
  src/cli/global/edit.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/description/set.rs
  src/cli/workspace/environment/add.rs
  src/cli/workspace/environment/list.rs
  src/cli/workspace/environment/remove.rs
  src/cli/workspace/name/set.rs
  src/cli/workspace/platform/list.rs
  src/cli/workspace/requires_pixi/set.rs
  src/cli/workspace/requires_pixi/unset.rs
  src/cli/workspace/system_requirements/list.rs
  src/cli/workspace/version/bump.rs
  src/cli/workspace/version/get.rs
  src/workspace/environment.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: fix windows test err
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

fix: lint
  src/cli/global/edit.rs
  src/cli/import.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/upgrade.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/mod.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/description/set.rs
  src/cli/workspace/environment/add.rs
  src/cli/workspace/environment/list.rs
  src/cli/workspace/environment/remove.rs
  src/cli/workspace/name/set.rs
  src/cli/workspace/platform/list.rs
  src/cli/workspace/requires_pixi/set.rs
  src/cli/workspace/requires_pixi/unset.rs
  src/cli/workspace/system_requirements/list.rs
  src/cli/workspace/version/bump.rs
  src/cli/workspace/version/get.rs
Due: cargo-fmt, cargo-clippy

Extend test
  tests/integration_python/test_environment_variables.py
Due: none

docs: pycharm integration via conda environments.txt file (#4290)
  docs/integration/editor/jetbrains.md
Due: none

Improve the test
  tests/integration_python/test_environment_variables.py
Due: none

Remove empty file
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

Minimize changes
  src/cli/global/edit.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/description/set.rs
  src/cli/workspace/environment/add.rs
  src/cli/workspace/environment/list.rs
  src/cli/workspace/environment/remove.rs
  src/cli/workspace/name/set.rs
  src/cli/workspace/platform/list.rs
  src/cli/workspace/requires_pixi/set.rs
  src/cli/workspace/requires_pixi/unset.rs
  src/cli/workspace/system_requirements/list.rs
  src/cli/workspace/version/bump.rs
  src/cli/workspace/version/get.rs
Due: cargo-fmt, cargo-clippy

feat: remove `--revalidate` everywhere
  src/cli/cli_config.rs
  src/cli/import.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/upgrade.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/mod.rs
  src/cli/workspace/channel/remove.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  src/cli/cli_config.rs
  src/cli/import.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/upgrade.rs
  src/cli/workspace/channel/mod.rs
  tests/integration_rust/common/builders.rs
Due: cargo-fmt, cargo-clippy

feat: remove --revalidation test
  tests/integration_python/test_run_cli.py
Due: none

chore: bump to released rattler
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

Stop testing one aspect on Windows
  tests/integration_python/test_environment_variables.py
Due: none

Revert "fix: feature activation environment variable priority (#4282)"
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

Continue
  docs/integration/editor/jetbrains.md
  src/cli/global/edit.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/description/set.rs
  src/cli/workspace/environment/add.rs
  src/cli/workspace/environment/list.rs
  src/cli/workspace/environment/remove.rs
  src/cli/workspace/name/set.rs
  src/cli/workspace/platform/list.rs
  src/cli/workspace/requires_pixi/set.rs
  src/cli/workspace/requires_pixi/unset.rs
  src/cli/workspace/system_requirements/list.rs
  src/cli/workspace/version/bump.rs
  src/cli/workspace/version/get.rs
Due: cargo-fmt, cargo-clippy

Revert "fix: exclude env key 'PROJECT_ENV' and evaluate referenced variables (#4275)"
  crates/pixi_consts/src/consts.rs
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/task/executable_task.rs
  crates/pixi_core/src/workspace/environment.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

Continue
  crates/pixi_core/src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

flatten location [skip ci]
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/snapshots/pixi_spec__test__into_nameless_match_spec.snap
  crates/pixi_spec/src/snapshots/pixi_spec__toml__test__round_trip.snap
  crates/pixi_spec/src/toml.rs
Due: cargo-fmt, cargo-clippy

remove `with_closest_package` comment [skip ci]
  src/cli/build.rs
Due: cargo-fmt, cargo-clippy

feat: update test
  docs/integration/editor/jetbrains.md
  src/cli/cli_config.rs
  src/cli/run.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/remove.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: fmt
  tests/integration_python/test_main_cli.py
Due: none

fix: update cli docs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
Due: none

better type in schema [skip ci]
  schema/model.py
  schema/schema.json
Due: none

chore: version to 0.52.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fmt
  docs/workspace/environment.md
  src/cli/completion.rs
Due: cargo-fmt, cargo-clippy

fix: compile errors
  src/cli/workspace/channel/remove.rs
Due: cargo-fmt, cargo-clippy

ci: turn off trampoline workflow on push
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: version to 0.52.0 (#4347)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: update error message and improve docs
  src/cli/cli_config.rs
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
Due: cargo-fmt, cargo-clippy

refactor: replace NamedGlobalSpec with GlobalSpec across the project
  crates/pixi_core/src/global/project/global_spec.rs
  crates/pixi_core/src/global/project/manifest.rs
  crates/pixi_core/src/global/project/mod.rs
  src/cli/global/add.rs
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

Add support for git specs
  crates/pixi_core/src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Add support for git dependencies
  crates/pixi_core/src/global/project/mod.rs
  src/cli/global/global_specs.rs
Due: cargo-fmt, cargo-clippy

Small improvement
  crates/pixi_core/src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
