Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

fix: boltons example seemed broken
  examples/pixi-build/boltons/pixi.lock
  examples/pixi-build/boltons/pixi.toml
  examples/pixi-build/boltons/pyproject.toml
Due: check-openssl, toml-format

fix: remove the unused lines
  examples/pixi-build/boltons/pixi.toml
Due: check-openssl, toml-format

fix: boltons example seemed broken (#2953)
  examples/pixi-build/boltons/pixi.lock
  examples/pixi-build/boltons/pixi.toml
  examples/pixi-build/boltons/pyproject.toml
Due: check-openssl, toml-format

Update docs/tutorials/multi_environment.md
  docs/tutorials/multi_environment.md
Due: none

write out this
  docs/tutorials/multi_environment.md
Due: none

fix: multi env toml
  docs/source_files/pixi_tomls/multi-environment-py-envs.toml
Due: check-openssl, toml-format

fix: docs build
  docs/tutorials/multi_environment.md
Due: none

chore: make the error print the full path to avoid time spend on finding it.
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
Due: cargo-fmt, cargo-clippy

Update crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
Due: cargo-fmt, cargo-clippy

docs: add `quantity-array` to community
  docs/Community.md
Due: none

docs: add `quantity-array` to community (#2955)
  docs/Community.md
Due: none

fix: initialize rayon late and use uv from tag
  Cargo.lock
  Cargo.toml
  src/environment.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: snapshot
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
Due: none

fix: add jemalloc env var page setting to release build (#2937)
  .github/workflows/release.yml
Due: check-yaml, actionlint

Fix mistakes
  docs/tutorials/multi_environment.md
Due: none

chore: pixi build manifest error print full path (#2954)
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
Due: cargo-fmt, cargo-clippy

fix: use same git code for pypi
  Cargo.lock
  crates/pixi_git/src/git.rs
  crates/pixi_git/src/resolver.rs
  crates/pixi_git/src/url.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__supported_pep508_url.snap
  crates/pixi_manifest/src/pypi/mod.rs
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_manifest/src/pypi/pypi_requirement_types.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_spec/src/git.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/build/mod.rs
  src/cli/project/export/conda_environment.rs
  src/install_pypi/plan/test/harness.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/satisfiability.rs
  tests/integration_rust/add_tests.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove some commented code
  crates/pixi_git/src/git.rs
  crates/pixi_git/src/url.rs
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_manifest/src/pypi/pypi_requirement_types.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

docs: add multi env tutorial (#2949)
  docs/source_files/pixi_tomls/multi-environment-py-envs.toml
  docs/source_files/pixi_tomls/multi-environment-simple.toml
  docs/tutorials/multi_environment.md
  mkdocs.yml
Due: check-yaml, check-openssl, toml-format

docs: use workspace channels for build tutorials (#2940)
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python/pixi.lock
  docs/source_files/pixi_projects/pixi_build_python/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace/packages/python_bindings/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace_variants/packages/python_bindings/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace_variants/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace_variants/pixi.toml
Due: check-openssl, toml-format

fix: print the git location instead of the wheel name
  src/cli/list.rs
Due: cargo-fmt, cargo-clippy

misc: use credentials from urls
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  src/environment.rs
Due: cargo-fmt, cargo-clippy

misc: remove eprinlnt
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

misc: remove eprintln
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

feat: pin backend versions
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace/packages/python_bindings/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace_variants/packages/python_bindings/pixi.toml
  docs/source_files/pixi_projects/pixi_build_workspace_variants/pixi.toml
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  examples/pixi-build/boltons/pixi.toml
  examples/pixi-build/cpp-sdl/pixi.toml
  schema/examples/valid/full.toml
  tests/data/pixi_build/editable-pyproject/pyproject.toml
  tests/data/pixi_build/rattler-build-backend/pixi/pixi.toml
  tests/data/pixi_build/rich_example/pixi.toml
Due: check-openssl, toml-format

add another init
  src/prefix.rs
Due: cargo-fmt, cargo-clippy

fix: update lock file on doc examples
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace/pixi.lock
Due: none

fix: update lock file on doc examples (#2966)
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_workspace/pixi.lock
Due: none

misc: update outdated lockfiles
  crates/pixi_uv_conversions/src/conversions.rs
  examples/detectron2-from-source/pixi.lock
  examples/pypi-source-deps/pixi.lock
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/mod.rs
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

docs: fix ambiguous version specifiers
  crates/pixi_manifest/src/manifests/workspace.rs
  docs/reference/pixi_manifest.md
Due: cargo-fmt, cargo-clippy

fix: don't check requires python in satisfiability
  src/lock_file/satisfiability.rs
Due: cargo-fmt, cargo-clippy

misc: add into_parsed_git_url
  Cargo.lock
  crates/pixi_git/src/url.rs
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  src/install_pypi/conversions.rs
  src/install_pypi/plan/mod.rs
  src/install_pypi/plan/test/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: fix rustdoc
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

use destructuring to remove clones in conversion
  crates/pixi_build_type_conversions/src/project_model.rs
Due: cargo-fmt, cargo-clippy

fix: keep checking lowerbound python version
  src/lock_file/satisfiability.rs
Due: cargo-fmt, cargo-clippy

ci: run workflow on opened PR
  .github/workflows/ci.yml
Due: check-yaml, actionlint

misc: change error type
  src/install_pypi/plan/mod.rs
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

misc: remove eprilnt
  src/install_pypi/mod.rs
  src/install_pypi/plan/test/harness.rs
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
