Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat: add --fields option to pixi list command
  crates/pixi_cli/src/list.rs
Due: cargo-fmt, cargo-clippy

fix: mark more tests as online
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi/tests/integration_rust/upgrade_tests.rs
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_api/src/workspace/init/options.rs
  crates/pixi_api/src/workspace/init/template.rs
  crates/pixi_cli/src/init.rs
Due: cargo-fmt, cargo-clippy

feat: lock-file needed regeneration
  examples/pixi-build/cpp-sdl/pixi.lock
Due: none

refactor: pass Field by value since it's Copy
  crates/pixi_cli/src/list.rs
Due: cargo-fmt, cargo-clippy

style: fix clippy warnings in list.rs
  crates/pixi_cli/src/list.rs
Due: cargo-fmt, cargo-clippy

docs: update CLI documentation for --fields option
  docs/reference/cli/pixi/list.md
Due: none

docs: sort available fields list alphabetically in help text
  crates/pixi_cli/src/list.rs
Due: cargo-fmt, cargo-clippy

feat: changed docker example
  examples/docker/README.md
  examples/docker/pixi.lock
  examples/docker/pyproject.toml
Due: check-openssl, toml-format

refactor: remove unnecessary Serialize derive from Field enum
  crates/pixi_cli/src/list.rs
  docs/reference/cli/pixi/list.md
Due: cargo-fmt, cargo-clippy

feat(pixi_api): Add list_channel, add_channel, remove_channel to WorkspaceContext
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_api/src/workspace/workspace/channel.rs
  crates/pixi_api/src/workspace/workspace/mod.rs
  crates/pixi_cli/src/workspace/channel.rs
  crates/pixi_cli/src/workspace/channel/add.rs
  crates/pixi_cli/src/workspace/channel/list.rs
  crates/pixi_cli/src/workspace/channel/mod.rs
  crates/pixi_cli/src/workspace/channel/remove.rs
Due: cargo-fmt, cargo-clippy

Update CLI docs
  docs/reference/cli/pixi/workspace/channel.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/list.md
  docs/reference/cli/pixi/workspace/channel/remove.md
Due: none

docs: update design to sync with website and rattler-build
  docs/assets/pixi-logo.svg
  docs/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/fonts.css
  mkdocs.yml
Due: check-yaml, yaml-format

Change environment from 'prod' to 'default' in pixi_pack.md
  docs/deployment/pixi_pack.md
Due: none

Bumping up to rust v1.90
  crates/pixi_allocator/Cargo.lock
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fixing pixi.lock file after merging main
  pixi.lock
Due: none

code fixes from clippy
  crates/pixi_toml/src/diagnostic.rs
Due: cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi_glob/src/glob_mtime.rs
Due: cargo-fmt, cargo-clippy

refactor: use comfy-table for list command output
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/list.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi_pty/src/unix/pty_process.rs
  rust-toolchain
Due: cargo-fmt, cargo-clippy

add alignment and more fields
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/list.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

update cli docs
  docs/reference/cli/pixi/list.md
Due: none

remove human_bytes dependency
  Cargo.lock
  crates/pixi_cli/Cargo.toml
Due: check-openssl, toml-format

feat: change insta
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_pyproject_panic.snap
Due: none

fix: docker project sha
  examples/docker/pixi.lock
Due: none

feat: update comment
  examples/docker/pyproject.toml
Due: check-openssl, toml-format

docs: improve design and update image
  docs/assets/pixi-logo.svg
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: check-yaml, yaml-format

fix: docker example lock
  examples/docker/pixi.lock
Due: none

Apply suggestion from @baszalmstra
  crates/pixi/tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

fix: enhance feature removal confirmation message
  crates/pixi_api/src/workspace/workspace/feature.rs
Due: cargo-fmt, cargo-clippy

feat: stop recording PyPI editable in lock file (#5106)
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/solve_group_tests.rs
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_pyproject_panic.snap
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_pypi_spec/src/lib.rs
  crates/pixi_uv_conversions/src/requirements.rs
  examples/docker/README.md
  examples/docker/pixi.lock
  examples/docker/pyproject.toml
  examples/pixi-build/cpp-sdl/pixi.lock
  tests/data/non-satisfiability/expected-editable-multiple/bar/pyproject.toml
  tests/data/non-satisfiability/expected-editable-multiple/baz/pyproject.toml
  tests/data/non-satisfiability/expected-editable-multiple/foo/pyproject.toml
  tests/data/non-satisfiability/expected-editable-multiple/pixi.lock
  tests/data/non-satisfiability/expected-editable-multiple/pixi.toml
  tests/data/non-satisfiability/expected-editable/foo/pyproject.toml
  tests/data/non-satisfiability/expected-editable/pixi.lock
  tests/data/non-satisfiability/expected-editable/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add `--fields` argument to `pixi list` (#5105)
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/list.rs
  docs/reference/cli/pixi/list.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: enhance feature removal confirmation message (#5115)
  crates/pixi_api/src/workspace/workspace/feature.rs
Due: cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/resolve/resolver_provider.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi_glob/src/glob_set/mod.rs
Due: cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi_reporters/src/uv_reporter.rs
Due: cargo-fmt, cargo-clippy

fix: use global pixi lock for installation
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/update.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: avoid collecting channels twice
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
  crates/pixi_reporters/src/uv_reporter.rs
  crates/pixi_task/src/task_graph.rs
Due: cargo-fmt, cargo-clippy

code fixes from clippy
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_global/src/install.rs
  crates/pixi_global/src/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
