Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

Fix warning
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

Make check nicer
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

Clippy lints
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

chore: Add more verbose context for failed solves
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

chore: Add more verbose context for failed solves (#4256)
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

docs: Expand the markdown descriptions
  mkdocs.yml
Due: check-yaml, yaml-format

feat: Tree json representation
  docs/reference/cli/pixi/tree.md
  src/cli/tree.rs
Due: cargo-fmt, cargo-clippy

feat: dry-run and json flags for pixi global update
  docs/reference/cli/pixi/global/update_extender
  src/cli/global/update.rs
  src/global/common.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: always check update for regular update command
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

fix: remove the duplicate 'install_environment' call
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

Add function to get skipped packages
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

report
  src/cli/install.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Add test on non-existent package being skipped
  tests/integration_rust/common/logging.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

feat: resolve variable references
  src/activation.rs
Due: cargo-fmt, cargo-clippy

docs: Update docs with `pixi-extensions` (#4144)
  docs/integration/extensions/introduction.md
Due: none

refactor: check env_binaries before update
  src/cli/global/update.rs
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

misc: add resolve for other types
  crates/pixi_build_discovery/src/backend_spec.rs
Due: cargo-fmt, cargo-clippy

misc: add missing files
  tests/data/workspaces/source-backends/package-d/package-d-0.1.0-h4616a5c_0.conda
  tests/data/workspaces/source-backends/package-e/package-e-0.1.0-h4616a5c_0.conda
Due: none

Document package installation order with no-build-isolation
  docs/reference/pixi_manifest.md
Due: none

expose module global when using pixi as dependency
  src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: update documentation and related manifests
  docs/build/backends.md
  docs/build/workspace.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
Due: check-openssl, toml-format

fix: check env installation first
  src/cli/global/update.rs
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

feat: extract reporters out of pixi into its own crate
  Cargo.lock
  Cargo.toml
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/download_verify_reporter.rs
  crates/pixi_reporters/src/git.rs
  crates/pixi_reporters/src/install_reporter.rs
  crates/pixi_reporters/src/lib.rs
  crates/pixi_reporters/src/main_progress_bar.rs
  crates/pixi_reporters/src/release_notes.rs
  crates/pixi_reporters/src/repodata_reporter.rs
  crates/pixi_reporters/src/uv_reporter.rs
  src/cli/build.rs
  src/cli/self_update.rs
  src/global/project/mod.rs
  src/install_pypi/mod.rs
  src/lib.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Filter at LockedPackageRef level
  src/environment/mod.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

improve warning
  src/cli/install.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

improve message
  src/cli/install.rs
Due: cargo-fmt, cargo-clippy

fix: parking lot is unused in main pixi
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

wip: update other manfiests to latest version (not working)
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

Create Vec with capacity
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

feat: support pip packages for `no-build-isolation` (#4247)
  docs/reference/pixi_manifest.md
  src/install_pypi/mod.rs
  src/install_pypi/plan/reasons.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

chore: fix CI pytests
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

docs: Mention md-tui support for reading from stdin
  docs/integration/extensions/pixi_diff.md
Due: none

feat: extract reporters out of pixi into its own crate (#4266)
  Cargo.lock
  Cargo.toml
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/download_verify_reporter.rs
  crates/pixi_reporters/src/git.rs
  crates/pixi_reporters/src/install_reporter.rs
  crates/pixi_reporters/src/lib.rs
  crates/pixi_reporters/src/main_progress_bar.rs
  crates/pixi_reporters/src/release_notes.rs
  crates/pixi_reporters/src/repodata_reporter.rs
  crates/pixi_reporters/src/uv_reporter.rs
  src/cli/build.rs
  src/cli/self_update.rs
  src/global/project/mod.rs
  src/install_pypi/mod.rs
  src/lib.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: update Cargo.lock
  Cargo.lock
Due: none

docs: Mention md-tui support for reading from stdin (#4268)
  docs/integration/extensions/pixi_diff.md
Due: none

feat: allow using build backends from source (#4145)
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_frontend/src/backend_override.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__instantiate_backend_with_from_source.snap
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_manifest/src/toml/build_target.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__additional_build_backend_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__empty_channels.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__missing_backend.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__missing_name.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__missing_version_specifier.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__disallow_source.snap
  crates/pixi_spec/src/lib.rs
  tests/data/workspaces/source-backends/README.md
  tests/data/workspaces/source-backends/package-d/package-d-0.1.0-h4616a5c_0.conda
  tests/data/workspaces/source-backends/package-d/pixi.toml
  tests/data/workspaces/source-backends/package-d/recipe.yaml
  tests/data/workspaces/source-backends/package-e/package-e-0.1.0-h4616a5c_0.conda
  tests/data/workspaces/source-backends/package-e/pixi.toml
  tests/data/workspaces/source-backends/package-e/recipe.yaml
  tests/data/workspaces/source-backends/pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

chore(deps): Update mkdocs-llmstxt dependency
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

style: Perform linting to fix styling
  mkdocs.yml
  pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format

refactor: revert to previous code
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

feat: Add the ability to skip install of local source dependencies (#3092)
  docs/reference/cli/pixi/install.md
  src/cli/install.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/platform/add.rs
  src/cli/workspace/platform/remove.rs
  src/environment/mod.rs
  src/lib.rs
  src/lock_file/update.rs
  src/prefix.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/logging.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy
