Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

signal handling
  src/cli/run.rs
  src/lib.rs
  src/signals.rs
Due: cargo-fmt, cargo-clippy

fix line endings
  src/signals.rs
Due: cargo-fmt, cargo-clippy

fix merge
  src/cli/run.rs
Due: cargo-fmt, cargo-clippy

remove syrupy
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix unix
  src/cli/run.rs
Due: cargo-fmt, cargo-clippy

local set in the right place
  src/cli/run.rs
Due: cargo-fmt, cargo-clippy

fix remaining issues
  src/cli/run.rs
  src/signals.rs
Due: cargo-fmt, cargo-clippy

remove syrupy snapshot files
  tests/integration_python/__snapshots__/test_docs_examples.ambr
  tests/integration_python/__snapshots__/test_main_cli.ambr
Due: none

hardcode for parametrize
  tests/integration_python/test_docs_examples.py
Due: none

fix: workspace root
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_types/src/procedures/initialize.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

feat: support pip packages for `no-build-isolation`
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

sort projects
  tests/integration_python/test_docs_examples.py
Due: none

Slightly simplify function
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

misc: fix relative backendspec
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__instantiate_backend_with_from_source.snap
  crates/pixi_command_dispatcher/tests/integration/source_backend.rs
  tests/data/workspaces/source-backends/README.md
  tests/data/workspaces/source-backends/package-d/pixi.toml
  tests/data/workspaces/source-backends/package-d/recipe.yaml
  tests/data/workspaces/source-backends/package-e/pixi.toml
  tests/data/workspaces/source-backends/package-e/recipe.yaml
  tests/data/workspaces/source-backends/pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

misc: remove tests
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

add coverage check
  tests/integration_python/test_docs_examples.py
Due: none

test: replace syrupy with inline-snapshot (#4246)
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/integration_python/__snapshots__/test_docs_examples.ambr
  tests/integration_python/__snapshots__/test_main_cli.ambr
  tests/integration_python/test_docs_examples.py
  tests/integration_python/test_main_cli.py
Due: check-openssl, toml-format

chore(deps): Added mkdocs-llmstxt as dependency
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

chore(docs): Added llmstxt plugin setup for docs
  mkdocs.yml
Due: check-yaml, yaml-format

feat: add channels to the build-v1 apis
  crates/pixi_build_types/src/procedures/conda_build_v1.rs
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

feat: support for loong64 linux (#4163)
  .github/workflows/trampoline.yaml
  crates/pypi_modifiers/src/pypi_tags.rs
  src/global/trampoline.rs
Due: check-yaml, actionlint, yaml-format, cargo-fmt, cargo-clippy

Fix separate_distributions_by_build_isolation
  src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

misc: add resolve for the jsonrpc
  crates/pixi_build_discovery/src/backend_spec.rs
Due: cargo-fmt, cargo-clippy

add project
  project/.gitattributes
  project/.gitignore
  project/CMakeLists.txt
  project/pixi.lock
  project/pixi.toml
  project/src/math.cpp
Due: check-openssl, toml-format

pass repodata records to build backend
  crates/pixi_build_types/src/procedures/conda_build_v1.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

clippy
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
Due: cargo-fmt, cargo-clippy

try to fix test
  pixi.toml
  tests/data/run_signals/pixi.toml
  tests/data/run_signals/test.py
  tests/integration_python/test_run_cli.py
Due: check-openssl, toml-format

add lockfile
  tests/data/run_signals/pixi.lock
  tests/data/run_signals/test.py
  tests/integration_python/test_run_cli.py
Due: none

feat: add channels to the build-v1 apis (#4249)
  crates/pixi_build_types/src/procedures/conda_build_v1.rs
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

feat: pass repodata records to build backend (#4252)
  crates/pixi_build_types/src/procedures/conda_build_v1.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
Due: cargo-fmt, cargo-clippy

fix: forward CTRL+C signal to `deno_task_shell` (#4243)
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
  src/lib.rs
  src/signals.rs
  tests/data/run_signals/pixi.lock
  tests/data/run_signals/pixi.toml
  tests/data/run_signals/test.py
  tests/integration_python/test_run_cli.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: remove confusing info trace In my opinion this trace added no value unless truly debugging the parsing code. But since it has been refactored this makes little sense.
  crates/pixi_manifest/src/target.rs
Due: cargo-fmt, cargo-clippy

chore: typo
  examples/jupyterlab/LorenzDifferentialEquations.ipynb
  typos.toml
Due: check-openssl, toml-format

chore: typo
  examples/jupyterlab/LorenzDifferentialEquations.ipynb
Due: none

chore: remove confusing info trace (#4254)
  crates/pixi_manifest/src/target.rs
  typos.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: tests
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/discovery.rs
  crates/pixi_build_discovery/tests/snapshots/discovery__direct_recipe.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@inherit__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested_recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yaml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@simple.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__configuration_parsing.snap
Due: cargo-fmt, cargo-clippy

feat: update cargo.lock
  Cargo.lock
Due: none

Fix implementation
  src/install_pypi/mod.rs
  src/install_pypi/plan/reasons.rs
Due: cargo-fmt, cargo-clippy

Add test
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy
