Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

skip test on win as it need admin permission
  tests/integration_python/pixi_global/test_global.py
Due: none

initial update remove deprecated env
  src/cli/global/update.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

add error handling and fmt
  src/cli/global/update.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

add test_update_remove_old_env
  tests/integration_python/pixi_global/test_global.py
Due: none

fix test
  tests/integration_python/pixi_global/test_global.py
Due: none

fix comment
  tests/integration_python/pixi_global/test_global.py
Due: none

Check if environment is in sync, instead of installing on failure
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

Simplify environment pruning
  src/cli/global/update.rs
Due: cargo-fmt, cargo-clippy

Improve logic and test code and also run on Windows
  src/cli/global/update.rs
  src/global/project/mod.rs
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

Remove unneeded test
  tests/integration_python/pixi_global/test_global.py
Due: none

Remove exitcode success
  tests/integration_python/pixi_global/test_global.py
Due: none

Rename `Metadata` to `Configuration`
  trampoline/Cargo.lock
  trampoline/src/main.rs
Due: cargo-fmt, cargo-clippy

Remove PATH from activation scripts
  src/global/install.rs
Due: cargo-fmt, cargo-clippy

Extend Configuration
  trampoline/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: some unexpected behavior of `pixi global update` (#3373)
  src/cli/global/update.rs
  src/global/project/mod.rs
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

Setup path
  trampoline/src/main.rs
Due: cargo-fmt, cargo-clippy

Update tests and logic
  src/global/install.rs
  tests/integration_python/pixi_global/test_trampoline.py
  trampoline/src/main.rs
Due: cargo-fmt, cargo-clippy

docs: Fix typo
  docs/deployment/pixi_pack.md
Due: none

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

Update docs
  docs/global_tools/introduction.md
Due: none

docs: Fix typo (#3385)
  docs/deployment/pixi_pack.md
Due: none

Make test easier on windows
  tests/integration_python/pixi_global/test_trampoline.py
Due: none

Rename variables
  src/global/common.rs
Due: cargo-fmt, cargo-clippy

Update set_extender.md
  docs/reference/cli/pixi/config/set_extender.md
Due: none

chore: version to 0.43.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update lock file
  pixi_docs/Cargo.lock
Due: none

chore: version to 0.43.0 (#3387)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/devcontainer.md
  install/install.ps1
  install/install.sh
  pixi_docs/Cargo.lock
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Rename function
  src/cli/global/add.rs
  src/global/project/mod.rs
  tests/data/channels/mappings.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Add channel
  tests/data/channels/channels/completions_channel_1/noarch/repodata.json
  tests/data/channels/channels/completions_channel_1/noarch/ripgrep-completions-14.1.1-h4616a5c_1.conda
  tests/data/channels/recipes/completions_channel_1.yaml
Due: check-yaml

Fix clippy lints
  src/global/completions.rs
  src/global/project/manifest.rs
Due: cargo-fmt, cargo-clippy

Add first test
  tests/data/channels/channels/completions_channel_1/noarch/repodata.json
  tests/data/channels/channels/completions_channel_1/noarch/ripgrep-completions-14.1.1-h4616a5c_1.conda
  tests/data/channels/recipes/completions_channel_1.yaml
  tests/integration_python/pixi_global/conftest.py
Due: check-yaml

Upgrade zip to 2.4.2, update Cargo.lock
  Cargo.lock
  Cargo.toml
  pixi_docs/Cargo.lock
Due: check-openssl, toml-format

fix: upgrade zip to 2.4.2, update Cargo.lock (#3389)
  Cargo.lock
  Cargo.toml
  pixi_docs/Cargo.lock
Due: check-openssl, toml-format

upgrade uv to 0.6.8
  Cargo.lock
  Cargo.toml
  pixi_docs/Cargo.lock
Due: check-openssl, toml-format

upgrade uv to 0.6.7
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  pixi_docs/Cargo.lock
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/planner.rs
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/test/mod.rs
  src/install_pypi/utils.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  src/workspace/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

upgrade uv to 0.6.9
  Cargo.lock
  Cargo.toml
  pixi_docs/Cargo.lock
Due: check-openssl, toml-format

Add completion tests
  tests/integration_python/pixi_global/test_completions.py
Due: none

Increase timeout
  crates/pixi_pty/src/unix/pty_session.rs
Due: cargo-fmt, cargo-clippy

Revert back to original timeout
  crates/pixi_pty/src/unix/pty_session.rs
Due: cargo-fmt, cargo-clippy

Small docs updates
  docs/advanced/pixi_shell.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
