Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

feat: add configuration to run link scripts (#3347)
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
  src/environment/conda_prefix.rs
  tests/data/channels/channels/post_link_script_channel/linux-64/post-link-script-package-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/post_link_script_channel/linux-64/repodata.json
  tests/data/channels/channels/post_link_script_channel/noarch/repodata.json
  tests/data/channels/channels/post_link_script_channel/osx-64/post-link-script-package-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/post_link_script_channel/osx-64/repodata.json
  tests/data/channels/channels/post_link_script_channel/osx-arm64/post-link-script-package-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/post_link_script_channel/osx-arm64/repodata.json
  tests/data/channels/channels/post_link_script_channel/win-64/post-link-script-package-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/post_link_script_channel/win-64/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/post_link_script_package/post-link.bat
  tests/data/channels/recipes/post_link_script_package/post-link.sh
  tests/data/channels/recipes/post_link_script_package/recipe.yaml
  tests/integration_python/conftest.py
  tests/integration_python/test_edge_cases.py
  tests/integration_rust/install_tests.rs
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: `pixi global` make sure that `prefix_path_entries` are always in `path_diff` (#3407)
  src/global/install.rs
  tests/integration_python/pixi_global/test_trampoline.py
Due: cargo-fmt, cargo-clippy

fix: update `Cargo.lock` during release
  pixi.toml
  scripts/release.py
  scripts/update-lockfiles.py
Due: check-openssl, toml-format

Pre-commit
  pixi.toml
  scripts/update-lockfiles.py
Due: check-openssl, toml-format

fix: update `Cargo.lock` during release (#3463)
  pixi.toml
  scripts/release.py
  scripts/update-lockfiles.py
Due: check-openssl, toml-format

chore: version to 0.44.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/devcontainer.md
  install/install.ps1
  install/install.sh
  pixi_docs/Cargo.lock
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.44.0 (#3464)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/devcontainer.md
  install/install.ps1
  install/install.sh
  pixi_docs/Cargo.lock
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: remove help flags from watch command arguments and update conditional check for task execution
  src/cli/mod.rs
  src/cli/watch.rs
Due: cargo-fmt, cargo-clippy

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

docs: added task cwd default behaviour
  docs/workspace/advanced_tasks.md
Due: none

bump: update pixi lockfile
  pixi.lock
Due: none

docs: added task cwd default behaviour (#3470)
  docs/workspace/advanced_tasks.md
Due: none

docs: Move direnv section to separate page
  docs/integration/third_party/direnv.md
  docs/workspace/environment.md
  mkdocs.yml
Due: check-yaml, yaml-format

Update docs/integration/third_party/direnv.md
  docs/integration/third_party/direnv.md
Due: none

docs: Move direnv section to separate page (#3472)
  docs/integration/third_party/direnv.md
  docs/workspace/environment.md
  mkdocs.yml
Due: check-yaml, yaml-format

Update cli generation script
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

docs: update advanced tasks docs with task arguments section
  docs/workspace/advanced_tasks.md
Due: none

perf: skip `pixi global` completion functions on windows
  src/global/completions.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

perf: don't check completions for environment_in_sync check
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Add newline before list
  docs/workspace/advanced_tasks.md
Due: none

run fmt
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

update: update tasks documentation and introducing new error enum for deno and replace args error
  Cargo.lock
  Cargo.toml
  docs/workspace/advanced_tasks.md
  src/cli/run.rs
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: pre-commit issues
  Cargo.toml
  docs/workspace/advanced_tasks.md
  tests/integration_python/test_run_cli.py
Due: check-openssl, toml-format

chore: generate cli docs
  pixi_docs/Cargo.lock
Due: none

refactor: update the error prints for replacing arguments
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

Improve highlighting slightly
  docs/workspace/advanced_tasks.md
Due: none

Only compile on Windows
  src/cli/global/sync.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/completions.rs
  src/global/mod.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Only compile and run code if necessary
  src/cli/global/sync.rs
  src/cli/global/update.rs
  src/global/completions.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Add comments
  src/global/completions.rs
  src/global/mod.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

perf: only call `pixi global` completion functions when necessary (#3477)
  src/cli/global/sync.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/completions.rs
  src/global/mod.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: `pixi run deno`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  tests/data/channels/channels/deno_channel/linux-64/deno-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/deno_channel/linux-64/repodata.json
  tests/data/channels/channels/deno_channel/noarch/repodata.json
  tests/data/channels/channels/deno_channel/osx-64/deno-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/deno_channel/osx-64/repodata.json
  tests/data/channels/channels/deno_channel/osx-arm64/deno-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/deno_channel/osx-arm64/repodata.json
  tests/data/channels/channels/deno_channel/win-64/deno-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/deno_channel/win-64/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/deno_channel.yaml
  tests/integration_python/conftest.py
  tests/integration_python/test_run_cli.py
Due: check-yaml, check-openssl, toml-format, yaml-format

Update lockfile
  pixi_docs/Cargo.lock
Due: none

Update src/task/executable_task.rs
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: `pixi run deno` (#3484)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  pixi_docs/Cargo.lock
  tests/data/channels/channels/deno_channel/linux-64/deno-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/deno_channel/linux-64/repodata.json
  tests/data/channels/channels/deno_channel/noarch/repodata.json
  tests/data/channels/channels/deno_channel/osx-64/deno-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/deno_channel/osx-64/repodata.json
  tests/data/channels/channels/deno_channel/osx-arm64/deno-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/deno_channel/osx-arm64/repodata.json
  tests/data/channels/channels/deno_channel/win-64/deno-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/deno_channel/win-64/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/deno_channel.yaml
  tests/integration_python/conftest.py
  tests/integration_python/test_run_cli.py
Due: check-yaml, check-openssl, toml-format, yaml-format

docs: rename remaining `pixi project` to `pixi workspace`
  docs/switching_from/conda.md
  docs/tutorials/multi_environment.md
Due: none

Update index.md
  docs/index.md
Due: none

update deno task shell
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format
