Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: error out if task dependency specifies non-existent environment
  crates/pixi/tests/integration_rust/task_tests.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_task/src/error.rs
  crates/pixi_task/src/lib.rs
  crates/pixi_task/src/task_graph.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(config): support all configuration keys and subkeys in pixi config list
  crates/pixi_cli/src/config.rs
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: add `exclude-newer` to the global manifest
  .cargo/config.toml
  Cargo.lock
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/global_specs.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__invalid_key.snap
  crates/pixi_manifest/src/exclude_newer.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/lib.rs
  docs/global_tools/manifest.md
  tests/integration_python/pixi_build/test_global.py
  tests/integration_python/pixi_global/test_global.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: loading global only once with --global flag
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

fix(install_pypi): preserve files when migrating dependency from pypi to conda
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/planner.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

fix(tls): silence warning on empty `SSL_CERT_DIR` directory
  crates/pixi_utils/src/tls.rs
Due: cargo-fmt, cargo-clippy

fix: use release profile for global install and compute sha256 for path binary specs
  Cargo.lock
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/environment/conda_prefix.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/path.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(build): invalidate artifact and workspace caches on build config changes
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/workspace.rs
  crates/pixi_command_dispatcher/src/input_hash.rs
  crates/pixi_command_dispatcher/src/instantiate_backend_key.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

feat(build-python): allow mapping dependencies when conda-forge is not in channel list
  crates/pixi_build_python/src/config.rs
  crates/pixi_build_python/src/main.rs
  crates/pixi_build_python/src/pypi_mapping.rs
  docs/build/backends/pixi-build-python.md
Due: cargo-fmt, cargo-clippy

fix(manifest): reject channel in package runtime dependencies
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/package_target.rs
Due: cargo-fmt, cargo-clippy

fix(dispatch): resolve nested source dependencies declared in workspace
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_package.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_record.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/lock_file/satisfiability/legacy/key.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix(build_ros): normalize Windows CMake paths to forward slashes
  crates/pixi_build_ros/src/build_script.rs
  crates/pixi_build_ros/templates/bld_ament_cmake.bat
  crates/pixi_build_ros/templates/bld_catkin.bat
Due: cargo-fmt, cargo-clippy

test: re-apply flaky mojo test fix by pinning mojo version
  docs/source_files/conda_scripts/main.mojo
Due: none

fix(publish): preserve server URL path prefixes for Artifactory, Quetz, and Prefix
  crates/pixi_cli/src/publish/mod.rs
Due: cargo-fmt, cargo-clippy

fix(tls): merge SSL_CERT_FILE/DIR roots with configured certificates
  crates/pixi_config/src/lib.rs
  crates/pixi_utils/src/tls.rs
  docs/reference/pixi_configuration.md
Due: cargo-fmt, cargo-clippy

fix: prefer specific platforms matching host over generic fallback platforms
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

fix(build): include project.gui-scripts in python backend entry points
  crates/pixi_build_python/src/main.rs
  crates/pixi_build_python/src/metadata.rs
Due: cargo-fmt, cargo-clippy

fix(publish): skip existing package conflicts in multi-package batch upload
  crates/pixi_cli/src/publish/mod.rs
Due: cargo-fmt, cargo-clippy

fix(add): allow adding current directory as pypi path dependency with --path .
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

fix(build-r): support Bioconductor packages and custom dependency mapping
  crates/pixi_build_r/bioconductor_mapping/bioconductor_packages.json
  crates/pixi_build_r/src/config.rs
  crates/pixi_build_r/src/main.rs
  crates/pixi_build_r/src/metadata.rs
  docs/build/backends/pixi-build-r.md
  typos.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: respect PIXI_CACHE_CONDA_PACKAGES_DIR and cache.conda-packages
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_command_dispatcher/src/cache/markers.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix(cli): handle relative current directory path in pixi add --pypi --path
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

feat(build-cmake): export build variants to environment and support variants-as-cmake-args
  crates/pixi_build_cmake/src/config.rs
  crates/pixi_build_cmake/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(api): export manifest_path_string from pixi_api::workspace
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

test(tls): move test certificate to test_cert.crt and synchronize env tests
  crates/pixi_utils/src/tls.rs
  crates/pixi_utils/tests/test_cert.crt
  typos.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test(add): collapse whitespace when asserting formatted miette diagnostic
  crates/pixi/tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

fix(build-rust): isolate host CFLAGS during cross-compilation
  crates/pixi_build_rust/src/build_script.j2
  crates/pixi_build_rust/src/build_script.rs
Due: cargo-fmt, cargo-clippy

docs(cli): update run.md docs and add integration test for --fail-on-missing-files
  crates/pixi/tests/integration_rust/task_tests.rs
  crates/pixi_task/src/executable_task.rs
  docs/reference/cli/pixi/run.md
Due: cargo-fmt, cargo-clippy

test: add post-run glob checking to PixiControl::run test harness
  crates/pixi/tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

fix(task): use EnvironmentHash::from_environment in test_check_missing_globs
  crates/pixi_task/src/executable_task.rs
Due: cargo-fmt, cargo-clippy

chore(task): simplify glob pattern checks in check_missing_globs
  crates/pixi_task/src/executable_task.rs
Due: cargo-fmt, cargo-clippy

feat(cli): add --fail-on-missing-files flag and env var to pixi run (#5455)
  crates/pixi_cli/src/run.rs
  crates/pixi_task/src/error.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: add failing tests for bugs found by the agent
  crates/pixi_cli/src/config.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: aliases bugs + invalid config after unset
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

fix: improve config loading logic to handle local configuration files
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

fix: add examples
  docs/reference/cli/pixi/config/set_extender
  docs/reference/cli/pixi/config/unset_extender
  tests/integration_python/test_main_cli.py
Due: none

fix: lint cleanups
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

feat: add `exclude-newer` to the global manifest (#7016)
  .cargo/config.toml
  Cargo.lock
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/global_specs.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__invalid_key.snap
  crates/pixi_manifest/src/exclude_newer.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/lib.rs
  docs/global_tools/manifest.md
  tests/integration_python/pixi_build/test_global.py
  tests/integration_python/pixi_global/test_global.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: rerun docs generation
  docs/reference/cli/pixi/config/append.md
  docs/reference/cli/pixi/config/edit.md
  docs/reference/cli/pixi/config/list.md
  docs/reference/cli/pixi/config/prepend.md
  docs/reference/cli/pixi/config/set.md
  docs/reference/cli/pixi/config/unset.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
