Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

test(pypi): fix Windows cleanup fixture
  crates/pixi_install_pypi/src/conda_pypi_clobber.rs
Due: cargo-fmt, cargo-clippy

fix(exclude-newer): clamp leap-second cutoffs on the PyPI path too
  crates/pixi_spec/src/exclude_newer.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

perf(search): query the exact name first, use the name index only on miss
  crates/pixi_api/src/workspace/search/mod.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_spec): TOML parsing for pin specs
  crates/pixi_spec/src/pin.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_build_types): pin wire variants and api version 7
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_spec/src/pin.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_command_dispatcher): resolve pin constraints from backend outputs
  crates/pixi_cli/src/publish/discovery.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/build/pin_compatible.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/source_record.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_build_backend): render pin specs as jinja template items
  crates/pixi_build_backend/src/dependencies.rs
  crates/pixi_build_backend/src/specs_conversion.rs
  crates/pixi_build_backend/src/traits/package_spec.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_build_rattler_build/src/protocol.rs
  crates/pixi_build_type_conversions/src/project_model.rs
Due: cargo-fmt, cargo-clippy

test: cover pin specs in manifest parsing and conversions
  Cargo.lock
  crates/pixi_build_backend_passthrough/Cargo.toml
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/pin_adversarial.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/package.rs
  tests/data/workspaces/pin-adv-missing/package_a/pixi.toml
  tests/data/workspaces/pin-adv-missing/pixi.toml
  tests/data/workspaces/pin-compatible-manifest/package_a/pixi.toml
  tests/data/workspaces/pin-compatible-manifest/package_b/pixi.toml
  tests/data/workspaces/pin-compatible-manifest/pixi.toml
  tests/data/workspaces/pin-subpackage-run-exports/package_a/pixi.toml
  tests/data/workspaces/pin-subpackage-run-exports/package_b/pixi.toml
  tests/data/workspaces/pin-subpackage-run-exports/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(pixi_build_type_conversions): emit pin specs in the project model
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/project_model.rs
  schema/pixi_build_api.json
Due: cargo-fmt, cargo-clippy

chore: bump backends and test channel to pixi-build-api-version 7
  crates/pixi_build_cmake/pixi.toml
  crates/pixi_build_mojo/pixi.toml
  crates/pixi_build_python/pixi.toml
  crates/pixi_build_r/pixi.toml
  crates/pixi_build_rattler_build/pixi.toml
  crates/pixi_build_ros/pixi.toml
  crates/pixi_build_rust/pixi.toml
  pixi-build-backends/recipe/all-backends/recipe.yaml
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-6-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-7-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/channels/backend_channel_1/rattler-build-log.txt
  tests/data/channels/recipes/backend_channel_1/backend-with-compatible-api-version.yaml
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format

feat(pixi_manifest): pin-subpackage and pin-compatible specs in package tables
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/package_dependency_spec.rs
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/package_target.rs
  crates/pixi_manifest/src/toml/target.rs
  crates/pixi_manifest/src/utils/inheritable_package_map.rs
Due: cargo-fmt, cargo-clippy

refactor(search): destructure MatchSpec to keep bare-name check exhaustive
  crates/pixi_api/src/workspace/search/mod.rs
Due: cargo-fmt, cargo-clippy

docs+schema: pin-compatible and pin-subpackage
  docs/build/dependency_types.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/pixi_build_api.json
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: check-openssl, toml-format

refactor(search): match on MatchSpec instead of testing each field
  crates/pixi_api/src/workspace/search/mod.rs
Due: cargo-fmt, cargo-clippy

refactor(search): compare against a default spec to detect bare names
  crates/pixi_api/src/workspace/search/mod.rs
Due: cargo-fmt, cargo-clippy

docs+schema: drop the source-package note on `ConstraintSpec`
  crates/pixi_build_types/src/project_model.rs
  schema/pixi_build_api.json
Due: cargo-fmt, cargo-clippy

test: Use temp-var consistently
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

test: Run the local system detection tests without overrides
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

perf(search): fetch records only for the packages actually shown
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/search/mod.rs
  crates/pixi_cli/src/search.rs
Due: cargo-fmt, cargo-clippy

test: Use temp-var consistently (#6801)
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

refactor: turn closure-heavy conversions into named functions
  crates/pixi_build_backend/src/specs_conversion.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_manifest/src/toml/package_target.rs
Due: cargo-fmt, cargo-clippy

fix(pixi_manifest): explain `pin-compatible` in the own-name error help
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/utils/inheritable_package_map.rs
Due: cargo-fmt, cargo-clippy

test: rename `pin_adversarial` to `pin_compatible_errors`
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/pin_compatible_errors.rs
  tests/data/workspaces/pin-compatible-missing/package_a/pixi.toml
  tests/data/workspaces/pin-compatible-missing/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: format error message details with `Display` instead of `Debug`
  crates/pixi_build_backend/src/dependencies.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/legacy/key.rs
Due: cargo-fmt, cargo-clippy

docs: explain pin expressions and use inline tables in the pins example
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  docs/source_files/pixi_tomls/pixi-package-pins.toml
Due: check-openssl, toml-format

lint
  crates/pixi_api/src/context.rs
  examples/wasm-jupyterlite/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: pixi search with wildcard by default (#6791)
  crates/pixi/tests/integration_rust/search_tests.rs
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/search/mod.rs
  crates/pixi_cli/src/search.rs
  docs/reference/cli/pixi/search_extender
  examples/wasm-jupyterlite/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test(exclude-newer): keep a single saturation regression test
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_spec/src/exclude_newer.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

chore(pixi_uv_conversions): drop the now-unused jiff dependency
  crates/pixi_uv_conversions/Cargo.toml
Due: check-openssl, toml-format

chore: update Cargo.lock for the dropped jiff edge
  Cargo.lock
Due: none

Cache source inputs by content
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/backend_metadata.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

Acquire one I/O permit per file
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
Due: cargo-fmt, cargo-clippy

Parallelize source fingerprinting
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

Fix fingerprint edge cases
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Keep cache hits when fingerprint refresh fails
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
Due: cargo-fmt, cargo-clippy

Address review comments
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

Introduce InputSnapshot for source input validation
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/input_snapshot.rs
  crates/pixi_command_dispatcher/src/lib.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

Confirm out-of-window fingerprints across builds
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/input_snapshot.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

Compact artifact cache tests behind fixture helpers
  crates/pixi_command_dispatcher/src/cache/artifact.rs
Due: cargo-fmt, cargo-clippy

Fix holes the second adversarial round found
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/input_snapshot.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
