Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

misc: add styling
  src/cli/global/update.rs
  src/global/common.rs
Due: fmt, clippy, test

feat: use uv to build pybind11 modules
  examples/pybind11/pixi.lock
  examples/pybind11/pyproject.toml
Due: taplo

POC: pixi diff
  src/cli/diff.rs
  src/cli/mod.rs
  src/cli/update.rs
Due: fmt, clippy, test

Clean up lockfile loading
  src/cli/diff.rs
Due: fmt, clippy, test

feat: add scm option for init
  src/cli/init.rs
Due: fmt, clippy, test

feat: Add scm to InitBuilder
  tests/common/mod.rs
Due: fmt, clippy, test

misc: update how we store changes
  crates/pixi_consts/src/consts.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/mod.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: update how we store changes
  src/global/common.rs
Due: fmt, clippy, test

misc: rename var
  src/cli/global/update.rs
Due: fmt, clippy, test

Let `report` take ownership. That way we make sure that reporting only happens once and we can avoid the unneccesary mutable variable outside the function call
  src/cli/global/add.rs
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/remove.rs
  src/cli/global/sync.rs
  src/cli/global/uninstall.rs
  src/cli/global/update.rs
  src/global/common.rs
Due: fmt, clippy, test

misc: add tests
  tests/integration/conftest.py
  tests/integration/test_data/channels/non_self_expose_channel_2/linux-64/jupyter-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/linux-64/jupyter-core-0.2.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/linux-64/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_2/noarch/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_2/osx-64/jupyter-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/osx-64/jupyter-core-0.2.0-h0dc7051_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/osx-64/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_2/osx-arm64/jupyter-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/osx-arm64/jupyter-core-0.2.0-h60d57d3_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/osx-arm64/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_2/win-64/jupyter-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/win-64/jupyter-core-0.2.0-h9490d1a_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_2/win-64/repodata.json
  tests/integration/test_data/mappings.toml
  tests/integration/test_data/recipes/non_self_expose_channel_2.yaml
  tests/integration/test_global.py
Due: check-yaml, taplo

misc: remove version style
  crates/pixi_consts/src/consts.rs
Due: fmt, clippy, test

misc: add better comments
  src/global/common.rs
Due: fmt, clippy, test

misc: switch to correctly use trampoline for unix
  src/global/install.rs
  src/global/trampoline.rs
Due: fmt, clippy, test

misc: move typecheck-tests
  pixi.toml
Due: taplo

misc: move typecheck-tests
  pixi.lock
  pixi.toml
Due: taplo

Add "pytest" to "lint" env
  pixi.lock
  pixi.toml
Due: taplo

misc: apply review changes
  src/global/common.rs
  tests/integration/conftest.py
  tests/integration/test_data/channels/non_self_expose_channel/linux-64/jupyter-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/linux-64/jupyter-core-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/osx-64/jupyter-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/osx-64/jupyter-core-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/osx-arm64/jupyter-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/osx-arm64/jupyter-core-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/win-64/jupyter-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/non_self_expose_channel/win-64/jupyter-core-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/linux-64/jupyter-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/linux-64/jupyter-core-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/linux-64/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_1/noarch/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_1/osx-64/jupyter-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/osx-64/jupyter-core-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/osx-64/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_1/osx-arm64/jupyter-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/osx-arm64/jupyter-core-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/osx-arm64/repodata.json
  tests/integration/test_data/channels/non_self_expose_channel_1/win-64/jupyter-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/win-64/jupyter-core-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/non_self_expose_channel_1/win-64/repodata.json
  tests/integration/test_data/mappings.toml
  tests/integration/test_data/recipes/non_self_expose_channel_1.yaml
  tests/integration/test_global.py
Due: check-yaml, taplo, fmt, clippy, test

Make it more functional
  src/global/common.rs
Due: fmt, clippy, test

fix: use uv from conda-forge
  examples/pybind11/pixi.lock
  examples/pybind11/pyproject.toml
Due: taplo

misc: color only version
  src/global/common.rs
Due: fmt, clippy, test

Adapt caching
  .github/workflows/rust.yml
Due: check-yaml

Rename `test-all` to `test-workspace`
  .github/workflows/rust.yml
  CONTRIBUTING.md
  pixi.toml
Due: check-yaml, taplo

misc: removed unused stuff
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/mod.rs
  src/global/trampoline.rs
Due: fmt, clippy, test

misc: remove unused stuff
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
Due: fmt, clippy, test

fix: use the uv command directly
  examples/pybind11/pyproject.toml
Due: taplo

Allow to specify custom version during build
  crates/pixi_consts/src/consts.rs
  docs/packaging.md
  src/cli/mod.rs
  tbump.toml
Due: taplo, fmt, clippy, test

reimplement barrier cell on OnceLock
  crates/barrier_cell/src/lib.rs
Due: fmt, clippy, test

fix doc link
  crates/barrier_cell/src/lib.rs
Due: fmt, clippy, test

use built in string methods
  crates/pixi_manifest/src/task.rs
Due: fmt, clippy, test

clippy
  crates/pixi_manifest/src/task.rs
Due: fmt, clippy, test

misc: add some integration tests
  Cargo.lock
  Cargo.toml
  crates/pixi_trampoline/src/main.rs
  src/global/install.rs
  src/global/trampoline.rs
  src/prefix.rs
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_data/channels/trampoline/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/trampoline/linux-64/repodata.json
  tests/integration/test_data/channels/trampoline/noarch/repodata.json
  tests/integration/test_data/channels/trampoline/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/trampoline/osx-64/repodata.json
  tests/integration/test_data/channels/trampoline/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/trampoline/osx-arm64/repodata.json
  tests/integration/test_data/channels/trampoline/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/trampoline/win-64/repodata.json
  tests/integration/test_data/mappings.toml
  tests/integration/test_data/recipes/trampoline/check_env.bat
  tests/integration/test_data/recipes/trampoline/check_env.sh
  tests/integration/test_data/recipes/trampoline/trampoline.yaml
  tests/integration/test_global.py
  tests/integration/test_trampoline.py
Due: check-yaml, taplo, fmt, clippy, test

misc: update tests
  Cargo.lock
  Cargo.toml
  crates/pixi_trampoline/src/main.rs
  src/global/trampoline.rs
Due: taplo, fmt, clippy, test

misc: exclude pixi_trampoline
  Cargo.lock
  Cargo.toml
Due: taplo

misc: uncomment back code
  tests/integration/test_data/mappings.toml
Due: taplo

misc: use correctly trampoline
  src/global/trampoline.rs
Due: fmt, clippy, test

misc: fix path usage in window case
  src/global/install.rs
Due: fmt, clippy, test
