Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: enable `pixi_build_types` feature on `pixi_spec` in type conversions
  crates/pixi_build_type_conversions/Cargo.toml
Due: check-openssl, toml-format

fix: enable `pixi_build_types` feature on `pixi_spec` in type conversions (#6853)
  crates/pixi_build_type_conversions/Cargo.toml
Due: check-openssl, toml-format

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
Due: check-openssl, toml-format

chore: bump backend versions (#6854)
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
Due: check-openssl, toml-format

Add `default-conda-pypi-map` to `Config.toml`.
  Cargo.lock
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/conda_pypi_map.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/toml/conda_pypi_map.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump version to v0.77.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add pixi workspace preview command
  Cargo.lock
  crates/pixi/tests/integration_rust/snapshots/integration_rust__add_tests__git_dependency_without_preview_error.snap
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_api/src/workspace/workspace/mod.rs
  crates/pixi_api/src/workspace/workspace/preview.rs
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/preview.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@non-pixi-build_project_pixi.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-pixi-build_project.snap
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__build_section_without_preview.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__package_without_build_section.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_target_without_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_without_pixi_build.snap
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/utils/inheritable_package_map.rs
  crates/pixi_manifest/src/utils/package_map.rs
  docs/reference/cli/pixi/workspace/index.md
  docs/reference/cli/pixi/workspace/preview/add.md
  docs/reference/cli/pixi/workspace/preview/index.md
  docs/reference/cli/pixi/workspace/preview/list.md
  docs/reference/cli/pixi/workspace/preview/remove.md
  tests/integration_python/test_main_cli.py
  zensical.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: complete the known preview features in the shell completions
  crates/pixi_cli/src/workspace/preview.rs
  docs/reference/cli/pixi/workspace/preview/add.md
  docs/reference/cli/pixi/workspace/preview/remove.md
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: don't remove preview features the workspace still uses
  crates/pixi_api/src/workspace/workspace/preview.rs
Due: cargo-fmt, cargo-clippy

fix: let pixi workspace preview add fix a manifest that fails to load
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/workspace/preview.rs
  crates/pixi_cli/src/workspace/preview.rs
  crates/pixi_manifest/src/manifests/document.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix(pixi-build-mojo): use .mojoc with precompile
  crates/pixi_build_mojo/src/build_script.j2
  crates/pixi_build_mojo/src/build_script.rs
  crates/pixi_build_mojo/src/config.rs
  docs/build/backends/pixi-build-mojo.md
Due: cargo-fmt, cargo-clippy

chore: bump version to v0.77.0 (#6857)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(pixi-build-mojo): use .mojoc with precompile (#6860)
  crates/pixi_build_mojo/src/build_script.j2
  crates/pixi_build_mojo/src/build_script.rs
  crates/pixi_build_mojo/src/config.rs
  docs/build/backends/pixi-build-mojo.md
Due: cargo-fmt, cargo-clippy

fix: improve the preview add/remove UX
  crates/pixi_api/src/workspace/workspace/preview.rs
  crates/pixi_cli/src/workspace/preview.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: apply cargo fmt and ruff import sorting
  crates/pixi_manifest/src/manifests/workspace.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: update insta path filter to match new preview help text
  crates/pixi/tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

fix: remove backends channel from pixi repo
  pixi.toml
Due: check-openssl, toml-format

fix: remove backends channel from pixi repo (#6862)
  pixi.toml
Due: check-openssl, toml-format

fix: scope feature platforms to the environments that use them
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_api/src/workspace/platforms.rs
  crates/pixi_api/src/workspace/task/mod.rs
  crates/pixi_cli/src/import.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/platform_composition.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

Spell it `unparsable` so `typos` is happy
  crates/pixi_command_dispatcher/src/cache/common.rs
Due: cargo-fmt, cargo-clippy

Assert the artifact mtimes stay put on a cached install
  tests/integration_python/pixi_build/test_build.py
Due: none

fix: avoid rebuilds for mtime-only source changes (#6703)
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/input_snapshot.rs
  crates/pixi_command_dispatcher/src/keys/backend_binary_fingerprint.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  tests/integration_python/pixi_build/test_build.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
Due: check-openssl, toml-format

chore: bump backend versions (#6863)
  Cargo.lock
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
Due: check-openssl, toml-format

Update crates/pixi/tests/integration_rust/snapshots/integration_rust__add_tests__git_dependency_without_preview_error.snap
  crates/pixi/tests/integration_rust/snapshots/integration_rust__add_tests__git_dependency_without_preview_error.snap
Due: none

test: replace the review-probe tests with focused coverage
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

refactor: edit the manifest directly for preview add/remove
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/snapshots/integration_rust__add_tests__git_dependency_without_preview_error.snap
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_api/src/workspace/workspace/preview.rs
  crates/pixi_cli/src/workspace/preview.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/preview.rs
Due: cargo-fmt, cargo-clippy

refactor: deduplicate the platform-scoping plumbing
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pixi_api/src/workspace/platforms.rs
  crates/pixi_api/src/workspace/task/mod.rs
  crates/pixi_cli/src/import.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/platform_composition.rs
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

fix(docs): render lists in the generated CLI docs
  crates/pixi_docs/src/main.rs
  docs/reference/cli/pixi/publish.md
Due: cargo-fmt, cargo-clippy

docs: fix lists that render as plain text
  docs/build/backends/pixi-build-mojo.md
  docs/integration/extensions/introduction.md
  docs/python/pytorch.md
  docs/reference/pixi_configuration.md
  docs/reference/pixi_manifest.md
  docs/workspace/advanced_tasks.md
  docs/workspace/environment.md
  docs/workspace/lock_file.md
  docs/workspace/multi_platform_configuration.md
Due: none

fix(docs): render lists in the generated CLI docs (#6868)
  crates/pixi_docs/src/main.rs
  docs/reference/cli/pixi/publish.md
Due: cargo-fmt, cargo-clippy

docs: fix lists that render as plain text (#6871)
  docs/build/backends/pixi-build-mojo.md
  docs/integration/extensions/introduction.md
  docs/python/pytorch.md
  docs/reference/pixi_configuration.md
  docs/reference/pixi_manifest.md
  docs/workspace/advanced_tasks.md
  docs/workspace/environment.md
  docs/workspace/lock_file.md
  docs/workspace/multi_platform_configuration.md
Due: none

Revert "feat: add `magic_enum` to `pixi-build-ros` mapping (#6830)"
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

fix: defer and improve channel notice rendering
  Cargo.lock
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/search.rs
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/lib.rs
  crates/pixi_reporters/src/repodata_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: remember viewed channel notices
  Cargo.lock
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/repodata_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: use fs-err for notice cache
  Cargo.lock
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/repodata_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: suppress channel notices for JSON search
  crates/pixi_cli/src/search.rs
Due: cargo-fmt, cargo-clippy

chore: revert "feat: add `magic_enum` to `pixi-build-ros`" (#6873)
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

Require --force to remove a preview feature the manifest still needs
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/workspace/preview.rs
  crates/pixi_cli/src/workspace/preview.rs
  docs/reference/cli/pixi/workspace/preview/remove.md
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
