Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

test: cover more with downstream tests (#3113)
  .github/workflows/ci.yml
Due: check-yaml, actionlint

fix
  .github/workflows/ci.yml
  .github/workflows/test_common_wheels.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format

fix
  pixi.toml
Due: check-openssl, toml-format

fix
  src/global/project/mod.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

fixes
  docs/advanced/s3.md
Due: none

fix
  docs/advanced/github_actions.md
Due: none

Update authentication.md
  docs/advanced/authentication.md
Due: none

Update updates_github_actions.md
  docs/advanced/updates_github_actions.md
Due: none

fix: changing cmake doesn't trigger rebuild (#3102)
  src/build/mod.rs
Due: cargo-fmt, cargo-clippy

chore: improve error messages on prefix issues
  src/environment/conda_prefix.rs
  src/prefix.rs
Due: cargo-fmt, cargo-clippy

chore: add help
  src/prefix.rs
Due: cargo-fmt, cargo-clippy

misc: add also mention of git deps
  docs/build/getting_started.md
  docs/source_files/pixi_tomls/simple_pixi_build.toml
Due: check-openssl, toml-format

test: improve `test_build_conda_package`
  tests/integration_python/pixi_build/test_build.py
Due: none

test: improve `test_build_conda_package` (#3127)
  tests/integration_python/pixi_build/test_build.py
Due: none

fix: `BUILD_EDITABLE_PYTHON` env flag
  tests/integration_python/pixi_build/test_build.py
Due: none

clean up
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/manifest.rs
  schema/model.py
  schema/schema.json
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

revert some more changes
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__tool_parsing.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

review
  crates/pixi_config/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-clippy

fix
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

remove unused file
  examples/s3-package-server/aws.config
Due: none

test config parsing
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__configuration_parsing.snap
Due: cargo-fmt, cargo-clippy

feat: implement `package.build.configuration` parsing (#3115)
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__configuration_parsing.snap
  schema/model.py
  schema/schema.json
Due: cargo-fmt, cargo-clippy

fix: reinstall if required is source and installed is from registry.
  src/install_pypi/mod.rs
  src/install_pypi/plan/mod.rs
  src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

Update tests
  tests/integration_python/pixi_build/test_build.py
Due: none

misc: change docs for build deps
  docs/build/getting_started.md
Due: none

Remove backend override
  tests/integration_python/pixi_build/test_build.py
Due: none

Minor changes
  docs/build/getting_started.md
Due: none

feat: mention git deps in pixi build docs (#3126)
  docs/build/getting_started.md
  docs/source_files/pixi_tomls/simple_pixi_build.toml
Due: check-openssl, toml-format

remove example
  examples/s3-package-server/pixi.lock
  examples/s3-package-server/pixi.toml
Due: check-openssl, toml-format

add some debugging for shell activation
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

always use `write_all` and `flush`
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

feat: Add S3 backend support (#2825)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_config/tests/config/config_1.toml
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/s3.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/s3_options.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/reqwest.rs
  docs/advanced/authentication.md
  docs/reference/cli.md
  pixi.toml
  schema/model.py
  schema/schema.json
  src/cli/build.rs
  src/cli/exec.rs
  src/cli/init.rs
  src/cli/search.rs
  src/conda_prefix_updater.rs
  src/environment/conda_prefix.rs
  src/global/project/mod.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
  src/repodata.rs
  src/workspace/mod.rs
  src/workspace/repodata.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/solve_group_tests.rs
Due: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: update pypi deps reference
  crates/pixi_uv_conversions/src/requirements.rs
  docs/reference/cli.md
  docs/reference/pixi_manifest.md
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

misc: remove eprintln
  crates/pixi_uv_conversions/src/requirements.rs
Due: cargo-fmt, cargo-clippy

fix: S3 tests
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

try to fix by using a rolling buffer
  crates/pixi_pty/src/unix/pty_session.rs
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

fix: S3 tests (#3134)
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

docs: Add S3 documentation (#2835)
  docs/advanced/authentication.md
  docs/advanced/github_actions.md
  docs/advanced/s3.md
  docs/advanced/updates_github_actions.md
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
  examples/wasm-jupyterlite/README.md
  mkdocs.yml
Due: check-yaml, check-openssl, toml-format

fix: `BUILD_EDITABLE_PYTHON` env flag (#3128)
  tests/integration_python/pixi_build/test_build.py
Due: none

only build win-arm64 on main [skip ci]
  .github/workflows/ci.yml
Due: check-yaml, actionlint

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
