Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: update ROS backend snapshots and CI change detection
  .github/workflows/ci.yml
  pixi-build-backends/backends/pixi-build-ros/tests/unit/__snapshots__/test_package_xml.ambr
  pixi-build-backends/backends/pixi-build-ros/tests/unit/__snapshots__/test_version_constraints.ambr
Due: check-yaml, actionlint, yaml-format

docs: pin `click` package
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix: support `pixi config set` for allow-*-links options
  crates/pixi_cli/src/config.rs
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

wip
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap
Due: check-openssl, toml-format

docs: pin `click` package (#5532)
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

test: add integration tests for allow-*-links config options
  tests/integration_python/test_main_cli.py
Due: none

wip
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_api/Cargo.toml
Due: check-openssl, toml-format

wip
  crates/pixi/tests/integration_rust/search_tests.rs
  crates/pixi/tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap
  crates/pixi_cli/src/search.rs
Due: cargo-fmt, cargo-clippy

wip
  crates/pixi_cli/src/search.rs
  deny.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/search_tests.rs
  crates/pixi_cli/src/search.rs
Due: cargo-fmt, cargo-clippy

fix
  docs/reference/cli/pixi/auth/login.md
  docs/reference/cli/pixi/search.md
Due: none

docs: Fix typo
  docs/index.md
Due: none

fix
  tests/integration_python/test_main_cli.py
Due: none

docs: Fix typo (#5533)
  docs/index.md
Due: none

feat: add robust error-on-missing-globs configuration #5455
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_task/src/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: resolve failing tests and snapshot mismatch
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
Due: cargo-fmt, cargo-clippy

docs: add PowerShell examples and Invoke-Expression warning to shell-hook
  crates/pixi_cli/src/shell_hook.rs
Due: cargo-fmt, cargo-clippy

Regenerate CLI documentation
  docs/reference/cli/pixi/shell-hook.md
Due: none

feat(pixi-build-rust): allow selecting specific cargo binaries to install
  crates/pixi_build_rust/src/config.rs
  crates/pixi_build_rust/src/main.rs
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: Allow to solve environments with different platforms in the same solve group
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  src/lock_file/outdated.rs
  src/project/solve_group.rs
  tests/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

Add test
  crates/pixi/tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

Make compilable
  repro/pixi.toml
Due: check-openssl, toml-format

Revert
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
Due: cargo-fmt, cargo-clippy

Fix
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/workspace/solve_group.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  repro/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Fix
  crates/pixi/tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

Lint
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/workspace/solve_group.rs
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

update snapshots
  pixi-build-backends/backends/pixi-build-ros/tests/unit/__snapshots__/test_package_xml.ambr
  pixi-build-backends/backends/pixi-build-ros/tests/unit/__snapshots__/test_version_constraints.ambr
Due: none

chore: update snapshots (#5539)
  pixi-build-backends/backends/pixi-build-ros/tests/unit/__snapshots__/test_package_xml.ambr
  pixi-build-backends/backends/pixi-build-ros/tests/unit/__snapshots__/test_version_constraints.ambr
Due: none

chore: version to 0.64.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  cliff.toml
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pixi.toml
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

add highlight
  CHANGELOG.md
Due: none

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-loongarch64-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-riscv64gc-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

docs: Fix callout formatting
  docs/advanced/override.md
Due: none

docs: Fix callout formatting (#5542)
  docs/advanced/override.md
Due: none

refactor: use builder pattern for task graph test helpers
  crates/pixi_task/src/task_graph.rs
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add choices constraint to task arguments
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_task/src/task_graph.rs
  docs/source_files/pixi_tomls/task_arguments.toml
  docs/workspace/advanced_tasks.md
  schema/model.py
  schema/schema.json
  tests/integration_python/test_main_cli.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: prepare v0.64.0 (#5540)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  cliff.toml
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pixi.toml
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update docs/workspace/advanced_tasks.md
  docs/workspace/advanced_tasks.md
Due: none

refactor: split build-trampoline.py into separate build and compress scripts
  .github/workflows/trampoline.yaml
  pixi.toml
  trampoline/compress-trampoline.py
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

chore: remove backends from default members
  Cargo.toml
  pixi.toml
Due: check-openssl, toml-format

docs: Improve documentation for shell completions
  docs/advanced/pixi_shell.md
  docs/global_tools/introduction.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
