Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix(test): allow git checkout in source-engine tests
  crates/pixi_compute_sources/tests/common/mod.rs
Due: cargo-fmt, cargo-clippy

fix(deps): bump quinn-proto to 0.11.15 (#7103)
  Cargo.lock
Due: none

fix: use release profile for global install and compute sha256 for path binary specs
  Cargo.lock
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/environment/conda_prefix.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/path.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: default osx-arm64 to macOS 14.0 and keep locks solved against lower defaults
  crates/pixi_core/src/lock_file/platform_rename.rs
  crates/pixi_core/src/lock_file/satisfiability/environment.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/workspace/snapshots/pixi_core__workspace__virtual_packages__tests__get_minimal_virtual_packages@osx-arm64.snap
  crates/pixi_core/src/workspace/stdlib_variants.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/build/variants.md
  docs/workspace/system_requirements.md
Due: cargo-fmt, cargo-clippy

fix(git): clear repository-selecting GIT_* env vars on every git spawn
  crates/pixi_git/src/git.rs
  crates/pixi_git/tests/git_env.rs
Due: cargo-fmt, cargo-clippy

Add automake and autoconf for ros2_canopen
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

feat: automake and autoconf for ros2_canopen (#7110)
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

fix(lock-file): a requested conda extra must be declared by the locked package
  Cargo.lock
  Cargo.toml
  crates/pixi_core/src/lock_file/satisfiability/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@conda-extra-not-declared.snap
  tests/data/non-satisfiability/conda-extra-not-declared/pixi.lock
  tests/data/non-satisfiability/conda-extra-not-declared/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: CLI arg `--clean-env` is no longer ignored (#7096)
  crates/pixi_cli/src/task.rs
  crates/pixi_manifest/src/task.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix: support all config keys in `pixi config list <key>`
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

fix(global): fallback to shortest path for exposed nested executables
  crates/pixi_global/src/install.rs
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

fix: support all config keys in `pixi config list <key>` (#7117)
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

feat(config): accept concrete bucket names in `config list --describe`
  crates/pixi_cli/src/config.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

chore(ci): Upgrade Pixi dependencies
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix: honor CARGO_BUILD_RUSTFLAGS in PGO builds
  scripts/build_pgo.py
Due: none

fix: honor CARGO_BUILD_RUSTFLAGS in PGO builds (#7121)
  scripts/build_pgo.py
Due: none

fix(init): append newline to .gitignore if missing
  crates/pixi_api/src/workspace/init/mod.rs
  tests/integration_python/test_init.py
Due: cargo-fmt, cargo-clippy

docs: regenerate CLI docs for new upload flags
  docs/reference/cli/pixi/upload/quetz.md
  docs/reference/cli/pixi/upload/s3.md
Due: none

test: skip flaky cpp-git-source on macos
  tests/integration_python/pixi_build/test_examples_satisfiability.py
Due: none

fix(windows): embed long-path-aware manifest in pixi
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/pixi/Cargo.toml
  crates/pixi/build.rs
  scripts/check-windows-manifest.ps1
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

test(barrier_cell): add unit tests for BarrierCell
  crates/barrier_cell/Cargo.toml
  crates/barrier_cell/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: use relative import for common in test_clean
  tests/integration_python/test_clean.py
Due: none

test: add integration tests for pixi clean
  tests/integration_python/test_clean.py
Due: none

style: remove unused imports
  tests/integration_python/test_clean.py
Due: none

fix(lock): make --check imply --dry-run so lockfile isn't modified
  crates/pixi_cli/src/lock.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

chore(deps): bump `tapi` for macOS 27
  pixi.lock
Due: none

fix: fingerprint packages without SHA-256 checksums
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_utils/src/environment_fingerprint.rs
Due: cargo-fmt, cargo-clippy

feat: support amdgpu in the rich platform table
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_manifest/src/toml/platform.rs
  docs/reference/cli/pixi/workspace/platform/add.md
  docs/reference/cli/pixi/workspace/platform/edit.md
  docs/workspace/multi_platform_configuration.md
  docs/workspace/system_requirements.md
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/data/channels/channels/virtual_packages/noarch/amdgpu-arch-0.1.0-gfx1100_0.conda
  tests/data/channels/channels/virtual_packages/noarch/amdgpu-arch-0.1.0-gfx90a_0.conda
  tests/data/channels/channels/virtual_packages/noarch/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/virtual_packages/amdgpu-arch-gfx1100.yaml
  tests/data/channels/recipes/virtual_packages/amdgpu-arch-gfx90a.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

chore: Pin the unreleased detector dependencies
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_test_utils/src/mock_repo_data.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore(deps): bump `tapi` for macOS 27 (#7142)
  pixi.lock
Due: none

chore: Pin the unreleased detector dependencies
  Cargo.lock
  Cargo.toml
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_test_utils/src/mock_repo_data.rs
  tests/scripts/zsh-completion-probe.zsh
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: hand raw virtual packages of a platform to the solver
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_core/src/lock_file/platform_setup.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/toml/platform.rs
  docs/reference/pixi_manifest.md
  docs/workspace/multi_platform_configuration.md
Due: cargo-fmt, cargo-clippy

feat: ask before running a virtual package detector and show detectors in pixi info
  CHANGELOG.md
  crates/pixi/tests/integration_rust/main.rs
  crates/pixi/tests/integration_rust/virtual_package_detector_cli_tests.rs
  crates/pixi/tests/integration_rust/virtual_package_detector_host_review_tests.rs
  crates/pixi_cli/src/clean.rs
  crates/pixi_cli/src/detector_consent.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/import.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_cli/src/install.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_cli/src/reinstall.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/search.rs
  crates/pixi_cli/src/shell.rs
  crates/pixi_cli/src/shell_hook.rs
  crates/pixi_cli/src/update.rs
  crates/pixi_cli/src/upgrade.rs
  crates/pixi_cli/src/workspace/export/conda_explicit_spec.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_global/src/project/mod.rs
  docs/reference/cli/pixi/clean/cache.md
  docs/reference/cli/pixi/workspace/platform/add.md
  docs/reference/cli/pixi/workspace/platform/edit.md
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_virtual_package_detectors.py
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

feat: Run channel-registered virtual package detectors during host detection
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/main.rs
  crates/pixi/tests/integration_rust/virtual_package_detector_tests.rs
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/detector_consent.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/host.rs
  crates/pixi_core/src/host/environment.rs
  crates/pixi_core/src/host/interactive.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/rayon_primer.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/platform/host.rs
  crates/pixi_utils/src/prefix.rs
  docs/reference/pixi_configuration.md
  docs/workspace/multi_platform_configuration.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
