Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

commented [expect(unused)] for with_extra_build_requires fucntion for CI since the function is no longer unused
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
Due: cargo-fmt, cargo-clippy

added some comments
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_uv_context/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor: rename pixi_build_* crates to pixi-build-*
  Cargo.lock
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
  pixi-build-backends/recipe/all-backends/recipe.yaml
  pixi-build-backends/scripts/generate-versions.py
Due: check-yaml, check-openssl, toml-format, yaml-format

refactor: rename pixi_build_* crates to pixi-build-* (#5747)
  Cargo.lock
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
  pixi-build-backends/recipe/all-backends/recipe.yaml
  pixi-build-backends/scripts/generate-versions.py
Due: check-yaml, check-openssl, toml-format, yaml-format

add unit tests
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

added missing toml snippet close fence
  docs/reference/pixi_manifest.md
Due: none

removed comments
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

added comments
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

lint
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

added extra-build-dependencies as expected key in the snapshots
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__schema_must_be_string.snap
Due: none

added integration smoke test to verify [extra-build-dependencies] is accepted in a real pypi lock/update
  crates/pixi/tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

switched install planning indexes to use context-provided extra build requires/config/variables instead of local defaults
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

passed context.extra_build_requires into solve-time UvBuildDispatchParams
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

add UvResolutionContext.extra_build_dependencies from workspace manifest during both lock update context initialization paths
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

added conversion from manifest to uv ExtraBuildRequires and tests for the conversion behavior
  crates/pixi_uv_context/src/lib.rs
Due: cargo-fmt, cargo-clippy

initialized Workspace.extra_build_dependencies to None on workspave TOML conversion
  crates/pixi_manifest/src/toml/workspace.rs
Due: cargo-fmt, cargo-clippy

added Workspace.extra_build_dependencies to store per-package extra PEP508 build requirements
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

added parsing for [extra-build-dependencies] and a test for the same
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_uv_context/Cargo.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

recorded lockfile dependency updates from the new pixi_uv_context crate dependencies
  Cargo.lock
Due: none

merge conflicts resolved
  crates/pixi_uv_context/src/lib.rs
Due: cargo-fmt, cargo-clippy

Fix abi3 run export handling for pixi-build-python
  crates/pixi_build_backend/src/specs_conversion.rs
  crates/pixi_build_python/src/config.rs
  crates/pixi_build_python/src/main.rs
  crates/recipe_stage0/src/marked_yaml.rs
  crates/recipe_stage0/src/recipe.rs
  docs/build/backends/pixi-build-python.md
  pixi-build-backends/py-pixi-build-backend/src/recipe_stage0/recipe.rs
Due: cargo-fmt, cargo-clippy

fmt
  crates/pixi_build_python/src/main.rs
  crates/recipe_stage0/src/marked_yaml.rs
Due: cargo-fmt, cargo-clippy

docs: Fixed override example (#5739)
  docs/advanced/override.md
Due: none

Update index.md
  docs/index.md
Due: none

docs: fix rendering rust example `index.md` (#5753)
  docs/index.md
Due: none

refactor: Wrap all PypiPackageData into UnresolvedPypiRecord
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/required_dists.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/validation.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Introduce InstallablePypiRecord
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/planner.rs
  crates/pixi_install_pypi/src/plan/required_dists.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/validation.rs
Due: cargo-fmt, cargo-clippy

refactor: Introduce LockedPypiRecord
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

Add more tests that need the newest rattler
  crates/pixi/tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

docs: remove pixi-build-backends channel from doc examples
  docs/build/backends/pixi-build-ros.md
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_cmake_ros_pkg/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/pixi.toml
Due: check-openssl, toml-format

docs: use 0.* for build backend versions in doc examples
  docs/build/backends/pixi-build-mojo.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/dev/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

docs: remove pixi-build-backends channel from doc examples (#5735)
  docs/build/backends/pixi-build-mojo.md
  docs/build/backends/pixi-build-ros.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/dev/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_cmake_ros_pkg/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

refactor with warnings
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

use async write if dir is readonly, give a warn ab atomicity
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

sync fn sync write
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

add integration test and refactor
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

replace std:fs with fs_err, lint
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
