Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat: add exclude-newer to workspace
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/exclude_newer.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  docs/reference/pixi_manifest.md
  examples/jupyterlab/Factoring.ipynb
  examples/jupyterlab/Image_Browsing.ipynb
  examples/jupyterlab/LorenzDifferentialEquations.ipynb
  examples/wasm-jupyterlite/files/Matplotlib.ipynb
  schema/model.py
  schema/schema.json
  src/lock_file/outdated.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/satisfiability.rs
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-channel-priority.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-channel-priority2.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-exclude-newer.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-exclude-newer2.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-exclude-newer3.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-solve-strategy.snap
  src/lock_file/update.rs
  src/lock_file/utils.rs
  tests/data/non-satisfiability/mismatch-channel-priority/pixi.lock
  tests/data/non-satisfiability/mismatch-channel-priority/pixi.toml
  tests/data/non-satisfiability/mismatch-channel-priority2/pixi.lock
  tests/data/non-satisfiability/mismatch-channel-priority2/pixi.toml
  tests/data/non-satisfiability/mismatch-exclude-newer/pixi.lock
  tests/data/non-satisfiability/mismatch-exclude-newer/pixi.toml
  tests/data/non-satisfiability/mismatch-exclude-newer2/pixi.lock
  tests/data/non-satisfiability/mismatch-exclude-newer2/pixi.toml
  tests/data/non-satisfiability/mismatch-exclude-newer3/pixi.lock
  tests/data/non-satisfiability/mismatch-exclude-newer3/pixi.toml
  tests/data/non-satisfiability/mismatch-solve-strategy/pixi.lock
  tests/data/non-satisfiability/mismatch-solve-strategy/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update schema and test functions
  schema/model.py
  schema/schema.json
  schema/test_manifest.py
Due: none

Extend tests
  docs/source_files/pixi_tomls/task_minijinja_filter.toml
  docs/source_files/pixi_workspaces/minijinja/task_args/pixi.lock
  docs/source_files/pixi_workspaces/minijinja/task_args/pixi.toml
  tests/integration_python/__snapshots__/test_docs_examples.ambr
  tests/integration_python/conftest.py
  tests/integration_python/test_docs_examples.py
Due: check-openssl, toml-format

Update example and snapshot
  docs/source_files/pixi_workspaces/minijinja/task_args/pixi.toml
  docs/workspace/advanced_tasks.md
  tests/integration_python/__snapshots__/test_docs_examples.ambr
Due: check-openssl, toml-format

feat: add a test for exclude-newer
  crates/pixi_manifest/src/lib.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/satisfiability.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/common/package_database.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

Fix up error type
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: test
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-channel-priority.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-channel-priority2.snap
  src/lock_file/snapshots/pixi__lock_file__satisfiability__tests__failing_satisiability@mismatch-solve-strategy.snap
Due: none

feat: support pypi as well
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: issues
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/workspace.rs
  crates/pixi_uv_conversions/Cargo.toml
  pixi_docs/Cargo.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Add platforms
  docs/source_files/pixi_workspaces/minijinja/task_args/pixi.toml
Due: check-openssl, toml-format

fix: pre-commit
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
Due: check-openssl, toml-format

refactor: integrate minijinja for tasks' command's rendering (#3579)
  Cargo.lock
  crates/pixi_consts/src/consts.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__target_specific_tasks.snap
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_manifest/src/workspace.rs
  docs/source_files/pixi_tomls/task_minijinja_simple.toml
  docs/source_files/pixi_workspaces/minijinja/task_args/pixi.lock
  docs/source_files/pixi_workspaces/minijinja/task_args/pixi.toml
  docs/workspace/advanced_tasks.md
  pixi_docs/Cargo.lock
  schema/model.py
  schema/schema.json
  schema/test_manifest.py
  src/cli/run.rs
  src/cli/task.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
  src/task/task_hash.rs
  src/workspace/environment.rs
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks-2.snap
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks-3.snap
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks.snap
  tests/integration_python/__snapshots__/test_docs_examples.ambr
  tests/integration_python/conftest.py
  tests/integration_python/test_docs_examples.py
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
  trampoline/Cargo.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: update lockfiles
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
Due: none

fix: add pypi test
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

test: update lockfiles (#3634)
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
Due: none

fix: revert pypi test changes and use prefix channels
  tests/integration_rust/install_tests.rs
  tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

fix: dont resolve for previously locked platforms
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: dont resolve for previously locked platforms (#3635)
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

wip: enabled sources and created test
  src/lock_file/resolve/uv_resolution_context.rs
  tests/data/uv-sources-non-root/.gitattributes
  tests/data/uv-sources-non-root/.gitignore
  tests/data/uv-sources-non-root/local-library/.python-version
  tests/data/uv-sources-non-root/local-library/README.md
  tests/data/uv-sources-non-root/local-library/pyproject.toml
  tests/data/uv-sources-non-root/local-library/src/local_library/__init__.py
  tests/data/uv-sources-non-root/local-library/src/local_library/py.typed
  tests/data/uv-sources-non-root/local-library2/.python-version
  tests/data/uv-sources-non-root/local-library2/README.md
  tests/data/uv-sources-non-root/local-library2/pyproject.toml
  tests/data/uv-sources-non-root/local-library2/src/local_library2/__init__.py
  tests/data/uv-sources-non-root/local-library2/src/local_library2/py.typed
  tests/data/uv-sources-non-root/pyproject.toml
  tests/integration_python/test_uv_sources.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

initial commit for jinja support in inputs and outputs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

fix printing json prints of the tasks
  crates/pixi_manifest/src/task.rs
  src/cli/task.rs
  src/task/task_graph.rs
Due: cargo-fmt, cargo-clippy

refactor: change task inputs and outputs types from String to TaskString
  crates/pixi_manifest/src/task.rs
  src/cli/task.rs
Due: cargo-fmt, cargo-clippy

fix: removing leak() method
  crates/pixi_manifest/src/manifests/table_name.rs
Due: cargo-fmt, cargo-clippy

test: add JSON snapshot tests for listing tasks
  tests/integration_python/__snapshots__/test_main_cli.ambr
  tests/integration_python/test_main_cli.py
Due: none

feat: add support for jinja templates in inputs and outputs
  src/task/executable_task.rs
  src/task/task_hash.rs
Due: cargo-fmt, cargo-clippy

Improve error handling for reserved names in exposed binaries
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

style: fix code formatting
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

fix: add missing imports in test module
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

style: fix import ordering in test module
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

style: use is_some_and instead of map_or as suggested by clippy
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

fix: resolve temporary value lifetime issues in tests
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

style: fix code formatting in test cases
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

docs: Fix fish completion command
  docs/global_tools/introduction.md
Due: none

feat: add support for Visual Studio 2022 in dependencies and lock file
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

come on 2017
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

format?
  pixi.toml
Due: check-openssl, toml-format

refactor: improve CLI command output handling and add Windows compatibility check
  tests/integration_python/common.py
  tests/integration_python/conftest.py
  tests/integration_python/test_edge_cases.py
  tests/integration_python/test_run_cli.py
Due: none

test: update CLI help command output for Windows / Unix compatibility
  tests/integration_python/test_run_cli.py
Due: none

test without dev drive, i am not sure if this is gonna work but i cannot afford to run this script on local
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
