Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

feat: some small fixes
  docs/build/cpp_package.md
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.toml
Due: taplo

docs: improve system requirements docs
  docs/features/pytorch.md
  docs/features/system_requirements.md
  docs/switching_from/conda.md
Due: none

docs: improve admonitions size
  docs/stylesheets/extra.css
Due: none

docs: add tutorial for Python and pixi-build (#2715)
  docs/build/python.md
  docs/source_files/pixi_projects/pixi_build_python/.gitattributes
  docs/source_files/pixi_projects/pixi_build_python/.gitignore
  docs/source_files/pixi_projects/pixi_build_python/pixi.lock
  docs/source_files/pixi_projects/pixi_build_python/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python/pyproject.toml
  docs/source_files/pixi_projects/pixi_build_python/src/rich_example/__init__.py
  examples/rich_example/pyproject.toml
  mkdocs.yml
  tests/integration_python/conftest.py
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/test_docs.py
Due: check-yaml, taplo

wip: updating reference
  docs/reference/pixi_manifest.md
Due: none

docs: improve Troubleshooting
  docs/features/pytorch.md
Due: none

Update docs/build/cpp_package.md
  docs/build/cpp_package.md
Due: none

fix: more snapshots
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/platform.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_feature.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__schema_must_be_string.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__tool_must_be_table.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__family_misspelled.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__libc_misspelled.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__unknown_key.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__version_misspelled.snap
  crates/pixi_manifest/src/toml/system_requirements.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pixi_spec/src/snapshots/pixi_spec__toml__test__round_trip.snap
  crates/pixi_toml/src/index_map.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/update.rs
Due: taplo, fmt, clippy, test

fix: tests
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__depends_on_deprecation.snap
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_manifest/src/toml/workspace.rs
  schema/examples/valid/full.toml
Due: taplo, fmt, clippy, test

docs: add platform mix note for mac and pypi
  docs/features/pytorch.md
Due: none

fix: move docs and made some improvements
  docs/build/cpp_package.md
  docs/source_files/pixi_projects/pixi_build_cpp/CMakeLists.txt
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_projects/pixi_build_cpp/src/bindings.cpp
  mkdocs.yml
Due: check-yaml, taplo

test: test the pytorch documentation examples
  docs/source_files/pixi_tomls/pytorch-pypi-envs.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
  pixi.lock
  pixi.toml
  tests/integration_python/common.py
  tests/integration_python/test_nightly.py
Due: taplo

feat: modifed toml to be simpler
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python/pixi.lock
Due: taplo

ci: add extra slow tests to run only on main or label
  .github/workflows/ci.yml
  pixi.toml
  pytest.ini
  tests/integration_python/test_documentation.py
Due: check-yaml, taplo

lint
  docs/source_files/pixi_tomls/pytorch-pypi.toml
Due: taplo

ci: add long running tests to multiple platforms
  .github/workflows/ci.yml
Due: check-yaml

fix: reduce io concurrency
  Cargo.lock
  Cargo.toml
  src/global/project/mod.rs
  src/lock_file/utils.rs
  src/prefix.rs
Due: taplo, fmt, clippy, test

update everything
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/tool/cache.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/global/install.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/install_pypi/mod.rs
  src/lock_file/update.rs
  src/lock_file/utils.rs
  src/prefix.rs
  src/task/executable_task.rs
Due: taplo, fmt, clippy, test

ci: manage timeout only in CI
  pixi.toml
Due: taplo

feat: parse pyproject with toml-span
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__pyproject__tests__add_pypi_dependency.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__pyproject__tests__remove_pypi_dependency.snap
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/pyproject.rs
  crates/pixi_toml/src/index_map.rs
  crates/pixi_toml/src/lib.rs
Due: fmt, clippy, test

ci: typo in label name
  .github/workflows/ci.yml
Due: check-yaml

ignore failure to init rayon
  Cargo.lock
  Cargo.toml
Due: taplo

fix: try to fix examples
  docs/build/cpp_package.md
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  tests/integration_rust/project_tests.rs
Due: taplo, fmt, clippy, test

misc: error out if there are multiple query pairs
  crates/pixi_record/src/pinned_source.rs
Due: fmt, clippy, test

misc: change cache dir
  crates/pixi_consts/src/consts.rs
  src/build/mod.rs
Due: fmt, clippy, test

misc: remove pixi build git example
  examples/pixi_build_git/.gitattributes
  examples/pixi_build_git/.gitignore
  examples/pixi_build_git/pixi.lock
  examples/pixi_build_git/pixi.toml
Due: taplo

misc: remove examples
  examples/rich_example/.gitattributes
  examples/rich_example/.gitignore
  examples/rich_example/pixi.lock
  examples/rich_example/pyproject.toml
  examples/rich_example/src/rich_example/__init__.py
Due: taplo

misc: fix missing docs
  crates/pixi_git/src/resolver.rs
Due: fmt, clippy, test

misc: fix cargo docs
  crates/pixi_record/src/pinned_source.rs
Due: fmt, clippy, test

ci debug labels
  .github/workflows/ci.yml
Due: check-yaml

docs: reference update
  docs/reference/pixi_manifest.md
Due: none

docs: c++ package example (#2717)
  docs/build/cpp_package.md
  docs/build/getting_started.md
  docs/source_files/pixi_projects/pixi_build_cpp/CMakeLists.txt
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_projects/pixi_build_cpp/src/bindings.cpp
  docs/source_files/pixi_projects/pixi_build_python/pixi.lock
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  mkdocs.yml
  tests/integration_rust/project_tests.rs
Due: check-yaml, taplo, fmt, clippy, test

remove label debug
  .github/workflows/ci.yml
Due: check-yaml

docs: more reference updates
  docs/reference/pixi_manifest.md
Due: none

fix: enforce rust-tls for reqwest
  crates/pixi_utils/src/reqwest.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
