Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

Update docs/build/getting_started.md
  docs/build/getting_started.md
Due: none

refactor: Move EnvironmentUnsat, ExcludeNewerMismatch, IndexesMismatch into pixi_lockfile crate
  Cargo.lock
  crates/pixi_lockfile/Cargo.toml
  crates/pixi_lockfile/src/satisfiability/environment_unsat.rs
  crates/pixi_lockfile/src/satisfiability/exclude_newer_mismatch.rs
  crates/pixi_lockfile/src/satisfiability/indexes_mismatch.rs
  crates/pixi_lockfile/src/satisfiability/mod.rs
  src/lock_file/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/satisfiability/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor(pixi_spec): `SourceSpec` struct composed of `SourceLocationSpec`
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_command_dispatcher/src/build/conversion.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/source_anchor.rs
  src/cli/add.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

wip: process of removing --no-lockfile-update
  src/cli/cli_config.rs
  src/cli/remove.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/add_tests.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

refactor: Update tests for virtual package
  crates/pixi_lockfile/src/snapshots/pixi_lockfile__virtual_packages__test__virtual_package_not_found_error.snap
  crates/pixi_lockfile/src/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

refactor(pixi_spec): `SourceSpec` struct composed of `SourceLocationSpec` (#4305)
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_command_dispatcher/src/build/conversion.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/source_anchor.rs
  src/cli/add.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

remove unused imports
  crates/pixi_spec/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: test
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@getting_started.snap
  tests/integration_python/test_run_cli.py
Due: none

start using `PackageSourceSpec`
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_spec/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: Fix typo
  docs/build/getting_started.md
Due: none

appease clippy [skip ci]
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_spec/src/lib.rs
  tests/integration_rust/build_tests.rs
Due: cargo-fmt, cargo-clippy

docs: Fix typo (#4306)
  docs/build/getting_started.md
Due: none

Make manifest always relative
  src/cli/global/add.rs
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

docs: simplify and fix the `pixi build` getting started (#4304)
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@getting_started.snap
  docs/build/getting_started.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pyproject.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/.gitattributes
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/.gitignore
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/recipe_by_file/recipe.yaml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/recipe_by_folder/recipe.yaml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/src/python_rich/__init__.py
Due: check-yaml, check-openssl, toml-format, yaml-format

docs: Fix typo
  docs/build/variants.md
Due: none

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-loongarch64-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-riscv64gc-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

docs: Fix typo (#4309)
  docs/build/variants.md
Due: none

chore: version to 0.51.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: version to 0.51.0 (#4314)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Fix clippy errors
  src/cli/global/global_specs.rs
  src/global/project/global_spec.rs
Due: cargo-fmt, cargo-clippy

Adapt CLI docs
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/install.md
Due: none

Add check again since we don't infer specs yet
  src/cli/global/global_specs.rs
Due: cargo-fmt, cargo-clippy

Remove unused function
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: avoid quotes in cli doc comments to avoid fish completion breaking
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: updated the strings
  src/cli/cli_config.rs
  src/cli/completion.rs
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
Due: cargo-fmt, cargo-clippy

Move cache dir to `bld`
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Fix warnings
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

test: add a fish completion test
  tests/integration_python/test_main_cli.py
Due: none

chore: update pixi types
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/solve_pixi/reporter.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_reporters/src/lib.rs
  crates/pixi_reporters/src/package_cache_reporter.rs
  crates/pixi_reporters/src/repodata_reporter.rs
  crates/pixi_reporters/src/run_exports.rs
  crates/pixi_reporters/src/sync_reporter.rs
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update tests/integration_python/test_main_cli.py
  tests/integration_python/test_main_cli.py
Due: none

fix: fish completion script (#4315)
  crates/pixi_config/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

update lock
  Cargo.lock
Due: none

Add debug statements printing why the environment is out-of-sync
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
