Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

refactor(run): report the assumed platform per environment (#6508)
  crates/pixi_cli/src/run.rs
Due: cargo-fmt, cargo-clippy

feat(completion): rework completion (#6686)
  crates/pixi_cli/src/completion.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/import.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/snapshots/pixi_cli__completion__tests__bash_completion.snap
  crates/pixi_cli/src/snapshots/pixi_cli__completion__tests__nushell_completion.snap
  crates/pixi_cli/src/snapshots/pixi_cli__completion__tests__zsh_completion.snap
  crates/pixi_cli/src/task.rs
  crates/pixi_cli/src/update.rs
  crates/pixi_cli/src/workspace/environment.rs
  crates/pixi_cli/src/workspace/feature.rs
  docs/reference/cli/pixi/exec.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/init.md
  docs/reference/cli/pixi/task/add.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/workspace/environment/add.md
  tests/integration_python/test_main_cli.py
  tests/scripts/zsh-completion-probe.zsh
Due: cargo-fmt, cargo-clippy

feat: restrict offline solves to locally available packages (#6644)
  Cargo.lock
  crates/pixi/tests/integration_rust/conda_pypi_map_tests.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/offline.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/ephemeral_env/mod.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/keys/solve_conda.rs
  crates/pixi_command_dispatcher/src/keys/solve_pixi_environment.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/offline.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_compute_network/src/lib.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_consts/src/consts.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_utils/src/cache.rs
  crates/pypi_mapping/Cargo.toml
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/resolvers/project_defined.rs
  docs/reference/pixi_configuration.md
  tests/integration_python/test_offline_commands.py
  tests/integration_python/test_offline_conda_forge.py
  tests/integration_python/test_offline_solving.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(build): reuse cached artifacts for immutable sources when the cache dir is gone (#6699)
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

test: run the variant work-dir test on every PR and slim down extra slow tests
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_cli/src/publish/mod.rs
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/pixi_build/test_docs_examples.py
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_pypi_options.py
Due: cargo-fmt, cargo-clippy

feat(platforms): validate __archspec microarchitecture names (#6701)
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/toml/platform.rs
  docs/conda_ecosystem.md
  docs/reference/cli/pixi/workspace/platform/add.md
  docs/reference/cli/pixi/workspace/platform/edit.md
  docs/workspace/multi_platform_configuration.md
  schema/examples/valid/workspace_rich_platform.toml
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: fix CI on main and slim down extra slow tests (#6708)
  crates/pixi/tests/integration_rust/source_package_tests.rs
  crates/pixi_cli/src/publish/mod.rs
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/pixi_build/test_docs_examples.py
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_pypi_options.py
Due: cargo-fmt, cargo-clippy

Cache source inputs by content
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/cache/backend_metadata.rs
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

Keep cache hits when fingerprint refresh fails
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
Due: cargo-fmt, cargo-clippy

Parallelize source fingerprinting
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/compute_data.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
Due: cargo-fmt, cargo-clippy

Fix fingerprint edge cases
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Acquire one I/O permit per file
  crates/pixi_command_dispatcher/src/file_fingerprint.rs
Due: cargo-fmt, cargo-clippy

test(pixi_config): keep the compat catalog lint-clean and Windows-safe
  crates/pixi_config/src/lib.rs
  crates/pixi_config/test-data/compat/unknown-keys.toml
  crates/pixi_config/tests/compat.rs
  crates/pixi_config/tests/snapshots/compat__parse__unknown-keys.toml.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: make more use of the rich platform syntax
  docs/python/pytorch.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pixi_tomls/pytorch-pypi-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
Due: check-openssl, toml-format

fix(build): point the uv cache at the pixi cache directory
  crates/pixi_build_python/src/main.rs
  docs/build/backends/pixi-build-python.md
Due: cargo-fmt, cargo-clippy

test(pixi_config): make the fixture cache paths absolute on Windows too
  crates/pixi_config/test-data/compat/kitchen-sink.toml
  crates/pixi_config/test-data/compat/override-layer.toml
  crates/pixi_config/tests/compat.rs
  crates/pixi_config/tests/snapshots/compat__merge__kitchen_sink_plus_override.snap
  crates/pixi_config/tests/snapshots/compat__parse__kitchen-sink.toml.snap
  crates/pixi_config/tests/snapshots/compat__parse__override-layer.toml.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: force reinstall with setuptools in ros backend
  crates/pixi_build_ros/templates/bld_ament_python.bat
  crates/pixi_build_ros/templates/build_ament_python.sh
Due: none

docs(build): split the pre-fix `uv` cache behavior by platform
  docs/build/backends/pixi-build-python.md
Due: none

chore: bump version to v0.75.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: bump version to v0.75.0 (#6714)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(build): point the uv cache at the pixi cache directory (#6712)
  crates/pixi_build_python/src/main.rs
  docs/build/backends/pixi-build-python.md
Due: cargo-fmt, cargo-clippy

fix(publish): resolve the target subdir to the declared workspace platform
  crates/pixi_cli/src/publish/mod.rs
  crates/pixi_core/src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

fix: force reinstall with setuptools in ros backend (#6713)
  crates/pixi_build_ros/templates/bld_ament_python.bat
  crates/pixi_build_ros/templates/build_ament_python.sh
Due: none

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
Due: check-openssl, toml-format

chore: bump backend versions (#6716)
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
Due: check-openssl, toml-format

Parse PEP 723 script manifests
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/script.rs
Due: cargo-fmt, cargo-clippy

Cache PEP 723 script environments
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/script.rs
Due: cargo-fmt, cargo-clippy

Add `pixi script init`
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/script/init.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_manifest/src/script.rs
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Add `pixi script lock`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/script/lock.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_core/src/workspace/mod.rs
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Document `pixi script`
  docs/python/scripts.md
  docs/reference/cli/pixi.md
  docs/reference/cli/pixi/script.md
  docs/reference/cli/pixi/script/add.md
  docs/reference/cli/pixi/script/init.md
  docs/reference/cli/pixi/script/lock.md
  docs/reference/cli/pixi/script/remove.md
  docs/reference/cli/pixi/script/run.md
  mkdocs.yml
Due: check-yaml, yaml-format

Add `pixi script run`
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_cli/src/script/run.rs
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Add `pixi script remove`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_cli/src/script/remove.rs
  crates/pixi_manifest/src/script.rs
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Add `pixi script add`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/script/add.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/script.rs
  crates/pixi_manifest/src/toml/document.rs
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Model PEP 723 scripts as manifest documents
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/script.rs
Due: cargo-fmt, cargo-clippy

Load PEP 723 scripts through workspace selection
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_python/Cargo.toml
Due: check-openssl, toml-format

chore: fix pre-commit during backends release script
  lefthook.yaml
Due: check-yaml, yaml-format

Migrate PEP 723 execution to pixi run
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/script/mod.rs
  crates/pixi_cli/src/script/run.rs
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
