Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

fix: test all examples in ci
  .github/workflows/test_downstream.yml
  pixi.toml
Due: check-yaml, taplo

misc: fix cargo clippy
  crates/pixi_manifest/src/manifests/project.rs
Due: fmt, clippy, test

fix: activation script (#2014)
  pixi.toml
  scripts/activate.bat
  scripts/activate.sh
Due: taplo

misc: change the test a little
  crates/pixi_manifest/src/manifests/project.rs
Due: fmt, clippy, test

First working version!!1!!!
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/parsed_manifest.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  tests/integration/test_main_cli.py
Due: fmt, clippy, test

refactor: stop duplicating `strip_channel_alias` from rattler
  src/cli/search.rs
Due: fmt, clippy, test

Update crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/lib.rs
Due: fmt, clippy, test

misc: add missing snapshot
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_baz.snap
Due: none

ci: Test x86_64-apple-darwin only on main and release tags (#1985)
  .github/workflows/rust.yml
  .github/workflows/test_downstream.yml
Due: check-yaml

Minor improvements
  crates/pixi_manifest/src/channel.rs
  src/global/common.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: update snapshots
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__add_channels.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__add_dependency.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__add_task.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_bar.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_fooz.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_pypi_feature_dep.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_pypi_feature_target_dep.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_pypi_jax.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_pypi_requests.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__manifest__tests__test_remove_pypi_xpackage.snap
Due: none

fix: append to file syntax in task docs (#2013)
  docs/features/advanced_tasks.md
Due: none

feat: add flag to `pixi search`
  src/cli/clean.rs
Due: fmt, clippy, test

Add docs to `assume-yes`
  src/cli/global/sync.rs
Due: fmt, clippy, test

Update crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

feat: add test
  Cargo.lock
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pypi_simple_server/Cargo.toml
  crates/pypi_simple_server/src/main.rs
  pixi.lock
  pixi.toml
  src/lock_file/resolve/pypi.rs
  tests/common/mod.rs
  tests/integration/conftest.py
  tests/integration/test_main_cli.py
  tests/integration/test_pypi_extras.py
  tests/pypi-indexes/generate-indexes.py
  tests/pypi-indexes/multiple-indexes-a/flat/foo-1.0.0-py2.py3-none-any.whl
  tests/pypi-indexes/multiple-indexes-a/flat/foo-1.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-a/index/foo/foo-1.0.0-py2.py3-none-any.whl
  tests/pypi-indexes/multiple-indexes-a/index/foo/foo-1.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-a/index/foo/index.html
  tests/pypi-indexes/multiple-indexes-a/index/index.html
  tests/pypi-indexes/multiple-indexes-a/src/foo-1.0.0/pyproject.toml
  tests/pypi-indexes/multiple-indexes-a/src/foo-1.0.0/src/foo/__init__.py
  tests/pypi-indexes/multiple-indexes-b/flat/foo-2.0.0-py2.py3-none-any.whl
  tests/pypi-indexes/multiple-indexes-b/flat/foo-2.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-b/index/foo/foo-2.0.0-py2.py3-none-any.whl
  tests/pypi-indexes/multiple-indexes-b/index/foo/foo-2.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-b/index/foo/index.html
  tests/pypi-indexes/multiple-indexes-b/index/index.html
  tests/pypi-indexes/multiple-indexes-b/src/foo-2.0.0/pyproject.toml
  tests/pypi-indexes/multiple-indexes-b/src/foo-2.0.0/src/foo/__init__.py
  tests/pypi-indexes/multiple-indexes-c/flat/foo-3.0.0-py2.py3-none-any.whl
  tests/pypi-indexes/multiple-indexes-c/flat/foo-3.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-c/index/foo/foo-3.0.0-py2.py3-none-any.whl
  tests/pypi-indexes/multiple-indexes-c/index/foo/foo-3.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-c/index/foo/index.html
  tests/pypi-indexes/multiple-indexes-c/index/index.html
  tests/pypi-indexes/multiple-indexes-c/src/foo-3.0.0/pyproject.toml
  tests/pypi-indexes/multiple-indexes-c/src/foo-3.0.0/src/foo/__init__.py
  tests/pypi-tests.rs
Due: taplo, fmt, clippy, test

refactor: stop duplicating `strip_channel_alias` from rattler (#2017)
  src/cli/search.rs
Due: fmt, clippy, test

fix: remove unused files
  Cargo.lock
  crates/pypi_simple_server/Cargo.toml
  crates/pypi_simple_server/src/main.rs
Due: taplo, fmt, clippy, test

Update regex
  src/global/project/mod.rs
Due: fmt, clippy, test

ci: Exclude instead of `if`, since `if` doesn't work with matrix
  .github/workflows/rust.yml
  .github/workflows/test_downstream.yml
Due: check-yaml

ci: stop using `exclude`
  .github/workflows/rust.yml
Due: check-yaml

Also remove main
  .github/workflows/rust.yml
Due: check-yaml

feat: add flag to `pixi search` (#2018)
  src/cli/clean.rs
Due: fmt, clippy, test

fix: delete unused pytest file
  tests/integration/test_pypi_extras.py
Due: none

ci: exclude remove (#2021)
  .github/workflows/rust.yml
Due: check-yaml

refactor: move code around and made errors more transparent
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/error.rs
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_manifest/src/error.rs
  src/build/mod.rs
  src/build/pinned.rs
  src/lock_file/mod.rs
  src/lock_file/reporter/gateway_reporter.rs
  src/lock_file/reporter/mod.rs
  src/lock_file/reporter/progress_bar.rs
  src/lock_file/reporter/purl_amend.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/update.rs
Due: taplo, fmt, clippy, test

Apply suggestions from code review
  crates/pixi_manifest/src/pypi/pypi_options.rs
  tests/pypi-indexes/generate-indexes.py
Due: fmt, clippy, test

fix: generate indexes
  tests/pypi-indexes/generate-indexes.py
  tests/pypi-indexes/multiple-indexes-a/flat/foo-1.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-a/index/foo/foo-1.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-a/index/foo/index.html
  tests/pypi-indexes/multiple-indexes-a/index/index.html
  tests/pypi-indexes/multiple-indexes-b/flat/foo-2.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-b/index/foo/foo-2.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-b/index/foo/index.html
  tests/pypi-indexes/multiple-indexes-b/index/index.html
  tests/pypi-indexes/multiple-indexes-c/flat/foo-3.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-c/index/foo/foo-3.0.0.tar.gz
  tests/pypi-indexes/multiple-indexes-c/index/foo/index.html
  tests/pypi-indexes/multiple-indexes-c/index/index.html
Due: none

feat: Export conda explicit specification file from project (#1873)
  docs/reference/cli.md
  src/cli/project/export/conda_explicit_spec.rs
  src/cli/project/export/mod.rs
  src/cli/project/export/snapshots/pixi__cli__project__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_default_linux-64.snap
  src/cli/project/export/snapshots/pixi__cli__project__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_default_osx-64.snap
  src/cli/project/export/snapshots/pixi__cli__project__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_test_linux-64.snap
  src/cli/project/export/snapshots/pixi__cli__project__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_test_osx-64.snap
  src/cli/project/export/test-data/testenv/pixi.lock
  src/cli/project/export/test-data/testenv/pixi.toml
  src/cli/project/mod.rs
Due: taplo, fmt, clippy, test

misc: update snapshost
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__document__tests__test_add_environment_pyproject.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__document__tests__test_remove_environment_pixi.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__document__tests__test_remove_environment_pyproject.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__add_channels.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__add_dependency.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__add_task.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_bar.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_baz.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_fooz.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_pypi_feature_dep.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_pypi_feature_target_dep.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_pypi_jax.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_pypi_requests.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__manifest__tests__test_remove_pypi_xpackage.snap
Due: none

wip: testing common wheels
  pixi.lock
  pixi.toml
  tests/wheel_tests/conftest.py
  tests/wheel_tests/test_common_wheels.py
  tests/wheel_tests/wheels.txt
Due: taplo

feat: update schema
  schema/model.py
  schema/schema.json
Due: none

Revert "feat: update schema"
  schema/model.py
  schema/schema.json
Due: none

chore: bump rattler
  Cargo.lock
  Cargo.toml
Due: taplo

docs: add documentation and changed some existing
  docs/reference/project_configuration.md
Due: none

chore: bump rattler (#2025)
  Cargo.lock
  Cargo.toml
Due: taplo

misc: modify snapshots
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
Due: none

feat: run pytests in parallel
  pixi.lock
  pixi.toml
Due: taplo

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
