Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: editability check during pypi install (#5617)
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Fix build
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

docs: add documentation for binaries option in pixi-build-rust
  docs/build/backends/pixi-build-rust.md
Due: none

Fix build
  crates/pixi_manifest/src/target.rs
Due: cargo-fmt, cargo-clippy

fix: moving index flag out of DependencyConfig so that it doesnt show up in remove
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/cli_config.rs
Due: cargo-fmt, cargo-clippy

fix: added test to check index flag for pypi
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/builders.rs
Due: cargo-fmt, cargo-clippy

fix: fix breaking tests which referenced index flag
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

fix: code deduplication for VCS and non VCS branch
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/cli_config.rs
Due: cargo-fmt, cargo-clippy

fix: lint fix
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

docs: cli docs fixed relevant to index flag for pypi
  crates/pixi_cli/src/add.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/remove.md
Due: cargo-fmt, cargo-clippy

Fix typo in pyproject.toml setup documentation
  docs/python/pyproject_toml.md
Due: none

fix: refactor
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

fix: refactor
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

Fix test
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_feature.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__schema_must_be_string.snap
Due: none

Fix ci
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@hostdependencies.snap
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/target.rs
Due: cargo-fmt, cargo-clippy

Fix
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_feature.snap
Due: none

Update schema
  schema/schema.json
Due: none

fix: redundant line
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

lint: lint fix
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

fix: docs
  docs/workspace/advanced_tasks.md
Due: none

chore: use rattler-build crates from crates.io
  Cargo.lock
  Cargo.toml
  crates/pixi_build_backend/Cargo.toml
  crates/pixi_build_backend/src/cli.rs
  crates/pixi_build_backend/src/common/configuration.rs
  crates/pixi_build_backend/src/compilers.rs
  crates/pixi_build_backend/src/dependencies.rs
  crates/pixi_build_backend/src/intermediate_backend.rs
  crates/pixi_build_backend/src/rattler_build_integration.rs
  crates/pixi_build_backend/src/specs_conversion.rs
  crates/pixi_build_backend/src/tools.rs
  crates/pixi_build_backend/src/traits/project.rs
  crates/pixi_build_backend/src/utils/temporary_recipe.rs
  crates/pixi_build_backend/src/utils/test.rs
  crates/pixi_build_backend/tests/integration/protocol.rs
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_cmake/src/main.rs
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_rattler_build/src/protocol.rs
  crates/pixi_build_rattler_build/src/rattler_build.rs
  tests/data/workspace-discovery/implicit-tables-pyproject/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: use rattler-build crates from crates.io (#5624)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_backend/Cargo.toml
  crates/pixi_build_backend/src/cli.rs
  crates/pixi_build_backend/src/common/configuration.rs
  crates/pixi_build_backend/src/compilers.rs
  crates/pixi_build_backend/src/dependencies.rs
  crates/pixi_build_backend/src/intermediate_backend.rs
  crates/pixi_build_backend/src/rattler_build_integration.rs
  crates/pixi_build_backend/src/specs_conversion.rs
  crates/pixi_build_backend/src/tools.rs
  crates/pixi_build_backend/src/traits/project.rs
  crates/pixi_build_backend/src/utils/temporary_recipe.rs
  crates/pixi_build_backend/src/utils/test.rs
  crates/pixi_build_backend/tests/integration/protocol.rs
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_cmake/src/main.rs
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_rattler_build/src/protocol.rs
  crates/pixi_build_rattler_build/src/rattler_build.rs
  tests/data/workspace-discovery/implicit-tables-pyproject/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Add docs
  docs/reference/pixi_manifest.md
Due: none

Apply suggestion from @delsner
  docs/reference/pixi_manifest.md
Due: none

chore(logging): reduce cache conflict log level from warn to debug
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

chore: lower cache version conflict log level to debug (#5630)
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

feat: add template args for env vars in tasks as well (#5613)
  crates/pixi_cli/src/task.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_task/src/executable_task.rs
  docs/reference/pixi_manifest.md
  docs/workspace/advanced_tasks.md
Due: cargo-fmt, cargo-clippy

feat(pixi-build-rust): allow selecting cargo binaries to install (#5537)
  crates/pixi_build_rust/src/config.rs
  crates/pixi_build_rust/src/main.rs
  docs/build/backends/pixi-build-rust.md
Due: cargo-fmt, cargo-clippy

feat: Report installation progress to terminal
  crates/pixi_progress/src/lib.rs
  crates/pixi_progress/src/osc.rs
  crates/pixi_reporters/src/main_progress_bar.rs
  crates/pixi_reporters/src/sync_reporter.rs
Due: cargo-fmt, cargo-clippy

clean up
  crates/pixi_core/src/conda_prefix_updater.rs
Due: cargo-fmt, cargo-clippy

..
  Cargo.lock
  Cargo.toml
  crates/pixi_api/Cargo.toml
  crates/pixi_build_backend/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_r/src/main.rs
  crates/pixi_build_r/src/metadata.rs
  crates/pixi_core/src/conda_prefix_updater.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix
  crates/pixi_build_r/src/metadata.rs
Due: cargo-fmt, cargo-clippy

lockfile need update
  Cargo.lock
Due: none

add pixi build R
  Cargo.lock
  Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_r/license_mapping/cran_spdx_licenses.json
  crates/pixi_build_r/pixi.toml
  crates/pixi_build_r/src/build_script.j2
  crates/pixi_build_r/src/build_script.rs
  crates/pixi_build_r/src/config.rs
  crates/pixi_build_r/src/main.rs
  crates/pixi_build_r/src/metadata.rs
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-native-no-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-native-with-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-pure-no-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-pure-with-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-native-no-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-native-with-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-pure-no-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-pure-with-extra-args.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__tests__pure_r_package_no_compilers.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__tests__r_package_with_dependencies.snap
  crates/pixi_build_r/src/snapshots/pixi_build_r__tests__r_package_with_native_code.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

reset some files
  crates/pixi_api/Cargo.toml
  crates/pixi_build_backend/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
Due: check-openssl, toml-format

apply linter suggestion
  crates/pixi_build_r/src/metadata.rs
Due: cargo-fmt, cargo-clippy

add R backend docs
  docs/build/backends.md
  docs/build/backends/pixi-build-r.md
  mkdocs.yml
Due: check-yaml, yaml-format

add pixi build r to recipe
  .github/workflows/backends-release.yml
  pixi-build-backends/recipe/all-backends/recipe.yaml
  pixi-build-backends/scripts/generate-versions.py
Due: check-yaml, actionlint, yaml-format

remove rattler-buidl dep
  Cargo.lock
  crates/pixi_build_r/Cargo.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
