Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

improve cuda-version docs
  docs/features/pytorch.md
Due: none

remove serde
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/system_requirements.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/target.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_toml/src/index_map.rs
  src/global/project/manifest.rs
  src/global/project/parsed_manifest.rs
Due: taplo, fmt, clippy, test

fix clippy
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/environment.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/system_requirements.rs
  crates/pixi_toml/src/hash_map.rs
  crates/pixi_toml/src/index_map.rs
  crates/pixi_toml/src/lib.rs
  crates/pixi_toml/src/variant.rs
  src/global/project/parsed_manifest.rs
  src/project/mod.rs
Due: fmt, clippy, test

remove more serde
  crates/pixi_manifest/src/activation.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/pypi/pypi_requirement_types.rs
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/environment.rs
Due: fmt, clippy, test

fix: enforce rust-tls for reqwest (#2719)
  crates/pixi_utils/src/reqwest.rs
Due: fmt, clippy, test

add win to pytorch channel
  docs/source_files/pixi_tomls/pytorch-from-pytorch-channel.toml
  docs/source_files/pyproject_tomls/pytorch-from-pytorch-channel.toml
Due: taplo

formatting docs and more
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_toml/src/digest.rs
  crates/pixi_toml/src/from_str.rs
  crates/pixi_toml/src/hash_map.rs
  crates/pixi_toml/src/index_map.rs
  crates/pixi_toml/src/index_set.rs
  crates/pixi_toml/src/lib.rs
  crates/pixi_toml/src/one_or_many.rs
  crates/pixi_toml/src/variant.rs
  crates/pixi_toml/src/with.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__duplicate_dependency.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__expose_pixi.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
Due: fmt, clippy, test

remove unused deps
  Cargo.lock
  crates/pixi_manifest/Cargo.toml
  crates/pixi_toml/src/index_set.rs
Due: taplo, fmt, clippy, test

fix: reduce io concurrency (#2701)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/tool/cache.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/global/install.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/install_pypi/mod.rs
  src/lock_file/update.rs
  src/lock_file/utils.rs
  src/prefix.rs
  src/task/executable_task.rs
Due: taplo, fmt, clippy, test

Error when duplicated exposed names have been found
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

debug ci test
  .github/workflows/ci.yml
  tests/integration_python/common.py
  tests/integration_python/test_documentation.py
Due: check-yaml

docs: move pixi-build example to subfolder and restore cpp-sdl example
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  examples/pixi-build/README.md
  examples/pixi-build/boltons/.gitattributes
  examples/pixi-build/boltons/.gitignore
  examples/pixi-build/boltons/README.md
  examples/pixi-build/boltons/boltons/__init__.py
  examples/pixi-build/boltons/boltons/main.py
  examples/pixi-build/boltons/pixi.lock
  examples/pixi-build/boltons/pixi.toml
  examples/pixi-build/boltons/pyproject.toml
  examples/pixi-build/boltons/recipe.yaml
  examples/pixi-build/cpp-sdl/.gitignore
  examples/pixi-build/cpp-sdl/CMakeLists.txt
  examples/pixi-build/cpp-sdl/README.md
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/cpp-sdl/src/main.cc
Due: check-yaml, taplo

misc: add a check for subdirs
  crates/pixi_record/src/pinned_source.rs
Due: fmt, clippy, test

misc: update cargo lock
  Cargo.lock
Due: none

more debugging
  .github/workflows/ci.yml
  tests/integration_python/test_documentation.py
Due: check-yaml

fix: ci and move around the tests
  .github/workflows/ci.yml
Due: check-yaml

misc: remove subdir
  src/build/mod.rs
Due: fmt, clippy, test

misc: remove dbg
  crates/pixi_record/src/pinned_source.rs
Due: fmt, clippy, test

misc: fix serde test
  crates/pixi_git/src/url.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_spec/src/snapshots/pixi_spec__serde__test__round_trip.snap
Due: fmt, clippy, test

bump: version 0.39.3
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: taplo, fmt, clippy, test

chore: version 0.39.3 (#2726)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: taplo, fmt, clippy, test

docs: move pixi-build example to subfolder and restore cpp-sdl example (#2723)
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  examples/pixi-build/README.md
  examples/pixi-build/boltons/.gitattributes
  examples/pixi-build/boltons/.gitignore
  examples/pixi-build/boltons/README.md
  examples/pixi-build/boltons/boltons/__init__.py
  examples/pixi-build/boltons/boltons/main.py
  examples/pixi-build/boltons/pixi.lock
  examples/pixi-build/boltons/pixi.toml
  examples/pixi-build/boltons/pyproject.toml
  examples/pixi-build/boltons/recipe.yaml
  examples/pixi-build/cpp-sdl/.gitignore
  examples/pixi-build/cpp-sdl/CMakeLists.txt
  examples/pixi-build/cpp-sdl/README.md
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/cpp-sdl/src/main.cc
Due: check-yaml, taplo

ci: clean cache on windows to avoid running out of it
  .github/workflows/ci.yml
Due: check-yaml

Update tests/integration_python/common.py
  tests/integration_python/common.py
Due: none

fix: typo
  tests/integration_python/test_documentation.py
Due: none

enable rayon
  Cargo.lock
  Cargo.toml
Due: taplo

enable rayon in workspace
  Cargo.toml
Due: taplo

add timeout behavior to the subprocess run
  pixi.toml
  tests/integration_python/common.py
  tests/integration_python/test_run_cli.py
Due: taplo

feat: add integration tests
  crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_git/src/git.rs
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
Due: taplo, fmt, clippy, test

add rattler debug info to the tests on macos
  .github/workflows/ci.yml
Due: check-yaml

misc: add tests
  tests/data/pixi_build/manifests/workspace.toml
  tests/data/pixi_build/manifests/workspace_git.toml
  tests/integration_python/pixi_build/test_git.py
Due: taplo

ci: turn off what we don't need to debug
  .github/workflows/ci.yml
Due: check-yaml

ci: turn on verbosity for all commands
  tests/integration_python/common.py
Due: none

feat: move package fields under package
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_build_frontend/src/protocols/builders/rattler_build.rs
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_build_types/src/procedures/initialize.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/package.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@hostdependencies.snap
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/package_target.rs
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_build_backend_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__disallow_source.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__empty_channels.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_backend.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_name.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_version_specifier.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__build_dependencies_in_feature_with_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__host_dependencies_in_feature_with_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__missing_version.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__package_without_build_section.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__schema_must_be_string.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__workspace_name_required.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__package__test__invalid_extra_key.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__package__test__invalid_version.snap
  crates/pixi_manifest/src/toml/target.rs
  crates/pixi_manifest/src/toml/workspace.rs
Due: fmt, clippy, test

misc: try to see if ulimit
  .github/workflows/ci.yml
Due: check-yaml

ci: no paralelization of tests
  pixi.toml
Due: taplo

Small change
  docs/reference/pixi_manifest.md
Due: none
