Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

test: attempt to fix flaky global test (#3260)
  tests/integration_python/pixi_global/test_global.py
Due: none

Only import certain symbols on unix
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

wip: add initial plumbing to get the command and print it from a binary
  pixi_docs/Cargo.lock
  pixi_docs/Cargo.toml
  pixi_docs/src/main.rs
  src/cli/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Skip less
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

Add url import again
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

wip: recursive generation of command files
  pixi_docs/Cargo.lock
  pixi_docs/Cargo.toml
  pixi_docs/src/main.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

wip: cleanup flow
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: working version in the documentation pages
  mkdocs.yml
  pixi_docs/src/main.rs
Due: check-yaml, cargo-fmt, cargo-clippy

feat: make title a navigation in the cli
  pixi_docs/README.md
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: generation warnings
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

misc: add simple run instruction
  pixi.toml
  pixi_docs/README.md
Due: check-openssl, toml-format

docs: improve about section
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

docs: full recursion and more info on positionals and arguments
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

misc: add the snippet logic with named parts
  pixi_docs/src/main.rs
Due: cargo-fmt, cargo-clippy

docs: add some initial injected information
  docs/reference/cli/README.md
  docs/reference/cli/pixi.md
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/init.md
Due: none

docs: fix injection pixi add
  docs/reference/cli/pixi/add.md
Due: none

fix test windows
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

chore: downgrade git
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix tests and add deprecation warnings
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

chore: downgrade git (#3272)
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

chore: version to 0.42.0 (#3259)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Revert "test: skip `test_build_git_source_deps_from_tag` on Windows (#3261)"
  tests/integration_python/pixi_build/test_git.py
Due: none

make things build on windows
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

Add shortcuts serialization
  crates/pixi_toml/src/from_str.rs
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

Continue
  src/global/common.rs
  src/global/project/mod.rs
  tests/integration_python/pixi_global/test_shortcuts.py
Due: cargo-fmt, cargo-clippy

First working version
  src/global/common.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  tests/integration_python/pixi_global/test_shortcuts.py
Due: cargo-fmt, cargo-clippy

Add snapshot
  src/global/common.rs
  tests/integration_python/pixi_global/__snapshots__/test_shortcuts.ambr
  tests/integration_python/pixi_global/test_shortcuts.py
Due: cargo-fmt, cargo-clippy

Clean up `pixi global install`
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

feat: global sync shortcuts
  tests/data/channels/channels/shortcuts_channel_1/noarch/pixi-editor-0.1.3-h4616a5c_0.conda
  tests/data/channels/channels/shortcuts_channel_1/noarch/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/pixi-editor/Menu/menu.json
  tests/data/channels/recipes/pixi-editor/Menu/pixi-icon.icns
  tests/data/channels/recipes/pixi-editor/Menu/pixi-icon.ico
  tests/data/channels/recipes/pixi-editor/Menu/pixi-icon.png
  tests/data/channels/recipes/pixi-editor/recipe.yaml
  tests/integration_python/conftest.py
  tests/integration_python/pixi_global/test_global.py
Due: check-yaml, check-openssl, toml-format

Continue
  crates/pixi_consts/src/consts.rs
  src/global/common.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/prefix.rs
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_shortcuts.py
Due: cargo-fmt, cargo-clippy

Re-evaluate when needed
  src/global/common.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

Update snapshot
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
Due: none

Remove unneeded method
  src/prefix.rs
Due: cargo-fmt, cargo-clippy

test: make shotcut test cross platforms, wip need to test on other platforms
  tests/integration_python/pixi_global/test_shortcuts.py
Due: none

Update to latest rattler version
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

Fix migration test
  src/global/project/manifest.rs
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

Add test for `--no-shortcut`
  tests/integration_python/pixi_global/test_shortcuts.py
Due: none

test: fix windows tests but still have to wait for some changes in rattler.
  Cargo.lock
  Cargo.toml
  tests/integration_python/pixi_global/test_shortcuts.py
Due: check-openssl, toml-format

Add more test for `test_sync_unavailable_shortcuts`
  tests/integration_python/pixi_global/test_shortcuts.py
Due: none

Remove unneded methods
  src/cli/global/update.rs
  src/global/list.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
