Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

fix: select correct run environment (#2301)
  src/cli/run.rs
  tests/integration/test_main_cli.py
  tests/integration/test_run_cli.py
Due: fmt, clippy, test

fix: failing tests
  src/cli/global/install.rs
  src/cli/global/update.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

docs: document where `pixi-global.toml` can be found
  docs/features/global_tools.md
Due: none

misc: refactor a little
  src/cli/global/update.rs
  src/global/common.rs
Due: fmt, clippy, test

docs: document where `pixi-global.toml` can be found (#2304)
  docs/features/global_tools.md
Due: none

misc: rever pre-commit config
  .pre-commit-config.yaml
Due: check-yaml

Update src/cli/global/list.rs
  src/cli/global/list.rs
Due: fmt, clippy, test

feat: more intricate build progress reporting that works with caching
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/reporters.rs
  crates/pixi_build_frontend/tests/diagnostics.rs
  src/build/mod.rs
  src/cli/build.rs
  src/environment.rs
  src/lock_file/reporter/progress_bar.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

Update src/global/project/mod.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

Update tests/integration/test_global.py
  tests/integration/test_global.py
Due: none

misc: apply refactor changes
  src/cli/global/install.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: apply refactor changes
  src/global/project/mod.rs
Due: fmt, clippy, test

refactor: improve upload errors (#2303)
  src/cli/upload.rs
Due: fmt, clippy, test

docs: add ros noetic example (#2271)
  examples/turtlesim/README.md
  examples/turtlesim/pixi.lock
  examples/turtlesim/pixi.toml
  examples/turtlesim/turtle_marker_viz_ROS1.py
  examples/turtlesim/turtle_marker_viz_ROS2.py
Due: taplo

ci: Use cargo-nextest from within a pixi task
  .github/workflows/rust.yml
  pixi.lock
  pixi.toml
  src/cli/shell_hook.rs
  tests/install_tests.rs
Due: check-yaml, taplo, fmt, clippy, test

feat: refactor so it output with some colors
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/install.rs
  src/global/list.rs
  src/global/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

feat: refactor so it output with some colors
  src/cli/global/update.rs
Due: fmt, clippy, test

feat: now shows output of rattler-build above the progress
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/reporters.rs
  src/cli/build.rs
  src/environment.rs
Due: fmt, clippy, test

feat: disable progress in non tty
  src/cli/mod.rs
Due: fmt, clippy, test

misc: initial move of trampoline crate
  Cargo.lock
  crates/pixi_trampoline/Cargo.toml
  crates/pixi_trampoline/README.md
  crates/pixi_trampoline/src/main.rs
Due: taplo, fmt, clippy, test

fix: clean-up the code somewhat
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/stderr.rs
  crates/pixi_build_frontend/src/reporters.rs
  src/build/mod.rs
  src/build/reporters.rs
  src/environment.rs
  src/lock_file/reporter/progress_bar.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

ci: Use cargo-nextest from within a pixi task
  .github/workflows/rust.yml
  pixi.lock
  pixi.toml
  src/cli/shell_hook.rs
Due: check-yaml, taplo, fmt, clippy, test

feat: disable progress in non tty for the install script
  install/install.sh
Due: none

fix: make state to be reported also on custom named env
  src/global/list.rs
Due: fmt, clippy, test

fix: clippy
  crates/pixi_build_frontend/src/protocols/pixi/stderr.rs
  src/environment.rs
Due: fmt, clippy, test

misc: add test
  tests/integration/test_global.py
Due: none

Fix mypy
  tests/integration/test_data/update-channels.py
Due: none

ux: add python as a minor pinning as its to important for beginner users to not get wrong
  src/cli/add.rs
  tests/add_tests.rs
Due: fmt, clippy, test

fix: windows seperator issue
  crates/pixi_build_frontend/tests/diagnostics.rs
Due: fmt, clippy, test

Add rust cache again
  .github/workflows/rust.yml
Due: check-yaml

misc: add tracing for debug
  src/cli/add.rs
Due: fmt, clippy, test

feat: output more info if up to date (#2286)
  pixi.toml
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/list.rs
  src/global/mod.rs
  tests/integration/common.py
  tests/integration/test_global.py
Due: taplo, fmt, clippy, test

ci: add timeouts
  .github/workflows/rust.yml
  .github/workflows/test_downstream.yml
Due: check-yaml

typecheck python tests
  pixi.toml
  tests/pypi_proxy.py
  tests/run_all_examples.py
  tests/wheel_tests/conftest.py
  tests/wheel_tests/generate_summaries.py
  tests/wheel_tests/helpers.py
  tests/wheel_tests/record_results.py
  tests/wheel_tests/test_common_wheels.py
  tests/wheel_tests/test_read_wheels.py
Due: taplo

misc: add build.rs
  build.rs
  crates/pixi_trampoline/trampolines/pixi_trampoline-aarch64-apple-darwin
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
