Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix(publish): keep the server path prefix in upload URLs
  crates/pixi_cli/src/publish/mod.rs
  docs/reference/cli/pixi/publish.md
  docs/reference/cli/pixi/publish_extender
Due: cargo-fmt, cargo-clippy

fix: include new default_platforms directive in config_merge_multiple test
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
Due: none

feat(init): add default-platforms config support
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_config/src/lib.rs
  docs/reference/pixi_configuration.md
Due: cargo-fmt, cargo-clippy

remove supporting default_platforms snake case alias
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(init): complete default-platforms integration
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_cli/src/config.rs
  crates/pixi_config/src/lib.rs
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/main_config.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor(pixi-build-cmake): name the build directory once
  crates/pixi_build_cmake/src/build_script.j2
  crates/pixi_build_cmake/src/build_script.rs
  crates/pixi_build_cmake/src/inputs.rs
  crates/pixi_build_cmake/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: skip system CA store for pypi mapping middleware client
  crates/pixi_cli/src/config.rs
  crates/pypi_mapping/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: install script environments without running
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/install.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_core/src/environment/mod.rs
  docs/python/scripts.md
  docs/reference/cli/pixi/install.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

refactor: centralize lock-file handling for installs
  crates/pixi_api/src/workspace/reinstall/mod.rs
  crates/pixi_cli/src/install.rs
  crates/pixi_core/src/environment/mod.rs
Due: cargo-fmt, cargo-clippy

lint
  crates/pixi_build_ros/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: `pixi-build-ros` python file rebuild (#6931)
  crates/pixi_build_ros/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: install script environments without running (#6923)
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_api/src/workspace/reinstall/mod.rs
  crates/pixi_cli/src/install.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_core/src/environment/mod.rs
  docs/python/scripts.md
  docs/reference/cli/pixi/install.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

fix: bump astral_async_http_range_reader to 0.11.1
  Cargo.lock
Due: none

fix: bump astral_async_http_range_reader to 0.11.1 (#6941)
  Cargo.lock
Due: none

feat: add the `pixi_script_shell` crate with the mini-shell parser and executor
  Cargo.lock
  crates/pixi_script_shell/Cargo.toml
  crates/pixi_script_shell/src/execute.rs
  crates/pixi_script_shell/src/lib.rs
  crates/pixi_script_shell/src/parse.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: run conda-script files via `pixi run --experimental --script`
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/run_script.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  docs/reference/cli/pixi/run.md
  tests/integration_python/test_conda_script.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: build source dependencies in conda-script `tool.pixi` tables
  crates/pixi_manifest/src/script/conda/manifest.rs
  tests/integration_python/test_conda_script.py
Due: cargo-fmt, cargo-clippy

feat: Set `__glibc` default to 2.39 on linux-riscv64 (#6914)
  Cargo.lock
  Cargo.toml
  crates/pixi_default_versions/Cargo.toml
  crates/pixi_default_versions/src/lib.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pypi_modifiers/Cargo.toml
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/build/variants.md
  docs/python/scripts.md
  docs/workspace/system_requirements.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump version to v0.79.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump backend versions
  Cargo.lock
  Cargo.toml
  crates/pixi_build_ros/Cargo.toml
Due: check-openssl, toml-format

chore: bump version to v0.79.0 (#6946)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump backend versions (#6947)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_ros/Cargo.toml
Due: check-openssl, toml-format

fix(tasks): stop doubling backslashes in quoted task arguments
  crates/pixi_manifest/src/task.rs
Due: cargo-fmt, cargo-clippy

test: keep the riscv64 glibc override above the subdir default
  crates/pixi_api/src/workspace/platforms.rs
  crates/pixi_cli/src/shared/install_platform.rs
Due: cargo-fmt, cargo-clippy

feat: add the conda-script block model to `pixi_manifest`
  crates/pixi_manifest/src/script/block.rs
  crates/pixi_manifest/src/script/conda/entrypoint.rs
  crates/pixi_manifest/src/script/conda/envelope.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/metadata.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/mod.rs
  crates/pixi_manifest/src/script/pep723.rs
Due: cargo-fmt, cargo-clippy

feat: edit conda-script files with `pixi add` and friends
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/list.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/script/conda/document.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/workspace/channel/index.md
  docs/reference/cli/pixi/workspace/export/conda-environment.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  docs/reference/cli/pixi/workspace/platform/index.md
  tests/integration_python/test_conda_script.py
Due: cargo-fmt, cargo-clippy

docs: document conda-script files
  docs/python/scripts.md
  docs/reference/pixi_configuration.md
  docs/source_files/conda_scripts/main.R
  docs/source_files/conda_scripts/main.c
  docs/source_files/conda_scripts/main.cpp
  docs/source_files/conda_scripts/main.cs
  docs/source_files/conda_scripts/main.f90
  docs/source_files/conda_scripts/main.main.kts
  docs/source_files/conda_scripts/main.mojo
  docs/source_files/conda_scripts/main.py
  docs/source_files/conda_scripts/main.ts
  docs/source_files/pixi_config_tomls/main_config.toml
  docs/tutorials/conda_script.md
  tests/integration_python/test_conda_script_examples.py
  typos.toml
  zensical.toml
Due: check-openssl, toml-format

feat: initialize scripts of any language with `pixi init --script`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_manifest/src/script/block.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/conda/templates.rs
  crates/pixi_manifest/src/script/pep723.rs
  docs/reference/cli/pixi/index.md
  docs/reference/cli/pixi/init.md
Due: cargo-fmt, cargo-clippy

feat: run conda-script files via `pixi run --experimental --script`
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/run_script.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  docs/reference/cli/pixi/run.md
  tests/integration_python/test_conda_script.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: share the `tool.pixi` allowlist between script kinds
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/metadata.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/mod.rs
  crates/pixi_manifest/src/script/pep723.rs
  crates/pixi_manifest/src/script/tool_pixi.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/workspace.rs
  docs/python/scripts.md
  docs/tutorials/conda_script.md
  tests/integration_python/test_conda_script.py
Due: cargo-fmt, cargo-clippy

perf: build Linux x64 releases with PGO
  .github/actionlint.yml
  .github/workflows/pgo.yml
  .github/workflows/release.yml
  scripts/build_pgo.py
  scripts/pgo/pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

feat: add the conda-script block model to `pixi_manifest` (#6907)
  crates/pixi_manifest/src/script/block.rs
  crates/pixi_manifest/src/script/conda/entrypoint.rs
  crates/pixi_manifest/src/script/conda/envelope.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/metadata.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/mod.rs
  crates/pixi_manifest/src/script/pep723.rs
Due: cargo-fmt, cargo-clippy

feat: share the `tool.pixi` allowlist between script kinds
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/metadata.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/mod.rs
  crates/pixi_manifest/src/script/pep723.rs
  crates/pixi_manifest/src/script/tool_pixi.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/workspace.rs
  docs/python/scripts.md
  docs/tutorials/conda_script.md
  tests/integration_python/test_conda_script.py
Due: cargo-fmt, cargo-clippy
