Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

feat: replace pypi input hash with metadata comparison
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

fix: add dev workspace snapshot
  tests/integration_python/test_docs_examples.py
Due: none

pin-compatible wip
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_stable_hash/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: use serde Default
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/input_hash.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

fix: add run_exports support to mock packages and include variant in source metadata cache
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_test_utils/src/mock_repo_data.rs
Due: cargo-fmt, cargo-clippy

fix: add dev workspace snapshot (#5177)
  tests/integration_python/test_docs_examples.py
Due: none

fix: source packages with git source were always out-of-date (#5178)
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

Adding default-environment via cli
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__additional_task_keys.snap
Due: cargo-fmt, cargo-clippy

restoring kebab-case
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__additional_task_keys.snap
  crates/pixi_manifest/src/toml/task.rs
  schema/model.py
  schema/schema.json
Due: cargo-fmt, cargo-clippy

pytest and lint failures
  crates/pixi_task/src/task_graph.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

remove json_schema_extra
  schema/model.py
  schema/schema.json
Due: none

fixing wrong dtype
  schema/model.py
  schema/schema.json
Due: none

chore: version to 0.62.2
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.62.2 (#5186)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: expose run_exports thorugh backend
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_test_utils/src/mock_repo_data.rs
Due: cargo-fmt, cargo-clippy

misc: apply run exports
  crates/pixi_test_utils/src/mock_repo_data.rs
Due: cargo-fmt, cargo-clippy

misc: update snapshot
  crates/pixi/tests/integration_rust/snapshots/integration_rust__search_tests__search_multiple_versions.snap
Due: none

misc: update run_exports
  crates/pixi_test_utils/src/mock_repo_data.rs
Due: cargo-fmt, cargo-clippy

fix: always add git requirement to the lockfile
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

misc: remove variant conf
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

fix: hover color on footer links
  docs/stylesheets/extra.css
Due: none

fix: hover color on footer links (#5189)
  docs/stylesheets/extra.css
Due: none

fix: don't strip the path on out of source paths.
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

fix: `pixi lock` backend override (#5179)
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_test_utils/src/mock_repo_data.rs
Due: cargo-fmt, cargo-clippy

disambiguate task when default-environment is present
  crates/pixi_cli/src/run.rs
Due: cargo-fmt, cargo-clippy

using --environment to override default-environmnet plus some tests
  crates/pixi_task/src/task_environment.rs
  crates/pixi_task/src/task_graph.rs
Due: cargo-fmt, cargo-clippy

clippy suggestions
  crates/pixi_task/src/task_graph.rs
Due: cargo-fmt, cargo-clippy

using doc comment instead of regular comment
  crates/pixi_cli/src/task.rs
Due: cargo-fmt, cargo-clippy

auto generated doc
  docs/reference/cli/pixi/task/add.md
Due: none

fix: simplify GitUrl construction in lockfile
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

overriding the default eith default-environment
  crates/pixi_task/src/task_environment.rs
Due: cargo-fmt, cargo-clippy

clippy suggestions
  crates/pixi_task/src/task_environment.rs
Due: cargo-fmt, cargo-clippy

test all platforms
  crates/pixi_task/src/task_environment.rs
Due: cargo-fmt, cargo-clippy

fix: enhance backend instantiation logging with isolated tool prefix
  crates/pixi_build_frontend/src/tool.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

fix: resolve reporter context race condition in dispatcher
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
Due: cargo-fmt, cargo-clippy

fix: stale metadata when pointing to file
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_spec/src/source_anchor.rs
Due: cargo-fmt, cargo-clippy

misc: optimise test fix
  crates/pixi_spec/src/source_anchor.rs
Due: cargo-fmt, cargo-clippy

misc: remove unnecessary Debug derives
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
Due: cargo-fmt, cargo-clippy
