Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

misc: add cancelation token
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
Due: cargo-fmt, cargo-clippy

Add support for Fish on Windows
  crates/pixi_cli/src/shell.rs
Due: cargo-fmt, cargo-clippy

restore examples/pixi-build/array-api-extra from main
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/array-api-extra/pixi.toml
  examples/pixi-build/array-api-extra/recipe.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format

chore: Build for riscv64gc-unknown-linux-musl
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

?
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

WIP
  .github/workflows/release.yml
  dist-workspace.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

WIP
  docs/assets/Bildschirmfoto 2025-07-18 um 14.42.09.png
  docs/assets/Bildschirmfoto 2025-07-18 um 14.55.50.png
  docs/assets/Bildschirmfoto 2025-07-18 um 14.55.59.png
  docs/assets/Bildschirmfoto 2025-07-18 um 14.56.13.png
  docs/assets/Bildschirmfoto 2025-07-18 um 14.56.51.png
  docs/assets/Bildschirmfoto 2025-07-18 um 15.00.16.png
  docs/integration/enterprise/artifactory.md
  docs/integration/extensions/introduction.md
Due: none

fix: improve python version specifier handling in pypi.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

fix: reporter context retrieval (#5202)
  crates/pixi_build_frontend/src/tool.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
Due: cargo-fmt, cargo-clippy

Update crates/pixi_task/src/task_environment.rs
  crates/pixi_task/src/task_environment.rs
Due: cargo-fmt, cargo-clippy

feat(task): `--default_environment` flag for specifying the default environment for a task (#5164)
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__additional_task_keys.snap
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_task/src/task_environment.rs
  docs/reference/cli/pixi/task/add.md
  schema/model.py
  schema/schema.json
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

misc: check if the path represent a file
  crates/pixi_spec/src/source_anchor.rs
Due: cargo-fmt, cargo-clippy

misc: cjhange source anchor
  Cargo.lock
  crates/pixi_consts/src/consts.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/source_anchor.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: stale metadata when pointing to file (#5203)
  Cargo.lock
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_consts/src/consts.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/source_anchor.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: preserver branch reference
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

add interactive command for pixi update
  crates/pixi_cli/src/update.rs
Due: cargo-fmt, cargo-clippy

clippy suggestions
  crates/pixi_cli/src/update.rs
Due: cargo-fmt, cargo-clippy

clippy suggestions
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/update.rs
Due: cargo-fmt, cargo-clippy

Calculate size of cache while cleaning
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/clean.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: add section on pinned package conflicts in conda and PyPI integration
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  docs/concepts/conda_pypi.md
Due: cargo-fmt, cargo-clippy

docs: add section on pinned package conflicts in conda and PyPI integration (#5217)
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  docs/concepts/conda_pypi.md
Due: cargo-fmt, cargo-clippy

misc: remove some comments
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

misc: simplify doc comment
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

misc: remove enriching requirements
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

misc: return back enrichment logic
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

misc: preserve the reference
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

docs: explain the matchspec and source spec
  docs/concepts/package_specifications.md
  docs/reference/cli/pixi/add_extender
  docs/reference/cli/pixi/global/install_extender
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/package_specifications.toml
  docs/source_files/shell/package_specifications.sh
  mkdocs.yml
Due: check-yaml, check-openssl, toml-format, yaml-format

misc: prepopulate git solver
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove comment
  crates/pixi/tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

fix: use backward-compatible Fish shell path setup in installer
  install/install.sh
Due: none

test: test the requires python version matching logic
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

fix: improve python version specifier handling in pypi.rs (#5211)
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

docs: add pypi package specification
  docs/concepts/package_specifications.md
  docs/source_files/pixi_tomls/package_specifications.toml
Due: check-openssl, toml-format

docs: fix link
  docs/concepts/package_specifications.md
Due: none

chore: `download-font` for Windows
  docs/layouts/download-font-to-cache.nu
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

chore: `download-font` for Windows
  docs/layouts/download-font-to-cache.nu
  docs/layouts/download-font-to-cache.sh
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

feat(pixi_api): Add set_channels() to WorkspaceContext
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/workspace/channel.rs
  crates/pixi_cli/src/workspace/channel.rs
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

add test for set_channel
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__set_channels.snap
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
