Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

docs: remove more emojis
  docs/index.md
Due: none

docs: type
  docs/index.md
Due: none

add banner and some notes on where to get software
  docs/assets/banner.svg
  docs/index.md
Due: none

fix list
  docs/index.md
Due: none

docs: remove home title, upgrade colors
  docs/index.md
  docs/overrides/home.html
  docs/overrides/partials/mycontent.html
  docs/stylesheets/extra.css
  mkdocs.yml
Due: check-yaml, yaml-format

docs: clip banner
  docs/assets/banner.svg
Due: none

fix: support semantic input globs
  crates/pixi_glob/src/glob_set.rs
Due: cargo-fmt, cargo-clippy

docs: slight improve text with links
  docs/index.md
Due: none

fix: support semantic input globs
  crates/pixi_pypi_spec/src/pep508.rs
Due: cargo-fmt, cargo-clippy

docs: remove unused gifs
  docs/assets/pixi_global_demo.gif
  docs/assets/pixi_project_demo.gif
Due: none

docs: change order of first links
  mkdocs.yml
Due: check-yaml, yaml-format

misc: apply comments
  crates/pixi_glob/src/glob_set.rs
Due: cargo-fmt, cargo-clippy

docs: use cargo instead of rustc
  docs/index.md
Due: none

Update crates/pixi_glob/src/glob_set.rs
  crates/pixi_glob/src/glob_set.rs
Due: cargo-fmt, cargo-clippy

chore: Bump zip to 3.0.0
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

test: improve path-diff
  src/global/install.rs
  tests/integration_python/pixi_global/test_trampoline.py
Due: cargo-fmt, cargo-clippy

fix: support input globs (#3812)
  crates/pixi_glob/src/glob_set.rs
Due: cargo-fmt, cargo-clippy

docs: fix reference to command dispatcher (#3808)
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
Due: cargo-fmt, cargo-clippy

Comment to slow down the entropic dissipation of order
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

typo
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

Alphabetise command list in cli help
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

Update docs/index.md
  docs/index.md
Due: none

docs: use feature card instead of table
  docs/index.md
  docs/stylesheets/extra.css
Due: none

docs: use scrolable quote cards
  docs/index.md
  docs/stylesheets/extra.css
Due: none

docs: simplify documentation frontpage (#3802)
  demo_global.gif
  docs/assets/banner.svg
  docs/assets/vhs-tapes/.gitattributes
  docs/assets/vhs-tapes/.gitignore
  docs/assets/vhs-tapes/demo_global_dark.tape
  docs/assets/vhs-tapes/demo_global_light.tape
  docs/assets/vhs-tapes/demo_project_dark.tape
  docs/assets/vhs-tapes/demo_project_light.tape
  docs/assets/vhs-tapes/pixi.lock
  docs/assets/vhs-tapes/pixi.toml
  docs/assets/vhs-tapes/pixi_global_demo_dark.gif
  docs/assets/vhs-tapes/pixi_global_demo_light.gif
  docs/assets/vhs-tapes/pixi_project_demo_dark.gif
  docs/assets/vhs-tapes/pixi_project_demo_light.gif
  docs/index.md
  docs/installation.md
  docs/overrides/home.html
  docs/overrides/partials/mycontent.html
  docs/stylesheets/extra.css
  mkdocs.yml
  pixi.lock
  pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format

docs: regenerate
  docs/reference/cli/pixi.md
Due: none

docs: Fix typo
  docs/deployment/s3.md
Due: none

docs: Fix typo (#3820)
  docs/deployment/s3.md
Due: none

style: Alphabetise command list in cli help (#3817)
  docs/reference/cli/pixi.md
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

improve type of outputs, add Eq, PartialEq, etc.
  crates/pixi_build_types/src/procedures/conda_build.rs
  src/build/mod.rs
Due: cargo-fmt, cargo-clippy

Add security policy
  SECURITY.md
Due: none

feat: improve type of outputs, add Eq, PartialEq, etc. (#3822)
  crates/pixi_build_types/src/procedures/conda_build.rs
  src/build/mod.rs
Due: cargo-fmt, cargo-clippy

fix: path diff not calculated on Windows
  src/global/install.rs
  tests/integration_python/pixi_global/test_trampoline.py
Due: cargo-fmt, cargo-clippy

pre-commit
  crates/pixi_build_frontend/src/backend_spec.rs
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_build_frontend/tests/integration/diagnostics.rs
  crates/pixi_build_frontend/tests/integration/discovery.rs
  crates/pixi_build_frontend/tests/integration/main.rs
  tests/data/discovery/inherit/nested/pixi.toml
  tests/data/discovery/inherit/pixi.toml
  tests/data/discovery/invalid/pixi.toml
  tests/data/discovery/nested/nested/pixi.toml
  tests/data/discovery/not-a-package/pixi.toml
  tests/data/discovery/simple/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

missing Cargo lock
  pixi_docs/Cargo.lock
Due: none

missing new lines
  tests/data/discovery/inherit/nested/TEST-CASE
  tests/data/discovery/invalid/TEST-CASE
  tests/data/discovery/nested/TEST-CASE
  tests/data/discovery/nested/nested/TEST-CASE
  tests/data/discovery/nested_recipe_yml/TEST-CASE
  tests/data/discovery/not-a-package/TEST-CASE
  tests/data/discovery/recipe_yaml/TEST-CASE
  tests/data/discovery/recipe_yml/TEST-CASE
  tests/data/discovery/simple/TEST-CASE
Due: none

docs: fix windows param install script
  docs/installation.md
Due: none

docs: Add security policy (#3823)
  SECURITY.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
