Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: honor CONDA_OVERRIDE_* in the publish build and host solves
  crates/pixi_cli/src/publish/mod.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

fix: honor CONDA_OVERRIDE_* in the publish build and host solves (#6826)
  crates/pixi_cli/src/publish/mod.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

Skip the variable for a help message
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

fix: help users with better help messages (#6821)
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/system_requirements.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/platform.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__feature_references_undeclared_platform.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__feature_references_undeclared_platform_suggests_naming.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__feature_references_undeclared_platform_with_system_requirements.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__system_requirements_deprecation_warning_lists_all_requirements.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__system_requirements_deprecation_warning_skips_inapplicable_platforms.snap
  crates/pixi_manifest/src/warning/deprecation.rs
Due: cargo-fmt, cargo-clippy

fix: enable cacache manager for http cache
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

refactor: pass the resolved package name as a `PackageName` to the pin checks
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/package_target.rs
  crates/pixi_manifest/src/utils/inheritable_package_map.rs
Due: cargo-fmt, cargo-clippy

Add some extra mappings
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

change the PixiPlatform from option to direct
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/test_activation.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/shell.rs
  crates/pixi_cli/src/shell_hook.rs
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/task_graph.rs
  crates/pixi_task/src/task_hash.rs
Due: cargo-fmt, cargo-clippy

feat: Add some extra mappings to `pixi-build-ros` (#6828)
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

Never resurrect cleaned entries on the metadata refresh path
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
Due: cargo-fmt, cargo-clippy

Report honest miss reasons for unreadable and untracked inputs
  crates/pixi_command_dispatcher/src/cache/artifact.rs
  crates/pixi_command_dispatcher/src/input_snapshot.rs
Due: cargo-fmt, cargo-clippy

docs: bare-string platforms solve against Pixi's defaults, not host detection
  docs/reference/pixi_manifest.md
  docs/workspace/multi_platform_configuration.md
Due: none

Although released to the buildfarm, magic_enum is not really a ROS package
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

Some more dependencies presentin robostack and rosdistro but missing here
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

feat: add `magic_enum` to `pixi-build-ros` mapping (#6830)
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

refactor(platforms): represent virtual-package requirements as match specs
  crates/pixi_api/src/workspace/workspace/platform.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/errors.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/workspace.rs
  docs/advanced/explain_info_command.md
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_richer_platform_bugs.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(platforms): name the unrunnable subdir instead of its requirements
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

fix(platforms): Do not let one unreadable requirement eat all requirements
  crates/pixi_core/src/environment/mod.rs
  tests/integration_python/test_richer_platform_bugs.py
Due: cargo-fmt, cargo-clippy

fix(platforms): suggest overrides when the marker check refuses to run
  crates/pixi_core/src/workspace/errors.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
Due: cargo-fmt, cargo-clippy

fix(platforms): do not suggest an override the target platform ignores
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/errors.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  tests/integration_python/test_richer_platform_bugs.py
Due: cargo-fmt, cargo-clippy

fix(platforms): honor PIXI_OVERRIDE_PLATFORM in the run-time marker check
  crates/pixi_core/src/workspace/virtual_packages.rs
  tests/integration_python/test_richer_platform_bugs.py
Due: cargo-fmt, cargo-clippy

docs: fix rich platform claim (#6829)
  docs/reference/pixi_manifest.md
  docs/workspace/multi_platform_configuration.md
Due: none

Change mojo package command to mojo precompile
  crates/pixi_build_mojo/src/build_script.j2
Due: none

fix(pixi-build-mojo): change `mojo package` command to `mojo precompile` (#6833)
  crates/pixi_build_mojo/src/build_script.j2
Due: none

fix(satisfiability): accept a pypi index pinned by a sibling spec
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
Due: cargo-fmt, cargo-clippy

test(satisfiability): add a fixture for an index pinned in one feature
  tests/data/satisfiability/pypi-per-package-index-cross-feature/pixi.lock
  tests/data/satisfiability/pypi-per-package-index-cross-feature/pixi.toml
Due: check-openssl, toml-format

fix(satisfiability): take pypi index pins from the whole solve group
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  tests/data/satisfiability/pypi-per-package-index-cross-feature/pixi.toml
  tests/data/satisfiability/pypi-per-package-index-sibling-specs/pixi.lock
  tests/data/satisfiability/pypi-per-package-index-sibling-specs/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor(satisfiability): convert manifest pypi specs in one place
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
Due: cargo-fmt, cargo-clippy

refactor: Use matchspecs for requirements in rich platforms (#6827)
  crates/pixi_api/src/workspace/workspace/platform.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/errors.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/workspace.rs
  docs/advanced/explain_info_command.md
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_richer_platform_bugs.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(pixi-build-mojo): fall back to `mojo package` when `precompile` is unavailable
  crates/pixi_build_mojo/src/build_script.j2
  crates/pixi_build_mojo/src/build_script.rs
Due: cargo-fmt, cargo-clippy

fix: scope target activation to the platform a run targets (#6822)
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/test_activation.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/shell.rs
  crates/pixi_cli/src/shell_hook.rs
  crates/pixi_core/src/activation.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/task_environment.rs
  crates/pixi_task/src/task_graph.rs
  crates/pixi_task/src/task_hash.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(pixi-build-mojo): fall back to `mojo package` when `precompile` is unavailable (#6841)
  crates/pixi_build_mojo/src/build_script.j2
  crates/pixi_build_mojo/src/build_script.rs
Due: cargo-fmt, cargo-clippy

chore: bump backend versions
  Cargo.lock
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
Due: check-openssl, toml-format

feat: some more dependencies presentin robostack and rosdistro but missing here (#6831)
  crates/pixi_build_ros/robostack.yaml
Due: check-yaml, yaml-format

fix lint
  crates/pixi/tests/integration_rust/test_activation.rs
Due: cargo-fmt, cargo-clippy

chore: fix lint on main (#6847)
  crates/pixi/tests/integration_rust/test_activation.rs
Due: cargo-fmt, cargo-clippy

feat: display channel notices
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/workspace/search/mod.rs
  crates/pixi_build_backend/src/intermediate_backend.rs
  crates/pixi_build_backend/src/rattler_build_integration.rs
  crates/pixi_build_backend/src/tools.rs
  crates/pixi_build_cmake/src/main.rs
  crates/pixi_build_mojo/src/main.rs
  crates/pixi_build_python/src/main.rs
  crates/pixi_build_r/src/main.rs
  crates/pixi_build_rattler_build/src/protocol.rs
  crates/pixi_build_ros/src/main.rs
  crates/pixi_build_rust/src/main.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_cli/src/search.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/ephemeral_env/mod.rs
  crates/pixi_command_dispatcher/src/keys/solve_conda.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_reporters/src/lib.rs
  crates/pixi_reporters/src/repodata_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix minijinja compat
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

chore: bump backend versions (#6845)
  Cargo.lock
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
