Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

Adapt tests
  tests/integration/test_global.py
Due: none

Adapt message slightly
  src/global/common.rs
Due: fmt, clippy, test

fix: only uninstall single specified environments, only cleanup on sync
  src/cli/global/uninstall.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: don't use python 3.13 in setuptools test
  tests/install_tests.rs
Due: fmt, clippy, test

fix: don't expect uninstall to work without errors (#2229)
  src/install_pypi.rs
Due: fmt, clippy, test

fix: only uninstall single specified environments, only cleanup on sync (#2246)
  src/cli/global/uninstall.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

chore: don't use python 3.13 in setuptools test (#2247)
  tests/install_tests.rs
Due: fmt, clippy, test

misc: don't discover full global project in info. Just fetch paths
  src/cli/info.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

Update to latest feature branch
  src/cli/global/install.rs
  src/global/common.rs
  src/global/install.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: ci errors
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

Fix `insert_change`
  src/global/common.rs
Due: fmt, clippy, test

misc: don't load project just open manifest file, and add editor option
  src/cli/global/edit.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

Fix uninstall reporting
  src/cli/global/uninstall.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

Update src/cli/global/edit.rs
  src/cli/global/edit.rs
Due: fmt, clippy, test

Format
  src/cli/global/edit.rs
Due: fmt, clippy, test

Add a test that ensure that install does nothing when running twice
  tests/integration/test_global.py
Due: none

feat: add `pixi global edit` (#2219)
  src/cli/global/edit.rs
  src/cli/global/mod.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: align colors and text
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/global/common.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

feat: improve global install (#2244)
  src/cli/global/add.rs
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/sync.rs
  src/cli/global/uninstall.rs
  src/global/common.rs
  src/global/install.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: remove broken exec
  src/global/common.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: formatting
  schema/examples/valid/full.toml
  schema/model.py
Due: taplo

Update tests
  src/global/project/environment.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: upstream code, and fix expose_name removal
  src/cli/global/remove.rs
  src/global/common.rs
  src/global/project/environment.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

feat: do not re-install if source does not change (#2118)
  crates/pixi_glob/src/glob_mtime.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
  src/build/cache/build_cache.rs
  src/build/cache/mod.rs
  src/build/cache/source_metadata_cache.rs
  src/build/mod.rs
  src/cli/build.rs
  src/environment.rs
  src/lib.rs
  src/lock_file/package_identifier.rs
  src/utils.rs
Due: fmt, clippy, test

feat: add build section (#2235)
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/main.rs
  crates/pixi_build_frontend/src/protocols/error.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_build_frontend/src/tool/mod.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  crates/pixi_build_frontend/tests/basic/pixi.toml
  crates/pixi_manifest/src/build.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/parsed_manifest.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__build_invalid_matchspec.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__build_section_deserialization.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__invalid_key.snap
  crates/pixi_manifest/src/validation.rs
  examples/cpp-sdl/CMakeLists.txt
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/satisfiability.rs
Due: taplo, fmt, clippy, test

Fix tests
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

Import trait only on unix
  src/global/project/environment.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

Add trait
  src/global/project/mod.rs
Due: fmt, clippy, test

docs: add more global commands to latest status.
  docs/features/global_tools.md
  docs/reference/cli.md
Due: none

Switch during compiletime, not runtime
  src/global/project/environment.rs
Due: fmt, clippy, test

Update tests/integration/test_global.py
  tests/integration/test_global.py
Due: none

Address comments
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: hanging ci
  Cargo.lock
Due: none

fix: remove broken exec (#2248)
  src/global/common.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

Update docs/features/global_tools.md
  docs/features/global_tools.md
Due: none

docs: small cleanup
  docs/features/global_tools.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
