Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: Platform-specific export format with proper escaping
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: update env key
  tests/integration_python/test_run_cli.py
Due: none

style: fix lint issues
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix issues mentioned in PR comments
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix: Platform-specific export format
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: add test for activation.script > activation scripts from dependencies
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format

test: update unit tests
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix proper quotes
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: add integration test for environment variable priority'
  tests/integration_python/test_run_cli.py
Due: none

feat: override environment variables based on priority and export all of them
  src/cli/run.rs
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix esacpe parenthis
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: update unit test
  src/task/executable_task.rs
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

fix: fix windows test errors
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

feat: [activation.env] should override activation scripts
  src/activation.rs
Due: cargo-fmt, cargo-clippy

removed duplicate pixi tasks
  pixi.toml
Due: check-openssl, toml-format

feat: manual validation of frozen and locked CLI arguments (#4044)
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

feat: Add local dependency management for UV and Rattler (#4084)
  Cargo.toml
  pixi.toml
  scripts/local_patch.py
Due: check-openssl, toml-format

fix: update template variable for extra index URLs in init file (#4072)
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

docs: add `site_description`
  mkdocs.yml
Due: check-yaml, yaml-format

docs: add `site_description` (#4088)
  mkdocs.yml
Due: check-yaml, yaml-format

Add conda-deny documentation
  docs/integration/extensions/conda_deny.md
Due: none

Add to navigation
  mkdocs.yml
Due: check-yaml, yaml-format

docs: improve the `system-requirements` documentation (#4068)
  docs/workspace/system_requirements.md
Due: none

feat: upgrade to uv 0.7.19
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/validation.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
  src/lock_file/satisfiability/mod.rs
  src/uv_reporter.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Move docs to "Third Party" section
  docs/integration/third_party/conda_deny.md
Due: none

Add to navigation
  docs/integration/third_party/conda_deny.md
  mkdocs.yml
Due: check-yaml, yaml-format

docs: enable `content.code.select`
  mkdocs.yml
Due: check-yaml, yaml-format

Update mkdocs.yml
  mkdocs.yml
Due: check-yaml, yaml-format

remove commented code
  crates/pixi_manifest/src/toml/pypi_options.rs
  docs/overrides/override.md
Due: cargo-fmt, cargo-clippy

feat(override): add samples, and updated marks
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_spec_containers/src/lib.rs
  docs/overrides/override.md
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

test(depency_overrides): add genrated lock file.
  tests/data/lockfiles/dependency_overrides.lock
Due: none

draft: test(overide)
  tests/data/pixi_tomls/dependency_overrides.toml
  tests/integration_python/test_pypi_options.py
Due: check-openssl, toml-format

fix typo
  tests/integration_python/test_pypi_options.py
Due: none

fix
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

test(snap): update snaps
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_binary_packages.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_isolation_boolean.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_packages.snap
Due: none

fix(lint)
  crates/pixi_manifest/src/pypi/pypi_options.rs
  src/lock_file/resolve/pypi.rs
  tests/data/pixi_tomls/dependency_overrides.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(nav): add Dependency Overrides section to Advanced documentation
  mkdocs.yml
Due: check-yaml, yaml-format

docs: enable `content.code.select` (#4092)
  mkdocs.yml
Due: check-yaml, yaml-format

fix: single clean-up
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

feat: refactored into url type to make it clearer when conversions happen
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/git_url.rs
  crates/pixi_uv_conversions/src/lib.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/install_pypi/plan/test/harness.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
