Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat: continue adding minijinja integration
  Cargo.lock
  crates/pixi_consts/src/consts.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_manifest/src/workspace.rs
  src/cli/run.rs
  src/cli/task.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
  src/task/task_hash.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: Improve error message at missing pixi section (#3516)
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@missing-tables_pixi.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@missing-tables_pyproject.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@nested-pyproject-workspace_nested-non-pixi-pyproject.snap
  tests/data/workspace-discovery/missing-tables/pixi.toml
  tests/data/workspace-discovery/missing-tables/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

wip: work on overwrite test
  tests/data/installation-order/.gitattributes
  tests/data/installation-order/.gitignore
  tests/data/installation-order/conda/pixi.lock
  tests/data/installation-order/conda/pixi.toml
  tests/data/installation-order/foobar/.gitattributes
  tests/data/installation-order/foobar/.gitignore
  tests/data/installation-order/foobar/foobar-0.1.0-pyhbf21a9e_0.conda
  tests/data/installation-order/foobar/pixi.lock
  tests/data/installation-order/foobar/pyproject.toml
  tests/data/installation-order/foobar/src/foobar/__init__.py
  tests/data/installation-order/foobar/src/foobar/a.py
  tests/data/installation-order/foobar_whl/.gitattributes
  tests/data/installation-order/foobar_whl/.gitignore
  tests/data/installation-order/foobar_whl/dist/foobar-0.1.0-py3-none-any.whl
  tests/data/installation-order/foobar_whl/pixi.lock
  tests/data/installation-order/foobar_whl/pyproject.toml
  tests/data/installation-order/foobar_whl/src/foobar_whl/__init__.py
  tests/data/installation-order/foobar_whl/src/foobar_whl/b.py
  tests/data/installation-order/minimal-0.1.0-py2.py3-none-any.whl
  tests/data/installation-order/pixi.lock
  tests/data/installation-order/pixi.toml
  tests/data/installation-order/wheel/pixi.toml
Due: check-openssl, toml-format

feat: update lock
  tests/data/installation-order/conda/pixi.lock
  tests/data/installation-order/foobar/pixi.lock
  tests/data/installation-order/foobar_whl/pixi.lock
Due: none

fix error type:
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/workspace.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

update cli docs
  pixi_docs/Cargo.lock
Due: none

fix the tests
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__target_specific_tasks.snap
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  src/cli/task.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
  src/task/task_hash.rs
  src/workspace/environment.rs
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks-2.snap
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks-3.snap
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks.snap
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

Mark `add_tests::add_pypi_git` as an online test
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

docs: rm unused ordered list in system_requirements.md
  docs/workspace/system_requirements.md
Due: none

TaskNode Display improvement
  src/task/task_graph.rs
Due: cargo-fmt, cargo-clippy

docs: rm unused ordered list in system_requirements.md (#3590)
  docs/workspace/system_requirements.md
Due: none

Small improvement
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

feat: more lock file changes
  tests/data/installation-order/pixi.toml
  tests/data/installation-order/wheel/pixi.lock
  tests/data/installation-order/wheel/pixi.toml
Due: check-openssl, toml-format

Small step in the right direction
  crates/pixi_manifest/src/task.rs
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: another place a rayon lock is needed
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: exclude-newer
  crates/pixi_consts/src/consts.rs
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/lock.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/cli/upgrade.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/mod.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  src/cli/workspace/platform/add.rs
  src/cli/workspace/platform/remove.rs
  src/environment/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

test: add test to verify behavior
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/common/package_database.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix: tests and cli docs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/exec.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  docs/reference/cli/pixi/workspace/platform/add.md
  docs/reference/cli/pixi/workspace/platform/remove.md
  src/lock_file/satisfiability.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix: another place a rayon lock is needed (#3591)
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

refactor: feature names inside double quotes if containing a dot
  crates/pixi_manifest/src/manifests/table_name.rs
Due: cargo-fmt, cargo-clippy

Refactor task argument handling and error types
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  src/cli/task.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
  src/workspace/environment.rs
  trampoline/Cargo.lock
Due: cargo-fmt, cargo-clippy

fix Community page link in README
  README.md
Due: none

Update renovate.json
  renovate.json
Due: none

Add commit prefix
  renovate.json
Due: none

Don't update machete
  renovate.json
Due: none

Don't update rattler
  renovate.json
Due: none

docs: Updating windows installation.md to correspond to installation.ps1 (#3507)
  docs/advanced/installation.md
Due: none

fix: community page link in README (#3595)
  README.md
Due: none

Update lock files, separate PR for rattler and delete unneeded files
  .github/dependabot.yml
  .github/workflows/update-lockfiles.yml
  renovate.json
Due: check-yaml, actionlint, yaml-format

Don't upgrade Rust
  renovate.json
Due: none

Don't update deno_task_shell
  renovate.json
Due: none

feat: allow date only
  src/cli/cli_config.rs
  src/cli/exec.rs
  src/lock_file/exclude_newer.rs
  src/lock_file/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/resolve/conda.rs
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

test: Mark `add_tests::add_pypi_git` as an online test (#3586)
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

ci: fix commit prefix
  renovate.json
Due: none

ci: fix commit prefix (#3601)
  renovate.json
Due: none

ci: update github actions hash
  .github/workflows/ci.yml
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

fix: add test and fix other test
  src/lock_file/exclude_newer.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  src/lock_file/exclude_newer.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
