Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: take into account tasks arguments when caching (#3782)
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  examples/jupyterlab/LorenzDifferentialEquations.ipynb
  src/cli/run.rs
  src/task/executable_task.rs
  src/task/task_hash.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix: hanging on ssh passphrase (#3761)
  crates/pixi_git/src/lib.rs
  crates/pixi_progress/src/lib.rs
  docs/build/getting_started.md
  docs/reference/pixi_manifest.md
  src/build/reporters.rs
  src/uv_reporter.rs
Due: cargo-fmt, cargo-clippy

Only snapshot event types
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

Simplify and fix test
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
Due: cargo-fmt, cargo-clippy

fix: keep index on pypi dependency upgrade (#3746)
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_pypi_spec/src/pep508.rs
  src/cli/add.rs
  src/cli/init.rs
  src/cli/upgrade.rs
  src/workspace/mod.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/main.rs
  tests/integration_rust/snapshots/integration_rust__upgrade_tests__pypi_dependency_index_preserved_on_upgrade.snap
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

docs: fix typo in multi_environment.md
  docs/workspace/multi_environment.md
Due: none

fix: failing ci and improve test
  tests/integration_rust/snapshots/integration_rust__upgrade_tests__pypi_dependency_index_preserved_on_upgrade.snap
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

fix: redact platform specific stuff
  tests/integration_rust/snapshots/integration_rust__upgrade_tests__pypi_dependency_index_preserved_on_upgrade.snap
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

refactor: allow `CondaResolverProvider`'s fallback to be any `ResolverProvider`
  src/lock_file/resolve/resolver_provider.rs
Due: cargo-fmt, cargo-clippy

fixes from code review
  Cargo.toml
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  src/build/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: simplify frontpage
  docs/assets/pixi_global_demo.gif
  docs/assets/pixi_project_demo.gif
  docs/index.md
  docs/installation.md
  mkdocs.yml
  pixi.lock
  pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format

docs: fix yml file"
  mkdocs.yml
Due: check-yaml, yaml-format

fix: help user when command not found
  src/cli/run.rs
Due: cargo-fmt, cargo-clippy

fix: help user when command not found (#3803)
  src/cli/run.rs
Due: cargo-fmt, cargo-clippy

perf: avoid intermediate allocation
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

refactor: add `PypiPackageIdentifier::from_pixi_record()`
  src/lock_file/package_identifier.rs
  src/lock_file/records_by_name.rs
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

test: add failing test
  tests/integration_rust/conflict_tests.rs
  tests/integration_rust/main.rs
Due: cargo-fmt, cargo-clippy

feat: parse `uv_resolver::ResolveError`
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

Remove error trace from discovery
  src/build/mod.rs
Due: cargo-fmt, cargo-clippy

Fix clippy lint
  crates/pixi_pypi_spec/src/pep508.rs
Due: cargo-fmt, cargo-clippy

Move git cache dir to correct location
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Actually, let's move it out of consts
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_consts/src/consts.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Rename `requirements` to `dependencies`
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

Keep the old working directory name
  crates/pixi_command_dispatcher/src/cache_dirs.rs
Due: cargo-fmt, cargo-clippy

Stop overriding default cache dir
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

Move hardcoded strings to `pixi_consts`
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_consts/src/consts.rs
  src/global/project/mod.rs
  src/workspace/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update lock file
  pixi_docs/Cargo.lock
Due: none

docs: use vhs to record demo's
  demo_global.gif
  docs/assets/vhs-tapes/.gitattributes
  docs/assets/vhs-tapes/.gitignore
  docs/assets/vhs-tapes/demo_global_dark.tape
  docs/assets/vhs-tapes/demo_global_light.tape
  docs/assets/vhs-tapes/demo_project_dark.tape
  docs/assets/vhs-tapes/demo_project_light.tape
  docs/assets/vhs-tapes/pixi.lock
  docs/assets/vhs-tapes/pixi.toml
  docs/assets/vhs-tapes/pixi_global_demo_dark.gif
  docs/assets/vhs-tapes/pixi_global_demo_light.gif
  docs/assets/vhs-tapes/pixi_project_demo_dark.gif
  docs/assets/vhs-tapes/pixi_project_demo_light.gif
  docs/index.md
Due: check-openssl, toml-format

Update docs/workspace/multi_environment.md
  docs/workspace/multi_environment.md
Due: none

fix: failing ci and improve test (#3798)
  tests/integration_rust/snapshots/integration_rust__upgrade_tests__pypi_dependency_index_preserved_on_upgrade.snap
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

clarify that the fields are optional
  docs/workspace/multi_environment.md
Due: none

docs: add download installer button
  docs/index.md
  docs/installation.md
Due: none

docs: Less emojis, add devops
  docs/index.md
Due: none

docs: Disclaimer Rust usage
  docs/index.md
Due: none

docs: fix reference to command dispatcher
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
Due: cargo-fmt, cargo-clippy

Fix more references
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
Due: cargo-fmt, cargo-clippy

Fix another reference
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
Due: cargo-fmt, cargo-clippy

docs: fix shield
  docs/index.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
