Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: respect virtual package overrides in pixi global and record them in the manifest
  crates/pixi_cli/src/global/install.rs
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_global/src/lib.rs
  crates/pixi_global/src/project/manifest.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
  crates/pixi_global/src/project/snapshots/pixi_global__project__manifest__tests__set_system_requirements.snap
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__invalid_key.snap
  docs/global_tools/manifest.md
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

fix: revert implicit env overrides in BuildEnvironment defaults
  crates/pixi_command_dispatcher/src/build/build_environment.rs
  docs/global_tools/manifest.md
Due: cargo-fmt, cargo-clippy

refactor: move PyPI installation behind the command dispatcher
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/install_pypi.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/lib.rs
  crates/pixi_uv_reporter/Cargo.toml
  crates/pixi_uv_reporter/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: move PyPI resolution behind the command dispatcher
  Cargo.lock
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/solve_pypi.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/package_identifier.rs
  crates/pixi_core/src/lock_file/resolve/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/package_identifier.rs
  crates/pixi_install_pypi/src/resolve/build_dispatch.rs
  crates/pixi_install_pypi/src/resolve/mod.rs
  crates/pixi_install_pypi/src/resolve/resolver_provider.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(exec): add inline script metadata and script locking
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_script/Cargo.toml
  crates/pixi_script/src/lib.rs
  crates/pixi_script/src/lock.rs
  docs/advanced/script_metadata.md
  docs/advanced/shebang.md
  examples/script-metadata/README.md
  examples/script-metadata/hello_bash.sh
  examples/script-metadata/hello_node.js
  examples/script-metadata/hello_python.py
  examples/script-metadata/platform_specific.py
  examples/script-metadata/web_request.py
  mkdocs.yml
  tests/integration_python/test_exec.py
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

chore: remove unused dependencies flagged by cargo-shear
  Cargo.lock
  crates/pixi_core/Cargo.toml
Due: check-openssl, toml-format

fix(satisfiability): detect extra-dependency drift for source packages
  crates/pixi_core/src/lock_file/satisfiability/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/source_record.rs
  crates/pixi_record/src/source_record.rs
  tests/data/non-satisfiability/source-extra-dependency-added/pixi.lock
  tests/data/non-satisfiability/source-extra-dependency-added/pixi.toml
  tests/data/non-satisfiability/source-extra-dependency-added/source/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: skip `simple_test`
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

misc: add a pixi-build v3 example using extras, flags and when
  examples/pixi-build/v3/Cargo.toml
  examples/pixi-build/v3/pixi.lock
  examples/pixi-build/v3/pixi.toml
  examples/pixi-build/v3/src/main.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(satisfiability): detect extra-dependency drift for source packages (#6263)
  crates/pixi_core/src/lock_file/satisfiability/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/source_record.rs
  crates/pixi_record/src/source_record.rs
  tests/data/non-satisfiability/source-extra-dependency-added/pixi.lock
  tests/data/non-satisfiability/source-extra-dependency-added/pixi.toml
  tests/data/non-satisfiability/source-extra-dependency-added/source/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: add a pixi-build v3 example using extras, flags and when (#6264)
  examples/pixi-build/v3/Cargo.toml
  examples/pixi-build/v3/pixi.lock
  examples/pixi-build/v3/pixi.toml
  examples/pixi-build/v3/src/main.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore(build): bump pixi-build-api-version to 5
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_build_cmake/pixi.toml
  crates/pixi_build_mojo/pixi.toml
  crates/pixi_build_python/pixi.toml
  crates/pixi_build_r/pixi.toml
  crates/pixi_build_rattler_build/pixi.toml
  crates/pixi_build_ros/pixi.toml
  crates/pixi_build_rust/pixi.toml
  crates/pixi_build_types/src/lib.rs
  pixi-build-backends/recipe/all-backends/recipe.yaml
  tests/data/channels/channels/backend_channel_1/.condapackageignore
  tests/data/channels/channels/backend_channel_1/linux-64/repodata.json
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-4-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-5-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/channels/backend_channel_1/rattler-build-log.txt
  tests/data/channels/recipes/backend_channel_1/backend-with-compatible-api-version.yaml
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

refactor(pypi_mapping): per-channel mapping modes with layered fallback and TTL cache
  Cargo.lock
  crates/pixi/tests/integration_rust/solve_group_tests.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pypi_mapping/Cargo.toml
  crates/pypi_mapping/src/derivation_mode.rs
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/resolvers/project_defined_mapping.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: cover extend/replace/disabled conda-pypi-map modes and migrate {} disable to false
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi/tests/integration_rust/solve_group_tests.rs
  crates/pixi/tests/integration_rust/upgrade_tests.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs+schema: additive conda-pypi-map forms, pypi-conda-map backend option and breaking-change notes
  docs/build/backends/pixi-build-python.md
  docs/concepts/conda_pypi.md
  docs/reference/pixi_manifest.md
  schema/examples/invalid/bad_conda_pypi_map.toml
  schema/examples/invalid/bad_conda_pypi_map_mode.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: check-openssl, toml-format

feat(pixi-build-python): pypi-conda-map user overrides for the pypi-to-conda mapping
  crates/pixi_build_python/src/config.rs
  crates/pixi_build_python/src/main.rs
  crates/pixi_build_python/src/pypi_mapping.rs
Due: cargo-fmt, cargo-clippy

feat(manifest): conda-pypi-map string/table/false forms with extend/replace modes, inline mappings and cache-ttl
  Cargo.lock
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/toml/conda_pypi_map.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__bogus_mode_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__channel_true_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__empty_entry_table_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__empty_map_parses_and_warns.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__inline_true_value_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__invalid_ttl_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__top_level_true_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__ttl_without_location_fails.snap
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add pypi-dependencies to pixi global environments
  Cargo.lock
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/environment.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__invalid_key.snap
  docs/global_tools/manifest.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat(pixi_build_ros): support pyproject.toml based ament_python packages
  Cargo.lock
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_ros/src/ament_python.rs
  crates/pixi_build_ros/src/build_script.rs
  crates/pixi_build_ros/src/main.rs
  crates/pixi_build_ros/src/metadata.rs
  crates/pixi_build_ros/templates/bld_ament_python_pyproject.bat
  crates/pixi_build_ros/templates/build_ament_python_pyproject.sh
  docs/build/backends/pixi-build-ros.md
  tests/data/pixi-build/ros-workspace/src/pyproject_py/package.xml
  tests/data/pixi-build/ros-workspace/src/pyproject_py/pixi.toml
  tests/data/pixi-build/ros-workspace/src/pyproject_py/pyproject.toml
  tests/data/pixi-build/ros-workspace/src/pyproject_py/pyproject_py/__init__.py
  tests/data/pixi-build/ros-workspace/src/pyproject_py/pyproject_py/navigator.py
  tests/integration_python/pixi_build/test_ros.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(ci): Attest the tarballs and the binary inside separately (#6266)
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

test: adapt `simple_test` to use local backend
  crates/pixi_build_frontend/src/backend_override.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_test_utils/src/lib.rs
  pixi.toml
  tests/data/channels/channels/backend_channel_1/.condapackageignore
  tests/data/channels/channels/backend_channel_1/linux-64/repodata.json
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-4-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-5-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

chore: bump pixi-build-api-version to 5 (#6328)
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_build_cmake/pixi.toml
  crates/pixi_build_mojo/pixi.toml
  crates/pixi_build_python/pixi.toml
  crates/pixi_build_r/pixi.toml
  crates/pixi_build_rattler_build/pixi.toml
  crates/pixi_build_ros/pixi.toml
  crates/pixi_build_rust/pixi.toml
  crates/pixi_build_types/src/lib.rs
  pixi-build-backends/recipe/all-backends/recipe.yaml
  tests/data/channels/channels/backend_channel_1/.condapackageignore
  tests/data/channels/channels/backend_channel_1/linux-64/repodata.json
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-4-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-5-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/channels/backend_channel_1/rattler-build-log.txt
  tests/data/channels/recipes/backend_channel_1/backend-with-compatible-api-version.yaml
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

Install OCI middleware unconditionally so oci:// channels work without a mirror
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

Limit unconditional OCI middleware to the conda gateway path
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

refactor: address review feedback on conda-pypi-map
  crates/pixi/tests/integration_rust/conda_pypi_map_tests.rs
  crates/pixi/tests/integration_rust/main.rs
  crates/pixi/tests/integration_rust/snapshots/integration_rust__conda_pypi_map_tests__missing_mapping_file_error_includes_path.snap
  crates/pixi/tests/integration_rust/solve_group_tests.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/toml/conda_pypi_map.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/resolvers/project_defined_mapping.rs
  docs/concepts/conda_pypi.md
Due: cargo-fmt, cargo-clippy

test(pixi_glob): include new pyproject_py package in ros-workspace marker test
  crates/pixi_glob/src/glob_set/mod.rs
Due: cargo-fmt, cargo-clippy

ci: move doc examples to `pixi_build`
  tests/integration_python/pixi_build/test_docs_examples.py
Due: none

feat: add --pypi flag to pixi global install, add and remove
  Cargo.lock
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/global_specs.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/project/environment.rs
  crates/pixi_global/src/project/manifest.rs
  crates/pixi_global/src/project/mod.rs
  docs/global_tools/manifest.md
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/install.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: abstraction cleanups from review
  crates/pixi/tests/integration_rust/conda_pypi_map_tests.rs
  crates/pixi_build_python/src/pypi_mapping.rs
  crates/pixi_core/src/workspace/conda_pypi_map.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/toml/conda_pypi_map.rs
  crates/pixi_toml/src/diagnostic.rs
  crates/pixi_toml/src/lib.rs
  crates/pypi_mapping/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: expose PyPI console scripts in pixi global and fix partial removal
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_global/src/project/environment.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

ci: move doc examples to `pixi_build` (#6330)
  tests/integration_python/pixi_build/test_docs_examples.py
Due: none

fix(core): resolve relative local-channel conda paths in lock files
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_diff/src/lib.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/lock_file_resolver.rs
Due: cargo-fmt, cargo-clippy

fix: apply final-review findings
  Cargo.lock
  crates/pixi/tests/integration_rust/conda_pypi_map_tests.rs
  crates/pixi_build_python/src/pypi_mapping.rs
  crates/pixi_core/src/workspace/conda_pypi_map.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_manifest/src/toml/conda_pypi_map.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__empty_map_parses_and_warns.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__invalid_ttl_fails.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__conda_pypi_map__test__ttl_without_location_fails.snap
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pypi_mapping/Cargo.toml
  crates/pypi_mapping/src/derivation_mode.rs
  crates/pypi_mapping/src/resolvers/project_defined_mapping.rs
  docs/concepts/conda_pypi.md
  docs/reference/pixi_manifest.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: expand AWS Lambda deployment guide
  docs/integration/third_party/aws_lambda.md
Due: none

fix: reject duplicate conda-pypi-map entries for the same channel
  crates/pixi/tests/integration_rust/conda_pypi_map_tests.rs
  crates/pixi_build_python/src/pypi_mapping.rs
  crates/pixi_core/src/workspace/conda_pypi_map.rs
Due: cargo-fmt, cargo-clippy

perf: avoid redundant conda-meta parsing in global expose sync
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: allow unsetting unknown config keys
  crates/pixi_cli/src/config.rs
Due: cargo-fmt, cargo-clippy

fix: stop requiring old backend version doc example
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
