Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

Rename function
  src/cli/global/add.rs
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

refactor discovery
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/snapshots/discovery__direct_recipe.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@inherit__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested_recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yaml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@simple.snap
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

feat: add 'did you mean' suggestions for the cmds
  src/cli/command_info.rs
Due: cargo-fmt, cargo-clippy

feat: add 'Available Extensions' section
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: improve extension listing logic
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

misc: try to fix CI tests
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: remove 'help' duplication
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

misc: change the handling of help
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

misc: fix rebase
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

fix: make the 'pixi help' output follow the default styling
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

rebase stuff
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

feat: switch from 'pixi --help' to 'cargo --list' for displaying extensions
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

misc: remove comments
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

docs: update docs with 'pixi --list'
  docs/reference/cli/pixi.md
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

docs: make COMMAND optional
  docs/reference/cli/pixi.md
Due: none

ci: turn off trampoline workflow on push (#4348)
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

revert example
  examples/pixi-build/cpp-sdl/pixi.toml
Due: check-openssl, toml-format

revert example
  examples/pixi-build/cpp-sdl/pixi.lock
Due: none

feat: move to test folder and add missing tests
  tests/integration_python/common.py
  tests/integration_python/test_main_cli.py
Due: none

feat: common
  tests/integration_python/common.py
Due: none

feat: remove unused flags from import
  docs/reference/cli/pixi/import.md
  src/cli/import.rs
  src/cli/upgrade.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

feat: infer package name for source package with pixi global install (#4340)
  crates/pixi_core/src/global/project/global_spec.rs
  crates/pixi_core/src/global/project/manifest.rs
  crates/pixi_core/src/global/project/mod.rs
  src/cli/global/add.rs
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

feat: warning to upgrade
  src/cli/upgrade.rs
Due: cargo-fmt, cargo-clippy

fix: resolve shell quoting issue with pixi run commands
  crates/pixi_core/src/task/task_graph.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

feat: Use log level info for build backends
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

feat: Add `pixi --list` to view all the commands (pixi-extensions + built-in commands) (#4307)
  docs/reference/cli/pixi.md
  src/cli/command_info.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

docs: Don't mention no-install in --no-lockfile-update
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  src/cli/cli_config.rs
  src/cli/completion.rs
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
Due: cargo-fmt, cargo-clippy

feat: Use log level info for build backends (#4354)
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
Due: cargo-fmt, cargo-clippy

fix: remove manual conflicts check for --frozen --locked and check with clap
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/upgrade.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: remove manual conflicts check for `--frozen` & `--locked` (#4359)
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/upgrade.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/upgrade_tests.rs
Due: cargo-fmt, cargo-clippy

machete [skip ci]
  Cargo.lock
  crates/pixi_build_discovery/Cargo.toml
Due: check-openssl, toml-format

Update src/cli/cli_config.rs
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

fix: hide deprecated cli command
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

chore: version to 0.52.0 (#4347)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: remove manual conflicts check for `--frozen` & `--locked` (#4359)
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy
