Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  entry: cargo test
  pass_filenames: false

feat: added detectron2 example
  examples/detectron2/.gitattributes
  examples/detectron2/.gitignore
  examples/detectron2/pixi.lock
  examples/detectron2/pyproject.toml
Due: taplo

fix: renamed example
  examples/detectron2-from-source/.gitattributes
  examples/detectron2-from-source/.gitignore
  examples/detectron2-from-source/pixi.lock
  examples/detectron2-from-source/pyproject.toml
Due: taplo

feat: add to schema test
  schema/examples/valid/full.toml
Due: taplo

refactor: improve integration tests
  .github/workflows/test_downstream.yml
  pixi.lock
  pixi.toml
  tests/integration/test_main_cli.py
Due: check-yaml, taplo

fix: always overwrite when pixi adding the dependency (#1935)
  src/cli/add.rs
  tests/install_tests.rs
Due: fmt, clippy, test

feat: upgrade to uv 0.4.0
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/src/requirements.rs
  src/install_pypi.rs
Due: taplo, fmt, clippy, test

Fix pre-commit
  pixi.toml
Due: taplo

feat: upgrade to uv 0.4.0 (#1944)
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/src/requirements.rs
  src/install_pypi.rs
Due: taplo, fmt, clippy, test

Don't remove pixi from binaries and don't allow to expose pixi
  src/global/common.rs
  src/global/mod.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__expose_pixi.snap
  src/global/sync.rs
Due: fmt, clippy, test

Rename `sync` to `install`
  src/global/install.rs
  src/global/mod.rs
Due: fmt, clippy, test

Use references
  src/cli/global/sync.rs
  src/global/install.rs
Due: fmt, clippy, test

feat: add progress bar for solving environment
  src/global/sync.rs
Due: fmt, clippy, test

misc: uncomment
  src/global/sync.rs
Due: fmt, clippy, test

Implement `FromStr` for `ExposedKey`
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

Log when environment or binary is removed
  src/global/common.rs
  src/global/install.rs
Due: fmt, clippy, test

Add warning to user that their environments will be deleted
  src/cli/global/sync.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

refactor: improve integration tests (#1942)
  .github/workflows/test_downstream.yml
  pixi.lock
  pixi.toml
  tests/integration/test_main_cli.py
Due: check-yaml, taplo

feat: add build-isolation options (#1909)
  Cargo.lock
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  docs/reference/project_configuration.md
  examples/detectron2-from-source/.gitattributes
  examples/detectron2-from-source/.gitignore
  examples/detectron2-from-source/pixi.lock
  examples/detectron2-from-source/pyproject.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/environment.rs
  src/install_pypi.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
  tests/install_tests.rs
Due: taplo, fmt, clippy, test

Address Nichita's comments
  src/cli/global/sync.rs
Due: fmt, clippy, test

docs: Add --no-install to autobump workflow
  docs/advanced/updates_github_actions.md
Due: none

Update update-lockfiles.yml
  .github/workflows/update-lockfiles.yml
Due: check-yaml

Update updates_github_actions.md
  docs/advanced/updates_github_actions.md
Due: none

fix: `pixi ini`for `pyproject.toml`
  src/cli/init.rs
  tests/integration/test_main_cli.py
Due: fmt, clippy, test

chore: Use pixi exec for autoupdating lockfiles (#1946)
  .github/workflows/update-lockfiles.yml
Due: check-yaml

Update schema.json
  schema/schema.json
Due: none

Also create `__init__.py`
  src/cli/init.rs
Due: fmt, clippy, test

Update model.py
  schema/model.py
Due: none

fix: typo in schema.json (#1948)
  schema/model.py
  schema/schema.json
Due: none

bump: update pixi lockfile
  pixi.lock
Due: none

feat: better error for when the target or platform are missing
  crates/pixi_manifest/src/manifest.rs
Due: fmt, clippy, test

Fix errors after merge
  src/cli/global/list.rs
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

Only create file if it doesn't already exist
  src/cli/init.rs
Due: fmt, clippy, test

misc: add a progress bar
  Cargo.lock
  src/global/install.rs
Due: fmt, clippy, test

feat: better error for when the target or platform are missing (#1959)
  crates/pixi_manifest/src/manifest.rs
Due: fmt, clippy, test

feat: improve error and feedback when target does not exist
  crates/pixi_manifest/src/manifest.rs
  src/cli/remove.rs
Due: fmt, clippy, test

feat: updated error message
  src/cli/remove.rs
Due: fmt, clippy, test

feat: change to use constants
  crates/pixi_consts/src/consts.rs
  crates/pixi_manifest/src/manifest.rs
Due: fmt, clippy, test

Revert Cargo.lock changes
  Cargo.lock
Due: none

misc: dont use canonicalize
  tests/solve_group_tests.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
