Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix: install on win-arm64
  install/install.ps1
Due: none

fix: flask example
  examples/flask-hello-world-pyproject/pyproject.toml
Due: taplo

refactor: rename `[build]` to `[build-system]` (#2513)
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  crates/pixi_build_frontend/tests/basic/pixi.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/has_environment_dependencies.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key.snap
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/validation.rs
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  examples/flask-hello-world-pyproject/pyproject.toml
  examples/flask-hello-world/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/project/mod.rs
Due: taplo, fmt, clippy, test

docs: Fix wrong use of underscores in pixi project export
  docs/reference/cli.md
Due: none

fix: install on win-arm64 (#2538)
  install/install.ps1
Due: none

docs: Fix wrong use of underscores in pixi project export (#2539)
  docs/reference/cli.md
Due: none

correct ppc64le arch
  .github/workflows/trampoline.yaml
  src/global/trampoline.rs
Due: check-yaml, fmt, clippy, test

try gnu
  .github/workflows/trampoline.yaml
  src/global/trampoline.rs
Due: check-yaml, fmt, clippy, test

adjust workflow name
  .github/workflows/trampoline.yaml
Due: check-yaml

update the PATH env var with dynamic elements
  crates/pixi_trampoline/src/main.rs
Due: fmt, clippy, test

fix: ci
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_2_satisfiability_ignore_lock.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_3_non_glob.snap
  examples/flask-hello-world-pyproject/pixi.lock
  examples/flask-hello-world-pyproject/pyproject.toml
Due: taplo

improve code
  crates/pixi_trampoline/src/main.rs
Due: fmt, clippy, test

Add gitignore
  crates/pixi_trampoline/.gitignore
Due: none

Increase readability with not
  crates/pixi_trampoline/src/main.rs
Due: fmt, clippy, test

Add lock file
  crates/pixi_trampoline/Cargo.lock
Due: none

fix: more ci fixes
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/validation.rs
Due: fmt, clippy, test

fix: cargo clippy
  crates/pixi_manifest/src/validation.rs
Due: fmt, clippy, test

Update src/global/trampoline.rs
  src/global/trampoline.rs
Due: fmt, clippy, test

feat: make a base protocol for rattler-build and pixi
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/stderr.rs
  crates/pixi_build_frontend/src/protocols/rattler_build/mod.rs
  crates/pixi_build_frontend/src/protocols/rattler_build/protocol.rs
  crates/pixi_build_frontend/src/protocols/rattler_build/stderr.rs
  examples/boltons/pixi.toml
Due: taplo, fmt, clippy, test

Update tests/integration_python/global/test_trampoline.py
  tests/integration_python/global/test_trampoline.py
Due: none

misc: add stderr module
  crates/pixi_build_frontend/src/protocols/stderr.rs
Due: fmt, clippy, test

misc: remove comment for boltons example
  examples/boltons/pixi.toml
Due: taplo

Pre-commit
  tests/integration_python/global/test_trampoline.py
Due: none

test: move target folder
  .github/workflows/rust.yml
  .github/workflows/test_common_wheels.yml
  .github/workflows/test_downstream.yml
  .gitignore
  scripts/activate.bat
  scripts/activate.sh
  tests/integration_python/conftest.py
  tests/wheel_tests/test_common_wheels.py
Due: check-yaml

Don't interpolate static string
  crates/pixi_trampoline/src/main.rs
Due: fmt, clippy, test

fix: test issues
  examples/cpp-sdl/pixi.lock
  examples/flask-hello-world/pixi.toml
Due: taplo

feat: move preview out of optional
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/validation.rs
  crates/pixi_manifest/src/workspace.rs
  examples/flask-hello-world/pixi.toml
  src/project/mod.rs
Due: taplo, fmt, clippy, test

fix: global update (#2530)
  src/global/trampoline.rs
  tests/integration_python/global/test_trampoline.py
Due: fmt, clippy, test

fix: skip already compressed trampolines
  .github/workflows/trampoline.yaml
Due: check-yaml

feat: add pixi-build behind preview feature (#2514)
  crates/pixi_build_frontend/tests/basic/pixi.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_2_satisfiability_ignore_lock.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_3_non_glob.snap
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/validation.rs
  crates/pixi_manifest/src/workspace.rs
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  examples/flask-hello-world-pyproject/pixi.lock
  examples/flask-hello-world-pyproject/pyproject.toml
  examples/flask-hello-world/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/project/mod.rs
  tests/data/non-satisfiability/binary-spec-source-record/pixi.toml
  tests/data/non-satisfiability/source-dependency/pixi.toml
  tests/data/satisfiability/source-dependency/pixi.toml
Due: taplo, fmt, clippy, test

fix: formatting
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
Due: fmt, clippy, test

test: move target folder (#2542)
  .github/workflows/rust.yml
  .github/workflows/test_common_wheels.yml
  .github/workflows/test_downstream.yml
  .gitignore
  scripts/activate.bat
  scripts/activate.sh
  tests/integration_python/conftest.py
  tests/wheel_tests/test_common_wheels.py
Due: check-yaml

refactor: separate toml representation from data model (#2518)
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/document.rs
  crates/pixi_manifest/src/toml/environment.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/target.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  src/cli/init.rs
  src/global/project/manifest.rs
  src/global/project/parsed_manifest.rs
  src/project/mod.rs
  tests/integration_rust/pypi_tests.rs
Due: fmt, clippy, test

Update crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_build_frontend/src/protocol_builder.rs
Due: fmt, clippy, test

Update crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
Due: fmt, clippy, test

feat: add pypi index (#2416)
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
  crates/pixi_uv_conversions/src/requirements.rs
  docs/reference/project_configuration.md
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/cli/project/export/conda_environment.rs
  tests/integration_rust/add_tests.rs
  tests/integration_rust/pypi_tests.rs
Due: taplo, fmt, clippy, test
