Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

add test
  tests/integration_python/test_search.py
Due: none

lint
  tests/integration_python/test_search.py
Due: none

move tests
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_search.py
Due: none

test
  tests/integration_python/test_main_cli.py
Due: none

feat(pypi): add dependency overrides to PypiOptions and TOML deserialization
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_pypi_spec/src/name.rs
  crates/pixi_spec_containers/src/lib.rs
Due: cargo-fmt, cargo-clippy

test(snap): update snap relating to dependency override
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_isolation_boolean.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_packages.snap
Due: none

feat: support legacy mojoproject.toml (#3942)
  crates/pixi_consts/src/consts.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/source.rs
  docs/reference/cli/pixi/init.md
  src/cli/init.rs
  src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

Update tests/integration_python/test_main_cli.py
  tests/integration_python/test_main_cli.py
Due: none

fix test
  tests/integration_python/test_main_cli.py
Due: none

feat(pypi): add support for dependency overrides in resolve_pypi function
  src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

feat(schema): add dependency overrides for numpy in project.pypi-options
  schema/examples/valid/full.toml
Due: check-openssl, toml-format

Improve test
  tests/integration_python/test_main_cli.py
Due: none

fix(search): prefer to use MatchSpec instead of wildcard as package filter (#3926)
  src/cli/search.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: typo in the doc strings
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_spec/src/path.rs
Due: cargo-fmt, cargo-clippy

fix: typo in the doc strings (#3954)
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_spec/src/path.rs
Due: cargo-fmt, cargo-clippy

feat: add hash validation utilities and configurations for PyPI direct URLs
  Cargo.lock
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap.new
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_pypi_spec/src/lib.rs
  crates/pixi_pypi_spec/src/utils.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/hash.rs
  crates/pixi_utils/src/lib.rs
  src/install_pypi/conversions.rs
  src/install_pypi/mod.rs
  src/install_pypi/plan/providers.rs
  src/install_pypi/utils.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  tests/integration_python/test_edge_cases.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Initial commit
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
Due: cargo-fmt, cargo-clippy

flags
  tests/integration_python/test_edge_cases.py
Due: none

flags
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/build.md
  docs/reference/cli/pixi/exec.md
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/expose/add.md
  docs/reference/cli/pixi/global/expose/remove.md
  docs/reference/cli/pixi/global/install.md
  docs/reference/cli/pixi/global/list.md
  docs/reference/cli/pixi/global/remove.md
  docs/reference/cli/pixi/global/shortcut/add.md
  docs/reference/cli/pixi/global/shortcut/remove.md
  docs/reference/cli/pixi/global/sync.md
  docs/reference/cli/pixi/global/uninstall.md
  docs/reference/cli/pixi/global/update.md
  docs/reference/cli/pixi/global/upgrade-all.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
Due: none

platform update
  tests/integration_python/test_edge_cases.py
Due: none

fix(self-update): suppress release notes and all output with --quiet (#3946)
  src/cli/mod.rs
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

chore: version to 0.48.2
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_build_types/src/lib.rs
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Only compare normalized paths
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

chore: version to 0.48.2 (#3960)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_build_types/src/lib.rs
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Address Bas comment
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
Due: cargo-fmt, cargo-clippy

fix: multi output handling in Pixi (#3961)
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

feat: Remove egg-info from gitignore and fix whitespace in beginning
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

feat: Remove egg-info from gitignore and fix whitespace in beginning (#3964)
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

feat: command dispatcher install
  Cargo.lock
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  src/environment/conda_metadata.rs
  src/environment/mod.rs
  src/environment/reporters.rs
  src/install_pypi/mod.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
  src/reporters/download_verify_reporter.rs
  src/reporters/install_reporter.rs
  src/reporters/main_progress_bar.rs
  src/reporters/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: use backend instead of protocol
  Cargo.lock
  Cargo.toml
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_spec/src/detailed.rs
  crates/pixi_spec/src/lib.rs
  src/cli/build.rs
  src/lock_file/satisfiability/mod.rs
  src/utils.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: only trigger rebuild when relevant parts of the package manifest has been changed
  Cargo.lock
  Cargo.toml
  crates/pixi_build_type_conversions/Cargo.toml
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_glob/Cargo.toml
  crates/pixi_glob/src/glob_hash_cache.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Continue
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

Continue
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  src/lock_file/satisfiability/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: implement external command discovery for pixi extensions
  src/cli/command_info.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

Fix errors
  src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

ci: run clippy in CI again
  pixi.toml
Due: check-openssl, toml-format
