Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

feat: add `--revalidate` as a cli option to all prefix updating commands.
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/lock_file/update.rs
  tests/common/mod.rs
  tests/install_tests.rs
  tests/integration/test_run_cli.py
Due: fmt, clippy, test

docs: add documentation about the revalidation
  docs/advanced/explain_info_command.md
  docs/features/environment.md
  docs/reference/cli.md
  tbump.toml
Due: taplo

clippy
  tests/common/mod.rs
Due: fmt, clippy, test

Update tests to use pyproject.toml
  tests/integration/test_main_cli.py
Due: none

fix: remove transmute
  Cargo.lock
  Cargo.toml
  src/install_pypi.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
Due: taplo, fmt, clippy, test

fix: panic on find links
  crates/pixi_uv_conversions/src/conversions.rs
  src/install_pypi.rs
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

Move test data and script
  pixi.toml
  scripts/pypi-proxy.py
  src/lock_file/satisfiability.rs
  tests/data/non-satisfiability/expected-editable-multiple/bar/pyproject.toml
  tests/data/non-satisfiability/expected-editable-multiple/baz/pyproject.toml
  tests/data/non-satisfiability/expected-editable-multiple/foo/pyproject.toml
  tests/data/non-satisfiability/expected-editable-multiple/pixi.lock
  tests/data/non-satisfiability/expected-editable-multiple/pixi.toml
  tests/data/non-satisfiability/expected-editable/foo/pyproject.toml
  tests/data/non-satisfiability/expected-editable/pixi.lock
  tests/data/non-satisfiability/expected-editable/pixi.toml
  tests/data/non-satisfiability/mismatched-spec/pixi.lock
  tests/data/non-satisfiability/mismatched-spec/pixi.toml
  tests/data/non-satisfiability/missing-dependency/pixi.lock
  tests/data/non-satisfiability/missing-dependency/pixi.toml
  tests/data/non-satisfiability/missing-pypi-extra/pixi.lock
  tests/data/non-satisfiability/missing-pypi-extra/pixi.toml
  tests/data/non-satisfiability/solve-groups-pypi/pixi.lock
  tests/data/non-satisfiability/solve-groups-pypi/pixi.toml
  tests/data/pixi_tomls/many_targets.toml
  tests/data/pixi_tomls/pyproject_no_pixi.toml
  tests/integration_rust/init_tests.rs
  tests/integration_rust/project_tests.rs
Due: taplo, fmt, clippy, test

Add workspace flag to test task
  pixi.toml
Due: taplo

misc: add hardlinking of trampolines
  Cargo.lock
  Cargo.toml
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-apple-darwin
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-pc-windows-msvc.exe
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-unknown-linux-musl
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-unknown-linux-musl.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-apple-darwin
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-pc-windows-msvc.exe
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-unknown-linux-musl
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-unknown-linux-musl.zst
  src/global/trampoline.rs
Due: taplo, fmt, clippy, test

fix: another panic
  crates/pixi_uv_conversions/src/conversions.rs
  examples/pypi-find-links/pixi.lock
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

misc: update trampoline workflow
  .github/workflows/trampoline.yaml
Due: check-yaml

misc: change some comments
  src/global/trampoline.rs
Due: fmt, clippy, test

misc: add documentation for module
  src/global/trampoline.rs
Due: fmt, clippy, test

feat: conversions fix
  crates/pixi_uv_conversions/src/conversions.rs
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

Update crates/pixi_trampoline/README.md
  crates/pixi_trampoline/README.md
Due: none

feat: add custom pypi indexes but wip
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/cli/project/export/conda_environment.rs
Due: fmt, clippy, test

fix: bump rattler versions
  Cargo.lock
  Cargo.toml
Due: taplo

fix: test
  tests/common/package_database.rs
Due: fmt, clippy, test

feat: upgrading uv (#2372)
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/lib.rs
  crates/pixi_uv_conversions/src/requirements.rs
  crates/pixi_uv_conversions/src/types.rs
  crates/pypi_modifiers/Cargo.toml
  crates/pypi_modifiers/src/pypi_marker_env.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  examples/pypi-find-links/pixi.lock
  src/cli/add.rs
  src/cli/list.rs
  src/conda_pypi_clobber.rs
  src/environment.rs
  src/global/project/parsed_manifest.rs
  src/install_pypi.rs
  src/lock_file/package_identifier.rs
  src/lock_file/records_by_name.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  src/uv_reporter.rs
  tests/add_tests.rs
  tests/common/package_database.rs
Due: check-yaml, taplo, fmt, clippy, test

wip: use relative find links location
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

Update docs/features/environment.md
  docs/features/environment.md
Due: none

Update docs/reference/cli.md
  docs/reference/cli.md
Due: none

Update tests/integration/common.py
  tests/integration/common.py
Due: none

Update tests/integration/test_run_cli.py
  tests/integration/test_run_cli.py
Due: none

misc: add docs
  docs/features/global_tools.md
Due: none

perf: compress and hardlink trampolines (#2409)
  .github/workflows/trampoline.yaml
  Cargo.lock
  Cargo.toml
  crates/pixi_trampoline/README.md
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-apple-darwin
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-pc-windows-msvc.exe
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-unknown-linux-musl
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-unknown-linux-musl.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-apple-darwin
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-pc-windows-msvc.exe
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-unknown-linux-musl
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-unknown-linux-musl.zst
  docs/features/global_tools.md
  src/global/trampoline.rs
Due: check-yaml, taplo, fmt, clippy, test

test: don't use glob
  tests/integration/test_run_cli.py
Due: none

Ensure that both pypi and conda is upgraded
  src/project/mod.rs
  tests/integration/test_main_cli.py
Due: fmt, clippy, test

Move from println to eprintln
  src/cli/update.rs
Due: fmt, clippy, test

Add reporting
  src/cli/add.rs
  src/cli/update.rs
  src/cli/upgrade.rs
  src/diff.rs
  src/lib.rs
  src/project/mod.rs
  tests/integration/test_main_cli.py
Due: fmt, clippy, test

misc: add index schema
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  tests/integration_rust/add_tests.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/pypi_tests.rs
Due: taplo, fmt, clippy, test

misc: remove unused index name
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_uv_conversions/src/requirements.rs
Due: fmt, clippy, test

fix: find links should be relative again
  examples/pypi-find-links/pixi.lock
  examples/pypi-find-links/pixi.toml
  src/lock_file/resolve/pypi.rs
Due: taplo, fmt, clippy, test
