Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

test: run tests in parallel again on CI
  pixi.toml
Due: taplo

test: stop testing rich example (#2707)
  tests/scripts/test-examples.sh
Due: none

misc: remove commented code
  crates/pixi_git/src/credentials.rs
Due: fmt, clippy, test

misc: remove more comments
  crates/pixi_git/src/credentials.rs
  crates/pixi_git/src/git.rs
Due: fmt, clippy, test

misc: use correct user agent
  crates/pixi_git/src/git.rs
Due: fmt, clippy, test

misc: remove comments
  crates/pixi_git/src/resolver.rs
  src/build/mod.rs
Due: fmt, clippy, test

misc: remove eprintln
  src/build/mod.rs
Due: fmt, clippy, test

docs: introduction to pixi build (#2685)
  docs/build/dependency_types.md
  docs/build/getting_started.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  mkdocs.yml
Due: check-yaml, taplo

docs: pixi build follow up
  docs/build/getting_started.md
Due: none

docs: pixi build follow up (#2710)
  docs/build/getting_started.md
Due: none

wip: first example files
  docs/build/cpp_package.md
  docs/build/getting_started.md
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  mkdocs.yml
Due: check-yaml, taplo

Move example
  docs/source_files/pixi_projects/pixi_build_python_example/.gitattributes
  docs/source_files/pixi_projects/pixi_build_python_example/.gitignore
  docs/source_files/pixi_projects/pixi_build_python_example/pixi.lock
  docs/source_files/pixi_projects/pixi_build_python_example/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python_example/pyproject.toml
  docs/source_files/pixi_projects/pixi_build_python_example/src/rich_example/__init__.py
  examples/rich_example/pyproject.toml
Due: taplo

feat: made the bindings project work
  docs/source_files/pixi_tomls/pixi_build_cpp/CMakeLists.txt
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_tomls/pixi_build_cpp/src/bindings.cpp
Due: taplo

feat: move structs to toml span
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/activation.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/preview.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/environment.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_environment.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_environment_feature_type.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_solve_group.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__package__test__invalid_extra_key.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__package__test__invalid_version.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/utils/spanned.rs
  crates/pixi_toml/Cargo.toml
  crates/pixi_toml/src/from_str.rs
  crates/pixi_toml/src/index_map.rs
  crates/pixi_toml/src/lib.rs
  crates/pixi_toml/src/variant.rs
  crates/pixi_toml/src/with.rs
Due: taplo, fmt, clippy, test

docs: add pytorch integration guide.
  docs/features/pytorch.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/pytorch-conda-forge.toml
  docs/source_files/pixi_tomls/pytorch-from-pytorch-channel.toml
  docs/source_files/pixi_tomls/pytorch-pypi.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  docs/source_files/pyproject_tomls/pytorch-from-pytorch-channel.toml
  docs/source_files/pyproject_tomls/pytorch-pypi.toml
  mkdocs.yml
  tests/integration_rust/project_tests.rs
Due: check-yaml, taplo, fmt, clippy, test

Medium post on running Pixi on macOS and programming a differential drive robot.
  docs/tutorials/ros2.md
Due: none

misc: add a todo
  src/environment.rs
Due: fmt, clippy, test

feat: build backend
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_build_backend_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__empty_channels.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_backend.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_name.snap
  crates/pixi_manifest/src/utils/package_map.rs
  crates/pixi_manifest/src/utils/snapshots/pixi_manifest__utils__package_map__test__duplicate_package_name.snap
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/toml.rs
  crates/pixi_toml/Cargo.toml
  crates/pixi_toml/src/digest.rs
  crates/pixi_toml/src/lib.rs
  crates/pixi_toml/src/with.rs
Due: taplo, fmt, clippy, test

Add example and test it
  docs/source_files/pixi_projects/pixi_build_python_example/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python_example/pyproject.toml
  tests/integration_python/test_docs.py
Due: taplo

wip: some more documentation
  docs/build/cpp_package.md
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.toml
Due: taplo

feat: make find_project_manifest argument generic
  src/project/mod.rs
Due: fmt, clippy, test

Update docs/features/pytorch.md
  docs/features/pytorch.md
Due: none

fix: move to tokio instead of ctrl_c crate
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
Due: taplo, fmt, clippy, test

docs: improve docs further
  docs/features/pytorch.md
Due: none

ROS 2 Humble on macOS, [Simulating differential drive using Gazebo
  docs/tutorials/ros2.md
Due: none

ROS 2 Humble on macOS,Simulating differential drive using Gazebo
  docs/tutorials/ros2.md
Due: none

Add new line for linter
  docs/tutorials/ros2.md
Due: none

docs: Add community example to ROS2 tutorial (#2713)
  docs/tutorials/ros2.md
Due: none

Add tutorial for Python and pixi build
  docs/build/python.md
  docs/source_files/pixi_projects/pixi_build_python/.gitattributes
  docs/source_files/pixi_projects/pixi_build_python/.gitignore
  docs/source_files/pixi_projects/pixi_build_python/pixi.lock
  docs/source_files/pixi_projects/pixi_build_python/pixi.toml
  docs/source_files/pixi_projects/pixi_build_python/pyproject.toml
  docs/source_files/pixi_projects/pixi_build_python/src/rich_example/__init__.py
  docs/source_files/pixi_projects/pixi_build_python_example/pyproject.toml
  mkdocs.yml
  tests/integration_python/conftest.py
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/test_docs.py
Due: check-yaml, taplo

feat: replace custom manifest_path with ProjectConfig helper
  src/cli/project/description/mod.rs
  src/cli/project/environment/mod.rs
  src/cli/project/platform/mod.rs
  src/cli/project/version/mod.rs
  tests/integration_rust/common/builders.rs
Due: fmt, clippy, test

feat: support --manifest-path to project directory
  src/cli/cli_config.rs
  src/cli/completion.rs
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
  src/project/mod.rs
Due: fmt, clippy, test

test: run tests in parallel again on CI (#2708)
  pixi.toml
Due: taplo

Don't error if .pixi doesn't exist
  tests/integration_python/test_docs.py
Due: none

docs: fix pytorch examples on windows
  docs/features/pytorch.md
  docs/source_files/pixi_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pixi_tomls/pytorch-conda-forge.toml
  docs/source_files/pixi_tomls/pytorch-pypi-envs.toml
  docs/source_files/pixi_tomls/pytorch-pypi.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
Due: taplo

Clarify expectations
  docs/build/python.md
Due: none

Disable windows test for now
  tests/integration_python/test_docs.py
Due: none

docs: cleanup example snippets
  docs/features/pytorch.md
  docs/source_files/pixi_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pixi_tomls/pytorch-conda-forge.toml
  docs/source_files/pixi_tomls/pytorch-pypi-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
Due: taplo

docs: cpp example
  docs/build/cpp_package.md
  docs/source_files/pixi_tomls/pixi_build_cpp/CMakeLists.txt
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.lock
  docs/source_files/pixi_tomls/pixi_build_cpp/pixi.toml
  docs/source_files/pixi_tomls/pixi_build_cpp/src/bindings.cpp
Due: taplo
