Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

added gh-pages branch
  .github/workflows/docs.yml
Due: check-yaml, actionlint, yaml-format

final version for automated pixi_manifest
  .github/workflows/docs.yml
Due: check-yaml, actionlint, yaml-format

ran pre-commit
  .github/workflows/docs.yml
  docs/reference/pixi_manifest.md
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

test: move pixi-build-backend test data (#3710)
  crates/pixi_build_frontend/tests/diagnostics.rs
  tests/data/build-backends/.gitignore
  tests/data/build-backends/README.md
  tests/data/build-backends/empty/recipe.yaml
  tests/data/build-backends/noarch/empty-backend-0.1.0-h4616a5c_0.conda
  tests/data/build-backends/noarch/repodata.json
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

test: recursive source run deps
  tests/data/pixi_build/recursive_source_run_dep/.gitattributes
  tests/data/pixi_build/recursive_source_run_dep/.gitignore
  tests/data/pixi_build/recursive_source_run_dep/package_a/pixi.toml
  tests/data/pixi_build/recursive_source_run_dep/package_a/pyproject.toml
  tests/data/pixi_build/recursive_source_run_dep/package_a/src/package_a/__init__.py
  tests/data/pixi_build/recursive_source_run_dep/package_b/pixi.toml
  tests/data/pixi_build/recursive_source_run_dep/package_b/recipe.yaml
  tests/data/pixi_build/recursive_source_run_dep/pixi.lock
  tests/data/pixi_build/recursive_source_run_dep/pixi.toml
  tests/integration_python/pixi_build/test_build.py
Due: check-yaml, check-openssl, toml-format, yaml-format

docs: fix broken project manifest link
  docs/reference/pixi_manifest.md
Due: none

Update pixi_manifest.md
  docs/reference/pixi_manifest.md
Due: none

docs: fix broken project manifest link (#3713)
  docs/reference/pixi_manifest.md
Due: none

Corrected anaconda domain name
  docs/deployment/authentication.md
Due: none

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-riscv64gc-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

fix: package target selector platform serialization
  crates/pixi_build_types/src/project_model.rs
Due: cargo-fmt, cargo-clippy

split conda and pixi spec
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/command_queue/processor.rs
  crates/pixi_command_queue/src/conda/mod.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/pixi/mod.rs
  crates/pixi_command_queue/src/reporter.rs
  crates/pixi_command_queue/src/source_metadata.rs
Due: cargo-fmt, cargo-clippy

fix: error on improper pyproject.toml configuration (#3704)
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@missing-tables-pyproject_pyproject.toml.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@missing-tables_pyproject.toml.snap
  crates/pixi_manifest/src/toml/manifest.rs
  tests/data/workspace-discovery/missing-tables-pyproject/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: add more descriptions to the pixi toml
  pixi.toml
Due: check-openssl, toml-format

feat: Use a table for task list (#3708)
  pixi.toml
  src/cli/task.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: package target selector platform serialization (#3720)
  crates/pixi_build_types/src/project_model.rs
Due: cargo-fmt, cargo-clippy

wip
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_frontend/src/backend_override.rs
  crates/pixi_build_frontend/src/backend_spec.rs
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_build_frontend/src/error/backend_error.rs
  crates/pixi_build_frontend/src/error/mod.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_build_frontend/src/tool/mod.rs
  crates/pixi_command_queue/Cargo.toml
  crates/pixi_command_queue/src/build/mod.rs
  crates/pixi_command_queue/src/build/work_dir_key.rs
  crates/pixi_command_queue/src/cache_dirs.rs
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_command_queue/src/command_queue/instantiate_backend.rs
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/command_queue/processor/mod.rs
  crates/pixi_command_queue/src/command_queue/processor/source_metadata.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/pixi/mod.rs
  crates/pixi_command_queue/src/pixi/source_metadata_collector.rs
  crates/pixi_command_queue/src/reporter.rs
  crates/pixi_command_queue/src/source_checkout/mod.rs
  crates/pixi_command_queue/src/source_metadata.rs
  crates/pixi_command_queue/src/source_metadata/mod.rs
  crates/pixi_spec/src/source_anchor.rs
  src/build/mod.rs
  src/build/source_anchor.rs
  src/lock_file/satisfiability/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

limit conda solves and implement deterministic executor
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_command_queue/Cargo.toml
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/command_queue/processor/mod.rs
  crates/pixi_command_queue/src/command_queue_processor/conda.rs
  crates/pixi_command_queue/src/command_queue_processor/git.rs
  crates/pixi_command_queue/src/command_queue_processor/mod.rs
  crates/pixi_command_queue/src/command_queue_processor/pixi.rs
  crates/pixi_command_queue/src/command_queue_processor/source_metadata.rs
  crates/pixi_command_queue/src/conda/mod.rs
  crates/pixi_command_queue/src/executor.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/limits.rs
  crates/pixi_command_queue/src/pixi/mod.rs
  crates/pixi_command_queue/src/pixi/source_metadata_collector.rs
  crates/pixi_command_queue/src/reporter.rs
  crates/pixi_command_queue/src/source_metadata/mod.rs
  crates/pixi_spec/src/source_anchor.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs, docs, docs
  crates/pixi_command_queue/src/build/build_environment.rs
  crates/pixi_command_queue/src/build/mod.rs
  crates/pixi_command_queue/src/build/work_dir_key.rs
  crates/pixi_command_queue/src/command_queue/error.rs
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_command_queue/src/command_queue/instantiate_backend.rs
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/command_queue_processor/conda.rs
  crates/pixi_command_queue/src/command_queue_processor/mod.rs
  crates/pixi_command_queue/src/command_queue_processor/pixi.rs
  crates/pixi_command_queue/src/command_queue_processor/source_metadata.rs
  crates/pixi_command_queue/src/conda/mod.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/pixi/mod.rs
  crates/pixi_command_queue/src/pixi/source_metadata_collector.rs
  crates/pixi_command_queue/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

rename determinstic to serial
  crates/pixi_command_queue/src/executor.rs
  crates/pixi_command_queue/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: add pixi build setup and run it in CI
  .github/workflows/build.yml
  .gitignore
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

docs(cli): add a local repo as the dependency (#3666)
  docs/reference/cli/pixi/add.md
  src/cli/add.rs
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

spawn tool
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/src/backend_spec.rs
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_build_frontend/src/tool/mod.rs
  crates/pixi_command_queue/Cargo.toml
  crates/pixi_command_queue/src/build/build_environment.rs
  crates/pixi_command_queue/src/cache_dirs.rs
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_command_queue/src/command_queue/instantiate_backend.rs
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/command_queue_processor/git.rs
  crates/pixi_command_queue/src/command_queue_processor/install_pixi.rs
  crates/pixi_command_queue/src/command_queue_processor/instantiate_tool_env.rs
  crates/pixi_command_queue/src/command_queue_processor/mod.rs
  crates/pixi_command_queue/src/command_queue_processor/solve_conda.rs
  crates/pixi_command_queue/src/command_queue_processor/solve_pixi.rs
  crates/pixi_command_queue/src/install_pixi/mod.rs
  crates/pixi_command_queue/src/instantiate_tool_env/mod.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/reporter.rs
  crates/pixi_command_queue/src/solve_conda/mod.rs
  crates/pixi_command_queue/src/solve_pixi/mod.rs
  crates/pixi_command_queue/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_queue/src/source_metadata/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix for canonical url
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_git/src/source.rs
Due: cargo-fmt, cargo-clippy

Revert "fix for canonical url"
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_git/src/source.rs
Due: cargo-fmt, cargo-clippy

fix: use project root
  src/build/mod.rs
Due: cargo-fmt, cargo-clippy

fix: snapshots
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_command_queue/src/reporter.rs
  crates/pixi_command_queue/src/source_metadata/mod.rs
  tests/integration_rust/snapshots/integration_rust__add_tests__add_git_deps.snap
  tests/integration_rust/snapshots/integration_rust__add_tests__add_git_deps_with_creds.snap
  tests/integration_rust/snapshots/integration_rust__add_tests__add_git_with_specific_commit.snap
  tests/integration_rust/snapshots/integration_rust__add_tests__add_git_with_tag.snap
Due: cargo-fmt, cargo-clippy

feat: integrate into pixi
  Cargo.lock
  Cargo.toml
  crates/pixi_command_queue/src/command_queue/git.rs
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/source_checkout/mod.rs
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/resolve/conda.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

wip: reporter refactor
  crates/pixi_command_queue/src/reporter.rs
  src/build/mod.rs
  src/build/reporters.rs
  src/build/source_metadata_collector.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: use as_ for reporter
  crates/pixi_command_queue/src/command_queue_processor/git.rs
  crates/pixi_command_queue/src/command_queue_processor/install_pixi.rs
  crates/pixi_command_queue/src/command_queue_processor/solve_conda.rs
  crates/pixi_command_queue/src/command_queue_processor/solve_pixi.rs
Due: cargo-fmt, cargo-clippy

feat: new source reporter
  crates/pixi_command_queue/src/command_queue_processor/git.rs
  crates/pixi_command_queue/src/command_queue_processor/install_pixi.rs
  crates/pixi_command_queue/src/command_queue_processor/solve_pixi.rs
  crates/pixi_git/src/url.rs
  src/build/mod.rs
  src/build/reporters.rs
  src/environment/conda_prefix.rs
Due: cargo-fmt, cargo-clippy

serde for events
  Cargo.lock
  crates/pixi_build_frontend/src/discovery.rs
  crates/pixi_command_queue/Cargo.toml
  crates/pixi_command_queue/src/build/build_environment.rs
  crates/pixi_command_queue/src/command_queue/mod.rs
  crates/pixi_command_queue/src/event_reporter.rs
  crates/pixi_command_queue/src/install_pixi/mod.rs
  crates/pixi_command_queue/src/lib.rs
  crates/pixi_command_queue/src/reporter.rs
  crates/pixi_command_queue/src/snapshots/pixi_command_queue__test__simple_test.snap.new
  crates/pixi_command_queue/src/solve_conda/mod.rs
  crates/pixi_command_queue/src/solve_pixi/mod.rs
  crates/pixi_command_queue/src/source_checkout/mod.rs
  crates/pixi_command_queue/src/source_metadata/mod.rs
  crates/pixi_git/src/git.rs
  crates/pixi_git/src/resolver.rs
  crates/pixi_git/src/sha.rs
  crates/pixi_git/src/url.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/path.rs
  crates/pixi_spec/src/url.rs
  crates/pixi_spec_containers/Cargo.toml
  crates/pixi_spec_containers/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: task arg parsing panic
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

fix: the reporters
  crates/pixi_command_queue/src/reporter.rs
  src/build/mod.rs
  src/build/reporters.rs
Due: cargo-fmt, cargo-clippy

feat: change the name
  src/build/mod.rs
  src/build/reporters.rs
  src/environment/conda_prefix.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

feat: use anyhow to replace miette
  trampoline/Cargo.lock
  trampoline/Cargo.toml
  trampoline/src/main.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: create new crate 'pixi_exec_utils'
  crates/pixi_exec_utils/Cargo.toml
  crates/pixi_exec_utils/src/executable_utils.rs
  crates/pixi_exec_utils/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: replace pixi_utils with pixi_exec_utils in trampoline
  Cargo.lock
  crates/pixi_exec_utils/Cargo.toml
  trampoline/Cargo.lock
  trampoline/Cargo.toml
  trampoline/src/main.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Add test
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_task_list.snap
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

feat: add devDependency rstest to 'pixi_exec_utils' crate
  Cargo.lock
  crates/pixi_exec_utils/Cargo.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
