Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

misc: debug using ssh
  .github/workflows/test_downstream.yml
  src/global/common.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/global/trampoline.rs
Due: check-yaml, fmt, clippy, test

misc: try again
  .github/workflows/rust.yml
  .github/workflows/test_downstream.yml
Due: check-yaml

misc: use shell=True
  tests/integration/common.py
Due: none

misc: use shell=True
  tests/integration/common.py
  tests/integration/test_trampoline.py
Due: none

misc: debug with ssh
  .github/workflows/test_downstream.yml
Due: check-yaml

feat: add environment variable cache to the activation logic. Most of this code is copied from #1832 build by @borchero but the merge conflicts made me copy it onto main by hand.
  crates/pixi_consts/src/consts.rs
  src/activation.rs
  src/cli/clean.rs
  src/cli/install.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/environment.rs
  src/lock_file/update.rs
  src/project/environment.rs
  src/project/mod.rs
  src/task/executable_task.rs
  src/task/mod.rs
  src/task/task_hash.rs
  tests/common/mod.rs
  tests/install_tests.rs
  tests/test_activation.rs
Due: fmt, clippy, test

misc: inherit env for modification
  .github/workflows/test_downstream.yml
  tests/integration/common.py
  tests/integration/test_trampoline.py
Due: check-yaml

misc: use str
  tests/integration/common.py
Due: none

misc: run integration tests with specific temp folder
  tests/integration/test_trampoline.py
Due: none

test: add test and fix the cache invalidation
  src/activation.rs
  src/project/environment.rs
  src/task/task_hash.rs
Due: fmt, clippy, test

misc: use ssh
  .github/workflows/test_downstream.yml
Due: check-yaml

Initial commit
  src/cli/mod.rs
  src/cli/upgrade.rs
Due: fmt, clippy, test

Continue
  src/cli/upgrade.rs
Due: fmt, clippy, test

fix: minor `pixi update` improvements
  src/cli/update.rs
Due: fmt, clippy, test

fix: `update` helper function docs
  src/cli/update.rs
Due: fmt, clippy, test

Rewording
  src/cli/update.rs
Due: fmt, clippy, test

Update doc comment
  src/cli/upgrade.rs
Due: fmt, clippy, test

docs: fix incorrect statement about env location (#2365)
  docs/features/environment.md
Due: none

feat: allow for global and cli opt out of env cache
  crates/pixi_config/src/lib.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
Due: fmt, clippy, test

misc: rerender to different package
  tests/integration/test_data/channels/trampoline/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/trampoline/linux-64/dummy-trampoline-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/trampoline/linux-64/repodata.json
  tests/integration/test_data/channels/trampoline/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/trampoline/osx-64/dummy-trampoline-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/trampoline/osx-64/repodata.json
  tests/integration/test_data/channels/trampoline/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/trampoline/osx-arm64/dummy-trampoline-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/trampoline/osx-arm64/repodata.json
  tests/integration/test_data/channels/trampoline/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/trampoline/win-64/dummy-trampoline-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/trampoline/win-64/repodata.json
  tests/integration/test_data/recipes/trampoline/trampoline.yaml
  tests/integration/test_trampoline.py
Due: check-yaml

misc: rerender to different package
  .github/workflows/test_downstream.yml
Due: check-yaml

wip: upgrading uv
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  crates/pypi_modifiers/Cargo.toml
  crates/pypi_modifiers/src/pypi_marker_env.rs
  crates/pypi_modifiers/src/pypi_tags.rs
Due: taplo, fmt, clippy, test

misc: change test
  tests/integration/test_trampoline.py
Due: none

Implement `ensure_package_exists`
  src/cli/upgrade.rs
Due: fmt, clippy, test

misc: fix conversion
  Cargo.lock
  crates/pixi_manifest/src/pypi/pypi_requirement_types.rs
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/requirements.rs
Due: taplo, fmt, clippy, test

test: add more test and improve error handling
  src/activation.rs
  src/cli/run.rs
  src/cli/shell.rs
  tests/integration/test_run_cli.py
Due: fmt, clippy, test

fix: uv conversion
  crates/pixi_uv_conversions/src/conversions.rs
Due: fmt, clippy, test

misc: remove unused code
  src/global/install.rs
  src/global/project/mod.rs
  src/global/trampoline.rs
  tests/integration/common.py
Due: fmt, clippy, test

misc: run tests for everything
  .github/workflows/rust.yml
  .github/workflows/test_downstream.yml
Due: check-yaml

Add integration test
  tests/integration/test_main_cli.py
Due: none

fix: some conversions
  Cargo.lock
  Cargo.toml
  src/lock_file/resolve/pypi.rs
Due: taplo, fmt, clippy, test

misc: fix conversion
  crates/pixi_manifest/src/pypi/pypi_requirement_types.rs
  crates/pixi_uv_conversions/src/requirements.rs
Due: fmt, clippy, test

test: add more test and improve error handling
  src/cli/run.rs
Due: fmt, clippy, test

misc: refactor trampoline
  src/global/project/mod.rs
  tests/integration/conftest.py
  tests/integration/global/__init__.py
  tests/integration/global/conftest.py
  tests/integration/global/test_global.py
  tests/integration/global/test_trampoline.py
  tests/integration/test_data/channels/trampoline_1/linux-64/dummy-trampoline-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/trampoline_1/linux-64/repodata.json
  tests/integration/test_data/channels/trampoline_1/noarch/repodata.json
  tests/integration/test_data/channels/trampoline_1/osx-64/dummy-trampoline-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/channels/trampoline_1/osx-64/repodata.json
  tests/integration/test_data/channels/trampoline_1/osx-arm64/dummy-trampoline-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/channels/trampoline_1/osx-arm64/repodata.json
  tests/integration/test_data/channels/trampoline_1/win-64/dummy-trampoline-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/channels/trampoline_1/win-64/repodata.json
  tests/integration/test_data/channels/trampoline_2/linux-64/dummy-trampoline-0.2.0-hb0f4dca_0.conda
  tests/integration/test_data/channels/trampoline_2/linux-64/repodata.json
  tests/integration/test_data/channels/trampoline_2/noarch/repodata.json
  tests/integration/test_data/channels/trampoline_2/osx-64/dummy-trampoline-0.2.0-h0dc7051_0.conda
  tests/integration/test_data/channels/trampoline_2/osx-64/repodata.json
  tests/integration/test_data/channels/trampoline_2/osx-arm64/dummy-trampoline-0.2.0-h60d57d3_0.conda
  tests/integration/test_data/channels/trampoline_2/osx-arm64/repodata.json
  tests/integration/test_data/channels/trampoline_2/win-64/dummy-trampoline-0.2.0-h9490d1a_0.conda
  tests/integration/test_data/channels/trampoline_2/win-64/repodata.json
  tests/integration/test_data/mappings.toml
  tests/integration/test_data/recipes/trampoline/check_env_1.bat
  tests/integration/test_data/recipes/trampoline/check_env_1.sh
  tests/integration/test_data/recipes/trampoline/check_env_2.bat
  tests/integration/test_data/recipes/trampoline/check_env_2.sh
  tests/integration/test_data/recipes/trampoline/trampoline_1.yaml
  tests/integration/test_data/recipes/trampoline/trampoline_2.yaml
  tests/integration/test_trampoline.py
Due: check-yaml, taplo, fmt, clippy, test

wip: conversions
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
  src/lock_file/resolve/uv_resolution_context.rs
Due: fmt, clippy, test

ci: speed up test workflow
  pixi.toml
  src/lock_file/satisfiability.rs
  tests/install_tests.rs
  tests/integration/conftest.py
  tests/integration/test_global.py
  tests/integration/test_main_cli.py
  tests/solve_group_tests.rs
Due: taplo, fmt, clippy, test

misc: fix some old fashioned tests
  src/global/common.rs
  tests/integration/common.py
Due: fmt, clippy, test

misc: remove unused code
  .github/workflows/test_downstream.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
