Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix(ci): don't use cargo-install action
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

bump setup-pixi to 0.8.13
  docs/integration/ci/github_actions.md
Due: none

fix(ci): use correct crate
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

chore: fix CI pytests
  src/cli/package_suggestions.rs
  tests/integration_python/pixi_global/test_global.py
Due: cargo-fmt, cargo-clippy

misc: use rev for cargo dist version
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

fix: escape opening parenthesis
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix proper quotes
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: update unit test
  src/task/executable_task.rs
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

fix: fix escaping issues
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: remove set
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues in 'test_task_with_env'
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues in 'test_run_with_environment_variable_priority'
  tests/integration_python/test_run_cli.py
Due: none

draft: override environment varibales of run_activation function in rattler_shell crate
  src/activation.rs
Due: cargo-fmt, cargo-clippy

test: update test for 'get_export_specific_task_env' and 'as_script'
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: Platform-specific export format
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix esacpe parenthis
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: update env key
  tests/integration_python/test_run_cli.py
Due: none

fix: revert changes
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: compare priority of activation.env and activation.script
  tests/integration_python/test_run_cli.py
Due: none

feat: [activation.env] should override activation scripts
  src/activation.rs
Due: cargo-fmt, cargo-clippy

fix: in windows, child shell should inherit the parent's environemnt variable setting
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: add single quote
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

feat: override environment variables based on priority and export all of them
  src/cli/run.rs
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

chore: add debugger helper for 'test_task_with_env'
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

chore: remove spaces in test_task_with_env
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: add integration test for environment variable priority'
  tests/integration_python/test_run_cli.py
Due: none

fix: fix compatible issues
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

chore: remove unecessary blank line
  src/activation.rs
Due: cargo-fmt, cargo-clippy

fix: fix powershell issues
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: remove unnecessary binding
  src/activation.rs
Due: cargo-fmt, cargo-clippy

style: fix lint issues
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: exclude certain keys
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix powershell compatible issues
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: Early return if task.env() is empty
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: Skip command env to avoid exporting system variables
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix issues mentioned in PR comments
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix: fix windows test errors
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
