Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: support nested targets in package.build.config
  crates/pixi_manifest/src/toml/build_backend.rs
Due: cargo-fmt, cargo-clippy

Revert "fix: support nested targets in package.build.config"
  crates/pixi_manifest/src/toml/build_backend.rs
Due: cargo-fmt, cargo-clippy

docs: clarify target-specific build configuration syntax
  docs/reference/pixi_manifest.md
Due: none

Small improvements
  docs/reference/pixi_manifest.md
Due: none

docs(build): document target specific configuration (#4882)
  docs/reference/pixi_manifest.md
Due: none

fix: ensure .pixi/.gitignore is created during pixi build
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

fix: always make build_source relative to workspace
  crates/pixi_build_discovery/src/backend_spec.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__cycle.snap
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_global/src/common.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_spec/src/source_anchor.rs
Due: cargo-fmt, cargo-clippy

misc: use only --path inside build
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

Remove duplicate header
  crates/pixi_core/src/environment/list.rs
Due: cargo-fmt, cargo-clippy

fix: add some more directives
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: add some more directives (#4886)
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: Fix typos
  docs/workspace/advanced_tasks.md
Due: none

docs: Fix typos (#4887)
  docs/workspace/advanced_tasks.md
Due: none

misc: add pr template
  .github/pull_request_template.md
Due: none

Add pr title check box
  .github/pull_request_template.md
Due: none

Small improvements to template
  .github/pull_request_template.md
Due: none

Improve visually
  .github/pull_request_template.md
Due: none

fix typos
  .github/pull_request_template.md
Due: none

add chore: mention
  .github/pull_request_template.md
Due: none

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: none

relocate the ai disclosure
  .github/pull_request_template.md
Due: none

misc: update integration python to use --path
  crates/pixi/tests/integration_rust/build_tests.rs
  docs/reference/cli/pixi/build.md
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

wip: include the workspace root when serializing and deserializing the lock file
  Cargo.lock
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_record/src/source_record.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: only add yourself if you are not added yet
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: change comment
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

misc: remove panic
  crates/pixi/tests/integration_rust/build_tests.rs
Due: cargo-fmt, cargo-clippy

misc: remove unecessary tests
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

fix: recursive optional dependencies and solve groups infinite loop (#4890)
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

test: add integration test for .pixi/.gitignore creation during build
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

cleanup pr template and added a reminder for docs and json schema
  .github/pull_request_template.md
Due: none

removed pr description
  .github/pull_request_template.md
Due: none

fix: ensure `.pixi/.gitignore` is created during `pixi build` (#4884)
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

Update crates/pixi_core/src/environment/list.rs
  crates/pixi_core/src/environment/list.rs
Due: cargo-fmt, cargo-clippy

misc: remove other dbg error messages
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

feat: special handling for backends tracing output
  Cargo.lock
  crates/pixi_build_frontend/src/backend/stderr.rs
  crates/pixi_reporters/Cargo.toml
  crates/pixi_reporters/src/sync_reporter.rs
  examples/pixi-build/cpp-sdl/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: use error wrapper
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

misc: pass the dir
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy

fix: more descriptive message for tokio panics (#4893)
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

feat: gracefully handle newer lock-file versions
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_api/src/workspace/task/mod.rs
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/update.rs
  crates/pixi_cli/src/upgrade.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: pass dir to the backend
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_cli/src/build.rs
Due: cargo-fmt, cargo-clippy
