Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: exclude env key 'PROJECT_ENV' and evaluate referenced variables (#4275)
  crates/pixi_consts/src/consts.rs
  src/activation.rs
  src/task/executable_task.rs
  src/workspace/environment.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

chore: add better logging for build backends (#4276)
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_frontend/src/tool.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

final TODOs
  src/cli/import.rs
Due: cargo-fmt, cargo-clippy

Use appropriate windows syntax
  src/cli/import.rs
Due: cargo-fmt, cargo-clippy

fix
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/discovery.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  src/cli/build.rs
Due: cargo-fmt, cargo-clippy

Apply suggestions from code review
  tests/integration_python/test_import.py
Due: none

Simplify tests
  tests/integration_python/common.py
  tests/integration_python/conftest.py
  tests/integration_python/pixi_global/conftest.py
  tests/integration_python/pixi_global/test_source_builds.py
  tests/integration_python/test_utils/__init__.py
  tests/integration_python/test_utils/git_utils.py
Due: none

Stop using tmp_pixi_workspace for global tests
  tests/integration_python/pixi_global/test_completions.py
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_source_builds.py
  tests/integration_python/pixi_global/test_trampoline.py
Due: none

Add docstring
  tests/integration_python/conftest.py
Due: none

fixes
  docs/reference/cli/pixi/import.md
  src/cli/import.rs
  tests/integration_python/test_import.py
Due: cargo-fmt, cargo-clippy

Refactor tests a bit more
  tests/integration_python/pixi_global/test_source_builds.py
Due: none

Remove manifest version
  tests/integration_python/pixi_global/test_source_builds.py
Due: none

wip: update all toml to the latest working version
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/python_rich/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

Add failing test
  tests/integration_python/pixi_global/test_source_builds.py
Due: none

fix
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@cpp-with-path-to-source.snap
Due: cargo-fmt, cargo-clippy

feat(import): PyPI `requirements.txt` format (#4270)
  docs/reference/cli/pixi/import.md
  src/cli/import.rs
  tests/integration_python/test_import.py
Due: cargo-fmt, cargo-clippy

refactor
  crates/pixi_build_discovery/src/discovery.rs
Due: cargo-fmt, cargo-clippy

test: add test
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

Apply suggestion from @lucascolley
  docs/reference/pixi_manifest.md
Due: none

Apply suggestion from @lucascolley
  docs/source_files/pixi_tomls/dependency_types.toml
Due: check-openssl, toml-format

docs: improve backend documentation
  docs/build/backends.md
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/simple_pixi_build.toml
Due: check-openssl, toml-format

fix: use 0.3.* of pixi backend
  docs/source_files/pixi_tomls/dependency_types.toml
Due: check-openssl, toml-format

Add more tests
  tests/data/pixi-build/multi-output/pixi.toml
  tests/data/pixi-build/multi-output/recipe/pixi.toml
  tests/data/pixi-build/multi-output/recipe/recipe.yaml
  tests/data/pixi-build/simple-python/.gitignore
  tests/data/pixi-build/simple-python/pixi.lock
  tests/data/pixi-build/simple-python/pixi.toml
  tests/data/pixi-build/simple-python/pyproject.toml
  tests/data/pixi-build/simple-python/src/python_rich/__init__.py
  tests/integration_python/pixi_global/test_source_builds.py
Due: check-yaml, check-openssl, toml-format, yaml-format

Adapt CLI
  src/cli/global/global_specs.rs
Due: cargo-fmt, cargo-clippy

Fix quoting on Quick Demo example
  docs/index.md
Due: none

fix: use conda-forge for all build examples
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

fix: Quick Demo example shell quoting (#4285)
  docs/index.md
Due: none

Remove error handling that is done by clap nowadays
  src/cli/global/global_specs.rs
Due: cargo-fmt, cargo-clippy

test: update test
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

fix: tomls validity
  docs/build/backends.md
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  pixi.toml
Due: check-openssl, toml-format

fix: feature activation environment variable priority (#4282)
  src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

fix: tests
  docs/source_files/pixi_tomls/LICENSE
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
Due: check-openssl, toml-format

Improve function
  src/cli/global/global_specs.rs
Due: cargo-fmt, cargo-clippy

feat(clean): add `--build` for `clean` and `clean cache`
  crates/pixi_consts/src/consts.rs
  src/cli/clean.rs
Due: cargo-fmt, cargo-clippy

chore(clean): rename `--tool` to `--build_backends`
  src/cli/clean.rs
Due: cargo-fmt, cargo-clippy

cli docs
  docs/reference/cli/pixi/clean.md
  docs/reference/cli/pixi/clean/cache.md
Due: none

Small improvement
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

Update pixi.toml
  pixi.toml
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
