Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

WIP
  docs/advanced/pixi_shell.md
Due: none

build workspace on binary build
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

chore: remove backends from default members (#5544)
  .github/workflows/ci.yml
  Cargo.toml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

docs: improve sidebar rendering
  mkdocs.yml
Due: check-yaml, yaml-format

chore: enable precise builds in dist configuration
  dist-workspace.toml
Due: check-openssl, toml-format

chore: enable precise builds in dist configuration (#5551)
  dist-workspace.toml
Due: check-openssl, toml-format

docs: improve sidebar rendering (#5550)
  mkdocs.yml
Due: check-yaml, yaml-format

feat(pixi_api): Add list_packages (#4930)
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/list.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

move to `pixi shell` docs
  docs/advanced/pixi_shell.md
  docs/global_tools/introduction.md
Due: none

docs: Improve documentation for shell completions (#5546)
  docs/advanced/pixi_shell.md
  docs/global_tools/introduction.md
Due: none

docs: add PowerShell examples and Invoke-Expression warning to shell-… (#5536)
  crates/pixi_cli/src/shell_hook.rs
  docs/reference/cli/pixi/shell-hook.md
Due: cargo-fmt, cargo-clippy

Fix `tool.pixi.pypi-options.no-build = true` in combination with `--locked`.
  Cargo.toml
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

try new release workflow
  .github/workflows/release.yml
  zizmor.yml
Due: check-yaml, actionlint, yaml-format

chore_ Update to pypi environment not being in the lockfile anymore
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi/tests/integration_rust/update_tests.rs
  crates/pixi_cli/src/list.rs
  crates/pixi_cli/src/tree.rs
  crates/pixi_cli/src/workspace/export/conda_explicit_spec.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/install_subset.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_diff/src/lib.rs
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix zig stuff
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

chore: Handle optional version in pypi source dependencies
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi/tests/integration_rust/update_tests.rs
  crates/pixi_cli/src/list.rs
  crates/pixi_cli/src/tree.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_diff/src/lib.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/plan/models.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/validation.rs
Due: cargo-fmt, cargo-clippy

fix all issues
  .cargo/config.toml
  .github/workflows/release.yml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

Present choices always and add colors
  crates/pixi_manifest/src/task.rs
  crates/pixi_task/src/error.rs
  crates/pixi_task/src/task_graph.rs
  docs/workspace/advanced_tasks.md
Due: cargo-fmt, cargo-clippy

fix wix
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

Discover named environments from the global workspaces dir
  crates/pixi_cli/src/cli_config.rs
Due: cargo-fmt, cargo-clippy

Update 'workspace register' commands to use symlinks
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_cli/src/workspace/register.rs
  crates/pixi_consts/src/consts.rs
Due: cargo-fmt, cargo-clippy

fmt
  crates/pixi_cli/src/clean.rs
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/workspace/register.rs
Due: cargo-fmt, cargo-clippy

Add workspace registry module
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_api/src/workspace/registry/mod.rs
  crates/pixi_consts/src/consts.rs
Due: cargo-fmt, cargo-clippy

Move register commands under the 'pixi workspace'
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/register.rs
Due: cargo-fmt, cargo-clippy

No need to update registry when name is updated
  crates/pixi_cli/src/workspace/name.rs
Due: cargo-fmt, cargo-clippy

Regenerate docs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/clean.md
  docs/reference/cli/pixi/config/append.md
  docs/reference/cli/pixi/config/edit.md
  docs/reference/cli/pixi/config/list.md
  docs/reference/cli/pixi/config/prepend.md
  docs/reference/cli/pixi/config/set.md
  docs/reference/cli/pixi/config/unset.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/info.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/search.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/task.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace.md
  docs/reference/cli/pixi/workspace/channel.md
  docs/reference/cli/pixi/workspace/description.md
  docs/reference/cli/pixi/workspace/environment.md
  docs/reference/cli/pixi/workspace/export/conda-environment.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  docs/reference/cli/pixi/workspace/feature.md
  docs/reference/cli/pixi/workspace/name.md
  docs/reference/cli/pixi/workspace/platform.md
  docs/reference/cli/pixi/workspace/register.md
  docs/reference/cli/pixi/workspace/register/list.md
  docs/reference/cli/pixi/workspace/register/prune.md
  docs/reference/cli/pixi/workspace/register/remove.md
  docs/reference/cli/pixi/workspace/requires-pixi.md
  docs/reference/cli/pixi/workspace/system-requirements.md
  docs/reference/cli/pixi/workspace/version.md
Due: none

fmt
  crates/pixi_api/src/workspace/registry/mod.rs
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/workspace/register.rs
  crates/pixi_consts/src/consts.rs
Due: cargo-fmt, cargo-clippy

cargo fmt
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_cli/src/registry.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_core/src/workspace/discovery.rs
Due: cargo-fmt, cargo-clippy

Move registry command into it's own subcommand
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/registry.rs
  crates/pixi_cli/src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

Set workspace name and location by default if none are provided when registering a workspace
  crates/pixi_cli/src/registry.rs
Due: cargo-fmt, cargo-clippy

Setup getting named environments
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

Setup named-workspaces config
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

Read named workspace config when '--name' arg is provided
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

Back out workspace registry information in pixi global config
  crates/pixi_cli/src/clean.rs
  crates/pixi_cli/src/workspace/register.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_consts/src/consts.rs
Due: cargo-fmt, cargo-clippy

Update workspace discovery to use workspace registry file
  crates/pixi_api/src/workspace/registry/mod.rs
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/workspace/register.rs
Due: cargo-fmt, cargo-clippy

Add unit tests
  crates/pixi_api/src/workspace/registry/mod.rs
Due: cargo-fmt, cargo-clippy

Add name option to 'pixi init' command
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_api/src/workspace/init/options.rs
  crates/pixi_cli/src/init.rs
Due: cargo-fmt, cargo-clippy

Add command to prune workspaces
  crates/pixi_cli/src/workspace/register.rs
Due: cargo-fmt, cargo-clippy

Allow users to force overwriting an entry in the workspace registry
  crates/pixi_api/src/workspace/registry/mod.rs
  crates/pixi_cli/src/workspace/register.rs
Due: cargo-fmt, cargo-clippy

Add workspace registry module
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_api/src/workspace/registry/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
