Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false

refactor: add clone to params
  crates/pixi_build_types/src/channel_configuration.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
Due: cargo-fmt, cargo-clippy

fix: skip unneeded url parse and only add git+ when needed
  crates/pixi_uv_conversions/src/requirements.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

ci: only build win-arm64 on main [skip ci] (#3137)
  .github/workflows/ci.yml
Due: check-yaml, actionlint

prototype additional hash in pixi-build
  crates/pixi_build_frontend/src/protocols/builders/conda_build/protocol.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
  crates/pixi_record/src/source_record.rs
  src/build/mod.rs
Due: cargo-fmt, cargo-clippy

test: fix and add small test
  crates/pixi_uv_conversions/src/requirements.rs
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

refactor: add clone to params (#3138)
  crates/pixi_build_types/src/channel_configuration.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
Due: cargo-fmt, cargo-clippy

Add more tests
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: none

Move `test_source_change_trigger_rebuild`
  tests/data/pixi_build/simple-pyproject/.gitignore
  tests/data/pixi_build/simple-pyproject/pixi.lock
  tests/data/pixi_build/simple-pyproject/pyproject.toml
  tests/data/pixi_build/simple-pyproject/src/simple_pyproject/__init__.py
  tests/integration_python/pixi_build/test_build.py
Due: check-openssl, toml-format

Add test verifying that everything is properly cached if nothing has been changed
  tests/integration_python/pixi_build/test_build.py
Due: none

Add integration test and doc
  docs/reference/cli.md
  src/cli/install.rs
  src/lib.rs
  src/prefix.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fixes
  src/environment/mod.rs
  src/lock_file/update.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

docs: fix list
  docs/features/system_requirements.md
Due: none

fix: change the message
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

misc: cleanup
  crates/pixi_uv_conversions/src/requirements.rs
  src/lock_file/update.rs
  tests/integration_rust/add_tests.rs
Due: cargo-fmt, cargo-clippy

docs: fix list (#3152)
  docs/features/system_requirements.md
Due: none

misc: add pypi download to progress
  src/uv_reporter.rs
Due: cargo-fmt, cargo-clippy

typo error
  crates/pixi_uv_conversions/src/requirements.rs
Due: cargo-fmt, cargo-clippy

Finish up remaining tests
  pixi.lock
  pixi.toml
  src/build/mod.rs
  src/cli/build.rs
  tests/integration_python/pixi_build/test_build.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Escape string
  tests/integration_python/pixi_build/conftest.py
Due: none

Cleanup workspace
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: none

fix: change the progress message during mapping of packages (#3155)
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Test that all packages exist
  tests/integration_python/pixi_build/test_build.py
Due: none

fix: enrich vcs urls with the git information
  crates/pixi_git/src/lib.rs
  src/cli/cli_config.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

misc: removing tracing
  crates/pixi_git/src/lib.rs
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

fix: don't strip username on ssh url
  crates/pixi_git/src/url.rs
Due: cargo-fmt, cargo-clippy

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

Generate CLI documentation automatically
  Cargo.lock
  Cargo.toml
  docs/reference/cli.md
  src/cli/init.rs
  src/cli/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

lint
  Cargo.toml
  docs/reference/cli.md
Due: check-openssl, toml-format

fix: skip unneeded url parse and only add git+ when needed (#3139)
  crates/pixi_git/src/url.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/lock_file/update.rs
  src/uv_reporter.rs
Due: cargo-fmt, cargo-clippy

fix: reinstall if required is source and installed is from registry. (#3131)
  src/install_pypi/mod.rs
  src/install_pypi/plan/mod.rs
  src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

test: add tests with minimal pixi build setup (#3141)
  pixi.lock
  pixi.toml
  src/build/mod.rs
  src/cli/build.rs
  tests/data/pixi_build/simple-pyproject/.gitignore
  tests/data/pixi_build/simple-pyproject/pixi.lock
  tests/data/pixi_build/simple-pyproject/pyproject.toml
  tests/data/pixi_build/simple-pyproject/src/simple_pyproject/__init__.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test_build.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Test if pixi record is source
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

cleanup and add test
  src/environment/conda_prefix.rs
  src/prefix.rs
  tests/integration_python/test_edge_cases.py
Due: cargo-fmt, cargo-clippy

chore: improve error messages on prefix issues (#3125)
  src/environment/conda_prefix.rs
  src/prefix.rs
  tests/integration_python/test_edge_cases.py
Due: cargo-fmt, cargo-clippy

bump: rattler
  Cargo.lock
  Cargo.toml
  src/global/common.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: bump rattler (#3163)
  Cargo.lock
  Cargo.toml
  src/global/common.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.41.4
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.41.4 (#3165)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

document `extra-args`
  docs/build/cpp.md
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.toml
Due: check-openssl, toml-format

docs: Add s3 upload section
  docs/advanced/s3.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
