Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

feat: edit conda-script files with `pixi add` and friends
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/list.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/script/conda/document.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/workspace/channel/index.md
  docs/reference/cli/pixi/workspace/export/conda-environment.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  docs/reference/cli/pixi/workspace/platform/index.md
  tests/integration_python/test_conda_script.py
Due: cargo-fmt, cargo-clippy

feat: initialize scripts of any language with `pixi init --script`
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_manifest/src/script/block.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/conda/templates.rs
  crates/pixi_manifest/src/script/pep723.rs
  docs/reference/cli/pixi/index.md
  docs/reference/cli/pixi/init.md
Due: cargo-fmt, cargo-clippy

feat: run conda-script files via `pixi run --experimental --script`
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/lock.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/run_script.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  docs/reference/cli/pixi/run.md
  tests/integration_python/test_conda_script.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: share the `tool.pixi` allowlist between script kinds
  crates/pixi_cli/src/add.rs
  crates/pixi_cli/src/remove/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/script/conda/error.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  crates/pixi_manifest/src/script/conda/metadata.rs
  crates/pixi_manifest/src/script/conda/mod.rs
  crates/pixi_manifest/src/script/mod.rs
  crates/pixi_manifest/src/script/pep723.rs
  crates/pixi_manifest/src/script/tool_pixi.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/workspace.rs
  docs/python/scripts.md
  docs/tutorials/conda_script.md
  tests/integration_python/test_conda_script.py
Due: cargo-fmt, cargo-clippy

docs: document conda-script files
  docs/python/scripts.md
  docs/reference/pixi_configuration.md
  docs/source_files/conda_scripts/main.R
  docs/source_files/conda_scripts/main.c
  docs/source_files/conda_scripts/main.cpp
  docs/source_files/conda_scripts/main.cs
  docs/source_files/conda_scripts/main.f90
  docs/source_files/conda_scripts/main.main.kts
  docs/source_files/conda_scripts/main.mojo
  docs/source_files/conda_scripts/main.py
  docs/source_files/conda_scripts/main.ts
  docs/source_files/pixi_config_tomls/main_config.toml
  docs/tutorials/conda_script.md
  tests/integration_python/test_conda_script_examples.py
  typos.toml
  zensical.toml
Due: check-openssl, toml-format

chore: bump version to v0.80.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: clarify conda script usage
  CHANGELOG.md
  docs/tutorials/conda_script.md
Due: none

chore: bump version to v0.80.0 (#6959)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  docs/tutorials/conda_script.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(pixi-build-rust): scope cross-compile C flags
  crates/pixi_build_rust/src/build_script.j2
  crates/pixi_build_rust/src/build_script.rs
Due: cargo-fmt, cargo-clippy

fix(deps): adapt to comfy-table v8 API
  crates/pixi_cli/src/list.rs
Due: cargo-fmt, cargo-clippy

fix(ci): align rattler-build constraints
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix(config): allow pixi config unset to remove unknown keys
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(config): resolve clippy lints by using match guard
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(test): update test_alter_config expectation for unknown-key
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

chore: update uv to 0.12.10 and validate migration
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/errors.rs
  crates/pixi_core/src/lock_file/satisfiability/platform.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi.rs
  crates/pixi_install_pypi/src/hash_verification.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  docs/reference/pixi_manifest.md
  pixi.lock
  pixi.toml
  rust-toolchain
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: warn when uv cannot decode index credentials
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

perf: build macOS ARM64 releases with PGO
  .github/workflows/pgo-macos.yml
  .github/workflows/pgo.yml
  .github/workflows/release.yml
  scripts/build_pgo.py
  scripts/compare_pgo.py
  scripts/pgo/benchmark.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

refactor: return CLI exit codes from main
  crates/pixi/src/main.rs
  crates/pixi_cli/src/command_info.rs
  crates/pixi_cli/src/config.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/process_exit.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/shared/tree.rs
  crates/pixi_cli/src/shell.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_cli/src/workspace/activation.rs
  crates/pixi_cli/src/workspace/channel.rs
  crates/pixi_cli/src/workspace/dependencies.rs
  crates/pixi_cli/src/workspace/description.rs
  crates/pixi_cli/src/workspace/environment.rs
  crates/pixi_cli/src/workspace/feature.rs
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/name.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_cli/src/workspace/preview.rs
  crates/pixi_cli/src/workspace/register.rs
  crates/pixi_cli/src/workspace/requires_pixi/mod.rs
  crates/pixi_cli/src/workspace/requires_pixi/verify.rs
  crates/pixi_cli/src/workspace/version/get.rs
  crates/pixi_global/src/list.rs
  crates/pixi_utils/src/io.rs
  crates/pixi_utils/src/lib.rs
Due: cargo-fmt, cargo-clippy

ci: upgrade Pixi dependencies with GitHub Actions
  .github/renovate.json5
  .github/workflows/upgrade-pixi.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

ci: note when to remove the TOML workaround
  .github/workflows/upgrade-pixi.yml
Due: check-yaml, actionlint, yaml-format

ci: upgrade Pixi dependencies with GitHub Actions (#6972)
  .github/renovate.json5
  .github/workflows/upgrade-pixi.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

refactor: return CLI exit codes from main
  crates/pixi/src/main.rs
  crates/pixi_cli/src/command_info.rs
  crates/pixi_cli/src/config.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/process_exit.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/shared/tree.rs
  crates/pixi_cli/src/shell.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_cli/src/workspace/activation.rs
  crates/pixi_cli/src/workspace/channel.rs
  crates/pixi_cli/src/workspace/dependencies.rs
  crates/pixi_cli/src/workspace/description.rs
  crates/pixi_cli/src/workspace/environment.rs
  crates/pixi_cli/src/workspace/feature.rs
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/name.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_cli/src/workspace/preview.rs
  crates/pixi_cli/src/workspace/register.rs
  crates/pixi_cli/src/workspace/requires_pixi/mod.rs
  crates/pixi_cli/src/workspace/requires_pixi/verify.rs
  crates/pixi_cli/src/workspace/version/get.rs
  crates/pixi_global/src/list.rs
  crates/pixi_utils/src/io.rs
  crates/pixi_utils/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

chore(ci): Upgrade Pixi dependencies
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

chore: Make the release scripts fail loudly on git errors
  scripts/release.py
  scripts/release_backends.py
Due: none

feat: add remote url support to conda-script
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/run_script.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  docs/python/scripts.md
  docs/tutorials/conda_script.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

fix: Use only tombi for TOML formatting
  .dprint.jsonc
  crates/pixi_docs/src/main.rs
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add remote url support to conda-script (#6981)
  crates/pixi_cli/src/conda_script.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/run_script.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_script.rs
  crates/pixi_manifest/src/script/conda/manifest.rs
  docs/python/scripts.md
  docs/tutorials/conda_script.md
  tests/integration_python/test_script.py
Due: cargo-fmt, cargo-clippy

fix: Use only tombi for TOML formatting (#6982)
  .dprint.jsonc
  crates/pixi_docs/src/main.rs
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Delete README.md from Github pages
  README.md
Due: none

Delete README.md from Github pages (#6983)
  README.md
Due: none

refactor(dispatcher): track the platform of a derived environment explicitly
  crates/pixi_command_dispatcher/src/environment/env_ref.rs
  crates/pixi_command_dispatcher/src/environment/mod.rs
  crates/pixi_command_dispatcher/src/environment/projections.rs
  crates/pixi_command_dispatcher/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(dispatcher): add PrefixPlatformMismatchError for source build prefixes
  crates/pixi_command_dispatcher/src/errors.rs
  crates/pixi_command_dispatcher/src/install_pixi/ext.rs
  crates/pixi_command_dispatcher/src/keys/source_build.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

fix(dispatcher): keep nested derived environments on the build platform
  crates/pixi_command_dispatcher/src/environment/env_ref.rs
  crates/pixi_command_dispatcher/src/keys/resolve_source_record.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  tests/data/workspaces/cross-build-dependency/README.md
  tests/data/workspaces/cross-build-dependency/package_a/pixi.toml
  tests/data/workspaces/cross-build-dependency/package_b/pixi.toml
  tests/data/workspaces/cross-build-dependency/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: explain how source build-dependencies are built when cross-compiling
  docs/build/cross_compilation.md
Due: none

feat(dispatcher): show the build platform of nested derived environments
  crates/pixi_command_dispatcher/src/environment/env_ref.rs
  crates/pixi_command_dispatcher/src/environment/registry.rs
  crates/pixi_command_dispatcher/src/environment/workspace_env_ref.rs
Due: cargo-fmt, cargo-clippy

refactor: return CLI exit codes from main (#6975)
  crates/pixi/src/main.rs
  crates/pixi_cli/src/command_info.rs
  crates/pixi_cli/src/config.rs
  crates/pixi_cli/src/exec.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_cli/src/lib.rs
  crates/pixi_cli/src/process_exit.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/shared/tree.rs
  crates/pixi_cli/src/shell.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_cli/src/workspace/activation.rs
  crates/pixi_cli/src/workspace/channel.rs
  crates/pixi_cli/src/workspace/dependencies.rs
  crates/pixi_cli/src/workspace/description.rs
  crates/pixi_cli/src/workspace/environment.rs
  crates/pixi_cli/src/workspace/feature.rs
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/name.rs
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_cli/src/workspace/preview.rs
  crates/pixi_cli/src/workspace/register.rs
  crates/pixi_cli/src/workspace/requires_pixi/mod.rs
  crates/pixi_cli/src/workspace/requires_pixi/verify.rs
  crates/pixi_cli/src/workspace/version/get.rs
  crates/pixi_global/src/list.rs
  crates/pixi_utils/src/io.rs
  crates/pixi_utils/src/lib.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

perf: build macOS ARM64 releases with PGO
  .github/workflows/release.yml
Due: check-yaml, actionlint, yaml-format

perf: build Linux x64 releases with PGO
  .github/actionlint.yml
  .github/workflows/release.yml
  scripts/build_pgo.py
  scripts/pgo/pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format
