Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

Remove unneeded comment
  crates/pixi_cli/src/global/install.rs
Due: cargo-fmt, cargo-clippy

misc: remove unused dep
  Cargo.lock
  crates/pixi_core/Cargo.toml
Due: check-openssl, toml-format

Revert "Add function to access the inner manifest::Environment"
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

Make lock file management simpler
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/expose.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_cli/src/global/shortcut.rs
  crates/pixi_cli/src/global/sync.rs
  crates/pixi_cli/src/global/uninstall.rs
  crates/pixi_cli/src/global/update.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

Fix clippy lint
  crates/pixi_cli/src/global/install.rs
Due: cargo-fmt, cargo-clippy

fix nushell completions
  crates/pixi_cli/src/completion.rs
Due: cargo-fmt, cargo-clippy

fix: cargo.lock
  Cargo.lock
Due: none

remove async-traits for jsonrpsee
  crates/pixi_build_frontend/src/jsonrpc/stdio.rs
Due: cargo-fmt, cargo-clippy

fix clippy issues
  crates/pixi_cli/src/completion.rs
Due: cargo-fmt, cargo-clippy

fix clippy issues
  crates/pixi_build_frontend/src/jsonrpc/stdio.rs
Due: cargo-fmt, cargo-clippy

chore(ci): switch to non-deprecated macos runners
  .github/workflows/ci.yml
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

refactor: Improve handling of environment file and lock-file hash validation
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

refactor: Enhance lock file update logic for specific environments
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

chore(ci): switch to non-deprecated macos runners (#5030)
  .github/workflows/ci.yml
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

perf(tests): optimize git pypi update tests with local fixture
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/update_tests.rs
  tests/data/git-fixtures/minimal-pypi-package/001_v0.1.0/pyproject.toml
  tests/data/git-fixtures/minimal-pypi-package/001_v0.1.0/src/minimal_package/__init__.py
  tests/data/git-fixtures/minimal-pypi-package/002_v0.2.0/pyproject.toml
  tests/data/git-fixtures/minimal-pypi-package/002_v0.2.0/src/minimal_package/__init__.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor(tests): move GitRepoFixture to separate module
  crates/pixi/tests/integration_rust/common/git_fixture.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/update_tests.rs
Due: cargo-fmt, cargo-clippy

fix lint
  crates/pixi/tests/integration_rust/common/git_fixture.rs
Due: cargo-fmt, cargo-clippy

fix typo
  crates/pixi_install_pypi/src/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

Revert "refactor: Improve handling of environment file and lock-file hash validation"
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Revert "refactor: Enhance lock file update logic for specific environments"
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: use command_dispatch_builder from workspace struct
  crates/pixi_cli/src/update.rs
  crates/pixi_cli/src/upgrade.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
Due: cargo-fmt, cargo-clippy

Fix devcontainer link
  docs/integration/editor/vscode.md
Due: none

refactor: Simplify global lockfile creation
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: devcontainer image link (#5043)
  docs/integration/editor/vscode.md
Due: none

fix: bump console as well
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

Adding support of channel in MatchSpec
  crates/pixi_cli/src/add.rs
Due: cargo-fmt, cargo-clippy

Move CLI specific error message behind is_cli() constraint
  crates/pixi_api/src/workspace/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

chore: version to 0.60.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_utils/Cargo.toml
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.toml
  tests/data/satisfiability/conda-pypi-dependency-override/projects/consumer/pyproject.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Small rewording
  CHANGELOG.md
Due: none

Update hash
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.lock
Due: none

misc: remove build_manifest
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/search.rs
Due: cargo-fmt, cargo-clippy

chore: version to 0.60.0 (#5051)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_utils/Cargo.toml
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.lock
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.toml
  tests/data/satisfiability/conda-pypi-dependency-override/projects/consumer/pyproject.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: make devspec as a taskspec
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_api): Add list_environments, add_environment, remove_environment (#4918)
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/workspace/environment.rs
  crates/pixi_api/src/workspace/workspace/mod.rs
  crates/pixi_cli/src/workspace/environment.rs
  crates/pixi_cli/src/workspace/environment/add.rs
  crates/pixi_cli/src/workspace/environment/list.rs
  crates/pixi_cli/src/workspace/environment/mod.rs
  crates/pixi_cli/src/workspace/environment/remove.rs
  crates/pixi_manifest/src/environment.rs
  crates/pixi_manifest/src/solve_group.rs
Due: cargo-fmt, cargo-clippy

Apply suggestions from code review
  crates/pixi/tests/integration_rust/common/git_fixture.rs
Due: cargo-fmt, cargo-clippy

perf(test): optimize git checkouts in pypi tests (#5035)
  crates/pixi/tests/integration_rust/common/git_fixture.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/update_tests.rs
  tests/data/git-fixtures/minimal-pypi-package/001_v0.1.0/pyproject.toml
  tests/data/git-fixtures/minimal-pypi-package/001_v0.1.0/src/minimal_package/__init__.py
  tests/data/git-fixtures/minimal-pypi-package/002_v0.2.0/pyproject.toml
  tests/data/git-fixtures/minimal-pypi-package/002_v0.2.0/src/minimal_package/__init__.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf(tests): optimize git conda package tests with local fixture
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/git_fixture.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/add.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  tests/data/git-fixtures/conda-build-package/001_initial/boost-check/pixi.toml
  tests/data/git-fixtures/conda-build-package/002_v0.1.0/boost-check/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf(test): use local git fixtures for tests (#5047)
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/git_fixture.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/add.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  tests/data/git-fixtures/conda-build-package/001_initial/boost-check/pixi.toml
  tests/data/git-fixtures/conda-build-package/002_v0.1.0/boost-check/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf(tests): optimize add_pypi tests with local mocks
  crates/pixi/tests/integration_rust/add_tests.rs
  tests/data/git-fixtures/pypi-boltons/001_initial/pyproject.toml
  tests/data/git-fixtures/pypi-httpx/001_initial/pyproject.toml
  tests/data/git-fixtures/pypi-isort/001_initial/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf(test): optimize pypi add tests (#5048)
  crates/pixi/tests/integration_rust/add_tests.rs
  tests/data/git-fixtures/pypi-boltons/001_initial/pyproject.toml
  tests/data/git-fixtures/pypi-httpx/001_initial/pyproject.toml
  tests/data/git-fixtures/pypi-isort/001_initial/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
