Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

ci: speed up ubuntu and macOS x86 CI (#6280)
  .github/workflows/ci.yml
  Cargo.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

Keep rustls and native-tls TLS backends separate in workspace-hack
  .config/hakari.toml
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_auth/Cargo.toml
  crates/pixi_build_backend/Cargo.toml
  crates/pixi_build_cmake/Cargo.toml
  crates/pixi_build_mojo/Cargo.toml
  crates/pixi_build_python/Cargo.toml
  crates/pixi_build_r/Cargo.toml
  crates/pixi_build_rattler_build/Cargo.toml
  crates/pixi_build_ros/Cargo.toml
  crates/pixi_build_rust/Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_utils/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: check-openssl, toml-format

Normalize wheel RECORD paths for clobber detection
  Cargo.lock
  crates/pixi_glob/Cargo.toml
  crates/pixi_glob/src/glob_set/walk_root.rs
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/conda_pypi_clobber.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_path/src/lib.rs
  crates/pixi_path/src/normalize.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Map wheel data scripts for clobber detection
  crates/pixi_install_pypi/src/conda_pypi_clobber.rs
Due: cargo-fmt, cargo-clippy

Improve PyPI-over-conda clobber warnings
  crates/pixi_install_pypi/src/conda_pypi_clobber.rs
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: Improve PyPI > Conda clobber detection (#6292)
  Cargo.lock
  crates/pixi_glob/Cargo.toml
  crates/pixi_glob/src/glob_set/walk_root.rs
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/conda_pypi_clobber.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_path/src/lib.rs
  crates/pixi_path/src/normalize.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: add AWS Lambda integration example
  docs/integration/third_party/aws_lambda.md
  mkdocs.yml
Due: check-yaml, yaml-format

fix: resolve manifest path error and sanitize pyproject names
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/workspace/init/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: restructure init module using strategy pattern
  crates/pixi_api/src/workspace/init/mod.rs
Due: cargo-fmt, cargo-clippy

style: fix lint issue
  crates/pixi_api/src/workspace/init/mod.rs
Due: cargo-fmt, cargo-clippy

fix: Preserve file permissions during atomic write operations
  CHANGELOG.md
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

fix: remove changelog entry for unreleased fixes
  CHANGELOG.md
Due: none

fix: enhance temp file creation to preserve permissions on Unix
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

update docs
  docs/reference/pixi_manifest.md
  docs/workspace/system_requirements.md
Due: none

fix(ros): avoid pixi lock panics on unmappable ROS dependencies (#6290)
  crates/pixi_build_ros/robostack.yaml
  crates/pixi_build_ros/src/package_map.rs
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

chore: version to 0.70.2
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: preserve file permissions during atomic write operations (#6296)
  crates/pixi_utils/src/atomic_write.rs
Due: cargo-fmt, cargo-clippy

chore: version to 0.70.2 (#6298)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/deployment/container.md
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  pyproject.toml
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: remove handoff doc for #6281
  HANDOFF-6281-mapping-cache.md
Due: none

test(pypi-modifiers): cover the platform-declared libc and macOS paths
  crates/pypi_modifiers/src/pypi_tags.rs
Due: cargo-fmt, cargo-clippy

refactor(install-pypi): drop system_requirements field from PyPIUpdateConfig
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(cli): correct always-true skip-summary condition in install
  crates/pixi_cli/src/install.rs
Due: cargo-fmt, cargo-clippy

fix(pypi-modifiers): accept major-only macOS versions in pypi tags
  crates/pixi_api/src/workspace/add/mod.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  tests/integration_python/test_edge_cases.py
  tests/integration_python/test_main_cli.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(manifest): enforce the subdir-platform naming invariant on edits
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/platform.rs
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

feat(core): derive minimal-required platforms and use them for env compatibility
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_manifest/src/platform.rs
Due: cargo-fmt, cargo-clippy

refactor(manifest): delete the system-requirements writer surface
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/system_requirements/add.rs
  crates/pixi_cli/src/workspace/system_requirements/list.rs
  crates/pixi_cli/src/workspace/system_requirements/mod.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_family_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_family_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_full_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_full_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

refactor(manifest): enforce subdir-platform invariant in PixiPlatform::new
  crates/pixi_cli/src/workspace/platform.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/platform.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/platform.rs
  crates/pypi_modifiers/src/pypi_tags.rs
Due: cargo-fmt, cargo-clippy

feat(manifest): drop `__cuda` from osx platforms in sysreqs migration
  crates/pixi_manifest/src/system_requirements.rs
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

test(manifest): cover asymmetric and dangling feature platform mutations
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

feat(cli): align workspace platform CLI with TOML virtual-package keys
  crates/pixi_cli/src/workspace/platform.rs
  docs/reference/cli/pixi/workspace/platform/add.md
  docs/reference/cli/pixi/workspace/platform/edit.md
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

feat(core): diagnose unsupported-platform with missing virtual packages
  crates/pixi_cli/src/run.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/errors.rs
  crates/pixi_core/src/workspace/virtual_packages.rs
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

test(satisfiability): assert virtual-package order doesn't matter
  tests/data/satisfiability/permuted-virtual-packages/pixi.lock
  tests/data/satisfiability/permuted-virtual-packages/pixi.toml
Due: check-openssl, toml-format

feat(lock-file): write short 'pN' aliases for rich platforms
  crates/pixi_core/src/lock_file/platform_rename.rs
  crates/pixi_core/src/lock_file/update.rs
  docs/workspace/multi_platform_configuration.md
  tests/integration_python/test_workspace_platform.py
Due: cargo-fmt, cargo-clippy

test(manifest): pin PixiPlatformName validation and locked-platform invariant
  crates/pixi_manifest/src/manifests/.workspace.rs.pending-snap
  crates/pixi_manifest/src/platform.rs
Due: cargo-fmt, cargo-clippy

docs: drop references to nonexistent 'pixi workspace platform show'
  docs/workspace/multi_platform_configuration.md
  docs/workspace/system_requirements.md
Due: none

refactor(core): drop the SystemRequirements aggregation accessors
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/solve_group.rs
  crates/pixi_manifest/src/features_ext.rs
Due: cargo-fmt, cargo-clippy

feat(schema): model rich workspace platforms
  schema/examples/invalid/bad_workspace_platform_name.toml
  schema/examples/valid/workspace_rich_platform.toml
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: check-openssl, toml-format

feat(cli): hide `pixi workspace system-requirements` from help and docs
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/system_requirements/add.rs
  crates/pixi_cli/src/workspace/system_requirements/mod.rs
  docs/reference/cli/pixi/workspace.md
  docs/reference/cli/pixi/workspace/system-requirements.md
  docs/reference/cli/pixi/workspace/system-requirements/add.md
  docs/reference/cli/pixi/workspace/system-requirements/list.md
  docs/workspace/system_requirements.md
Due: cargo-fmt, cargo-clippy

fix(cli): avoid panic in 'install --platform' skip summary
  crates/pixi_cli/src/install.rs
Due: cargo-fmt, cargo-clippy

docs: Describe rich platforms and update system requirements docs
  docs/conda_ecosystem.md
  docs/python/pyproject_toml.md
  docs/python/pytorch.md
  docs/reference/pixi_manifest.md
  docs/robotics.md
  docs/source_files/pixi_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pixi_tomls/pytorch-conda-forge.toml
  docs/source_files/pixi_tomls/pytorch-from-pytorch-channel.toml
  docs/source_files/pixi_tomls/pytorch-pypi-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  docs/source_files/pyproject_tomls/pytorch-from-pytorch-channel.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
  docs/workspace/multi_environment.md
  docs/workspace/multi_platform_configuration.md
  docs/workspace/system_requirements.md
Due: check-openssl, toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
