Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

feat: cli docs
  crates/pixi_cli/src/install.rs
  crates/pixi_core/src/lock_file/update.rs
  docs/reference/cli/pixi/install.md
  tests/integration_rust/install_subset_tests.rs
  tests/integration_rust/main.rs
Due: cargo-fmt, cargo-clippy

feat: install filter tests
  tests/integration_rust/install_filter_tests.rs
  tests/integration_rust/main.rs
Due: cargo-fmt, cargo-clippy

feat: install filter tests
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

fix: load lock file with dependency override (#4419)
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  tests/data/satisfiability/dependency_overides/pixi.lock
  tests/data/satisfiability/dependency_overides/pixi.toml
  tests/data/satisfiability/dependency_overides/projects/foo/pyproject.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: tests
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  tests/data/satisfiability/source-dependency/pixi.lock
Due: none

fix: test satisfiability examples
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/recursive-run-dependencies/pixi.lock
Due: cargo-fmt, cargo-clippy

Adapt schema for `[workspace.target.OS.build-variants]`
  schema/model.py
  schema/schema.json
Due: none

fix: test message
  crates/pixi_cli/src/install.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

feat: clippy fix
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

feat: revert env hash
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

chore: removed non important tests
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@split_package_bad_package.snap
  tests/data/workspace-discovery/split_package/bad/package/pixi.toml
  tests/data/workspace-discovery/split_package/bad/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Apply suggestion from @ruben-arts
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: BREAKING: make name optional (#4410)
  crates/pixi_build_frontend/src/backend/in_memory/passthrough.rs
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_build_types/src/stable_hash.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisiability@source-dependency-changed-project-model.snap
  crates/pixi_glob/src/snapshots/pixi_glob__glob_hash__test__glob_hash_case_1_satisfiability.snap
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/package.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__explicit_workspace_discoverer@split_package_bad_package.snap
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_spec/src/lib.rs
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/recursive-run-dependencies/pixi.lock
  tests/data/satisfiability/source-dependency/pixi.lock
  tests/data/workspace-discovery/split_package/bad/package/pixi.toml
  tests/data/workspace-discovery/split_package/bad/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: update build lockfiles
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
Due: none

fix: update build lockfiles (#4447)
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
Due: none

rebase stuff
  crates/pixi_cli/src/global/update.rs
  crates/pixi_global/src/common.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

Add documentation for `build-variants`
  docs/reference/pixi_manifest.md
Due: none

fix: adapt schema for `[workspace.target.OS.build-variants]` (#4445)
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/schema.json
Due: none

chore: try fixing extra-slow tests
  tests/integration_python/test_main_cli.py
Due: none

chore: stage fixes from cargo-fmt
  lefthook.yaml
Due: check-yaml, yaml-format

chore: try fixing extra-slow tests (#4448)
  tests/integration_python/test_main_cli.py
Due: none

feat: benchmark installation with small, middle and large environment
  .github/workflows/benchmark.yml
  Cargo.lock
  benches/codespeed_fibonacci.rs
  benches/fibonacci_performance.rs
  benches/my_benchmark.rs
  crates/pixi_bench/Cargo.toml
  crates/pixi_bench/benches/install_packages.rs
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: make the group clear
  crates/pixi_bench/benches/install_packages.rs
Due: cargo-fmt, cargo-clippy

feat: update group
  crates/pixi_bench/benches/install_packages.rs
Due: cargo-fmt, cargo-clippy

fix: update test name
  tests/integration_rust/common/builders.rs
Due: cargo-fmt, cargo-clippy

feat: change --package to --only
  crates/pixi_cli/src/install.rs
  docs/reference/cli/pixi/install.md
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

feat: add warm cache
  crates/pixi_bench/benches/install_packages.rs
Due: cargo-fmt, cargo-clippy

fix: fix black_box
  crates/pixi_bench/benches/install_packages.rs
Due: cargo-fmt, cargo-clippy

feat: fix some user facing issues
  crates/pixi_cli/src/install.rs
  crates/pixi_core/src/lock_file/update.rs
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

fix: clippy
  crates/pixi_cli/src/install.rs
Due: cargo-fmt, cargo-clippy

chore: rename function to better represent what it does
  crates/pixi_cli/src/install.rs
  crates/pixi_core/src/lock_file/update.rs
  tests/integration_rust/install_filter_tests.rs
Due: cargo-fmt, cargo-clippy

feat: install tests
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

feat: add the ability to ignore pypi packages during installation
  crates/pixi_core/src/install_pypi/mod.rs
  crates/pixi_core/src/install_pypi/plan/planner.rs
  crates/pixi_core/src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  crates/pixi_core/src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

fix: fmt
  crates/pixi_core/src/install_pypi/mod.rs
Due: cargo-fmt, cargo-clippy

fix: use qualified name for package_name
  crates/pixi_core/src/install_pypi/plan/planner.rs
Due: cargo-fmt, cargo-clippy
