Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

misc: add index schema
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  tests/integration_rust/add_tests.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/pypi_tests.rs
Due: taplo, fmt, clippy, test

misc: remove unused index name
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_uv_conversions/src/requirements.rs
Due: fmt, clippy, test

Implement exclude
  src/cli/upgrade.rs
  tests/integration/test_main_cli.py
Due: fmt, clippy, test

Run clippy fix
  src/cli/update.rs
  src/diff.rs
Due: fmt, clippy, test

misc: update snapshot
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
Due: none

fix: better path handling when locking
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

misc: add docs for index
  docs/reference/project_configuration.md
Due: none

fix: hash more than just url
  src/environment.rs
Due: fmt, clippy, test

fix: clippy fixes
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

Remove unused import
  src/cli/update.rs
Due: fmt, clippy, test

chore: version to 0.35.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: taplo, fmt, clippy, test

Fix type problems
  src/project/mod.rs
Due: fmt, clippy, test

Format
  src/diff.rs
Due: fmt, clippy, test

Pre-commit
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/channels/dummy_channel_2/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_2/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_2/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_2/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_2/win-64/repodata.json
  tests/data/channels/channels/multiple_versions_channel_1/linux-64/repodata.json
  tests/data/channels/channels/multiple_versions_channel_1/noarch/repodata.json
  tests/data/channels/channels/multiple_versions_channel_1/osx-64/repodata.json
  tests/data/channels/channels/multiple_versions_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/multiple_versions_channel_1/win-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/linux-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/noarch/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/osx-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/win-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/linux-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/noarch/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/osx-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/osx-arm64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/win-64/repodata.json
Due: none

chore: version to 0.35.0 (#2418)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: taplo, fmt, clippy, test

add powerpc64le target to trampolines
  .github/workflows/trampoline.yaml
  src/global/trampoline.rs
Due: check-yaml, fmt, clippy, test

ci: extend when to run trampoline build
  .github/workflows/trampoline.yaml
Due: check-yaml

fix: add powerpc64le target to trampoline (#2419)
  .github/workflows/trampoline.yaml
  src/global/trampoline.rs
Due: check-yaml, fmt, clippy, test

fix: improve error handling
  src/environment.rs
Due: fmt, clippy, test

feat: add --json to upgrade
  docs/reference/cli.md
  src/cli/upgrade.rs
  tests/integration_python/test_main_cli.py
Due: fmt, clippy, test

feat: add --dry-run to upgrade
  docs/reference/cli.md
  src/cli/add.rs
  src/cli/upgrade.rs
  src/project/mod.rs
  tests/integration_python/test_main_cli.py
Due: fmt, clippy, test

Adapt comment
  src/cli/upgrade.rs
Due: fmt, clippy, test

Top-level import
  tests/integration_python/test_main_cli.py
Due: none

perf: Quick prefix validation check (#2400)
  docs/advanced/explain_info_command.md
  docs/features/environment.md
  docs/reference/cli.md
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/platform/add.rs
  src/cli/project/platform/remove.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/environment.rs
  src/lib.rs
  src/lock_file/mod.rs
  src/lock_file/records_by_name.rs
  src/lock_file/update.rs
  tbump.toml
  tests/integration_python/common.py
  tests/integration_python/test_run_cli.py
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
Due: taplo, fmt, clippy, test

fix: the trampoline for executables with . in the name. And remove unwraps
  crates/pixi_trampoline/Cargo.toml
  crates/pixi_trampoline/src/main.rs
Due: taplo, fmt, clippy, test

Lint
  src/project/mod.rs
Due: fmt, clippy, test

misc: cleanup, more miette errors for excepts
  crates/pixi_trampoline/src/main.rs
Due: fmt, clippy, test

feat: add newly build trampolines
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-unknown-linux-musl.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-powerpc64-unknown-linux-gnu.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

Removed constrain on executable directeory for global executables
  src/global/mod.rs
Due: fmt, clippy, test

Updated format mapping for relname
  src/global/list.rs
Due: fmt, clippy, test

rebasing onto prefix main
  src/global/common.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

Fixed formatting and executable_name call
  src/global/project/manifest.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
