Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: docs build
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

feat: add 'did you mean' suggestion for commands
  src/cli/command_info.rs
Due: cargo-fmt, cargo-clippy

feat: add integration tests for external command execution
  tests/integration_python/test_external_commands.py
Due: none

generate bin/activate on deploy
  src/cli/deploy.rs
Due: cargo-fmt, cargo-clippy

update doc
  docs/reference/cli/pixi/workspace/export/split-lockfile.md
Due: none

bypass solve options on spliting
  src/cli/workspace/export/split_lockfile.rs
Due: cargo-fmt, cargo-clippy

add cli subcommand: workspace export split-lockfile
  docs/reference/cli/pixi/workspace/export.md
  docs/reference/cli/pixi/workspace/export/split-lockfile.md
  src/cli/workspace/export/mod.rs
  src/cli/workspace/export/split_lockfile.rs
Due: cargo-fmt, cargo-clippy

add "deploy" cli command to install an environment without workspace
  docs/reference/cli/pixi.md
  docs/reference/cli/pixi/deploy.md
  src/cli/deploy.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/environment/mod.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
  src/workspace/environment.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

fix document
  src/cli/deploy.rs
  src/cli/workspace/export/split_lockfile.rs
Due: cargo-fmt, cargo-clippy

feat: Support Bash on Windows using 'pixi shell'
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

chore: remove unecessary blank line
  src/activation.rs
Due: cargo-fmt, cargo-clippy

fix: remove unnecessary binding
  src/activation.rs
Due: cargo-fmt, cargo-clippy

test: update test for 'get_export_specific_task_env' and 'as_script'
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

force graphical error output even if the stdout is not a terminal
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

fix compiler error
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

add ros jazzy as an optional environment
  examples/ros2-nav2/pixi.lock
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

fix: don't error on readonly fs with ignore files
  .gitignore
  src/environment/mod.rs
Due: cargo-fmt, cargo-clippy

fix variants
  crates/pixi_git/src/sha.rs
  crates/pixi_git/src/source.rs
  src/cli/mod.rs
  src/environment/conda_prefix.rs
Due: cargo-fmt, cargo-clippy

improve name and comment
  src/environment/mod.rs
Due: cargo-fmt, cargo-clippy

add win-64
  examples/ros2-nav2/pixi.lock
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

fix graphical and wrapping
  src/cli/mod.rs
  src/global/project/mod.rs
  tests/integration_python/common.py
Due: cargo-fmt, cargo-clippy

fix: remove non working windows packages
  examples/ros2-nav2/pixi.lock
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

fix: deterministic order of execution
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/executor.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: rerun example
  examples/rerun_example/.gitignore
  examples/rerun_example/force_driven_lockfile_graph.py
  examples/rerun_example/pixi.lock
  examples/rerun_example/pixi.toml
Due: check-openssl, toml-format

add rerun's examples
  examples/rerun_example/README.md
  examples/rerun_example/lidar/.gitignore
  examples/rerun_example/lidar/README.md
  examples/rerun_example/lidar/lidar/__init__.py
  examples/rerun_example/lidar/lidar/__main__.py
  examples/rerun_example/lidar/lidar/download_dataset.py
  examples/rerun_example/lidar/pyproject.toml
  examples/rerun_example/nuscenes_dataset/.gitignore
  examples/rerun_example/nuscenes_dataset/README.md
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/__init__.py
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/__main__.py
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/download_dataset.py
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/export_gps.py
  examples/rerun_example/nuscenes_dataset/pyproject.toml
Due: check-openssl, toml-format

fix: lock
  examples/rerun_example/pixi.lock
Due: none

improve interupt behavior for rerun example
  examples/rerun_example/force_driven_lockfile_graph.py
Due: none

fix: ros humble example
  examples/ros2-nav2/pixi.lock
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

chore: update ros jazzy and rerun examples (#3983)
  examples/rerun_example/.gitignore
  examples/rerun_example/README.md
  examples/rerun_example/force_driven_lockfile_graph.py
  examples/rerun_example/lidar/.gitignore
  examples/rerun_example/lidar/README.md
  examples/rerun_example/lidar/lidar/__init__.py
  examples/rerun_example/lidar/lidar/__main__.py
  examples/rerun_example/lidar/lidar/download_dataset.py
  examples/rerun_example/lidar/pyproject.toml
  examples/rerun_example/nuscenes_dataset/.gitignore
  examples/rerun_example/nuscenes_dataset/README.md
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/__init__.py
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/__main__.py
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/download_dataset.py
  examples/rerun_example/nuscenes_dataset/nuscenes_dataset/export_gps.py
  examples/rerun_example/nuscenes_dataset/pyproject.toml
  examples/rerun_example/pixi.lock
  examples/rerun_example/pixi.toml
  examples/ros2-nav2/pixi.lock
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

feat: add tb4 sim
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

refactor: remove the external cmd suggestions
  src/cli/command_info.rs
  tests/integration_python/test_external_commands.py
Due: cargo-fmt, cargo-clippy

fix: test example
  examples/pypi-source-deps/test/test_imports.py
Due: none

fix: test example (#3991)
  examples/pypi-source-deps/test/test_imports.py
Due: none

fix: update lockfile
  examples/ros2-nav2/pixi.lock
Due: none

feat: use ordermap instead of indexmap
  Cargo.lock
  Cargo.toml
  crates/pixi_build_type_conversions/Cargo.toml
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/project_model.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

add headless:=False
  examples/ros2-nav2/pixi.toml
Due: check-openssl, toml-format

misc: add some comments
  src/cli/command_info.rs
  tests/integration_python/conftest.py
  tests/integration_python/test_external_commands.py
Due: cargo-fmt, cargo-clippy

Fix clippy and rustdoc
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/project_model.rs
Due: cargo-fmt, cargo-clippy

feat: use ordermap instead of indexmap (#3992)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_type_conversions/Cargo.toml
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/Cargo.toml
  crates/pixi_build_types/src/project_model.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

更新 model.py
  schema/model.py
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
