Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: getting_started.md grammar (#5800)
  docs/getting_started.md
Due: none

docs: Fix typo
  docs/integration/ci/updates_github_actions.md
Due: none

removed workspace level extra-build-dependencies fields
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

removed workspace level extra-build-dependencies fields from toml wiring
  crates/pixi_manifest/src/toml/workspace.rs
Due: cargo-fmt, cargo-clippy

added parsng of feature scoped extra-build-dependencies
  crates/pixi_manifest/src/toml/feature.rs
Due: cargo-fmt, cargo-clippy

routing extra-build-dependencies to default feature and added edge case tests
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

added merging if extra-build-dependencies per environment
  crates/pixi_manifest/src/features_ext.rs
Due: cargo-fmt, cargo-clippy

using the merged extra-build-dependencies in lock update
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

added environment-level tests for scoped merge semantics and EDE edge test cases
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

added EDE conversion tests for empty-map and multi-package scenarios
  crates/pixi_uv_conversions/src/requirements.rs
Due: cargo-fmt, cargo-clippy

integration of feature-scoped extra-build-dependencies across environments
  crates/pixi/tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

added parsing of feature scoped extra-build-dependenies from toml
  crates/pixi_manifest/src/feature.rs
Due: cargo-fmt, cargo-clippy

test script for merged and scoped extra-build-dependencies
  tests/scripts/test-extra-build-dependencies.sh
Due: none

ran linters
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
Due: cargo-fmt, cargo-clippy

docs: Fix typo (#5802)
  docs/integration/ci/updates_github_actions.md
Due: none

changed snapshots for updated extra-build-dependencies
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_feature.snap
Due: none

WIP
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

WIP
  tests/data/non-satisfiability/mismatch-exclude-newer/pixi.toml
  tests/data/non-satisfiability/mismatch-exclude-newer2/pixi.toml
Due: check-openssl, toml-format

integration tests
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_spec/src/exclude_newer.rs
Due: cargo-fmt, cargo-clippy

allow dates again
  crates/pixi_spec/src/exclude_newer.rs
  docs/reference/pixi_manifest.md
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

only `channel`, no `url` or `path
  crates/pixi_manifest/src/toml/channel.rs
  docs/reference/pixi_manifest.md
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: cargo-fmt, cargo-clippy

wip
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
Due: none

WIP
  schema/model.py
Due: none

WIP
  pixi.toml
Due: check-openssl, toml-format

WIP
  schema/model.py
  schema/pyproject/partial-pixi.json
  schema/pyproject/schema.json
  schema/schema.json
  schema/test_manifest.py
Due: none

refactor: make debug_dir only deserialized in backend configs
  crates/pixi_build_backend/tests/integration/protocol.rs
  crates/pixi_build_cmake/src/config.rs
  crates/pixi_build_mojo/src/config.rs
  crates/pixi_build_python/src/config.rs
  crates/pixi_build_r/src/config.rs
  crates/pixi_build_rattler_build/src/config.rs
  crates/pixi_build_rust/src/config.rs
  crates/pixi_cli/Cargo.toml
  pixi-build-backends/py-pixi-build-backend/src/types/config.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Prettification.
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
Due: cargo-fmt, cargo-clippy

refactor: Make the reporters all use on_started(...) over on_start
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_reporters/src/git.rs
  crates/pixi_reporters/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor: Have Reportable trait to handle tasks progress reporting
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/reporter.rs
Due: cargo-fmt, cargo-clippy

initial codex implementation
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/source_record.rs
Due: cargo-fmt, cargo-clippy

WIP
  Cargo.lock
  crates/pixi_core/Cargo.toml
  docs/reference/pixi_manifest.md
  schema/test_manifest.py
Due: check-openssl, toml-format

WIP
  crates/pixi_spec/src/exclude_newer.rs
Due: cargo-fmt, cargo-clippy

WIP
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/exclude_newer.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/toml/channel.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
Due: cargo-fmt, cargo-clippy

refactor: Use generic function to complete dedup tasks
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/reporter.rs
Due: cargo-fmt, cargo-clippy

refactor: Add start_dedup_task
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
Due: cargo-fmt, cargo-clippy

docs: update documentation to add run_constraints
  docs/build/cross_compilation.md
Due: none

refactor: don't use debug_dir at all in backend configs (#5806)
  crates/pixi_build_backend/tests/integration/protocol.rs
  crates/pixi_build_cmake/src/config.rs
  crates/pixi_build_mojo/src/config.rs
  crates/pixi_build_python/src/config.rs
  crates/pixi_build_r/src/config.rs
  crates/pixi_build_rattler_build/src/config.rs
  crates/pixi_build_rust/src/config.rs
  crates/pixi_cli/Cargo.toml
  pixi-build-backends/py-pixi-build-backend/src/types/config.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

reviewed
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@source-recursive-dependency-changed-dir.snap
Due: cargo-fmt, cargo-clippy
