Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

fix: support for riscv64 linux
  .github/workflows/trampoline.yaml
  crates/pypi_modifiers/src/pypi_tags.rs
  src/global/trampoline.rs
Due: check-yaml, actionlint, yaml-format, cargo-fmt, cargo-clippy

docs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/exec.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  docs/reference/cli/pixi/workspace/platform/add.md
  docs/reference/cli/pixi/workspace/platform/remove.md
  src/cli/cli_config.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

fix: more changes
  src/install_pypi/plan/planner.rs
  tests/data/installation-order/conda/pixi.lock
  tests/data/installation-order/foobar/foobar-0.1.0-pyhbf21a9e_0.conda
  tests/data/installation-order/foobar/pyproject.toml
  tests/data/installation-order/foobar/src/foobar/b.py
  tests/data/installation-order/foobar_whl/dist/foobar-0.1.0-py3-none-any.whl
  tests/data/installation-order/foobar_whl/dist/foobar-0.1.1-py3-none-any.whl
  tests/data/installation-order/foobar_whl/pyproject.toml
  tests/data/installation-order/wheel/pixi.lock
  tests/data/pixi_tomls/installation-conda-pypi.toml
  tests/data/pixi_tomls/installation-pypi.toml
  tests/integration_python/test_edge_cases.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

ci: let renovate ignore paths we don't care to update
  renovate.json
Due: none

Format
  renovate.json
Due: none

ci: let renovate ignore paths we don't care to update (#3608)
  renovate.json
Due: none

ci: renovate separate PR for lock file
  renovate.json
Due: none

ci: renovate add pixi constraints
  renovate.json
Due: none

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-riscv64gc-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

Uses requires-pixi instead
  pixi.toml
  renovate.json
Due: check-openssl, toml-format

ci: renovate separate PR for lock file (#3609)
  renovate.json
Due: none

ci: renovate add pixi constraints (#3610)
  pixi.toml
Due: check-openssl, toml-format

ci: renovate don't update macOS runner
  renovate.json
Due: none

[CI]: Update trampoline binaries for all targets
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: none

fix: update `git-cliff`
  cliff.toml
  pixi.toml
  tbump.toml
Due: check-openssl, toml-format

Update authentication.md
  docs/deployment/authentication.md
Due: none

docs: Update authentication.md to fix typo in package name (#3615)
  docs/deployment/authentication.md
Due: none

fix: test for local archive
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/test/mod.rs
  src/install_pypi/plan/validation.rs
  src/install_pypi/utils.rs
Due: cargo-fmt, cargo-clippy

fix: remove dbg
  src/install_pypi/utils.rs
Due: cargo-fmt, cargo-clippy

fix: remove unused
  src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

finish the desing
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/task.rs
  src/cli/task.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix tests
  crates/pixi_manifest/src/task.rs
  src/task/task_graph.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix pre-commit
  crates/pixi_manifest/src/task.rs
Due: cargo-fmt, cargo-clippy

Enhance TaskArg deserialization to reject strings containing hyphens
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

Update pixi_manifest.md
  docs/reference/pixi_manifest.md
Due: none

Small improvements
  crates/pixi_manifest/src/task.rs
  src/task/executable_task.rs
  src/task/task_graph.rs
Due: cargo-fmt, cargo-clippy

docs: Replace `project` with `workspace` in more places (#3620)
  docs/reference/pixi_manifest.md
Due: none

Update snapshots
  src/workspace/snapshots/pixi__workspace__tests__target_specific_tasks.snap
Due: none

ci: update github actions hash (#3602)
  .github/workflows/ci.yml
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

fix: support for riscv64 linux (#3606)
  .github/workflows/trampoline.yaml
  crates/pypi_modifiers/src/pypi_tags.rs
  src/global/trampoline.rs
  trampoline/binaries/pixi-trampoline-aarch64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-aarch64-unknown-linux-musl.zst
  trampoline/binaries/pixi-trampoline-powerpc64le-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-riscv64gc-unknown-linux-gnu.zst
  trampoline/binaries/pixi-trampoline-x86_64-apple-darwin.zst
  trampoline/binaries/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  trampoline/binaries/pixi-trampoline-x86_64-unknown-linux-musl.zst
Due: check-yaml, actionlint, yaml-format, cargo-fmt, cargo-clippy

ci: renovate don't update macOS runner (#3613)
  renovate.json
Due: none

fix: update `git-cliff` (#3614)
  cliff.toml
  pixi.toml
  tbump.toml
Due: check-openssl, toml-format

wip
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

chore: update to Rust 1.86
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_pty/src/unix/pty_process.rs
  pixi.lock
  pixi.toml
  rust-toolchain
  src/cli/self_update.rs
  src/install_pypi/conversions.rs
  src/lock_file/satisfiability.rs
  src/prefix.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
Due: none

ci: extend ignore paths
  renovate.json
Due: none

fix
  pixi_docs/Cargo.lock
Due: none

Replace "project" with "workspace"
  docs/reference/pixi_manifest.md
Due: none

feat: install.sh supports installing without tar and unzip commands (#3551)
  .github/workflows/ci.yml
  install/install.sh
Due: check-yaml, actionlint, yaml-format

chore: update to Rust 1.86 (#3621)
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_pty/src/unix/pty_process.rs
  pixi.lock
  pixi.toml
  rust-toolchain
  src/cli/self_update.rs
  src/install_pypi/conversions.rs
  src/lock_file/satisfiability.rs
  src/prefix.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy
