Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

try to use recipe instead of rust backend
  pixi.toml
  recipe.yaml
  variants.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format

quick fix to only run on linux
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

perf: construct HttpResponse directly instead of serde_json::Value round-trip
  Cargo.lock
  Cargo.toml
  crates/http_cache_sqlite/Cargo.toml
  crates/http_cache_sqlite/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf: enable memory-mapped I/O for SQLite cache reads
  crates/http_cache_sqlite/src/lib.rs
Due: cargo-fmt, cargo-clippy

perf: use std::sync::Mutex instead of tokio::sync::Mutex
  crates/http_cache_sqlite/Cargo.toml
  crates/http_cache_sqlite/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

perf: use prepare_cached for put and delete statements
  crates/http_cache_sqlite/src/lib.rs
Due: cargo-fmt, cargo-clippy

Add recipe configuration option for pixi-build-rattler-build
  crates/pixi_build_backend/src/tools.rs
  crates/pixi_build_rattler_build/src/config.rs
  crates/pixi_build_rattler_build/src/protocol.rs
  crates/pixi_build_rattler_build/src/rattler_build.rs
  docs/build/backends/pixi-build-rattler-build.md
Due: cargo-fmt, cargo-clippy

add some more debugging
  recipe.yaml
Due: check-yaml, yaml-format

use 30 min timeout
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

Track source_dir variants.yaml in input_globs for correct rebuild when recipe is outside source_dir
  crates/pixi_build_backend/src/tools.rs
  crates/pixi_build_rattler_build/src/protocol.rs
Due: cargo-fmt, cargo-clippy

use same logic for variants
  crates/pixi_build_backend/src/tools.rs
Due: cargo-fmt, cargo-clippy

fix the use of the right drive
  pixi-build-backends/backends/pixi-build-ros/tests/integration/conftest.py
  tests/integration_python/conftest.py
Due: none

use raw paths
  pixi-build-backends/backends/pixi-build-ros/tests/integration/conftest.py
  tests/integration_python/conftest.py
Due: none

fix: allow caching for alias tasks with inputs/outputs
  crates/pixi_cli/src/task.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/task_hash.rs
  crates/pixi_utils/src/reqwest.rs
  reproduction/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

run on normal ubuntu runner
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

feat(pixi_api): Add list_packages
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_cli/src/list.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix compilation
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/list.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix commented code
  tests/integration_python/pixi_build/test_multi_output.py
Due: none

Update tests/integration_python/pixi_build/test_git.py
  tests/integration_python/pixi_build/test_git.py
Due: none

only use logical process count
  pixi.toml
Due: check-openssl, toml-format

Update tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/conftest.py
Due: none

fix: bumping with ref and pr
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
  tbump.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

fix: test exitcode import
  tests/integration_python/pixi_build/test_multi_output.py
Due: none

fix zizmor lint;
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

change deprecated input name
  .github/workflows/release.yml
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

test signing on Windows
  .github/workflows/release.yml
  .github/workflows/trampoline.yaml
  trampoline/build-trampoline.py
Due: check-yaml, actionlint, yaml-format

run signing only on main
  .github/workflows/trampoline.yaml
Due: check-yaml, actionlint, yaml-format

Add pixi-gui as optional add-on in MSI installer
  crates/pixi/wix/main.wxs
Due: none

Add progress text for pixi-gui install/uninstall actions
  crates/pixi/wix/main.wxs
Due: none

lint
  tests/integration_python/pixi_build/test_git.py
Due: none

fix flags
  pixi.toml
Due: check-openssl, toml-format

fix: follow symlinks to directories in glob pattern matching (#5502)
  crates/pixi_glob/src/glob_set/mod.rs
  crates/pixi_glob/src/glob_set/walk.rs
Due: cargo-fmt, cargo-clippy

try to fully use a recipe
  pixi.toml
  recipe.yaml
  variants.yaml
Due: check-yaml, check-openssl, toml-format, yaml-format

upload artifacts to github
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

simplify: always use git commands instead of jj-specific branches
  scripts/release_backends.py
Due: none

fix: backend release bugs (#5482)
  pixi-build-backends/recipe/all-backends/recipe.yaml
  pixi-build-backends/scripts/generate-versions.py
  scripts/release_backends.py
Due: check-yaml, yaml-format

small fix
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_task/src/executable_task.rs
Due: cargo-fmt, cargo-clippy

feat: add pixi.init_cwd template variable for task inputs/outputs (#5505)
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_manifest/src/task.rs
  crates/pixi_task/src/executable_task.rs
  crates/pixi_task/src/task_graph.rs
  docs/workspace/advanced_tasks.md
Due: cargo-fmt, cargo-clippy
