Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  entry: cargo test
  pass_filenames: false

fix: tetss
  crates/pixi_manifest/src/document.rs
  crates/pixi_manifest/src/manifest.rs
Due: fmt, clippy, test

fix: remove cfg_eval
  Cargo.lock
  Cargo.toml
  crates/pixi_spec/Cargo.toml
Due: taplo

fix: update schema
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
Due: taplo

Make pixi global more limited:
  docs/features/pixi_global_manifest.md
Due: none

kebab-case
  docs/features/pixi_global_manifest.md
Due: none

fix: build-number parsing
  crates/pixi_spec/src/detailed.rs
  crates/pixi_spec/src/serde.rs
  crates/pixi_spec/src/snapshots/pixi_spec__serde__test__round_trip.snap
Due: fmt, clippy, test

fix: schema kebabcase
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
Due: taplo

fix: schema hash sums
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
Due: taplo

refactor: add `pixi_spec` crate (#1741)
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/dependencies.rs
  crates/pixi_manifest/src/document.rs
  crates/pixi_manifest/src/error.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/has_manifest_ref.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifest.rs
  crates/pixi_manifest/src/nameless_matchspec.rs
  crates/pixi_manifest/src/parsed_manifest.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__document__tests__nameless_to_toml.snap
  crates/pixi_manifest/src/target.rs
  crates/pixi_manifest/src/utils/mod.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/detailed.rs
  crates/pixi_spec/src/git.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/path.rs
  crates/pixi_spec/src/serde.rs
  crates/pixi_spec/src/snapshots/pixi_spec__serde__test__round_trip.snap
  crates/pixi_spec/src/snapshots/pixi_spec__test__into_nameless_match_spec.snap
  crates/pixi_spec/src/url.rs
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/cli/add.rs
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  src/project/environment.rs
  src/project/mod.rs
  src/project/snapshots/pixi__project__environment__tests__dependencies.snap
  tests/add_tests.rs
Due: taplo, fmt, clippy, test

docs: update some of the cli and add osx rosetta mention (#1760)
  docs/reference/cli.md
  docs/reference/project_configuration.md
Due: none

docs: fix typo
  docs/reference/project_configuration.md
Due: none

docs: fix typo (#1771)
  docs/reference/project_configuration.md
Due: none

docs: Fix instructions for update github actions
  docs/advanced/updates_github_actions.md
Due: none

misc: do some refactoring
  Cargo.lock
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/gateway.rs
  crates/pixi_config/src/lib.rs
  src/cli/global/common.rs
  src/cli/global/install.rs
  src/cli/global/upgrade.rs
Due: taplo, fmt, clippy, test

test: verify the init behavior works for existing pyproject.toml
  src/cli/init.rs
  tests/common/builders.rs
  tests/common/mod.rs
  tests/init_tests.rs
  tests/pixi_tomls/pyproject_no_pixi.toml
Due: taplo, fmt, clippy, test

Revert "kebab-case"
  docs/features/pixi_global_manifest.md
Due: none

Revert "Make pixi global more limited:"
  docs/features/pixi_global_manifest.md
Due: none

fix: tests
  tests/common/mod.rs
Due: fmt, clippy, test

misc: use cfg for repodata gateway
  crates/pixi_config/src/lib.rs
Due: fmt, clippy, test

Set up a new proposal based on comments from all team members
  docs/features/pixi_global_manifest.md
Due: none

fix: dont accidentally wipe pyproject.toml on `init` (#1775)
  src/cli/init.rs
  tests/common/builders.rs
  tests/common/mod.rs
  tests/init_tests.rs
  tests/pixi_tomls/pyproject_no_pixi.toml
Due: taplo, fmt, clippy, test

chore: version to 0.27.1
  CHANGELOG.md
Due: none

bump: versions 0.27.1
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  src/cli/mod.rs
  tbump.toml
  tests/integration/test_main_cli.py
Due: taplo, fmt, clippy, test

expands the environment variable examples in the reference section
  docs/reference/project_configuration.md
Due: none

chore: version to 0.27.1 (#1778)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  src/cli/mod.rs
  tbump.toml
  tests/integration/test_main_cli.py
Due: taplo, fmt, clippy, test

misc: change to be func of struct
  crates/pixi_config/src/gateway.rs
  crates/pixi_config/src/lib.rs
  src/cli/exec.rs
  src/cli/global/install.rs
  src/cli/global/upgrade.rs
  src/project/repodata.rs
Due: fmt, clippy, test

Small addition about specs
  docs/features/pixi_global_manifest.md
Due: none

Typo
  docs/features/pixi_global_manifest.md
Due: none

ci: run `clippy` on all workspaces
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  crates/pixi_manifest/src/target.rs
  crates/pixi_spec/src/serde.rs
Due: check-yaml, fmt, clippy, test

fix: implement frontend
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/backend.rs
  crates/pixi_build_frontend/src/build/mod.rs
  crates/pixi_build_frontend/src/build/resolve.rs
  crates/pixi_build_frontend/src/build_tool_info.rs
  crates/pixi_build_frontend/src/conda_build.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/main.rs
  crates/pixi_build_frontend/src/options.rs
  crates/pixi_build_frontend/src/pixi.rs
  crates/pixi_build_frontend/src/protocol.rs
Due: taplo, fmt, clippy, test

test wix windows
  .github/workflows/rust.yml
Due: check-yaml

bump cargo wix version
  .github/workflows/rust.yml
Due: check-yaml

acc be consistent with what previous CI did and not just said
  Cargo.toml
Due: taplo

Encapsulate channel resolution logic for CLI
  src/cli/cli_config.rs
  src/cli/exec.rs
  src/cli/global/install.rs
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
  src/cli/search.rs
Due: fmt, clippy, test

fix: improve spec parsing error messages
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/serde.rs
  crates/pixi_spec/src/snapshots/pixi_spec__serde__test__round_trip.snap
Due: taplo, fmt, clippy, test

fix: better error message
  crates/pixi_spec/src/serde.rs
  crates/pixi_spec/src/snapshots/pixi_spec__serde__test__round_trip.snap
Due: fmt, clippy, test

ci: run `clippy` on all workspaces (#1780)
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  crates/pixi_manifest/src/target.rs
  crates/pixi_spec/src/serde.rs
Due: check-yaml, fmt, clippy, test

fix: try to increase rlimit (#1766)
  Cargo.lock
  Cargo.toml
  src/cli/add.rs
  src/cli/global/install.rs
  src/environment.rs
  src/lib.rs
  src/lock_file/update.rs
  src/lock_file/utils.rs
  src/rlimit.rs
Due: taplo, fmt, clippy, test

Add tip
  docs/advanced/updates_github_actions.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
