Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

misc: add ros-noetic to turtle sim and add rviz to the examples
  examples/turtlesim/README.md
  examples/turtlesim/pixi.lock
  examples/turtlesim/pixi.toml
  examples/turtlesim/turtle_marker_viz_ROS1.py
  examples/turtlesim/turtle_marker_viz_ROS2.py
Due: taplo

Add an example where only a substring is matched
  docs/reference/cli.md
Due: none

feat: add filter for pixi global list
  pixi.toml
  src/cli/global/list.rs
  tests/integration/test_global.py
Due: taplo, fmt, clippy, test

misc: fix cargo fmt
  src/cli/global/list.rs
Due: fmt, clippy, test

fix: allow user to run default env specifically
  src/cli/run.rs
Due: fmt, clippy, test

fix: edit cli on windows and for both config and global (#2265)
  docs/reference/cli.md
  src/cli/config.rs
  src/cli/global/edit.rs
Due: fmt, clippy, test

docs: update `pixi global` docs (#2270)
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/remove.rs
  src/cli/global/uninstall.rs
Due: fmt, clippy, test

lint
  examples/turtlesim/turtle_marker_viz_ROS1.py
  examples/turtlesim/turtle_marker_viz_ROS2.py
Due: none

Update tests/integration/test_global.py
  tests/integration/test_global.py
Due: none

Don't call `remove_broken_expose_names` within `sync_environment`
  src/cli/global/add.rs
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/mod.rs
  src/cli/global/remove.rs
  src/cli/global/uninstall.rs
  src/cli/global/update.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: add more tests for env filter
  tests/integration/test_global.py
Due: none

docs: update `pixi list` docs (#2269)
  docs/reference/cli.md
Due: none

Cleanup
  src/cli/global/sync.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

misc: fix the failing filter test by adding space
  tests/integration/test_global.py
Due: none

misc: apply suggestion
  tests/integration/test_global.py
Due: none

Add test for `pixi global update`
  tests/integration/test_global.py
Due: none

fix: explicitly run default environment (#2273)
  src/cli/run.rs
Due: fmt, clippy, test

lint toml
  examples/turtlesim/pixi.toml
Due: taplo

feat: add pixi global list filter (#2272)
  pixi.toml
  src/cli/global/list.rs
  tests/integration/test_global.py
Due: taplo, fmt, clippy, test

feat: add --force-reinstall
  src/cli/global/install.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

feat: support for incremental compilation (#2268)
  Cargo.lock
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/conda_build/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
  src/build/cache/build_cache.rs
  src/build/cache/mod.rs
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

feat: add progress reporter for build
  Cargo.lock
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/reporters.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  src/build/mod.rs
  src/cli/build.rs
Due: fmt, clippy, test

try trampoline
  src/global/install.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

simplify
  src/global/install.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: now passing into methods
  src/build/mod.rs
  src/environment.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

fix: allow this many args
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
Due: fmt, clippy, test

fix: parse env name on adding
  src/cli/project/environment/add.rs
Due: fmt, clippy, test

fix: clippy again
  src/build/mod.rs
Due: fmt, clippy, test

misc: improve test
  src/cli/global/install.rs
  tests/integration/test_data/dummy_channel_2/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_2/output/linux-64/dummy-x-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_2/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-64/dummy-x-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/dummy-x-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_2/output/win-64/dummy-x-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_2/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_2/recipe.yaml
  tests/integration/test_global.py
Due: check-yaml, fmt, clippy, test

fix: global remove error message
  src/cli/global/remove.rs
Due: fmt, clippy, test

feat: add progress reporter for build (#2276)
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/reporters.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  src/build/mod.rs
  src/cli/build.rs
  src/environment.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

Mention the packages directly
  src/cli/global/remove.rs
Due: fmt, clippy, test

fix: use required = true for packages arguments
  src/cli/global/add.rs
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/remove.rs
  src/cli/global/sync.rs
  src/cli/global/uninstall.rs
  src/cli/global/update.rs
  src/global/common.rs
Due: fmt, clippy, test

misc: remove eprintln macro
  src/global/common.rs
Due: fmt, clippy, test

misc: revert report
  src/cli/global/update.rs
Due: fmt, clippy, test

misc: remove space
  src/cli/global/update.rs
Due: fmt, clippy, test

feat: add --force-reinstall for global install (#2275)
  src/cli/global/install.rs
  tests/integration/test_data/dummy_channel_2/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_2/output/linux-64/dummy-x-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_2/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-64/dummy-x-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/dummy-x-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_2/output/win-64/dummy-x-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_2/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_2/recipe.yaml
  tests/integration/test_global.py
Due: check-yaml, fmt, clippy, test
