Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

chore: version to 0.63.0 (#5291)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  examples/pixi-build/array-api-extra/pixi.toml
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/data/git-fixtures/multi-output-recipe/001_initial/pixi.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Reorganize pixi.toml
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

Fix test
  crates/pixi_cli/src/workspace/export/conda_environment.rs
Due: cargo-fmt, cargo-clippy

fix an issue with source-interdependencies and dev packages
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

fix: an issue with source-interdependencies and dev packages (#5292)
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

Re-organize pixi.toml
  pixi.lock
  pixi.toml
  tests/integration_python/test_external_commands.py
Due: check-openssl, toml-format

Update features
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

No need for setup-pixi in cargo vendor
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

Set environment
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

Specify envs in more places
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

Format
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

test:add tests for pixi lock --dry-run
  crates/pixi/tests/integration_rust/common/builders.rs
  crates/pixi/tests/integration_rust/lock_tests.rs
  crates/pixi/tests/integration_rust/main.rs
  crates/pixi_core/src/environment/mod.rs
Due: cargo-fmt, cargo-clippy

Move lefthook in it's own env
  .github/workflows/ci.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

Run all linting tasks in lefthook
  lefthook.yaml
  pixi-build-backends/backends/pixi-build-ros/pixi.lock
  pixi-build-backends/backends/pixi-build-ros/pixi.toml
  pixi-build-backends/py-pixi-build-backend/pixi.toml
  pixi.lock
Due: check-yaml, check-openssl, toml-format, yaml-format

Another attempt to fix long paths issues
  pixi-build-backends/backends/pixi-build-ros/tests/integration/conftest.py
Due: none

Fix ROS
  .github/workflows/backends-ros.yml
  lefthook.yaml
  pixi-build-backends/backends/pixi-build-ros/pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

Adapt lefthook
  lefthook.yaml
Due: check-yaml, yaml-format

Format
  lefthook.yaml
Due: check-yaml, yaml-format

chore: version to 0.63.1
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Adapt changelog
  CHANGELOG.md
Due: none

Revert more and fix race condition
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_cli/src/upgrade.rs
  crates/pixi_cli/src/workspace/export/conda_environment.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

Ignore failing test
  crates/pixi_command_dispatcher/tests/integration/main.rs
Due: cargo-fmt, cargo-clippy

Ignore hanging test
  crates/pixi-build-backend/tests/integration/protocol.rs
Due: cargo-fmt, cargo-clippy

Set sysroot
  pixi-build-backends/recipe/variants.yaml
Due: check-yaml, yaml-format

fix: add original build source spec
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_path/Cargo.toml
  crates/pixi_path/src/lib.rs
  crates/pixi_path/src/normalize.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/path_utils.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/source_anchor.rs
  crates/pixi_spec/src/subdirectory.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: retain `build.source` spec in lock-file for relative paths (#5247)
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_path/Cargo.toml
  crates/pixi_path/src/lib.rs
  crates/pixi_path/src/normalize.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/path_utils.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/source_anchor.rs
  crates/pixi_spec/src/subdirectory.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.63.1
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_spec/Cargo.toml
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: version to 0.63.1 (#5301)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  crates/pixi/Cargo.toml
  crates/pixi_consts/src/consts.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_spec/Cargo.toml
  docs/integration/ci/github_actions.md
  docs/integration/editor/vscode.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: lock-file remains unsatisfiable with run-exports
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_test_utils/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: dont take into account run-exports, they are not stored in the lock-file
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

feat: improve unsat error
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

Failsafe in case lefthook doesn't report exit code 1
  .github/workflows/ci.yml
Due: check-yaml, actionlint, yaml-format

fix: dont check run-exports for source dependencies (#5302)
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi_build_backend_passthrough/src/lib.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_test_utils/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor:using MockRepoData for better performance
  crates/pixi/tests/integration_rust/lock_tests.rs
Due: cargo-fmt, cargo-clippy

If tasks are so good, why isn't there a tasks 2?
  crates/pixi_cli/src/run.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_feature.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__schema_must_be_string.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__additional_task_keys.snap
  crates/pixi_manifest/src/toml/task.rs
  docs/reference/cli/pixi/task/list_extender
  docs/reference/pixi_manifest.md
  docs/workspace/advanced_tasks.md
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

Lint
  crates/pixi_cli/src/task.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

update CLI docs
  docs/reference/cli/pixi/task/list.md
Due: none
