Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

wip: updated
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_cli/src/list.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: update workspace dependencies for lockfile-v7 branch
  Cargo.lock
  Cargo.toml
  crates/pixi_api/Cargo.toml
  crates/pixi_cli/Cargo.toml
Due: check-openssl, toml-format

fix: dont resolve in updatecontext
  Cargo.lock
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/update.rs
  tests/integration_python/pixi_build/test_specified_build_source/test_git.py
Due: cargo-fmt, cargo-clippy

tests and fixes for dynamic versions
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-missing-version.snap
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-no-longer-dynamic.snap
  tests/data/non-satisfiability/pypi-missing-version/pixi.lock
  tests/data/non-satisfiability/pypi-missing-version/pixi.toml
  tests/data/non-satisfiability/pypi-no-longer-dynamic/dynamic-dep/dynamic_dep/__init__.py
  tests/data/non-satisfiability/pypi-no-longer-dynamic/dynamic-dep/pyproject.toml
  tests/data/non-satisfiability/pypi-no-longer-dynamic/dynamic-dep/setup.py
  tests/data/non-satisfiability/pypi-no-longer-dynamic/pixi.lock
  tests/data/non-satisfiability/pypi-no-longer-dynamic/pixi.toml
  tests/data/satisfiability/pypi-dynamic-version/dynamic-dep/dynamic_dep/__init__.py
  tests/data/satisfiability/pypi-dynamic-version/dynamic-dep/pyproject.toml
  tests/data/satisfiability/pypi-dynamic-version/dynamic-dep/setup.py
  tests/data/satisfiability/pypi-dynamic-version/pixi.lock
  tests/data/satisfiability/pypi-dynamic-version/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: wire UnresolvedPixiRecord into lock-file boundary
  Cargo.lock
  Cargo.toml
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_cli/src/tree.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/package_identifier.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/install_subset.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-no-longer-dynamic.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_diff/src/lib.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_record/src/test_fixtures/full_source_records.lock
  crates/pixi_spec/src/lib.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  examples/pixi-build/cpp-sdl/pixi.lock
  tests/data/satisfiability/pypi-dynamic-version/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: index was removed
  crates/pixi_config/src/lib.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  docs/source_files/pixi_config_tomls/main_config.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: all tests, clippy and format
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_build_rust/src/config.rs
  crates/pixi_build_rust/src/main.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
  crates/pixi_pypi_spec/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: pytests
  pixi.lock
  pixi.toml
  tests/integration_python/pixi_build/test_git.py
  tests/integration_python/pixi_build/test_specified_build_source/test_git.py
Due: check-openssl, toml-format

fix: remove unused dependencies
  Cargo.lock
  crates/pixi_cli/Cargo.toml
Due: check-openssl, toml-format

fix: issues
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/solve_group_tests.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_config/tests/config/config_2.toml
  crates/pixi_record/src/snapshots/pixi_record__source_record__tests__roundtrip_conda_source_data.snap
  docs/source_files/pixi_config_tomls/main_config.toml
  examples/pixi-build/cpp-sdl/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Update pypi package handling (#5716)
  Cargo.lock
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/planner.rs
  crates/pixi_install_pypi/src/plan/required_dists.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/validation.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Adapt to rattler lockfile API change
  crates/pixi/tests/integration_rust/add_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi/tests/integration_rust/update_tests.rs
  crates/pixi_api/src/workspace/list/mod.rs
  crates/pixi_api/src/workspace/list/package.rs
  crates/pixi_cli/src/tree.rs
  crates/pixi_cli/src/workspace/export/conda_explicit_spec.rs
  crates/pixi_core/src/lib.rs
  crates/pixi_core/src/lock_file/install_subset.rs
  crates/pixi_core/src/lock_file/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/records_by_name.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-missing-version.snap
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/lock_file/virtual_packages.rs
  crates/pixi_core/src/workspace/mod.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_diff/src/lib.rs
  crates/pixi_install_pypi/src/conversions.rs
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  tests/data/satisfiability/old_lock_file/pixi.lock
  tests/data/v6-local-archive-path/foo.tar.gz/pyproject.toml
  tests/data/v6-local-archive-path/foo.tar.gz/src/foo/__init__.py
  tests/data/v6-local-archive-path/pixi.lock
  tests/data/v6-local-archive-path/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: Remove nohash from Pypi source packages in lockfile/v7 (#5754)
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_cli/src/workspace/export/snapshots/pixi_cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_with_source_editable.snap
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-no-longer-dynamic.snap
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-no-longer-dynamic.snap.new
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  examples/docker/pixi.lock
  examples/editable-with-extras/pixi.lock
  examples/pypi-source-deps/pixi.lock
  examples/rerun_example/pixi.lock
  tests/data/satisfiability/absolute-paths/pixi.lock
  tests/data/satisfiability/conda-pypi-dependency-override/pixi.lock
  tests/data/satisfiability/dependency_overides/pixi.lock
  tests/data/satisfiability/editable-non-editable/pixi.lock
  tests/data/satisfiability/pypi-dynamic-version/pixi.lock
  tests/data/satisfiability/pypi-extras/pixi.lock
  tests/data/satisfiability/pypi-no-longer-dynamic/dynamic-dep/dynamic_dep/__init__.py
  tests/data/satisfiability/pypi-no-longer-dynamic/dynamic-dep/pyproject.toml
  tests/data/satisfiability/pypi-no-longer-dynamic/dynamic-dep/setup.py
  tests/data/satisfiability/pypi-no-longer-dynamic/pixi.lock
  tests/data/satisfiability/pypi-no-longer-dynamic/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: build all variants
  crates/pixi_cli/src/build.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_global/src/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: remove rand
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/Cargo.toml
Due: check-openssl, toml-format

fix: deadlock in lockfile update
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dedup.rs
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: record staleness
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/source_record.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_variant/src/lib.rs
  examples/pixi-build/cpp-sdl/pixi.lock
Due: cargo-fmt, cargo-clippy

refactor: skip resolving partial source records for installation
  crates/pixi/tests/integration_rust/install_tests.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/package_identifier.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_core/src/conda_prefix_updater.rs
  crates/pixi_core/src/environment/conda_prefix.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_reporters/src/download_verify_reporter.rs
Due: cargo-fmt, cargo-clippy

reuse cache id for build backend metadata
  Cargo.lock
  Cargo.toml
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_command_dispatcher/Cargo.toml
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add timestamps and exclude_newer to source metadata
  Cargo.lock
  crates/pixi_cli/src/build.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@pypi-no-longer-dynamic.snap.new
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/snapshots/pixi_record__source_record__tests__roundtrip_conda_source_data.snap
  crates/pixi_record/src/source_record.rs
  crates/pixi_record/src/test_fixtures/full_source_records.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: remove eprintln log
  crates/pixi_manifest/src/toml/pyproject.rs
Due: cargo-fmt, cargo-clippy

add exclude-newer to caches
  crates/pixi_cli/src/build.rs
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: split sourcemetadata into seperate sourcerecords
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/mod.rs
  crates/pixi_command_dispatcher/src/cache/source_record.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/builder.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__cycle.snap
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
  crates/pixi_variant/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: address review findings in dedup registry and reporter handling
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dedup.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
Due: cargo-fmt, cargo-clippy

refactor: introduce DedupTaskRegistry for command dispatcher deduplication
  crates/pixi_command_dispatcher/src/command_dispatcher/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dedup.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/executor.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: clippy
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
Due: cargo-fmt, cargo-clippy

feat: report progress for all dedup subscribers with DedupGroupId
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dedup.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_reporters/src/git.rs
  crates/pixi_reporters/src/sync_reporter.rs
Due: cargo-fmt, cargo-clippy

fix: address review comments and used less cloning
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
Due: cargo-fmt, cargo-clippy

refactor caching structure
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

perf: parallelize platform satisfiability checks
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

refactor: Make the reporters all use on_started(...) over on_start
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/reporter.rs
  crates/pixi_command_dispatcher/tests/integration/event_reporter.rs
  crates/pixi_reporters/src/git.rs
  crates/pixi_reporters/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor: Handle start slotmap tasks
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
Due: cargo-fmt, cargo-clippy

refactor: Have Reportable trait to handle tasks progress reporting
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/install_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_conda.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/solve_pixi.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
  crates/pixi_command_dispatcher/src/reporter.rs
Due: cargo-fmt, cargo-clippy

initial codex implementation
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/source_record.rs
Due: cargo-fmt, cargo-clippy

Handle source timestamp hint conflicts and test sibling reuse
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: Do not error out on empty environments in `pixi list --json` (#5830)
  crates/pixi_cli/src/list.rs
Due: cargo-fmt, cargo-clippy

fix: exclude newer and source timestamps
  Cargo.lock
  Cargo.toml
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_build_rust/src/main.rs
  crates/pixi_cli/src/build.rs
  crates/pixi_cli/src/publish.rs
  crates/pixi_command_dispatcher/src/cache/source_record.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_record/mod.rs
  crates/pixi_core/src/environment/conda_prefix.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/environment.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/source_record.rs
  crates/pixi_spec/Cargo.toml
  crates/pixi_spec/src/exclude_newer.rs
  crates/pixi_spec/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

reviewed
  crates/pixi/tests/integration_rust/build_tests.rs
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/snapshots/pixi_core__lock_file__satisfiability__tests__failing_satisfiability@source-recursive-dependency-changed-dir.snap
Due: cargo-fmt, cargo-clippy

Prettification.
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/dev_source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/instantiate_tool_env.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_record.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/url.rs
Due: cargo-fmt, cargo-clippy
