Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: Allow dots in global environment names
  crates/pixi_core/src/global/project/environment.rs
Due: cargo-fmt, cargo-clippy

test: Update snapshot for environment name error message
  crates/pixi_core/src/global/project/snapshots/pixi_core__global__project__parsed_manifest__tests__invalid_key.snap
Due: none

fix(pypi): now cache miss when a no-binary, no-build was found (#4362)
  crates/pixi_core/src/install_pypi/mod.rs
  crates/pixi_core/src/install_pypi/plan/cache.rs
  crates/pixi_core/src/install_pypi/plan/installation_source.rs
  crates/pixi_core/src/install_pypi/plan/mod.rs
  crates/pixi_core/src/install_pypi/plan/planner.rs
  crates/pixi_core/src/install_pypi/plan/test/harness.rs
  crates/pixi_core/src/install_pypi/plan/test/mod.rs
Due: cargo-fmt, cargo-clippy

fix: Properly quote environment names with dots in TOML
  crates/pixi_core/src/global/project/environment.rs
  crates/pixi_core/src/global/project/manifest.rs
Due: cargo-fmt, cargo-clippy

refactor: Use keys-based approach for TOML table access
  crates/pixi_core/src/global/project/manifest.rs
  crates/pixi_manifest/src/toml/document.rs
Due: cargo-fmt, cargo-clippy

refactor: Replace string-based TOML API with keys-based approach
  crates/pixi_core/src/global/project/manifest.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/toml/document.rs
  test_toml_edit.rs
Due: cargo-fmt, cargo-clippy

refactor: Eliminate all string splitting by using keys-based APIs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/table_name.rs
  crates/pixi_manifest/src/toml/document.rs
  src/cli/upgrade.rs
  test_toml_edit.rs
Due: cargo-fmt, cargo-clippy

refactor: Make TableName.as_parts() the primary implementation
  crates/pixi_manifest/src/manifests/table_name.rs
Due: cargo-fmt, cargo-clippy

chore: add profiling profile
  Cargo.toml
Due: check-openssl, toml-format

chore: improve the gitignore
  .gitignore
Due: none

refactor: eliminate string splitting in TOML key handling
  crates/pixi_core/src/global/project/snapshots/pixi_core__global__project__manifest__tests__add_dependency.snap
  crates/pixi_manifest/src/manifests/table_name.rs
Due: cargo-fmt, cargo-clippy

chore: add profiling profile (#4376)
  .gitignore
  Cargo.toml
Due: check-openssl, toml-format

refactor: rename 'parts' to 'keys' in TableName methods
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/table_name.rs
Due: cargo-fmt, cargo-clippy

fix: bump rattler further
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

fix(global): improve `infer_package_name_from_spec`
  crates/pixi_core/src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: restore missing inline table logic in insert_into_inline_table
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/toml/document.rs
Due: cargo-fmt, cargo-clippy

fix: resolve shell quoting issue with pixi run commands (#4352)
  crates/pixi_core/src/task/task_graph.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

test: add comprehensive tests for TOML key quoting
  crates/pixi_manifest/src/toml/document.rs
Due: cargo-fmt, cargo-clippy

fix: formatting
  crates/pixi_core/src/global/project/snapshots/pixi_core__global__project__manifest__tests__add_dependency.snap
  crates/pixi_manifest/src/toml/document.rs
Due: cargo-fmt, cargo-clippy

test: verify fix for issue #3171 (feature names with dots)
  crates/pixi_manifest/src/toml/document.rs
Due: cargo-fmt, cargo-clippy

refactor: simplify TOML key quoting tests
  crates/pixi_manifest/src/toml/document.rs
Due: cargo-fmt, cargo-clippy

misc: specify version
  crates/pixi_manifest/src/toml/build_backend.rs
  schema/examples/valid/full.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: add back additional_deps for deprecation model
  schema/model.py
Due: none

misc: update schema
  schema/schema.json
Due: none

fix: build issues
  crates/pixi_core/src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

misc: replace configuration with config and add a rename warning.
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__config_parsing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_deprecation_warning.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.toml
  schema/model.py
  schema/schema.json
  tests/data/workspaces/source-backends/package-d/pixi.toml
  tests/data/workspaces/source-backends/package-e/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: Allow dots in global environment names (#4374)
  crates/pixi_core/src/global/project/environment.rs
  crates/pixi_core/src/global/project/manifest.rs
  crates/pixi_core/src/global/project/snapshots/pixi_core__global__project__parsed_manifest__tests__invalid_key.snap
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/table_name.rs
  crates/pixi_manifest/src/toml/document.rs
  src/cli/upgrade.rs
Due: cargo-fmt, cargo-clippy

fix: lint
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__config_parsing.snap
Due: cargo-fmt, cargo-clippy

misc: fix snapshot of configuration parsing
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap.new
Due: none

feat: move build channels to backend (#4361)
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__empty_backend_channels.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__empty_channels_legacy.snap
  docs/source_files/pixi_tomls/dependency_types.toml
  docs/source_files/pixi_tomls/simple_pixi_build.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  examples/pixi-build/array-api-extra/pixi.toml
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  tests/data/discovery/nested/nested/pixi.toml
  tests/data/discovery/simple/pixi.toml
  tests/data/discovery/workspace-only/nested/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix(global): improve `infer_package_name_from_spec` (#4378)
  crates/pixi_core/src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

feat: pass run dependencies and run exports (#4373)
  Cargo.lock
  Cargo.toml
  crates/pixi_build_types/src/procedures/conda_build_v1.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/global/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: return error on build dispatch panic
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

chore: update configuration to config
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  tests/data/workspaces/host-dependency/package-a/pixi.toml
  tests/data/workspaces/host-dependency/package-b/pixi.toml
  tests/data/workspaces/host-dependency/package-c/pixi.toml
Due: check-openssl, toml-format

fix: don't use pixi-build-backends channel in docs
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
Due: check-openssl, toml-format

fix: relock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
Due: none

fix(rename): replace `build.configuration` with `build.config` (#4380)
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_manifest/src/toml/package.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__config_parsing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_deprecation_warning.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  docs/source_files/pixi_tomls/pixi-package-manifest.toml
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.toml
  schema/model.py
  schema/schema.json
  tests/data/workspaces/host-dependency/package-a/pixi.toml
  tests/data/workspaces/host-dependency/package-b/pixi.toml
  tests/data/workspaces/host-dependency/package-c/pixi.toml
  tests/data/workspaces/source-backends/package-d/pixi.toml
  tests/data/workspaces/source-backends/package-e/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: return error on build dispatch panic (#4382)
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
Due: cargo-fmt, cargo-clippy

fix: don't use pixi-build-backends channel in docs (#4383)
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
Due: check-openssl, toml-format

fix: token
  .github/workflows/benchmark.yml
  Cargo.lock
  Cargo.toml
  benches/my_benchmark.rs
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
