Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

fix: pixi global required args (#2282)
  src/cli/global/add.rs
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/remove.rs
  src/cli/global/sync.rs
  src/cli/global/uninstall.rs
  src/global/common.rs
Due: fmt, clippy, test

Update channel
  tests/integration/test_data/global_update_channel_1/output/linux-64/package-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/package2-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/osx-64/package-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/package2-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package2-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/win-64/package-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/package2-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/repodata.json
Due: none

Add a docstring to point at global uninstall
  src/cli/global/remove.rs
Due: fmt, clippy, test

fix: cleanup expose names when package is uninstalled. (#2257)
  src/cli/global/install.rs
  src/cli/global/update.rs
  src/global/project/mod.rs
  tests/integration/test_data/global_update_channel_1/output/linux-64/package-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/package2-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/osx-64/package-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/package2-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package2-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/win-64/package-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/package2-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/repodata.json
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: global remove error message (#2280)
  src/cli/global/remove.rs
Due: fmt, clippy, test

Use EnvironmentName directly in clap
  src/cli/project/environment/add.rs
  tests/common/mod.rs
Due: fmt, clippy, test

fix: slightly improve global update
  src/cli/global/update.rs
Due: fmt, clippy, test

fix: parse env name on adding (#2279)
  src/cli/project/environment/add.rs
  tests/common/mod.rs
Due: fmt, clippy, test

fix: slightly improve global update (#2283)
  src/cli/global/update.rs
Due: fmt, clippy, test

feat: improve pixi global update reporting
  src/global/common.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: skip `test_pixi_install_cleanup`
  tests/integration/test_global.py
Due: none

misc: WIP on list env
  src/cli/global/install.rs
  src/global/common.rs
Due: fmt, clippy, test

Update tests/integration/test_global.py
  tests/integration/test_global.py
Due: none

fix: skip `test_pixi_install_cleanup` (#2285)
  tests/integration/test_global.py
Due: none

feat: make output show more info about env
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/global/install.rs
  src/global/list.rs
  src/global/mod.rs
Due: fmt, clippy, test

feat: Add support for `gcs://` conda registries (#2263)
  Cargo.toml
  crates/pixi_utils/src/reqwest.rs
Due: taplo, fmt, clippy, test

misc: update test
  pixi.toml
  tests/integration/common.py
  tests/integration/test_global.py
Due: taplo

misc: fix missing type
  tests/integration/common.py
Due: none

chore: version to 0.32.2
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  src/cli/mod.rs
  tbump.toml
  tests/integration/common.py
Due: taplo, fmt, clippy, test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: version to 0.32.2 (#2289)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  src/cli/mod.rs
  tbump.toml
  tests/integration/common.py
Due: taplo, fmt, clippy, test

Refactor a bit
  src/cli/global/update.rs
Due: fmt, clippy, test

chore: version to 0.33.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  src/cli/mod.rs
  tbump.toml
  tests/integration/common.py
Due: taplo, fmt, clippy, test

Remove the changes
  CHANGELOG.md
Due: none

Replace with emoji
  CHANGELOG.md
Due: none

Remove rc release from changelog
  CHANGELOG.md
Due: none

chore: version to 0.33.0 (#2291)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  src/cli/mod.rs
  tbump.toml
  tests/integration/common.py
Due: taplo, fmt, clippy, test

feat: now make use of actual build progress
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  src/cli/build.rs
  src/environment.rs
  src/lock_file/reporter/mod.rs
  src/lock_file/reporter/progress_bar.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

fix: made implementation less complex
  src/cli/build.rs
Due: fmt, clippy, test

fix: add vpkgs to the build config
  src/cli/build.rs
Due: fmt, clippy, test

fix: `pixi global upgrade-all` error message
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
Due: fmt, clippy, test

Add another note
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
Due: fmt, clippy, test

feat: global update should add new executables
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/update.rs
  src/global/install.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

feat: global update should add new executables
  .pre-commit-config.yaml
Due: check-yaml

fix: `pixi global upgrade-all` error message (#2296)
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
Due: fmt, clippy, test

Bump peter-evans/create-pull-request action to v7 in docs
  docs/advanced/updates_github_actions.md
Due: none

fix: select correct run environment
  src/cli/run.rs
  tests/integration/test_main_cli.py
  tests/integration/test_run_cli.py
Due: fmt, clippy, test

docs: bump peter-evans/create-pull-request action to v7 (#2300)
  docs/advanced/updates_github_actions.md
Due: none

fix: add vpkgs to the build config (#2295)
  src/cli/build.rs
Due: fmt, clippy, test

refactor: improve upload errors
  src/cli/upload.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
