Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false

misc: cleanup
  src/cli/project/system_requirements/add.rs
  src/cli/project/system_requirements/mod.rs
Due: cargo-fmt, cargo-clippy

misc: use oncelock
  crates/pypi_modifiers/src/pypi_tags.rs
Due: cargo-fmt, cargo-clippy

chore: self update for win arm64
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

chore: self update for win arm64 (#2826)
  src/cli/self_update.rs
Due: cargo-fmt, cargo-clippy

add `S3Options` + `S3Config`
  crates/pixi_config/src/lib.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/s3.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

fix: snapshot whitespace characters
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@foobar.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_target_specific.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_succeeding.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_build_backend_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__disallow_source.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__empty_channels.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_name.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__missing_version_specifier.snap
  crates/pixi_manifest/src/utils/test_utils.rs
Due: cargo-fmt, cargo-clippy

docs: add cli reference
  docs/reference/cli.md
Due: none

fix: show not found environments
  src/cli/project/system_requirements/list.rs
Due: cargo-fmt, cargo-clippy

feat: split capability retrieval from initialize
  crates/pixi_build_frontend/src/protocols/mod.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
  crates/pixi_build_types/src/procedures/initialize.rs
  crates/pixi_build_types/src/procedures/mod.rs
Due: cargo-fmt, cargo-clippy

fix: forgot to add file
  crates/pixi_build_types/src/procedures/negotiate_capabilities.rs
Due: cargo-fmt, cargo-clippy

chore: simplify rust activation
  pixi.toml
  scripts/activate.bat
  scripts/activate.sh
Due: check-openssl, toml-format

misc: mention free threaded interpreter
  docs/tutorials/python.md
Due: none

bump: cargo deps
  Cargo.lock
Due: none

fix: ignore test that will go away
  crates/pixi_build_frontend/tests/diagnostics.rs
Due: cargo-fmt, cargo-clippy

chore: simplify rust activation (#2828)
  pixi.toml
  scripts/activate.bat
  scripts/activate.sh
Due: check-openssl, toml-format

fix: cache directory invalid
  src/build/cache/mod.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

fix: all snapshots
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@environment.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_key@hostdependencies.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_empty_environment.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_environment.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_environment_feature_type.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__environment__test__parse_invalid_solve_group.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__build_dependencies_in_feature_with_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__build_section_without_package.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__build_section_without_preview.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__host_dependencies_in_feature_with_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_build_backend_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_incorrectly_named_build_backend_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_named_build_backend_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__invalid_non_package_sections.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__missing_version.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__multiple_backend_config.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__package_without_build_section.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_feature.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_in_target_without_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__run_dependencies_without_pixi_build.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__schema_must_be_string.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__tool_must_be_table.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__workspace_name_required.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__package__test__invalid_extra_key.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__family_misspelled.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__libc_misspelled.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__unknown_key.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__system_requirements__test__version_misspelled.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__depends_on_deprecation.snap
  crates/pixi_manifest/src/utils/snapshots/pixi_manifest__utils__package_map__test__duplicate_package_name.snap
Due: none

update config structure
  crates/pixi_config/src/lib.rs
  crates/pixi_manifest/src/s3.rs
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

test: split tests
  crates/pixi_manifest/src/manifests/source.rs
Due: cargo-fmt, cargo-clippy

template global config in `pixi init`
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

fix: use correct directory for build artifact cache (#2830)
  src/build/cache/mod.rs
  tests/integration_python/pixi_build/test_build.py
Due: cargo-fmt, cargo-clippy

docs: Fix typo
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

docs: Fix typo (#2833)
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

chore: cargo deps (#2829)
  Cargo.lock
Due: none

fix: detect gil (#2762)
  Cargo.lock
  crates/pypi_modifiers/Cargo.toml
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/tutorials/python.md
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

use current platform by default
  tests/integration_python/common.py
  tests/integration_python/test_main_cli.py
Due: none

fix: platform array
  tests/integration_python/common.py
  tests/integration_python/test_main_cli.py
Due: none

feat: add cli modifications of the system requirements (#2765)
  crates/pixi_consts/src/consts.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_family_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_family_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_full_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_full_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_remove_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/system_requirements.rs
  docs/reference/cli.md
  src/cli/project/mod.rs
  src/cli/project/system_requirements/add.rs
  src/cli/project/system_requirements/list.rs
  src/cli/project/system_requirements/mod.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

chore: use current platform by default (#2832)
  tests/integration_python/common.py
  tests/integration_python/test_main_cli.py
Due: none

feat: add cli modifications of the system requirements (#2765)
  crates/pixi_consts/src/consts.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_family_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_family_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_full_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_full_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_system_requirement_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_add_system_requirement_environment_pyproject.toml.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__source__test__test_remove_environment_pixi.toml.snap
  crates/pixi_manifest/src/manifests/source.rs
  crates/pixi_manifest/src/system_requirements.rs
  docs/reference/cli.md
  src/cli/build.rs
  src/cli/project/mod.rs
  src/cli/project/system_requirements/add.rs
  src/cli/project/system_requirements/list.rs
  src/cli/project/system_requirements/mod.rs
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix: remove or explicitly allow unused functions (#2779)
  Cargo.lock
  crates/pixi_config/src/lib.rs
  crates/pixi_git/src/resolver.rs
  crates/pixi_git/src/sha.rs
  crates/pixi_git/src/source.rs
  crates/pixi_git/src/url.rs
  crates/pixi_glob/src/glob_mtime.rs
  crates/pixi_progress/Cargo.toml
  crates/pixi_progress/src/lib.rs
  crates/pixi_pty/src/unix/pty_process.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
  crates/pixi_uv_conversions/src/types.rs
  src/build/mod.rs
  src/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

move config into features, support cli options, init: use in search
  crates/pixi_config/src/lib.rs
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/s3.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  examples/s3-package-server/pixi.toml
  src/cli/cli_config.rs
  src/cli/search.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

WIP, todo: move out of feature again?
  Cargo.lock
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/lib.rs
  crates/pixi_utils/src/reqwest.rs
  src/cli/cli_config.rs
  src/cli/exec.rs
  src/cli/search.rs
  src/global/project/mod.rs
  src/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

further improvements
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_config/tests/config/config_1.toml
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/s3.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_utils/src/reqwest.rs
  docs/advanced/authentication.md
  docs/reference/cli.md
  examples/s3-package-server/pixi.lock
  examples/s3-package-server/pixi.toml
  schema/model.py
  src/cli/cli_config.rs
  src/cli/init.rs
  src/cli/search.rs
  src/project/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

format
  crates/pixi_config/src/lib.rs
  crates/pixi_manifest/src/toml/feature.rs
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

docs: Add S3 documentation
  docs/advanced/authentication.md
  docs/advanced/github_actions.md
  docs/advanced/s3.md
  docs/source_files/pixi_config_tomls/main_config.toml
  mkdocs.yml
Due: check-yaml, check-openssl, toml-format
