Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

Change Set -> Using
  crates/pixi_api/src/workspace/workspace/channel.rs
Due: cargo-fmt, cargo-clippy

Update test
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__set_channels.snap
Due: none

Use inline snapshot
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__set_channels.snap
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

Update docs/reference/cli/pixi/global/install_extender
  docs/reference/cli/pixi/global/install_extender
Due: none

docs: fix indent
  docs/reference/cli/pixi/global/install_extender
Due: none

docs: remove old line
  docs/concepts/package_specifications.md
Due: none

docs: add links to the version standards
  docs/concepts/package_specifications.md
  docs/reference/pixi_manifest.md
Due: none

docs: remove unnatural syntax information
  docs/concepts/package_specifications.md
Due: none

docs: cleanup
  docs/concepts/package_specifications.md
  docs/source_files/pixi_tomls/package_specifications.toml
Due: check-openssl, toml-format

docs: add pypi examples to the quick examples
  docs/source_files/shell/package_specifications.sh
Due: none

docs: cleanup and add file titles
  docs/concepts/package_specifications.md
Due: none

feat(pixi_api): Add set_channels() to WorkspaceContext (#5172)
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/workspace/channel.rs
  crates/pixi_cli/src/workspace/channel.rs
  crates/pixi_manifest/src/manifests/workspace.rs
Due: cargo-fmt, cargo-clippy

feat: add Arborium syntax highlighting to Miette error reporting
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

docs: explain the matchspec and source spec (#5224)
  docs/concepts/package_specifications.md
  docs/reference/cli/pixi/add_extender
  docs/reference/cli/pixi/global/install_extender
  docs/reference/pixi_manifest.md
  docs/source_files/pixi_tomls/package_specifications.toml
  docs/source_files/shell/package_specifications.sh
  mkdocs.yml
Due: check-yaml, check-openssl, toml-format, yaml-format

chore: `download-font` for Windows (#5228)
  docs/layouts/download-font-to-cache.nu
  docs/layouts/download-font-to-cache.sh
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix: invalidate lockfile when git rev (non-commit-hash) is removed from manifest
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_api): Expose PIXI_VERSION const
  crates/pixi_api/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(pixi_api): Expose PIXI_VERSION const (#5232)
  crates/pixi_api/src/lib.rs
Due: cargo-fmt, cargo-clippy

misc: move to oncecell to reuse the same structs
  crates/pixi_cli/src/lib.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  crates/pixi_install_pypi/src/lib.rs
  examples/pypi-source-deps/minimal-project/hatch_build.py
  examples/pypi-source-deps/pixi.lock
  examples/pypi-source-deps/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add arborium syntax highlighting to miette error reporting (#5231)
  Cargo.lock
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/lib.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: strip UV index annotations from requirement strings
  crates/pixi_manifest/src/toml/pyproject.rs
  crates/pixi_uv_conversions/src/conversions.rs
Due: cargo-fmt, cargo-clippy

docs: Polish use of "environment" a bit
  docs/advanced/channel_logic.md
  docs/advanced/override.md
  docs/advanced/pixi_shell.md
  docs/advanced/shebang.md
  docs/build/dependency_types.md
  docs/build/dev.md
  docs/build/getting_started.md
  docs/build/python.md
  docs/build/ros.md
  docs/build/variants.md
  docs/concepts/conda_pypi.md
  docs/deployment/container.md
  docs/deployment/pixi_pack.md
  docs/first_workspace.md
  docs/getting_started.md
  docs/global_tools/introduction.md
  docs/global_tools/manifest.md
  docs/global_tools/trampolines.md
  docs/index.md
  docs/installation.md
  docs/integration/editor/vscode.md
  docs/integration/editor/zed.md
  docs/misc/FAQ.md
  docs/misc/vision.md
  docs/python/pyproject_toml.md
  docs/python/pytorch.md
  docs/python/tutorial.md
  docs/reference/pixi_manifest.md
  docs/switching_from/conda.md
  docs/switching_from/poetry.md
  docs/tutorials/import.md
  docs/tutorials/ros2.md
  docs/tutorials/rust.md
  docs/workspace/advanced_tasks.md
  docs/workspace/environment.md
  docs/workspace/lockfile.md
Due: none

docs: Go back to `environment` instead of `installation environment`
  docs/advanced/channel_logic.md
  docs/advanced/override.md
  docs/advanced/pixi_shell.md
  docs/advanced/shebang.md
  docs/build/dependency_types.md
  docs/build/dev.md
  docs/build/getting_started.md
  docs/build/python.md
  docs/build/ros.md
  docs/build/variants.md
  docs/concepts/conda_pypi.md
  docs/deployment/container.md
  docs/deployment/pixi_pack.md
  docs/first_workspace.md
  docs/getting_started.md
  docs/global_tools/introduction.md
  docs/global_tools/manifest.md
  docs/global_tools/trampolines.md
  docs/index.md
  docs/installation.md
  docs/integration/editor/vscode.md
  docs/integration/editor/zed.md
  docs/misc/vision.md
  docs/python/pyproject_toml.md
  docs/python/pytorch.md
  docs/python/tutorial.md
  docs/reference/pixi_manifest.md
  docs/switching_from/conda.md
  docs/switching_from/poetry.md
  docs/tutorials/import.md
  docs/tutorials/ros2.md
  docs/tutorials/rust.md
  docs/workspace/advanced_tasks.md
  docs/workspace/environment.md
  docs/workspace/lockfile.md
Due: none

Update docs/build/dev.md
  docs/build/dev.md
Due: none

Update docs/python/pytorch.md
  docs/python/pytorch.md
Due: none

feat(discovery): enhance error handling for unsupported manifests and provide helpful suggestions
  crates/pixi_build_discovery/src/discovery.rs
Due: cargo-fmt, cargo-clippy

fix: simplify dependency path suggestion
  crates/pixi_build_discovery/src/discovery.rs
Due: cargo-fmt, cargo-clippy

misc: share the cache between runs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  examples/pypi-source-deps/pixi.lock
Due: cargo-fmt, cargo-clippy

feat: add pin_compatible support
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/build/conversion.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build/pin_compatible.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: cargo-fmt, cargo-clippy

misc: collapse multiple arguments in a ctx struct
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
Due: cargo-fmt, cargo-clippy

misc: fix tests conversion
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
Due: cargo-fmt, cargo-clippy

feat: add type for constraintspec
  crates/pixi_build_types/src/lib.rs
  crates/pixi_build_types/src/procedures/conda_outputs.rs
  crates/pixi_build_types/src/project_model.rs
  crates/pixi_command_dispatcher/src/build/dependencies.rs
  crates/pixi_command_dispatcher/src/build/pin_compatible.rs
  crates/pixi_command_dispatcher/src/dev_source_metadata/mod.rs
  schema/pixi_build_api.json
Due: cargo-fmt, cargo-clippy

misc: remove unused code
  crates/pixi_cli/src/lib.rs
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
Due: cargo-fmt, cargo-clippy

misc: add temporary basedpyright ignore
  examples/pypi-source-deps/minimal-project/hatch_build.py
  examples/pypi-source-deps/pixi.lock
  examples/pypi-source-deps/pixi.toml
  pyproject.toml
Due: check-openssl, toml-format

misc: add dynamic-source-deps example
  examples/dynamic-source-deps/.gitattributes
  examples/dynamic-source-deps/.gitignore
  examples/dynamic-source-deps/minimal-project/hatch_build.py
  examples/dynamic-source-deps/minimal-project/minimal_project/__init__.py
  examples/dynamic-source-deps/minimal-project/minimal_project/module.py
  examples/dynamic-source-deps/minimal-project/pyproject.toml
  examples/dynamic-source-deps/pixi.lock
  examples/dynamic-source-deps/pixi.toml
  examples/dynamic-source-deps/setup-project/build/lib/setup_project/__init__.py
  examples/dynamic-source-deps/setup-project/build/lib/setup_project/module.py
  examples/dynamic-source-deps/setup-project/setup.py
  examples/dynamic-source-deps/setup-project/setup_project/__init__.py
  examples/dynamic-source-deps/setup-project/setup_project/_version.py
  examples/dynamic-source-deps/setup-project/setup_project/module.py
  examples/dynamic-source-deps/test/test_imports.py
Due: check-openssl, toml-format

misc: remove rayon comment
  crates/pixi_cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: change default root certs
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

style: docs/ polish (#5234)
  docs/advanced/override.md
  docs/advanced/pixi_shell.md
  docs/advanced/shebang.md
  docs/build/dependency_types.md
  docs/build/dev.md
  docs/concepts/conda_pypi.md
  docs/deployment/pixi_pack.md
  docs/first_workspace.md
  docs/getting_started.md
  docs/global_tools/introduction.md
  docs/global_tools/manifest.md
  docs/global_tools/trampolines.md
  docs/index.md
  docs/installation.md
  docs/misc/FAQ.md
  docs/python/pyproject_toml.md
  docs/python/pytorch.md
  docs/python/tutorial.md
  docs/reference/pixi_manifest.md
  docs/switching_from/conda.md
  docs/tutorials/import.md
  docs/tutorials/ros2.md
  docs/tutorials/rust.md
  docs/workspace/advanced_tasks.md
  docs/workspace/environment.md
  docs/workspace/lockfile.md
Due: none

fix: merge issue
  crates/pixi_build_backend_passthrough/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: matching line endings
  crates/xtask/src/main.rs
Due: cargo-fmt, cargo-clippy
