Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

Small test improvement
  tests/integration_python/test_environment_variables.py
Due: none

fix: relative path to package for pixi global
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

wip: integrating into tests
  src/global/common.rs
  src/global/install.rs
  tests/integration_python/conftest.py
  tests/integration_python/pixi_global/test_global_source.py
  tests/integration_python/test_utils/git_utils.py
Due: cargo-fmt, cargo-clippy

Update snapshots
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__invalid_target_specific.snap
Due: none

fix: add build profiles to not build in editable mode on release
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  src/cli/build.rs
Due: cargo-fmt, cargo-clippy

Add all platforms
  tests/integration_python/test_environment_variables.py
Due: none

feat: override environment variables based on priority and export all of them
  src/cli/run.rs
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

feat: [activation.env] should override activation scripts
  src/activation.rs
Due: cargo-fmt, cargo-clippy

draft: override environment varibales of run_activation function in rattler_shell crate
  src/activation.rs
Due: cargo-fmt, cargo-clippy

test: update test for 'get_export_specific_task_env' and 'as_script'
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: remove unnecessary binding
  src/activation.rs
Due: cargo-fmt, cargo-clippy

chore: remove unecessary blank line
  src/activation.rs
Due: cargo-fmt, cargo-clippy

test: update unit tests
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: exclude certain keys
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

style: fix lint issues
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: Platform-specific export format
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: add integration test for environment variable priority'
  tests/integration_python/test_run_cli.py
Due: none

test: compare priority of activation.env and activation.script
  tests/integration_python/test_run_cli.py
Due: none

fix: Early return if task.env() is empty
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: escape opening parenthesis
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: Platform-specific export format with proper escaping
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: If task.env() and command_env don't have duplicated keys, simply export task.env().
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

test: update unit test
  src/task/executable_task.rs
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

test: update test 'test_task_with_env'
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: add test for activation.script > activation scripts from dependencies
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Due: check-yaml, yaml-format

fix: fix proper quotes
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix esacpe parenthis
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix issues mentioned in PR comments
  src/task/executable_task.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix: fix windows test errors
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

test: update env key
  tests/integration_python/test_run_cli.py
Due: none

fix: fix compatible issues in 'test_task_with_env'
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues in 'test_task_with_env'
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: Skip command env to avoid exporting system variables
  src/task/executable_task.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues in 'test_run_with_environment_variable_priority'
  tests/integration_python/test_run_cli.py
Due: none

fix: add single quote
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix compatible issues
  src/task/executable_task.rs
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy

fix: in windows, child shell should inherit the parent's environemnt variable setting
  tests/integration_python/test_run_cli.py
  tests/integration_rust/task_tests.rs
Due: cargo-fmt, cargo-clippy
