Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false
        stages: [pre-push, manual]

appease clippy
  src/cli/init.rs
Due: cargo-fmt, cargo-clippy

Updating depends-on section with a note and link to the task names section
  docs/workspace/advanced_tasks.md
Due: none

hint -> tip
  docs/workspace/advanced_tasks.md
Due: none

docs: Update documentation on task names (#4230)
  docs/source_files/pixi_tomls/task_visibility.toml
  docs/workspace/advanced_tasks.md
Due: check-openssl, toml-format

feat: per platform extra options for pixi build configuration (#4036)
  Cargo.lock
  crates/pixi_build_discovery/Cargo.toml
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/snapshots/discovery__direct_recipe.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@inherit__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested_recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yaml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@simple.snap
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_type_conversions/src/lib.rs
  crates/pixi_build_type_conversions/src/project_model.rs
  crates/pixi_build_types/src/procedures/initialize.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/build_target.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_system__test__configuration_parsing.snap
  schema/model.py
  schema/schema.json
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

tmp
  cpp_math/CMakeLists.txt
  cpp_math/pixi.toml
  cpp_math/recipe.yaml
  cpp_math/src/math.cpp
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

feat: build backend alternative source root
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/path.rs
  crates/pixi_spec/src/url.rs
  src/cli/build.rs
  tests/integration_rust/build_tests.rs
  tests/integration_rust/main.rs
Due: cargo-fmt, cargo-clippy

Re-add conda test
  src/lib.rs
  src/prefix.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

Remove --skip for reinstall
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/reinstall.md
  src/cli/install.rs
  src/cli/reinstall.rs
Due: cargo-fmt, cargo-clippy

feat: add new configuration options for concurrency and experimental features (#4223)
  crates/pixi_config/src/lib.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/build.md
  docs/reference/cli/pixi/exec.md
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/expose/add.md
  docs/reference/cli/pixi/global/expose/remove.md
  docs/reference/cli/pixi/global/install.md
  docs/reference/cli/pixi/global/list.md
  docs/reference/cli/pixi/global/remove.md
  docs/reference/cli/pixi/global/shortcut/add.md
  docs/reference/cli/pixi/global/shortcut/remove.md
  docs/reference/cli/pixi/global/sync.md
  docs/reference/cli/pixi/global/uninstall.md
  docs/reference/cli/pixi/global/update.md
  docs/reference/cli/pixi/global/upgrade-all.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  tests/integration_python/test_main_cli.py
Due: cargo-fmt, cargo-clippy

fix(add): pixi-build preview-mode check (#4224)
  crates/pixi_manifest/src/manifests/workspace.rs
  crates/pixi_manifest/src/utils/package_map.rs
  src/cli/add.rs
  tests/integration_rust/add_tests.rs
  tests/integration_rust/snapshots/integration_rust__add_tests__git_dependency_without_preview_error.snap
Due: cargo-fmt, cargo-clippy

tmp2
  cpp_math/recipe.yaml
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  src/reporters/repodata_reporter.rs
Due: check-yaml, yaml-format, cargo-fmt, cargo-clippy

fix
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_system.rs
  src/cli/build.rs
  tests/integration_rust/build_tests.rs
Due: cargo-fmt, cargo-clippy

fix
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/path.rs
  crates/pixi_spec/src/url.rs
  src/cli/build.rs
Due: cargo-fmt, cargo-clippy

fix
  src/cli/build.rs
Due: cargo-fmt, cargo-clippy

adapt schema
  schema/model.py
Due: none

fix: manifest discovery
  crates/pixi_build_discovery/src/discovery.rs
Due: cargo-fmt, cargo-clippy

fix: cwd for build backend
  crates/pixi_build_frontend/src/backend/json_rpc.rs
Due: cargo-fmt, cargo-clippy

feat: replace upload with rattler_upload
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: fix Cargo.lock
  Cargo.lock
Due: none

fix pesky deserialization bug!
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__named_arg_multiple_fields.snap
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

add inline snapshot test for higher-level deserialization
  crates/pixi_manifest/src/task.rs
Due: cargo-fmt, cargo-clippy

generate schema
  schema/schema.json
Due: none

Better error handling
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

fix: relative path to package for pixi global (#4200)
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
Due: cargo-fmt, cargo-clippy

inline the snapshot
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__task__test__named_arg_multiple_fields.snap
  crates/pixi_manifest/src/toml/task.rs
Due: cargo-fmt, cargo-clippy

add comment
  src/task/task_graph.rs
Due: cargo-fmt, cargo-clippy

Update src/cli/exec.rs
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

proper error variants
  src/task/task_graph.rs
Due: cargo-fmt, cargo-clippy

fix test
  tests/integration_python/test_run_cli.py
Due: none

feat(tasks): named args in `depends-on` (#4148)
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  schema/model.py
  schema/schema.json
  src/task/task_graph.rs
  tests/integration_python/test_run_cli.py
Due: cargo-fmt, cargo-clippy

fix: fix authentication issues when replacing
  crates/pixi_utils/src/reqwest.rs
  src/cli/mod.rs
  src/cli/upload.rs
Due: cargo-fmt, cargo-clippy

chore: retain old upload.rs for migrating upload url logic
  src/cli/old-upload.rs
Due: cargo-fmt, cargo-clippy

forward CTRL+C signal to deno_task_shell
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: replace upload related crate with local crate
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

add a ctrl c test
  pixi.toml
  src/cli/run.rs
  tests/data/run_signals/pixi.toml
  tests/data/run_signals/test.py
  tests/integration_python/test_run_cli.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

test: replace syrupy with inline-snapshot
  pyproject.toml
  tests/integration_python/test_docs_examples.py
  tests/integration_python/test_main_cli.py
Due: check-openssl, toml-format
