Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

feat: uv upgrade
  Cargo.lock
  Cargo.toml
  rust-toolchain
  src/install_pypi.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
  src/lock_file/resolve/uv_resolution_context.rs
Due: taplo, fmt, clippy, test

refactor: use sync environment logic for `pixi g expose` (#2156)
  src/cli/global/expose.rs
  src/cli/global/mod.rs
  src/global/install.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

test: add manifest test (#2164)
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

fix: get_or_insert_nested_table
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/project.rs
Due: fmt, clippy, test

add test
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

Avoid creating empty tables
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

Update snapshot
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__project__tests__get_or_insert_toml_table.snap
Due: none

Assert that existing entries are still there
  crates/pixi_manifest/src/manifests/mod.rs
Due: fmt, clippy, test

Remove test
  crates/pixi_manifest/src/manifests/project.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__project__tests__get_or_insert_toml_table.snap
Due: fmt, clippy, test

Remove unused imports
  crates/pixi_manifest/src/manifests/project.rs
Due: fmt, clippy, test

fix: `get_or_insert_nested_table` (#2167)
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/project.rs
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__project__tests__get_or_insert_toml_table.snap
Due: fmt, clippy, test

Linting
  crates/pixi_manifest/src/manifests/mod.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

docs: first iteration on the documentation of the global feature
  docs/features/global_tools.md
  docs/reference/cli.md
  mkdocs.yml
  src/prefix.rs
Due: check-yaml, fmt, clippy, test

Minor changes
  docs/features/global_tools.md
Due: none

fix: going from matchspec to pixispec and into toml value
  src/cli/global/install.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

[docs] fixes backticks for doc strings
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/completion.rs
  src/cli/project/channel/mod.rs
  src/cli/project/description/mod.rs
  src/cli/project/environment/mod.rs
  src/cli/project/export/mod.rs
  src/cli/project/platform/mod.rs
  src/cli/project/version/mod.rs
Due: fmt, clippy, test

fix: also remove binaries of pruned environments
  src/global/common.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

wip: initial uninstall command
  src/cli/global/mod.rs
  src/cli/global/uninstall.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

fix: also remove binaries of pruned environments (#2176)
  src/global/common.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: revert modification to dummy channels
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/linux-64/dummy-x-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_2/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-64/dummy-x-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/dummy-x-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/win-64/dummy-x-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_2/output/win-64/repodata.json
Due: none

fix: snapshot
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
Due: none

docs: fixes backticks for doc strings (#2174)
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/completion.rs
  src/cli/project/channel/mod.rs
  src/cli/project/description/mod.rs
  src/cli/project/environment/mod.rs
  src/cli/project/export/mod.rs
  src/cli/project/platform/mod.rs
  src/cli/project/version/mod.rs
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
Due: fmt, clippy, test

refactor: only update one channel in `update_channel.nu`
  tests/integration/test_data/update_channel.nu
  tests/integration/test_data/update_channels.nu
Due: none

fix: test and prune environments
  src/cli/global/mod.rs
  src/cli/global/uninstall.rs
  src/global/project/manifest.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

test: verify environment directory removal
  tests/integration/test_global.py
Due: none

Update tests/integration/test_data/update_channel.nu
  tests/integration/test_data/update_channel.nu
Due: none

refactor: only update one channel in `update_channel.nu` (#2178)
  tests/integration/test_data/update_channel.nu
  tests/integration/test_data/update_channels.nu
Due: none

Move to actual snapshot
  src/global/project/manifest.rs
  src/global/project/snapshots/pixi__global__project__manifest__tests__add_dependency.snap
Due: fmt, clippy, test

fix: going from matchspec to pixispec and into toml value (#2173)
  src/cli/global/install.rs
  src/global/project/manifest.rs
  src/global/project/snapshots/pixi__global__project__manifest__tests__add_dependency.snap
Due: fmt, clippy, test

feat: use inline tables for dependencies and exposed
  crates/pixi_manifest/src/manifests/mod.rs
  crates/pixi_manifest/src/manifests/project.rs
  src/cli/global/expose.rs
  src/cli/global/mod.rs
  src/cli/update.rs
  src/global/install.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: use different name as caching doesn't take channels into account
  tests/integration/test_data/non_self_expose_channel/output/linux-64/dummy-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/non_self_expose_channel/output/linux-64/dummy-x-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/non_self_expose_channel/output/linux-64/expose-non-expose-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/non_self_expose_channel/output/linux-64/non-expose-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/non_self_expose_channel/output/linux-64/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/osx-64/dummy-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-64/dummy-x-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-64/expose-non-expose-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-64/non-expose-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-64/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/dummy-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/dummy-x-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/expose-non-expose-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/non-expose-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/win-64/dummy-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/non_self_expose_channel/output/win-64/dummy-x-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/non_self_expose_channel/output/win-64/expose-non-expose-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/non_self_expose_channel/output/win-64/non-expose-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/non_self_expose_channel/output/win-64/repodata.json
  tests/integration/test_data/non_self_expose_channel/recipe.yaml
  tests/integration/test_data/update_channel.nu
  tests/integration/test_global.py
Due: check-yaml

Update tests/integration/test_global.py
  tests/integration/test_global.py
Due: none

Update src/cli/global/uninstall.rs
  src/cli/global/uninstall.rs
Due: fmt, clippy, test

fix: improve test and use environment name as argument in uninstall cli
  src/cli/global/uninstall.rs
  tests/integration/test_global.py
Due: fmt, clippy, test

fmt
  tests/integration/test_data/update_channel.nu
Due: none

Adding inline tables also for migration
  src/global/project/mod.rs
Due: fmt, clippy, test

Ensure that migration works as expected
  tests/integration/test_global.py
Due: none

Fix clippy lint
  src/global/project/manifest.rs
Due: fmt, clippy, test

Test actual text in integration tests
  tests/integration/test_global.py
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
