Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

Add docs
  src/cli/global/install.rs
  src/cli/global/mod.rs
  src/global/project/manifest.rs
Due: fmt, clippy, test

wip: initial pixi global list command
  src/cli/global/list.rs
  src/global/project/environment.rs
Due: fmt, clippy, test

Fix integration tests
  tests/integration/test_data/dummy_channel_a/README.md
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/noarch/dummy-a-0.1.0-h4616a5c_0.conda
  tests/integration/test_data/dummy_channel_a/output/noarch/dummy-b-0.1.0-h4616a5c_0.conda
  tests/integration/test_data/dummy_channel_a/output/noarch/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_a/recipe.yaml
Due: check-yaml

chore: add slow test config (#2137)
  tests/pypi-tests.rs
Due: fmt, clippy, test

Add tests for `add_environment`
  src/global/project/manifest.rs
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

refactor: split package_from_conda_meta for easier reuse
  src/global/common.rs
  src/global/project/mod.rs
  src/global/test_data/conda-meta/non_conda_meta_data_file
  src/global/test_data/conda-meta/python-3.12.3-hab00c5b_0_cpython.json
Due: fmt, clippy, test

Add tests for `remove_environment`
  src/global/project/manifest.rs
Due: fmt, clippy, test

Add tests for `add_dependency`
  src/global/project/manifest.rs
Due: fmt, clippy, test

Add test for set_platform
  src/global/project/manifest.rs
Due: fmt, clippy, test

feat: add versions to the packages
  src/cli/global/list.rs
  src/global/mod.rs
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

Update src/global/test_data/conda-meta/non_conda_meta_data_file
  src/global/test_data/conda-meta/non_conda_meta_data_file
Due: none

Add test for `add_channel`
  src/global/project/manifest.rs
Due: fmt, clippy, test

feat: add list packages in a single environment
  src/cli/global/list.rs
Due: fmt, clippy, test

Update channel and add `pixi global install` test
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_a/recipe.yaml
  tests/integration/test_data/dummy_channel_a/update_channel.nu
  tests/integration/test_global.py
Due: check-yaml

Extend `pixi global install` test
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_a/recipe.yaml
  tests/integration/test_global.py
Due: check-yaml

refactor: Print actual table for the single environment listing
  src/cli/global/list.rs
  src/global/mod.rs
Due: fmt, clippy, test

Update channels
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_a/recipe.yaml
  tests/integration/test_data/dummy_channel_a/update_channel.nu
Due: check-yaml

Follow symlinks while walking files
  src/task/file_hashes.rs
Due: fmt, clippy, test

fmt
  src/task/file_hashes.rs
Due: fmt, clippy, test

use windows api on windows
  src/task/file_hashes.rs
Due: fmt, clippy, test

fix: windows executable logic
  Cargo.lock
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/executable_utils.rs
  crates/pixi_utils/src/lib.rs
  src/global/common.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__expose_pixi.snap
  src/prefix.rs
Due: taplo, fmt, clippy, test

fmt
  crates/pixi_utils/src/executable_utils.rs
  src/global/common.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/prefix.rs
Due: fmt, clippy, test

fix: executable parsing on windows (#2142)
  Cargo.lock
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/executable_utils.rs
  crates/pixi_utils/src/lib.rs
  src/global/common.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__expose_pixi.snap
  src/prefix.rs
Due: taplo, fmt, clippy, test

fix: merge conflicts
  src/global/mod.rs
  src/prefix.rs
Due: fmt, clippy, test

wip: refactor global install
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/mod.rs
  src/cli/global/sync.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/mod.rs
  src/lib.rs
  src/lock_file/update.rs
  src/project/repodata.rs
  src/repodata.rs
Due: fmt, clippy, test

chore: cargo fix
  src/cli/global/expose.rs
  src/global/install.rs
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: only install, before expose
  src/cli/global/install.rs
Due: fmt, clippy, test

fmt
  src/cli/global/install.rs
  src/cli/global/mod.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/lib.rs
  src/lock_file/update.rs
  src/prefix.rs
Due: fmt, clippy, test

Format
  src/global/common.rs
Due: fmt, clippy, test

refactor: split package_from_conda_meta for easier reuse (#2140)
  src/global/common.rs
  src/global/project/mod.rs
  src/global/test_data/conda-meta/non_conda_meta_data_file
  src/global/test_data/conda-meta/python-3.12.3-hab00c5b_0_cpython.json
Due: fmt, clippy, test

refactor: clean binaries per environment and add that logic to the project.
  src/cli/global/install.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
Due: fmt, clippy, test

symlinking on windows might fail
  src/task/file_hashes.rs
Due: fmt, clippy, test

fix: binary removal on windows
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: flacky behavior with hashsets
  src/global/project/manifest.rs
Due: fmt, clippy, test

fix: clippy warning
  src/task/file_hashes.rs
Due: fmt, clippy, test

Run cargo machete
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
Due: taplo

run machete in ci
  .github/workflows/rust.yml
Due: check-yaml

feat: Follow symlinks while walking files (#2141)
  src/task/file_hashes.rs
Due: fmt, clippy, test

ci: add cargo machete (#2148)
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
Due: check-yaml, taplo
