Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix: backend capabilities
  crates/pixi_build_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: preserve order
  crates/xtask/Cargo.toml
  schema/pixi_build_api.json
Due: check-openssl, toml-format

misc: add some tests for dynamic metadata
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  examples/dynamic-source-deps/pixi.lock
  examples/dynamic-source-deps/pixi.toml
  examples/dynamic-source-deps/setup-project/build/lib/setup_project/__init__.py
  examples/dynamic-source-deps/setup-project/build/lib/setup_project/module.py
  examples/dynamic-source-deps/setup-project/setup.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: more tests
  crates/pixi_build_discovery/tests/snapshots/discovery__direct_package_xml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@inherit__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@simple.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@advanced_cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@dev.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@getting_started.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@python.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@workspace.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@workspace_variants.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@array-api-extra.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@cpp-git-source.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@cpp-sdl.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_examples@dev.snap
Due: none

misc: simplify caching struct
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_install_pypi/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(discovery): add support for discovering ROS packages and improve error messaging
  Cargo.lock
  crates/pixi_build_discovery/Cargo.toml
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/discovery.rs
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@ros-package.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__ros_discovery_priority.snap
  crates/pixi_consts/src/consts.rs
  crates/pixi_spec/src/source_anchor.rs
  tests/data/discovery/ros-package/TEST-CASE
  tests/data/discovery/ros-priority/package.xml
  tests/data/discovery/ros-priority/recipe.yaml
  tests/data/discovery/ros-with-workspace/package.xml
  tests/data/discovery/ros-with-workspace/pixi.toml
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

misc: add caching for static metadata
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
  examples/pypi-source-deps/pixi.lock
Due: cargo-fmt, cargo-clippy

Displaying current versions of the packages
  crates/pixi_cli/src/update.rs
Due: cargo-fmt, cargo-clippy

misc: treat dynamic version as an indicator to build dynamic metadata
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
  examples/dynamic-source-deps/pixi.lock
  examples/dynamic-source-deps/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: update test_tls_root_certs_default to expect All as default
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

misc: cache static metadata
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  examples/dynamic-source-deps/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: add ribasim example
  examples/dynamic-source-deps/ribasim-test/pyproject.toml
  examples/dynamic-source-deps/ribasim-test/ribasim_test/__init__.py
Due: check-openssl, toml-format

misc: when dynamic, build requirements
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

misc: update pixi.lock file
  examples/dynamic-source-deps/pixi.lock
Due: none

fix: removed non-sensical test
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: fix installation reading editable from the lock incorrectly
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_core/src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: clippy
  crates/pixi/tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

Add '--name' option to workspace config cli options
  crates/pixi_cli/src/cli_config.rs
Due: cargo-fmt, cargo-clippy

Setup getting named environments
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

fix(docs): Correct admonition on pixi_manifest page
  docs/reference/pixi_manifest.md
Due: none

fix(docs): Correct admonition on pixi_manifest page (#5252)
  docs/reference/pixi_manifest.md
Due: none

feat: add executable flag to pixi run
  crates/pixi/tests/integration_rust/common/mod.rs
  crates/pixi_cli/src/run.rs
  crates/pixi_task/src/task_graph.rs
Due: cargo-fmt, cargo-clippy

feat: added comments to clarify
  crates/pixi/tests/integration_rust/pypi_tests.rs
Due: cargo-fmt, cargo-clippy

fix: fix freeze and update examples
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/array-api-extra/pixi.toml
  examples/pixi-build/cpp-git-source/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: remove the return statement
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
Due: cargo-fmt, cargo-clippy

fix: Pixi.toml for examples to take pixi-build-* from our nightly channel
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/array-api-extra/pixi.toml
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/dev/pixi.lock
  examples/pixi-build/dev/pixi.toml
  examples/pixi-build/recursive-run-dependencies/pixi.lock
  examples/pixi-build/recursive-run-dependencies/pixi.toml
  tests/data/cpp_simple/pixi.toml
Due: check-openssl, toml-format

fix: all sorts of tests
  examples/develop/cpp-sdl/pixi.lock
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/dev/pixi.lock
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-1-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-4-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/recipes/backend_channel_1/backend-with-compatible-api-version.yaml
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
  tests/data/git-fixtures/multi-output-recipe/001_initial/pixi.toml
  tests/data/workspaces/host-dependency/pixi.lock
Due: check-yaml, check-openssl, toml-format, yaml-format

fix: remove flaky test and fix online test
  crates/pixi_command_dispatcher/tests/integration/main.rs
  tests/data/pixi-build/simple-package/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: use new uv caching mechanism to determine freshness
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_install_pypi/src/plan/cache.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_install_pypi/src/plan/test/mod.rs
  crates/pixi_install_pypi/src/plan/validation.rs
  crates/pixi_install_pypi/src/utils.rs
  crates/xtask/Cargo.toml
  pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: fix freeze and update examples (#5255)
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/tests/integration/main.rs
  examples/develop/cpp-sdl/pixi.lock
  examples/pixi-build/array-api-extra/pixi.lock
  examples/pixi-build/array-api-extra/pixi.toml
  examples/pixi-build/cpp-git-source/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.lock
  examples/pixi-build/cpp-sdl/pixi.toml
  examples/pixi-build/dev/pixi.lock
  examples/pixi-build/dev/pixi.toml
  examples/pixi-build/recursive-run-dependencies/pixi.lock
  examples/pixi-build/recursive-run-dependencies/pixi.toml
  tests/data/channels/channels/backend_channel_1/noarch/backend-with-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/backend-without-compatible-api-version-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-1-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/pixi-build-api-version-4-h4616a5c_0.conda
  tests/data/channels/channels/backend_channel_1/noarch/repodata.json
  tests/data/channels/recipes/backend_channel_1/backend-with-compatible-api-version.yaml
  tests/data/channels/recipes/backend_channel_1/pixi-build-api-version.yaml
  tests/data/cpp_simple/pixi.toml
  tests/data/git-fixtures/multi-output-recipe/001_initial/pixi.toml
  tests/data/pixi-build/simple-package/pixi.toml
  tests/data/workspaces/host-dependency/pixi.lock
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

fix: Move retry middleware to the front
  crates/pixi_utils/src/reqwest.rs
Due: cargo-fmt, cargo-clippy

Setup named-workspaces config
  crates/pixi_config/src/lib.rs
Due: cargo-fmt, cargo-clippy

Read named workspace config when '--name' arg is provided
  crates/pixi_cli/src/cli_config.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_core/src/workspace/discovery.rs
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

Add registry command to workspace
  crates/pixi_cli/src/workspace/mod.rs
  crates/pixi_cli/src/workspace/registry.rs
Due: cargo-fmt, cargo-clippy

fix: use latest versions of build backends
  docs/source_files/pixi_tomls/pixi-build-backend-channel.toml
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/packages/cpp_math/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.toml
Due: check-openssl, toml-format

misc: remove hash from the record
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  examples/dynamic-source-deps/minimal-project/pyproject.toml
  examples/dynamic-source-deps/pixi.lock
  examples/dynamic-source-deps/pixi.toml
  examples/dynamic-source-deps/setup-project/setup.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: make version not optional
  crates/pixi_core/src/lock_file/outdated.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/pypi_metadata.rs
  crates/pixi_core/src/lock_file/update.rs
  examples/dynamic-source-deps/pixi.lock
  examples/dynamic-source-deps/pixi.toml
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

misc: remove hatch-vs git module
  examples/dynamic-source-deps/.gitignore
Due: none

misc: remove expect and match on version instead
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  examples/dynamic-source-deps/pixi.lock
Due: cargo-fmt, cargo-clippy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
