Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo fmt
        pass_filenames: false
      - id: clippy
        name: clippy
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
      - id: test
        name: test
        language: system
        stages: [push, manual]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

feat: Add `XDG_CONFIG_HOME`/`.config` to search of pixi global manifest path (#2547)
  Cargo.toml
  crates/pixi_config/src/lib.rs
  docs/features/global_tools.md
  docs/reference/pixi_configuration.md
  mkdocs.yml
  src/global/common.rs
  src/global/project/mod.rs
Due: check-yaml, taplo, fmt, clippy, test

Fix windows tests
  src/global/common.rs
  src/global/install.rs
Due: fmt, clippy, test

Clippy lint
  src/global/install.rs
Due: fmt, clippy, test

docs: add docs for concurrency and test its parsing
  docs/reference/pixi_configuration.md
  docs/source_files/pixi_config_tomls/detached_environments_path_config.toml
  docs/source_files/pixi_config_tomls/main_config.toml
  docs/source_files/pixi_config_tomls/mirror_prefix_config.toml
  docs/source_files/pixi_config_tomls/oci_config.toml
  tests/integration_rust/project_tests.rs
Due: taplo, fmt, clippy, test

Fix tests on Windows
  src/global/trampoline.rs
  tests/integration_python/global/test_trampoline.py
Due: fmt, clippy, test

refactor: rename the values and improve the default settings
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge.snap
  crates/pixi_config/tests/config/config_1.toml
  src/cli/list.rs
  src/cli/project/channel/add.rs
  src/cli/project/channel/remove.rs
  src/cli/project/export/conda_environment.rs
  src/cli/project/export/conda_explicit_spec.rs
  src/cli/project/export/mod.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/global/project/mod.rs
  src/lock_file/mod.rs
  src/lock_file/update.rs
  src/project/repodata.rs
Due: taplo, fmt, clippy, test

fix: remove unneeded max_concurrent definitions
  src/cli/update.rs
  src/lock_file/update.rs
Due: fmt, clippy, test

clippy & fmt
  docs/source_files/pixi_config_tomls/detached_environments_path_config.toml
  docs/source_files/pixi_config_tomls/main_config.toml
  docs/source_files/pixi_config_tomls/mirror_prefix_config.toml
  docs/source_files/pixi_config_tomls/oci_config.toml
  src/lock_file/update.rs
  tests/integration_rust/project_tests.rs
Due: taplo, fmt, clippy, test

fix: trampoline without corresponding json breaking (#2576)
  src/global/common.rs
  src/global/install.rs
  src/global/project/mod.rs
  src/global/trampoline.rs
  tests/integration_python/global/test_global.py
  tests/integration_python/global/test_trampoline.py
Due: fmt, clippy, test

misc: add cli docs and test
  docs/reference/cli.md
  tests/integration_python/test_main_cli.py
  tests/integration_rust/project_tests.rs
Due: fmt, clippy, test

wip: test binary uploads
  Cargo.toml
Due: taplo

feat: let `pixi global sync` collect errors rather than returning early
  tests/integration_python/global/test_global.py
Due: none

wip: test_binary_uploads
  .github/workflows/release.yml
  Cargo.toml
Due: check-yaml, taplo

fix: ensure pinning strategy is not affected by non-semver packages (#2580)
  src/lock_file/satisfiability.rs
  src/project/mod.rs
  tests/integration_rust/add_tests.rs
Due: fmt, clippy, test

add musl tools to cross compile
  Cargo.toml
Due: taplo

Collect errors
  src/cli/global/sync.rs
Due: fmt, clippy, test

Improve error reporting
  src/global/project/mod.rs
Due: fmt, clippy, test

fix: pypi installs happening every time
  src/install_pypi.rs
Due: fmt, clippy, test

feat: let `pixi global sync` collect errors rather than returning early (#2586)
  src/cli/global/sync.rs
  src/global/project/mod.rs
  tests/integration_python/global/test_global.py
Due: fmt, clippy, test

revert changes to pytest.ini
  pixi.toml
  pytest.ini
Due: taplo

fix other test again
  crates/pixi_build_frontend/src/protocol_builder.rs
  src/cli/build.rs
Due: fmt, clippy, test

remove --ignore-recipe flag
  crates/pixi_build_frontend/src/protocol_builder.rs
  src/cli/build.rs
  tests/integration_python/pixi_build/test_build.py
Due: fmt, clippy, test

fmt
  tests/integration_python/pixi_build/test-data/rattler-build-backend/pixi/pixi.toml
  tests/integration_python/pixi_build/test-data/rattler-build-backend/smokey/pixi.toml
  tests/integration_python/pixi_build/test_build.py
Due: taplo

clippy
  src/build/mod.rs
Due: fmt, clippy, test

rename tests for pytest discovery
  tests/integration_python/build/conftest.py
  tests/integration_python/pixi_build/__init__.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test-data/rattler-build-backend/recipes/boltons/recipe.yaml
  tests/integration_python/pixi_build/test-data/rattler-build-backend/recipes/smokey/recipe.yaml
  tests/integration_python/pixi_build/test-data/rattler-build-backend/smokey/pixi.toml
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/pixi_global/__init__.py
  tests/integration_python/pixi_global/conftest.py
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_trampoline.py
Due: check-yaml, taplo

more testing
  tests/integration_python/pixi_build/test-data/rattler-build-backend/pixi/pixi.toml
Due: taplo

create .pixi/build-v0 only when needed
  src/build/mod.rs
Due: fmt, clippy, test

small pytest improvements
  pixi.toml
  pytest.ini
  tests/integration_python/pixi_build/conftest.py
Due: taplo

add test and small fixes
  crates/pixi_build_frontend/src/protocols/builders/conda_build/mod.rs
  crates/pixi_build_frontend/src/protocols/builders/rattler_build.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  src/build/mod.rs
  src/lock_file/update.rs
  tests/integration_python/build/recipes/boltons_recipe.yaml
  tests/integration_python/build/test_build.py
Due: check-yaml, fmt, clippy, test

reuse variable
  src/build/mod.rs
Due: fmt, clippy, test

re-add tests
  tests/integration_python/build/test-data/rattler-build-backend/recipes/boltons/recipe.yaml
  tests/integration_python/build/test-data/rattler-build-backend/recipes/smokey/recipe.yaml
  tests/integration_python/build/test-data/rattler-build-backend/smokey/pixi.toml
  tests/integration_python/build/test_build.py
Due: check-yaml, taplo

Make match a bit more robust
  crates/pixi_manifest/src/target.rs
Due: fmt, clippy, test

ensure that the folder is there
  src/build/mod.rs
Due: fmt, clippy, test

fix: pypi installs happening every time (#2587)
  src/install_pypi.rs
Due: fmt, clippy, test

fix: add the apt command to install a compiler
  Cargo.toml
Due: taplo

fix: needed to regenerate
  .github/workflows/release.yml
Due: check-yaml

fix: manifest-path location
  src/cli/cli_config.rs
Due: fmt, clippy, test

fix: add test for rattler-build recipes from `pixi.toml` and fix some small things (#2582)
  crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_build_frontend/src/protocols/builders/conda_build/mod.rs
  crates/pixi_build_frontend/src/protocols/builders/rattler_build.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  pytest.ini
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/update.rs
  tests/integration_python/build/test_build.py
  tests/integration_python/pixi_build/__init__.py
  tests/integration_python/pixi_build/conftest.py
  tests/integration_python/pixi_build/test-data/rattler-build-backend/pixi/pixi.toml
  tests/integration_python/pixi_build/test-data/rattler-build-backend/recipes/boltons/recipe.yaml
  tests/integration_python/pixi_build/test-data/rattler-build-backend/recipes/smokey/recipe.yaml
  tests/integration_python/pixi_build/test-data/rattler-build-backend/smokey/pixi.toml
  tests/integration_python/pixi_build/test_build.py
  tests/integration_python/pixi_global/__init__.py
  tests/integration_python/pixi_global/conftest.py
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_trampoline.py
Due: check-yaml, taplo, fmt, clippy, test

feat: add request coalescing for isolated tools
  crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_build_frontend/src/tool/mod.rs
Due: fmt, clippy, test
