Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

check-openssl:
  name: Check openssl
  entry: pixi run --environment=lint check-openssl
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --environment=lint toml-format
  language: system
  stages:
  - pre-commit
  - manual

yaml-format:
  name: YAML format
  entry: pixi run --environment=lint prettier-fmt
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: Cargo format
  language: system
  entry: pixi run --environment=lint cargo-fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: Cargo clippy
  language: system
  entry: pixi run --environment=lint cargo-clippy
  pass_filenames: false
  stages:
  - pre-push
  - manual

Minor changes
  docs/workspace/lockfile.md
Due: none

Remove parts
  docs/workspace/lockfile.md
Due: none

Review suggestions
  docs/workspace/lockfile.md
Due: none

feat: pixi workspace export conda-environment handles env variables
  crates/pixi_cli/src/workspace/export/conda_environment.rs
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

Lint and lockfile update
  docs/source_files/pixi_tomls/task_default_environment.toml
  lefthook.yaml
  pixi-build-backends/backends/pixi-build-ros/pixi.lock
Due: check-yaml, check-openssl, toml-format, yaml-format

fix: only build noarch packages on linux-64
  pixi-build-backends/recipe/all-backends/recipe.yaml
Due: check-yaml, yaml-format

Fix some minor typos
  CONTRIBUTING.md
  docs/python/tutorial.md
Due: none

fix: try other skip syntax
  pixi-build-backends/recipe/all-backends/recipe.yaml
Due: check-yaml, yaml-format

docs: Fix some minor typos (#5427)
  CONTRIBUTING.md
  docs/python/tutorial.md
Due: none

fix: try other skip syntax with target_platform
  pixi-build-backends/recipe/all-backends/recipe.yaml
Due: check-yaml, yaml-format

fix: Fix pixi-build-rust tests failing due to sccache (#5396)
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/main.rs
Due: cargo-fmt, cargo-clippy

trampoline: Use a buffered reader
  trampoline/src/main.rs
Due: cargo-fmt, cargo-clippy

chore: Use a buffered reader for the trampoline configuration (#5429)
  trampoline/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: pixi workspace export conda-environment handles env variables (#5425)
  crates/pixi_cli/src/workspace/export/conda_environment.rs
  crates/pixi_core/src/workspace/environment.rs
Due: cargo-fmt, cargo-clippy

build: Check that native-tls is properly used
  lefthook.yaml
  scripts/check-native-tls.sh
  tests/scripts/check-openssl.py
Due: check-yaml, yaml-format

feat: use index field from PypiPackageData for cache differentiation
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_install_pypi/src/conversions.rs
Due: cargo-fmt, cargo-clippy

chore: add rattler patch for PypiPackageData index field
  rattler-index-field.patch
Due: none

Add default environment again
  pixi.toml
Due: check-openssl, toml-format

docs: Extend setup-pixi documentation with working-directory (#5416)
  docs/integration/ci/github_actions.md
Due: none

chore: Build for riscv64gc (#5204)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  dist-workspace.toml
  install/install.sh
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

docs: add snakedown to community list
  docs/misc/Community.md
  docs/source_files/pixi_tomls/task_default_environment.toml
  pixi-build-backends/backends/pixi-build-ros/pixi.lock
Due: check-openssl, toml-format

docs: add snakedown to community list (#5436)
  docs/misc/Community.md
  docs/source_files/pixi_tomls/task_default_environment.toml
  pixi-build-backends/backends/pixi-build-ros/pixi.lock
Due: check-openssl, toml-format

bump uv to 0.9.29
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/import.rs
  crates/pixi_core/src/lock_file/install_subset.rs
  crates/pixi_core/src/lock_file/resolve/build_dispatch.rs
  crates/pixi_core/src/lock_file/resolve/pypi.rs
  crates/pixi_install_pypi/Cargo.toml
  crates/pixi_install_pypi/src/lib.rs
  crates/pixi_install_pypi/src/plan/test/harness.rs
  crates/pixi_uv_context/src/lib.rs
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/git_url.rs
  crates/pixi_uv_conversions/src/requirements.rs
  crates/pypi_modifiers/src/pypi_tags.rs
  crates/reqwest-middleware-shim/Cargo.toml
  crates/reqwest-middleware-shim/src/lib.rs
  crates/reqwest-retry-shim/Cargo.toml
  crates/reqwest-retry-shim/src/lib.rs
  deny.toml
  pixi-build-backends/py-pixi-build-backend/pixi.lock
  pixi-build-backends/py-pixi-build-backend/pixi.toml
  pixi-build-backends/recipe/variants.yaml
  pixi.lock
  pixi.toml
  rust-toolchain
Due: check-yaml, check-openssl, toml-format, yaml-format, cargo-fmt, cargo-clippy

Update to newest rattler-build
  pixi.lock
Due: none

fix-lucas-issue
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_git/src/url.rs
  crates/pixi_record/src/canonical_spec.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

refactor: use rattler glob matchspec support in pixi search
  Cargo.lock
  Cargo.toml
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/workspace/search/mod.rs
  crates/pixi_cli/src/search.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fixes
  crates/pixi_command_dispatcher/src/build/build_cache.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/git.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/source_build_cache_status.rs
  crates/pixi_command_dispatcher/src/source_build_cache_status/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_record/src/canonical_spec.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
Due: cargo-fmt, cargo-clippy

align caches
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache/build_backend_metadata.rs
  crates/pixi_command_dispatcher/src/cache/common.rs
  crates/pixi_command_dispatcher/src/cache/source_metadata.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/mod.rs
  crates/pixi_command_dispatcher/src/solve_conda/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/source_metadata_collector.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
Due: cargo-fmt, cargo-clippy

Start sccache from outside the recipe and move thirdparty.yml
  .github/workflows/backends-release.yml
  pixi-build-backends/recipe/all-backends/recipe.yaml
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

fix: test
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
Due: cargo-fmt, cargo-clippy

fix snapshot
  crates/pixi_command_dispatcher/tests/integration/main.rs
  crates/pixi_command_dispatcher/tests/integration/snapshots/integration__simple_test.snap
Due: cargo-fmt, cargo-clippy

ci: increase timeout for backend release
  .github/workflows/backends-release.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

fix: backend release (#5448)
  .github/workflows/backends-release.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

fix: backend release attestation and skip existing
  .github/workflows/backends-release.yml
Due: check-yaml, actionlint, yaml-format

fix: backend release attestation and skip existing (#5449)
  .github/workflows/backends-release.yml
Due: check-yaml, actionlint, yaml-format

fix: attestation generation
  .github/workflows/backends-release.yml
  pixi-build-backends/scripts/generate-attestations.py
  pixi-build-backends/scripts/upload-packages.py
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

fix: attestation generation (#5450)
  .github/workflows/backends-release.yml
  pixi-build-backends/scripts/generate-attestations.py
  pixi-build-backends/scripts/upload-packages.py
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format, yaml-format

WIP
  docs/assets/artifactory-client-type-selection.png
  docs/assets/artifactory-conda-client-repository.png
  docs/assets/artifactory-generate-token.png
  docs/assets/artifactory-repository-overview.png
  docs/assets/artifactory-set-me-up-menu.png
  docs/assets/artifactory-token-generated.png
  docs/deployment/artifactory.md
  mkdocs.yml
Due: check-yaml, yaml-format

WIP
  docs/deployment/artifactory.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  check-openssl: any of: \.toml$, but not: (^.pixi/|.snap)
  toml-format: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  yaml-format: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  cargo-fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  cargo-clippy: any of: \.rs$, but not: (^.pixi/|.snap)
