Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  entry: cargo test
  pass_filenames: false

fix: use Url::to_file_path
  crates/pypi_mapping/src/custom_pypi_mapping.rs
  crates/pypi_mapping/src/lib.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

fix: using file url as mapping (#1930)
  crates/pypi_mapping/src/custom_pypi_mapping.rs
  crates/pypi_mapping/src/lib.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

feat: Improve integration tests
  .github/workflows/test_downstream.yml
  pixi.toml
  tests/integration/test_main_cli.py
Due: check-yaml, taplo

Create directory
  .github/workflows/test_downstream.yml
Due: check-yaml

Move into env var
  .github/workflows/test_downstream.yml
Due: check-yaml

feat: change examples/docker build system to hatch
  examples/docker/.dockerignore
  examples/docker/.gitignore
  examples/docker/pixi.lock
  examples/docker/pyproject.toml
Due: taplo

feat: optimize examples/docker build layers and caching
  examples/docker/Dockerfile
  examples/docker/README.md
  examples/docker/docker-compose.yml
  examples/docker/pixi.lock
  examples/docker/pyproject.toml
Due: check-yaml, taplo

fix: offline mapping should not request
  Cargo.lock
  Cargo.toml
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/prefix_pypi_name_mapping.rs
  src/lock_file/update.rs
  src/project/mod.rs
  tests/common/client.rs
  tests/common/mod.rs
  tests/solve_group_tests.rs
Due: taplo, fmt, clippy, test

fix: use two in memory indexes, for resolve and builds
  src/lock_file/resolve/pypi.rs
  src/lock_file/resolve/resolver_provider.rs
Due: fmt, clippy, test

Remove test-integration-dev
  pixi.toml
Due: taplo

feat: add `global sync` (#1835)
  Cargo.lock
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/lib.rs
  src/cli/global/common.rs
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/mod.rs
  src/cli/global/remove.rs
  src/cli/global/sync.rs
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/error.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__duplicate_dependency.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__duplicate_exposed.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__expose_pixi.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
Due: fmt, clippy, test

fix: use one registry client again
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

Rename pixi tasks
  .github/workflows/test_downstream.yml
  pixi.toml
Due: check-yaml, taplo

fix: better comments explaining the situation
  src/lock_file/resolve/pypi.rs
Due: fmt, clippy, test

misc: apply code review changes
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/prefix_pypi_name_mapping.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

feat: add test
  tests/install_tests.rs
Due: fmt, clippy, test

upgrade zip dependency from alpha to current stable
  Cargo.lock
  Cargo.toml
Due: taplo

feat: add release script
  docs/dev-release-steps.md
  pixi.toml
  scripts/release.py
Due: taplo

Pre-commit
  pixi.toml
Due: taplo

feat: Improve integration tests (#1958)
  .github/workflows/test_downstream.yml
  pixi.toml
  tests/integration/test_main_cli.py
Due: check-yaml, taplo

Mark `pixi global install` as failing
  tests/integration/test_main_cli.py
Due: none

dedup defaults function
  crates/pixi_config/src/lib.rs
  crates/pixi_utils/src/defaults.rs
  crates/pixi_utils/src/lib.rs
Due: fmt, clippy, test

remove unneeded to_str
  src/cli/self_update.rs
Due: fmt, clippy, test

remoive unneeded clone (already ref &Url)
  src/lock_file/satisfiability.rs
Due: fmt, clippy, test

remove unneeded clone
  crates/pixi_utils/src/conda_environment_file.rs
Due: fmt, clippy, test

dev dependency on config to dedup function
  Cargo.lock
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/document.rs
  crates/pixi_manifest/src/manifest.rs
Due: taplo, fmt, clippy, test

pass by value insterad of reference (as ownership needed for platform already)
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
Due: fmt, clippy, test

remove pixi-consts freom dev dependencies as already in deps
  crates/pixi_manifest/Cargo.toml
Due: taplo

Revert "dev dependency on config to dedup function"
  Cargo.lock
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/document.rs
  crates/pixi_manifest/src/manifest.rs
Due: taplo, fmt, clippy, test

use std LazyLock over oncecell
  Cargo.lock
  crates/pixi_progress/Cargo.toml
  crates/pixi_progress/src/lib.rs
Due: taplo, fmt, clippy, test

move glob to dev dependency
  crates/pixi_manifest/Cargo.toml
Due: taplo

chore: bump rattler
  Cargo.lock
  Cargo.toml
  src/cli/exec.rs
  src/cli/global/install.rs
  src/cli/global/upgrade.rs
  src/cli/info.rs
  src/project/virtual_packages.rs
  tests/add_tests.rs
  tests/install_tests.rs
  tests/solve_group_tests.rs
Due: taplo, fmt, clippy, test

Update tests/install_tests.rs
  tests/install_tests.rs
Due: fmt, clippy, test

fix: offline mapping should not request (#1968)
  Cargo.lock
  Cargo.toml
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/prefix_pypi_name_mapping.rs
  src/lock_file/update.rs
  src/project/mod.rs
  tests/common/client.rs
  tests/common/mod.rs
  tests/solve_group_tests.rs
Due: taplo, fmt, clippy, test

fix: `pixi init` for `pyproject.toml` (#1947)
  src/cli/init.rs
  tests/integration/test_main_cli.py
Due: fmt, clippy, test

Fix typo
  tests/install_tests.rs
Due: fmt, clippy, test

fix: remove newlines
  tests/add_tests.rs
  tests/solve_group_tests.rs
Due: fmt, clippy, test

Remove headings
  scripts/release.py
Due: none

feat: add release script (#1971)
  docs/dev-release-steps.md
  pixi.toml
  scripts/release.py
Due: taplo

fix: small issue
  tests/integration/test_main_cli.py
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
