Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, taplo, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fmt:
  name: fmt
  language: system
  stages:
  - push
  - manual
  entry: cargo fmt
  pass_filenames: false

clippy:
  name: clippy
  language: system
  stages:
  - push
  - manual
  entry: cargo clippy --all-targets --workspace -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false

test:
  name: test
  language: system
  stages:
  - push
  - manual
  entry: cargo test
  pass_filenames: false

Removed dead code
  src/global/project/manifest.rs
Due: fmt, clippy, test

Exposing relname to manifest
  src/global/project/manifest.rs
Due: fmt, clippy, test

Added test for path stripping with nested path
  crates/pixi_utils/src/executable_utils.rs
Due: fmt, clippy, test

rebasing Fixing executable detection for global install
  src/global/mod.rs
  src/global/project/mod.rs
  src/prefix.rs
Due: fmt, clippy, test

Fixed testing nested_dummy
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/global/test_global.py
Due: check-yaml

Using strip_executable_extension
  src/global/project/manifest.rs
Due: fmt, clippy, test

reverted addition of rattler-build to pixi.toml
  pixi.lock
  pixi.toml
Due: taplo

format
  src/global/mod.rs
Due: fmt, clippy, test

Attempt to test dummy package with nested exposed
  pixi.lock
  pixi.toml
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/global/test_global.py
Due: check-yaml, taplo

Using relname in project
  src/global/project/mod.rs
Due: fmt, clippy, test

Deleting extension in Mapping new method
  src/global/project/manifest.rs
Due: fmt, clippy, test

Added documentation for nested expose in global install
  docs/features/global_tools.md
Due: none

using pixi_utils::executable_from_path in global/mod.rs
  src/global/mod.rs
Due: fmt, clippy, test

format
  tests/integration_python/global/test_global.py
Due: none

applying pre-commit
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/channels/dummy_channel_2/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_2/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_2/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_2/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_2/win-64/repodata.json
  tests/data/channels/channels/global_update_channel_1/linux-64/repodata.json
  tests/data/channels/channels/global_update_channel_1/noarch/repodata.json
  tests/data/channels/channels/global_update_channel_1/osx-64/repodata.json
  tests/data/channels/channels/global_update_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/global_update_channel_1/win-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/linux-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/noarch/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/osx-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_1/win-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/linux-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/noarch/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/osx-64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/osx-arm64/repodata.json
  tests/data/channels/channels/non_self_expose_channel_2/win-64/repodata.json
Due: none

fixes from PR comments + format
  src/global/mod.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  tests/integration_python/global/test_global.py
Due: fmt, clippy, test

test: validate that the executable can have a dot
  tests/integration_python/global/test_trampoline.py
Due: none

fix: search should return latest package across all platforms
  src/cli/search.rs
Due: fmt, clippy, test

fix: cleanup and fix the test-export.sh
  pixi.lock
  pixi.toml
  src/cli/project/export/conda_environment.rs
  src/cli/project/export/conda_explicit_spec.rs
  tests/data/mock-projects/test-project-export/pixi.lock
  tests/data/mock-projects/test-project-export/pixi.toml
  tests/scripts/test-export.sh
Due: taplo, fmt, clippy, test

test: follow up
  .github/workflows/rust.yml
  CONTRIBUTING.md
  pixi.toml
Due: check-yaml, taplo

misc: add tests
  src/cli/search.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/main.rs
  tests/integration_rust/search_tests.rs
Due: fmt, clippy, test

misc: fix search builder
  src/cli/search.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
Due: fmt, clippy, test

misc: fix spec type
  src/cli/search.rs
  tests/integration_rust/common/builders.rs
Due: fmt, clippy, test

fix: trampoline unwraps (#2422)
  crates/pixi_trampoline/Cargo.toml
  crates/pixi_trampoline/src/main.rs
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-aarch64-unknown-linux-musl.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-powerpc64-unknown-linux-gnu.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-apple-darwin.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-pc-windows-msvc.exe.zst
  crates/pixi_trampoline/trampolines/pixi-trampoline-x86_64-unknown-linux-musl.zst
  tests/integration_python/global/test_trampoline.py
Due: taplo, fmt, clippy, test

fix: cleanup and fix the test-export.sh (#2425)
  pixi.lock
  pixi.toml
  src/cli/project/export/conda_environment.rs
  src/cli/project/export/conda_explicit_spec.rs
  tests/data/mock-projects/test-project-export/pixi.lock
  tests/data/mock-projects/test-project-export/pixi.toml
  tests/scripts/test-export.sh
Due: taplo, fmt, clippy, test

feat: add platform fallback win-64 for win-arm64
  src/project/environment.rs
Due: fmt, clippy, test

Update src/cli/search.rs
  src/cli/search.rs
Due: fmt, clippy, test

misc: fix wrong merge
  src/cli/search.rs
Due: fmt, clippy, test

test: follow up (#2426)
  .github/workflows/rust.yml
  CONTRIBUTING.md
  pixi.toml
Due: check-yaml, taplo

Use `--silent` instead of `--no-progress-meter` for old `curl`
  install/install.sh
Due: none

Update install.sh
  install/install.sh
Due: none

fix: use `--silent` instead of `--no-progress-meter` for old `curl` (#2428)
  install/install.sh
Due: none

feat: add platform fallback win-64 for win-arm64 (#2427)
  src/project/environment.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  taplo: any of: \.toml$ and not (schema/examples/invalid) and not ((^.pixi/|.snap))
  fmt: any of: \.rs$, but not: (^.pixi/|.snap)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap)
  test: any of: \.rs$, but not: (^.pixi/|.snap)
