Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false

Improve ExposedType
  src/cli/global/install.rs
  src/cli/global/update.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

misc: add prefix updater builder
  src/environment/conda_prefix.rs
  src/environment/mod.rs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

Fix comments
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: fixing passing a file as `--manifest-path`
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

Fix the logic
  src/cli/global/update.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

feat: manifest path handling improvements
  crates/pixi_manifest/src/discovery.rs
  src/workspace/discovery.rs
Due: cargo-fmt, cargo-clippy

test: cover more with downstream tests
  .github/workflows/ci.yml
Due: check-yaml, actionlint

tests: fix the snapshots
  .gitignore
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

no dev drive for now
  .github/workflows/ci.yml
Due: check-yaml, actionlint

.
  .github/workflows/ci.yml
  .github/workflows/test_common_wheels.yml
  .gitignore
Due: check-yaml, actionlint

Use `executables_all_dependencies`
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

fix: don't search up on directories before testing said directory for a manifest
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-existing.snap
  src/workspace/discovery.rs
Due: cargo-fmt, cargo-clippy

fix: snapshot machine agnostic
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-existing.snap
  crates/pixi_manifest/src/utils/test_utils.rs
Due: cargo-fmt, cargo-clippy

fix: remove not required working dir
  .github/workflows/ci.yml
Due: check-yaml, actionlint

Update .gitignore
  .gitignore
Due: none

Update src/workspace/mod.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

does this help?
  .github/workflows/ci.yml
Due: check-yaml, actionlint

refactor: clean up workspace methods
  src/cli/lock.rs
  src/cli/update.rs
  src/lib.rs
  src/lock_file/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/update.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

start implementing `tool.<build-backend>` parsing
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/toml/manifest.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__tool_parsing.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: make prefix creation during solve thread-safe (#3099)
  src/environment/conda_prefix.rs
  src/environment/mod.rs
  src/lib.rs
  src/lock_file/mod.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
  src/prefix.rs
  src/workspace/grouped_environment.rs
  src/workspace/mod.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

fix: make error paths absolute
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-pixi-build_project.snap
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

tests: fix backslashes
  crates/pixi_manifest/src/utils/test_utils.rs
Due: cargo-fmt, cargo-clippy

tests: fix backslashes
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
Due: none

add configuration to build backend table
  crates/pixi_build_frontend/src/protocols/builders/pixi.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_system.rs
  crates/pixi_manifest/src/toml/package.rs
Due: cargo-fmt, cargo-clippy

test: don't snapshot canonicalize error
  crates/pixi_manifest/src/discovery.rs
Due: cargo-fmt, cargo-clippy

Fix rustdocs
  src/lock_file/update.rs
Due: cargo-fmt, cargo-clippy

fix: fixing passing a file as `--manifest-path` (#3111)
  .gitignore
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-existing.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-pixi-build_project.snap
  crates/pixi_manifest/src/utils/test_utils.rs
  src/workspace/discovery.rs
  src/workspace/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

fix: remove cache dir in pixi build tests
  tests/integration_python/test_docs_examples.py
Due: none

don't test nerfstudio locked
  .github/workflows/ci.yml
Due: check-yaml, actionlint

chore: version to 0.41.3
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

chore: version to 0.41.3 (#3117)
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  Cargo.toml
  crates/pixi_consts/src/consts.rs
  docs/advanced/github_actions.md
  docs/advanced/production_deployment.md
  docs/ide_integration/devcontainer.md
  install/install.ps1
  install/install.sh
  schema/schema.json
  tbump.toml
  tests/integration_python/common.py
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

refactor: clean up workspace methods (#3114)
  src/cli/lock.rs
  src/cli/update.rs
  src/lib.rs
  src/lock_file/mod.rs
  src/lock_file/outdated.rs
  src/lock_file/update.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/common/mod.rs
Due: cargo-fmt, cargo-clippy

fix: remove cache dir in pixi build tests (#3116)
  tests/integration_python/test_docs_examples.py
Due: none

Address comments
  docs/source_files/pixi_projects/pixi_build_cpp/pixi.lock
  src/cli/global/update.rs
  src/global/project/mod.rs
Due: cargo-fmt, cargo-clippy

.
  .gitignore
Due: none

fix
  src/environment/conda_prefix.rs
  src/workspace/mod.rs
  tests/integration_rust/install_tests.rs
Due: cargo-fmt, cargo-clippy

Use OnceCell instead of OnceLock
  src/global/project/mod.rs
  src/lib.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

use rust stable
  pixi.lock
  pixi.toml
  rust-toolchain
Due: check-openssl, toml-format

use dev drive again
  .github/workflows/ci.yml
Due: check-yaml, actionlint
