Repository prefix-dev/pixi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, check-openssl, toml-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # Typecheck python tests
      - id: typecheck-python
        name: Typecheck Python
        entry: pixi run --environment=lint typecheck-python
        language: system
        types_or: [python, pyi]
        pass_filenames: false
      - id: check-openssl
        name: Check openssl
        entry: pixi run --environment=lint check-openssl
        language: system
        types: [file, toml]
        pass_filenames: false
      # typos
      - id: typos
        name: Typos
        entry: pixi run --environment=lint typos
        language: system
        types: [text]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
      - id: cargo-fmt
        name: Cargo format
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-fmt
        pass_filenames: false
      - id: cargo-clippy
        name: Cargo clippy
        language: system
        types: [file, rust]
        entry: pixi run --environment=lint cargo-clippy
        pass_filenames: false

test: mark more tests as "slow" (#3310)
  src/lock_file/satisfiability.rs
  tests/integration_rust/add_tests.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

test: mark `test_pixi_auth` as extra slow (#3309)
  tests/integration_python/test_main_cli.py
Due: none

refactor: pypi mapping into cached client
  Cargo.lock
  crates/pypi_mapping/Cargo.toml
  crates/pypi_mapping/src/custom_mapping.rs
  crates/pypi_mapping/src/custom_pypi_mapping.rs
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/prefix/compressed_mapping_client.rs
  crates/pypi_mapping/src/prefix/hash_mapping_client.rs
  crates/pypi_mapping/src/prefix/mod.rs
  crates/pypi_mapping/src/prefix_pypi_name_mapping.rs
  crates/pypi_mapping/src/reporter.rs
  src/lock_file/update.rs
  src/workspace/mod.rs
  tests/integration_rust/solve_group_tests.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

Update snapshots
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_pyproject_panic.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_with_defaults.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_with_pip_custom_registry.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_with_pip_extras.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_with_pip_find_links.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_environment__tests__test_export_conda_env_yaml_with_source_editable.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_default_linux-64.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_default_osx-64.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_default_osx-arm64.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_test_linux-64.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_test_osx-64.snap
  src/cli/workspace/export/snapshots/pixi__cli__workspace__export__conda_explicit_spec__tests__test_render_conda_explicit_spec_test_osx-arm64.snap
Due: none

Fix links
  docs/reference/cli/pixi/add_extender.md
  docs/reference/cli/pixi/install_extender.md
  docs/reference/cli/pixi/lock_extender.md
  docs/reference/cli/pixi/project.md
  docs/reference/cli/pixi/remove_extender.md
  docs/reference/cli/pixi/run_extender.md
  docs/reference/cli/pixi/shell-hook_extender.md
  docs/reference/cli/pixi/shell_extender.md
  docs/reference/cli/pixi/update_extender.md
  docs/reference/cli/pixi/upgrade_extender.md
  docs/reference/pixi_manifest.md
  docs/switching_from/conda.md
Due: none

add initial global completion code;
  src/cli/global/add.rs
  src/global/common.rs
  src/global/completions.rs
  src/global/mod.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
Due: cargo-fmt, cargo-clippy

Remove project.md
  docs/reference/cli/pixi/project.md
Due: none

Fix docstring
  src/cli/workspace/system_requirements/mod.rs
Due: cargo-fmt, cargo-clippy

try some more things to get the shell to work in all cases
  crates/pixi_pty/src/unix/pty_session.rs
  src/cli/shell.rs
Due: cargo-fmt, cargo-clippy

refactor: add progress
  crates/pypi_mapping/src/custom_mapping.rs
  crates/pypi_mapping/src/lib.rs
  crates/pypi_mapping/src/prefix/compressed_mapping_client.rs
  crates/pypi_mapping/src/prefix/hash_mapping_client.rs
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

fix: doc reference
  crates/pypi_mapping/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: use --locked to run the generation of cli docs
  .github/workflows/ci.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format

Add `rust-src` to build feature
  pixi.lock
  pixi.toml
Due: check-openssl, toml-format

fix: make --git work with --branch again
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

fix: relative paths
  src/workspace/mod.rs
  tests/integration_rust/solve_group_tests.rs
Due: cargo-fmt, cargo-clippy

fix: lock file of pixi_docs
  pixi_docs/Cargo.lock
Due: none

Add docs
  docs/reference/cli/pixi/exec.md
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

fix: use --locked to run the generation of cli docs (#3322)
  .github/workflows/ci.yml
  pixi.toml
Due: check-yaml, actionlint, check-openssl, toml-format

fix: test mapping
  src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy

Simplify code
  src/cli/exec.rs
Due: cargo-fmt, cargo-clippy

Don't run tests on Windows
  tests/integration_python/test_exec.py
Due: none

fix: make --git work with --branch again (#3323)
  src/cli/cli_config.rs
Due: cargo-fmt, cargo-clippy

fix: issue 3283
  src/main.rs
Due: cargo-fmt, cargo-clippy

chore: update rattler
  Cargo.lock
  Cargo.toml
Due: check-openssl, toml-format

Update pixi_docs lock file
  pixi_docs/Cargo.lock
Due: none

feat: improve cli help headers and styling
  Cargo.lock
  Cargo.toml
  crates/pixi_config/src/lib.rs
  pixi_docs/Cargo.lock
  src/cli/cli_config.rs
  src/cli/config.rs
  src/cli/mod.rs
Due: check-openssl, toml-format, cargo-fmt, cargo-clippy

feat: add advanced tutorial for cpp and python
  docs/build/advanced_cpp.md
  docs/build/advanced_python.md
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/.gitattributes
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/.gitignore
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/CMakeLists.txt
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/metadata.json
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/recipe.yaml
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/src/bindings.cpp
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/.gitattributes
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/.gitignore
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/pyproject.toml
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/recipe.yaml
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/src/rich_example/__init__.py
  mkdocs.yml
  pixi.toml
Due: check-yaml, check-openssl, toml-format

misc: update snapshots
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/advanced_python/pixi.lock
  tests/integration_python/__snapshots__/test_docs_examples.ambr
Due: none

misc: remove pytest filter
  pixi.toml
Due: check-openssl, toml-format

misc: update references
  docs/build/advanced_cpp.md
  docs/build/advanced_python.md
Due: none

fix: minor improvements to the cli commands
  crates/pixi_config/src/lib.rs
  crates/pixi_consts/src/consts.rs
  docs/reference/cli/pixi.md
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/remove.md
  src/cli/cli_config.rs
  src/cli/config.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

fix: consts
  crates/pixi_config/src/lib.rs
  src/cli/cli_config.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy

chore: update rattler (#3327)
  Cargo.lock
  Cargo.toml
  pixi_docs/Cargo.lock
Due: check-openssl, toml-format

misc: add snapshots
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@advanced_cpp.snap
  crates/pixi_build_type_conversions/src/snapshots/pixi_build_type_conversions__project_model__tests__conversions_v1_docs@advanced_python.snap
Due: none

fix: dont prematurely shutdown runtime (#3325)
  src/main.rs
Due: cargo-fmt, cargo-clippy
